[2020-12-14 10:34] tpaviot commented on #1153
May I mention that, if 3D=>2D generation is mandatory for a BIM package, the opposite way, 2D=>3D is an issue as well (see for instance https://www.eitdigital.eu/newsroom/events/article/deephack-open-bim/). Maybe an innovative 3D/2D work would be to consider a consistent 3D<=>2D representation. Just my two cents.

[2020-12-14 10:59] aothms commented on #1153
I'm currently working on turning the 2D output of the Hidden Line Rendering (TKHLR) in OCCT (solely unconnected edges) into cells that we can fill in SVG. OCCT does not have a very good 2D API, so I rely on CGAL 2D arrangements for that https://doc.cgal.org/latest/Arrangement_on_surface_2/index.html . It's a perfect fit in terms of functionality. But once we have the 2D cells in CGAL we need to ma

[2020-12-14 11:31] Moult commented on #1153
@tpaviot in the current implementation, SVG classes link back 2D vectors to the original BIM element - from there, it derives all of its styles semantically from IFC attributes / properties. I've also updated the original issue with graphics which show some public examples of current abilities of the drawing generator code. Everything you see there is linked back to the original BIM elements, whic

[2020-12-14 20:48] yorikvanhavre commented on #1153
@aothms are you working directly on the OCCT code? or is it developed outside? In any case, you got me sick curious :)

[2020-12-14 21:27] bluecd commented on #659
Modifying/updating vs-cfg.cmd with relevant /in my case:VS  Community 2019/ Visual Studio version
AND modifying build-deps.cmd with Boost 1.71 version
did the thing.

[2020-12-15 06:03] whwlei commented on #1154
IfcSchema::IfcGroup did not find this node, do I need to modify it?

[2020-12-15 09:38] hawkaa opened #1173 "Segmentation fault when running IfcConvert with multiple threads"
Hi,

Thank you for a great library!

We are consistently, but not deterministically, experiencing segmentation faults when running `IfcConvert` with multiple threads. We are using the pre-built `IfcConvert` dated 2020-11-01 for x86_64.

Output:

[code]

gdb output without symbols:

[code]

Fails on all IFC files we are encountering. We thought it was related to #894 , but our build is from long af

[2020-12-15 12:25] #1149 closed

[2020-12-15 12:29] aothms commented on #1154
Don't fully understand what you mean there? Is there code you can show that I can comment on?

[2020-12-15 13:08] Elliotloststh opened #1174 "How to describe deduct relation between building element in IFC?"
a column and a wall overlap，deduct relation decides overlap part belong to which one.
i cant find the answer on google, so is there posibility to describe it in IFC?

thanks a lot!

[2020-12-15 15:35] aothms commented on #1153
@yorikvanhavre quickly pushed some code here: https://github.com/IfcOpenShell/svgfill It's really just connecting the svg++ library and the CGAL 2D arrangements package and wrapping it in an executable. But it works surprisingly well. There is a silly example in the repo, but so far this works on the construction drawings that I've tested it with (only straight lines for now though).

It's current

[2020-12-15 15:51] yorikvanhavre commented on #1153
Amazing!!! We could use that in a lot of places...

[2020-12-16 01:47] whwlei commented on #1154
![image](https://user-images.githubusercontent.com/6889060/102294185-aebfc080-3f83-11eb-8528-109b798116fd.png)

IfcSchema::IfcObject* object = product->as<IfcSchema::IfcObject>();

IfcSchema::IfcGroup* group = object ->as<IfcSchema::IfcGroup>();

group is null.

[2020-12-16 09:14] aothms commented on #1154
`inst->as<T>` returns `null` if `inst` is not of the type `T`. Not every IfcObject is an IfcGroup so this behaviour is expected. You can just `if (group) { ... }` to create a conditional code path in case the object is a group.

This is in the `descend()` function https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/serializers/schema_dependent/XmlSerializer.cpp#L235 that is called for the

[2020-12-16 10:31] #1159 closed

[2020-12-16 10:32] #1158 closed

[2020-12-16 10:48] qwiglydee commented on #1164
@Moult, I assume it should use the same value-to-text logic, as in svg exporter, right?

[2020-12-16 12:03] Moult commented on #1164
@qwiglydee correct - I've assigned it to you. The function is already written - this is what you need to call:

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/helper.py#L155

[2020-12-16 12:05] Moult commented on #1174
@Elliotloststh I don't fully understand. Do you mean deduct like a boolean difference, or deduce as in deciding a particular "IfcRel*" class? Can you try rephrase your question?

[2020-12-16 12:08] Moult commented on #1173
All files fail? That doesn't sound good! The last IfcOpenBot build is from Oct 30 / Nov 2, here: https://github.com/IfcOpenBot/IfcOpenShell/commit/b08346cc6451b46b6bd88b93da1dbf2f3c169eca#commitcomment-43775432 - so I'm not sure where you got Nov 11 from? Can you try using the IfcOpenBot build?

[2020-12-16 12:09] Moult commented on #1165
@qwiglydee since you're already going to be playing with https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/helper.py#L155 this might be an easy one for you to tweak too :)

[2020-12-16 12:59] Moult opened #1176 "Draw arrow decorator on "Leader" lines"
Very similar to previous task. Leader lines create path objects. Path objects have a directionality which you can enable visualisation for by enabling this option - this is not necessary for the feature to work, but just an FYI so you can check that the direction is correct:

![image](https://user-images.githubusercontent.com/88302/102351355-698aa580-3ffa-11eb-8974-570712663687.png)

So, just like

[2020-12-16 13:04] Moult opened #1177 "Draw stair arrow decorator"
Similar to #1176 - in this case, the arrow needs to look a little different, and there also needs to be a circle drawn at the other end. See screenshot.

The arrow needs to always point in a particular direction. For now, make it the same as the leader direction. In the future, the code needs to support flipping the direction (as a global toggle - it will never be a per object toggle).

![image](h

[2020-12-16 13:06] Moult opened #1178 "Draw hidden line decorator"
The hidden line decorator should draw a dashed line. The spacing of the dash isn't too important. It is different because the hidden lines are a mesh, not a path object.

![image](https://user-images.githubusercontent.com/88302/102352277-b7ec7400-3ffb-11eb-8fdf-fe41b3661188.png)

[2020-12-16 13:40] sporsh commented on #1173
@Moult thanks for your quick reply!

I've looked into the issue together with @hawkaa. The `IfcConvert` binary we used was obtained from https://s3.amazonaws.com/ifcopenshell-builds, and we used `IfcConvert-v0.6.0-b08346c-linux64.zip`. I think that is the same build as from the IfcOpenBot link above, but we switched to the build from the link you provided now to be sure.

After trying a broader ra

[2020-12-16 14:46] tpaviot commented on #1153
@Moult If your 3D=>2D+semantics workflow is conservative, we could then imagine a 3D=>2D+semantics=>3D roundtrip. That would already be a terrific achievement. What I have in mind is being able to process any SVG or pdf 2D drawing, or even worse: the scan of an old handmade drawing (for example an old building built in the 1980s).

@aothms Using raycasting to deduce the 3D shape from a 2D represen

[2020-12-17 04:29] qwiglydee commented on #1157
The hardcoded scale factor doesn't work well, when a dimension curve is pushed far away in z direction.
In the workflow with snapping dimensions to geometry vertices this situation seems to be quite common.

Also, the arrows heads in perspective view are not aligned to view plane.

Proper solution needs explicit perspective correction of the arrow size (from window-scale pixel size) and orientatio

[2020-12-17 05:20] qwiglydee commented on #1164
@Moult is there any advantage of that over
 `bpy.utils.units.to_string`?

The latter is implemented in C (`source/blender/blenkernel/intern/unit.c`) and seems more appropriate to get called for each frame update.

[2020-12-17 05:32] theoryshaw opened #1179 "BlenderBIM: No dropdowns for PredefinedType"
I *think* they existed at one time.

Video: https://www.dropbox.com/s/6qi9dkw16w33osv/2020-12-16_23-31-26.mp4?dl=0

[2020-12-17 05:37] Moult commented on #1164
@qwiglydee good point. Use the bpy tool :)

[2020-12-17 06:37] Moult commented on #1179
Not a bug, it was never there. Spooky.

Click on the "reassign ifc class" button just above it :)

Buuut, I did have plans to support proper "clever" data types in the attributes not just text fields in the roadmap so even though I'm closing this bug, in the future expect for all dropdowns to appear for any attribute that can be selected. Similarly, any numeric attribute will magically turn into a

[2020-12-17 06:37] #1179 closed

[2020-12-17 09:37] qwiglydee commented on #1165
@Moult This one isn't quite clear to me.
I'm totally not familiar with imperial notation and could not google up anything useful. Basically, I can't even parse the issue.

I'll rely on built-in blender utils for decorations.
But this issue seems to be about svg drawing export.

[2020-12-17 10:24] Moult commented on #1165
@qwiglydee yep for decorators just use the built-in Blender utils. For SVG drawing export, this function is called: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/helper.py#L155

In metric, we use a single unit, with a decimal, like 1.35m This is easy and no problem

In imperial, there is a convention to break it up into feet, inches, and fractions of

[2020-12-17 17:18] josenxx opened #1180 "ifcopenshell.org partially down"
I just tried to access http://ifcopenshell.org/python to download the Python zip file. However, I'm receiving an internal server error when I try to access the site as well as other sub pages like /ifcconvert. The index page seems to be working, though. Just wanted to make you aware of that.

[2020-12-17 18:14] theoryshaw commented on #1179
there it is! spooky indeed. :)

[2020-12-17 18:15] theoryshaw commented on #1165
Yes, it's a crazy system indeed.  North America apologies. :)

[2020-12-17 21:35] Moult commented on #1180
I can replicate this.

@aothms let me kn0w if there is anything I can do to help. It might be good to take the opportunity to update the site to mention the new offerings?

[2020-12-18 01:51] josenxx commented on #1180
The most urgent thing is to make the site back online. Somebody mentioned this problem in the forum three days ago.

[2020-12-18 05:42] whwlei commented on #1154
If there is IsGroupedBy, it will quickly identify the Group attribute

[2020-12-18 06:57] Moult opened #1182 "Provide commit access to @berndhahnebach"
@berndhahnebach has been hacking on the BIMTester codebase, increasing its portability, adding translations to French and German, and also using it real life and adding new MicroMVDs... I think he has a good grasp of the codebase and is also a FreeCAD contributor :)

Ping @aothms would it be possible to give him commit access? He won't be touching the C++ side of the code.

[2020-12-18 08:59] aothms commented on #1182
Sure @berndhahnebach has been a long time regular. Welcome to the team Bernd.

[2020-12-18 08:59] #1182 closed

[2020-12-18 10:53] TristanLecallier opened #1183 "Merge IfcSite"
Hello,
I would like to merge two Ifc files in order to have as a result one file with one IfcProject, one IfcSite and two IfcBuilding (each one coming from one of the two source files).
To do that I executed the following code :

[code]

When I edit the merged.ifc, I have what I want : 1 IfcProject, 1 IfcSite, 2 IfcBuilding, but when I open it in an ifc viewer (eveBIM), I obtain this tree structur

[2020-12-18 11:31] aothms commented on #1180
Thanks for reporting. Due to IfcOpenBot being down I guess the issue was we had to scroll through too many commits and were getting rate limited by the Github API. @Moult you're completely right. First start would be publishing the code, but it needs some cleaning first. I'll try to prioritize it.

[2020-12-18 20:38] josenxx commented on #1180
Thank you sir. The site is back. I am runing issue in to running the build-deps.cmd

[2020-12-18 20:55] josenxx opened #1185 "build-deps.cmd fails on Win10 with Visual Studio 2019 x64"
Obviously. #659 is not solved. I run into the same issue.
I did not understand the way @Moult fixed this issue. I also want to make the "build-deps" file working. I feel this is how normal users want to use IfcOpenShell.
https://github.com/IfcOpenShell/IfcOpenShell/issues/659#issuecomment-744720919
I followed this post and run into this problem.
Generator not passed but VisualStudioVersion=16.0 en

[2020-12-18 20:56] josenxx commented on #659
https://github.com/IfcOpenShell/IfcOpenShell/issues/659#issuecomment-744720919
I followed this method and now run in to this problem.
C:\Users\josen\IfcOpenShell\win>C:\Users\josen\IfcOpenShell\win\build-deps.cmd

This script fetches and builds all IfcOpenShell dependencies

Generator not passed but VisualStudioVersion=16.0 environment variable detected:
using `Visual Studio 16 2019` as the genera

[2020-12-18 20:57] josenxx commented on #659
@bluecd I followed your comments and run into the above problem? Can you do me a favor and see what is wrong?
#1185

[2020-12-19 03:34] Moult opened #1186 "IFC Rail and BIMTester"
Pinging @aothms and @rbertucat !

Firstly, this is great! It's excellent that BIMTester can help in the implementation testing for IFC Rail! I've merged your PR, and I'm liking the improvements. A couple of things I thought I'd create an issue on.

 1. The PR deletes the submodule mvd and input. I've reverted those two files so hopefully it'll be fixed (@aothms can confirm this). In future PRs may

[2020-12-19 10:36] aothms commented on #659
@josenxx when you open the solution file (C:\Users\josen\IfcOpenShell\deps\OpenCOLLADA\build-vs2019-x86\OPENCOLLADA.sln) manually in MS Visual Studio, what kind of configurations are available?

[2020-12-19 13:03] berndhahnebach commented on #1186
I have problems with this new code ... this does not work for me on latest ifcopenshell

https://github.com/IfcOpenShell/IfcOpenShell/blob/05d835410daa23c2116d691db3d277e61bfea5e6/src/ifcbimtester/bimtester/features/steps/utils.py#L2

[code]

[2020-12-19 13:34] aothms commented on #1186
You need a fairly recent version of ifcopenshell. Recently the parser was
moved into the module to help the rail team quickly evaluate the RCs. Is
that the reason?

Op za 19 dec. 2020 14:04 schreef Bernd Hahnebach <notifications@github.com>:

[2020-12-19 13:46] berndhahnebach commented on #1186
I pulled latest source before compile and install ifcopenshell.

[2020-12-19 14:46] berndhahnebach commented on #1186
https://github.com/IfcOpenShell/IfcOpenShell/blob/05d835410daa23c2116d691db3d277e61bfea5e6/src/ifcopenshell-python/ifcopenshell/express/__init__.py#L11

the above would like to  open the file with write access int the installation directory ...

`PermissionError: [Errno 13] Permission denied: '/usr/lib/python3/dist-packages/ifcopenshell/express/express_parser.py'`

[2020-12-19 15:14] aothms commented on #1186
Yeah that could be a problem. Guess we have to commit the file being
generated. Feel free to go ahead with that or I'll pick it up soonish.

Op za 19 dec. 2020 15:46 schreef Bernd Hahnebach <notifications@github.com>:

[2020-12-19 15:47] berndhahnebach commented on #1186
I am on the way at the weekend...

[2020-12-19 17:49] josenxx commented on #659
@aothms Thanks you for your attention. I am not sure what "configurations" you are asking about.  I open the solution file and directly run into this page. There is no pop-up windows appear ask me for configuration.
![image](https://user-images.githubusercontent.com/10823996/102695932-9a382e00-41f8-11eb-83f7-6d869d4aec57.png)

I can run the windows local debugger and get the error message
![image]

[2020-12-19 20:40] berndhahnebach commented on #1182
its a honor to join the team

[2020-12-20 07:45] berndhahnebach commented on #1180
does it mean I do not need to search on IfcOpenBot for the latest builds but use the one from http://ifcopenshell.org/python instead?

[2020-12-20 07:58] Moult commented on #1183
@TristanLecallier I haven't inspected your code in detail, but if you open it in a text editor how many IfcSite entities do you see? If you see two, that could be a reason. Feel free to test your file with the BlenderBIM Add-on to see what the hierarchy looks like.

I would probably change the approach a little to something similar to this IfcPatch recipe used to merge two projects together: https

[2020-12-20 08:19] Moult commented on #1173
@sporsh I can reliably import this into the BlenderBIM Add-on. This is on Linux, also with multithreads. This makes me think that the issue could be specific to IfcConvert. When I try with IfcConvert, I get sporadic results. Sometimes it succeeds, sometimes I get all sorts of messages, like:

[code]

or

[code]

or

[code]

I'm afraid I'm not able to help with this, maybe @aothms has some ideas. I

[2020-12-20 09:52] aothms commented on #1183
Could also be related to the fact that you're keeping multiple relationship entities from Project to Site and from Site to Building. (that's my impression at least). This is not allowed by the standard and might be implemented differently in implementations:

    project - rel1 - site1
    project - rel2 - site2

should probably be

    project - rel1 - (site1 site2)

In general I find the approac

[2020-12-20 09:52] aothms commented on #1180
Yes, if it's working.

[2020-12-20 10:05] aothms commented on #659
"configurations" is the dropdown in the toolbar where it says Debug. "platform" is the dropdown where it says "x64".

So the error

makes sense as you're platform is `x64` but the build scripts tries to select `Win32`. MSVC sln from cmake is specific to a single platform.

So in short:

[code]

x86 there does not match the version of the command prompt you opened.

It seems vs-cfg tries to decuce

[2020-12-20 10:11] aothms commented on #1186
@berndhahnebach that's a better plan indeed, see 7d756138f2edb549bda8e22d94d1bb9df101c0bf

[2020-12-20 10:21] aothms commented on #1174
I think what you're looking for is `IfcRelInterferesElements` with the

ImpliedOrder | : | Logical value indicating whether the interference geometry should be subtracted from the RelatingElement (if TRUE), or whether it should be either subtracted from the RelatingElement or the RelatedElement (if FALSE), or whether no indication can be provided (if UNKNOWN).
-- | -- | --

I don't know to what ex

[2020-12-20 10:29] aothms commented on #1167
I recommend the v0.6.0 branch.

What's the error? What platform are you on?

[2020-12-20 10:47] aothms commented on #1149
This sounds brittle, but in my naive understanding not something affected by mmapping the file. Maybe what you're after is the constructor that takes a void* and length. https://github.com/IfcOpenShell/IfcOpenShell/blob/master/src/ifcparse/IfcParse.cpp#L194

The Python wrapper uses this a `ifcopenshell.file.from_string()` method https://github.com/IfcOpenShell/IfcOpenShell/blob/master/src/ifcopens

[2020-12-20 12:25] Maozerhouni opened #1188 "'file' object has no attribute 'schema'"
Hi,

When running the ifcpatch, that raises an AttributeError : 'file' object has no attribute 'schema'.

I use it in PyCharm Terminal, on windows.

This is the line I run : `python ifcpatch.py -i C:\Users\TOSHIBA\Downloads\ORI_BAT_DOE_CEA_M3
D_T2_A-Modified.ifc -r Optimise`

[2020-12-20 12:30] aothms commented on #1188
Probably old version. Later versions of v0.6.0 have schema attribute.

[2020-12-20 12:45] Maozerhouni commented on #1188
I use it with Python 3.6. Is the latest version the one in Github or in ifcopenshell.org ?

[2020-12-20 12:53] Maozerhouni commented on #1188
The IfcOpenShell/file.py I have has no difference with file.py in the src/ifcopenshell-python/ifcopenshell folder.

[2020-12-20 12:59] aothms commented on #1188
Which branch?

Github is source code. Builds are being pushed to the ifcopenshel.org website frequently. Use the latest v0.6.0

[code]

[2020-12-20 13:43] aothms commented on #1173
Not sure how this missed our attention, something so obviously thread unsafe staring right at us in get_default_style().

It's a bit unfortunate that the builds on the web are without symbols, but the file size of the binary with symbols is hundreds of mbs. It would have been obvious from the trace.

I guess why this went unnoticed is that it's rather rare to rely on the default (building element

[2020-12-20 17:17] josenxx commented on #659
I tried the version in issue #1166 . I run the build-deps and directly run into this issue. I directly cloned his version, so there is no space for typo. If he can run his verison in his computer, I think the problem should be in my configuration.
[code]
Then I moved the my older version and run it in x86 develop prompt. I run into the same problem. OPENCOLLADA.sln is still X64.
[code]
Then I adde

[2020-12-20 19:34] theoryshaw opened #1189 "BlenderBIM: export error"
[This](https://www.dropbox.com/s/174zodhse0kzdcd/20201220.blend?dl=0) file provides the following error upon export.

Blender 2.90 and BB 0.0.201207

[code]

[2020-12-20 19:59] theoryshaw commented on #1189
fyi, i noticed it had the same error with 201115, but it exported with 201025.

[2020-12-21 07:11] rbertucat commented on #1186
Thanks @Moult!

1. Not sure what happened with the submodules - I had conflicts at some point and overlooked those. Thanks for fixing them.
2. Yes, it was very helpful to get started. If BIMTester gets adopted by the IFCRail working group, documenting the features there would make sense eventually as as having direct commit access.
3. His work was very helpful to get started as well. Thanks @bernd

[2020-12-21 08:59] hawkaa commented on #1149
Yes, this has dawned  on us as well. Thanks for the answer! Hopefully the PR was helpful.

[2020-12-21 09:04] hawkaa commented on #1173
Unfortunately, we do not control which IFCs we get. They are provided to us.

I think that might have been an overstatement and "all" is not accurate. What I mean is that we can not use the mulitthreading options in our pipeline because it fails too frequently.

Thank you! We have just transitioned to using a docker based build so we are compiling ifcopenshell from source. We will stabilize this d

[2020-12-21 10:31] ahladik commented on #659
The error

[code]
it's due to the comment inside the loop that tries to discover the VS version when you don't provide a generator.
It was already there, I'm moving the comment out of the loop. Yes, the Windows script language is awful.

[2020-12-21 10:57] aothms commented on #659
Yes this is to be expect. From 2019 onwards CMake does not accept the generator with `Win64` appended, but need the architecture to be specified using the `-A` flag.

@ahladik kindly provided this in his PR with: `cmake.exe %CMAKELISTS_DIR% -G %GENERATOR% -A %VS_PLATFORM% -T %VS_TOOLSET% -DCMAKE_INSTALL_PREFIX="%CMAKE_INSTALL_PREFIX%" %ARGUMENTS%`

It was already there, I'm moving the comment out

[2020-12-21 11:18] berndhahnebach commented on #1186
An improved gui would be cool ... What did you add?

[2020-12-21 11:19] berndhahnebach commented on #1186
works great :+1:   weekend is over here too ... :-(

[2020-12-21 11:22] berndhahnebach commented on #1186
found another issue ...
what is a .gitignore useful here ?  https://github.com/IfcOpenShell/IfcOpenShell/blob/26d537cb4f715166d407ecaba8b810b1289c2201/src/ifcbimtester/.gitignore

A user should just not make his build dir here IMHO, or do I miss something?

[2020-12-21 11:32] ahladik commented on #659
I'm going to make this and some other modifications to my PR. I'm also removing support for VS 2008-2012 and trying to fix the OpenCollada xmld.lib bug, but I need some time to test.
Yes, I think @josenxx should already be able to build passing those parameters.

By the way, since I'm new to github and git, how should I proceed to amend my PR? I guess I have to upload my modifications to my fork,

[2020-12-21 11:36] aothms commented on #659
It should be fully automatic, once you will push to the branch on your fork, the commits get automatically added to the PR, thanks again for your efforts :)

[2020-12-21 13:25] #1157 closed

[2020-12-21 13:25] #1177 closed

[2020-12-21 13:25] #1178 closed

[2020-12-21 13:30] #1176 closed

[2020-12-21 14:27] CyrilWaechter commented on #891
The initial issue corresponding to title is fixed.
I had not encountered again the issue concerning conflict with installed ifcopenshell version during compilation for a while so I'll close this. If necessary I will reopen a new issue with a more appropriate title.

[2020-12-21 14:27] #891 closed

[2020-12-21 15:22] Timdaviesuk opened #1194 "BlenderBIM: IfcElementAssembly objects should not be represented by Blender collection instances."
## Current behaviour
An IfcElementAssembly is imported by creating a collection within an *Aggregates* collection. This collection is then instanced into the spatial structure it is contained within, and the original collection is hidden.

![CurrentBehaviour](https://user-images.githubusercontent.com/61473857/102792168-0a34e880-43a0-11eb-95bd-8184b9c2f29d.png)

## Expected behaviour
A user would e

[2020-12-21 23:42] Moult commented on #1194
As the individual part cannot be selected, that's why there is the "edit aggregate" and "save aggregate" button. Agree though that it is clunky.

All your points are valid. There is one thing which worries me - aggregates _may_ be used multiple times. The collection instance was the way to solve that. Admittedly, I haven't seen this in the wild, though.

Maybe I should just go for it and implement

[2020-12-21 23:43] Moult commented on #1186
Maybe the gitignore is for the `pyinstaller` command results?

[2020-12-21 23:45] Moult commented on #1141
Bump. Ping @dhulsegge ?

[2020-12-21 23:46] CyrilWaechter commented on #635
Not a definitive solution as it is not ifcopenshell only but for info an implementation for FreeCAD is available in project I worked on : [BIMxBEM](https://github.com/ENAC-CNPA/BIMxBEM)

[2020-12-22 02:22] Moult commented on #1105
Bump :)

[2020-12-22 03:01] Moult opened #1197 "Annotation decoration should be configurable, with the default being red"
White works well when the background is dark, but doesn't work well in a rendered view of a drawing where the background is white. See image:

![2020-12-22-135841_573x347_scrot](https://user-images.githubusercontent.com/88302/102843726-ef28ae00-445d-11eb-9e26-a0e89965b0cc.png)

One option is to detect the background colour, but there are quite a few settings to check, so I'm thinking a similar sol

[2020-12-22 03:06] Moult opened #1198 "Stair arrow should be open and larger angle, not closed"
Minor thing - the arrow for stairs needs to be open with a less acute angle:

![image](https://user-images.githubusercontent.com/88302/102844106-d5d43180-445e-11eb-8201-353a6e6ee4c2.png)

[2020-12-22 03:17] Moult opened #1199 "Draw annotation decorator for Level (Plan)"
The level (Plan) button generates a curve with a direction (note: the direction is important - if the direction flips, the annotation flips).

Here's an example, showing the direction:

![image](https://user-images.githubusercontent.com/88302/102844590-dae5b080-445f-11eb-92ab-50446f4468a9.png)

For each spline (not each segment), the start should show the text "RL X", where X is a number of the gl

[2020-12-22 03:25] Moult opened #1200 "Draw annotation decorator for Level (Section)"
Similar to #1199 - but for sections. In this case, the direction of the curve is flipped:

![image](https://user-images.githubusercontent.com/88302/102845221-2c426f80-4461-11eb-834f-291de9ed7f0f.png)

In this scenario, nothing is shown at the start, but the line should be dashed with a long, short, long, short pattern as shown. At the end, see the sketch for the symbol. The "X" in RL X should be r

[2020-12-22 07:42] Timdaviesuk commented on #1194
Thanks for the response!

I'm wondering in what scenario the same IfcRelAggregates instance could be used multiple times? Wouldn't that imply that you have multiple instances of the same rooted object?

The IFC spec says that IfcRelDecomposes and its subtypes can't be cyclic either.

The only small issue I see is handling the differences between IfcRelAggregates and IfcRelNests.

IfcRelNests is mo

[2020-12-22 08:57] qwiglydee commented on #1197
There are `DocProperties.drawing_styles` and they seem like the proper place to put that option, along with other `space.overlay.stuff`.
But I don't see any way of customizing them. (I'd naively expect them to appear in 'Themes' blender preferences tho)

Should I put the option there maybe?

There are sume other options possible to customize:
- ARROW_ANGLE
- ARROW_SIZE
- CIRCLE_SIZE
- DASH_SIZE
-

[2020-12-22 09:00] Moult commented on #1197
@qwiglydee I think for now it doesn't need to be a drawing style, since these viewport annotations are simply loose representations of what'll finally be shown. The drawing generation actually emits just lines, and all the markers are styled later on client-side via CSS - so the viewport decorators will never fully represent what the final drawing will be - it's just there as an indicator.

[2020-12-22 09:01] Moult commented on #1194
@Timdaviesuk the aggregated whole itself is a rooted IFC element, so you don't have multiple instances of the same rooted object. You'd have multiple instances of the rel aggregates, I believe.

I'll re-read the spec and consider what you've written later tonight or tomorrow.

[2020-12-22 09:23] Timdaviesuk commented on #1194
@Moult The IfcRelAggregates is also a rooted entity so I'm fairly sure you'd only ever have one of those too.

Some relationships like IfcRelDefines are a bit more ambiguous in that the same rooted property set can be referenced by different objects (and even the same property can be referenced by multiple property sets) but I don't think that's the case for IfcRelAggregates.

[2020-12-22 11:21] Moult commented on #1153
Notes from first discussion:

 - Camera object will be stored in IFC as an IfcAnnotation, it must have an `ObjectType` of `DRAWING`
 - IfcAnnotation[ObjectType="DRAWING"] must belong in a single IfcGroup
 - Other annotations will use `ObjectType` to describe its purpose, like `DIMENSION`, `EQUAL_DIMENSION`, `TEXT`, `LEADER`, `STAIR_ARROW`, `HIDDEN_LINE`, `LEVEL`
 - All other annotations must also

[2020-12-22 11:35] Moult commented on #1153
Next steps:

 - Bundle IfcConvert with Blender
 - @Moult to modify BlenderBIM Add-on to author IfcBlock drawing objects to the standards expected by IfcConvert
 - @aothms to exactly specify to @Moult what command line args should be used to run IfcConvert
 - @aothms IfcConvert will be modified to read input position from the `DRAWING` object's IfcBlock
 - @Moult to modify BlenderBIM Add-on to acce

[2020-12-22 12:07] aothms commented on #1194
There is also potentially decompositions on the type level and IfcRelDefinesByObject https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2/HTML/link/ifcreldefinesbyobject.htm

[2020-12-22 12:58] Timdaviesuk commented on #1194
@aothms Thank you for pointing me to that page. My interpretation of that scenario does mean that you could have multiple instances of the same object, in different locations, but with the same GlobalId. I can see how that can happen, basically like creating a nested family in Revit. I would agree in that scenario a collection instance does make sense.

I can't say I've seen that implemented in an

[2020-12-22 15:47] #1198 closed

[2020-12-22 15:47] #1164 closed

[2020-12-22 15:48] #1199 closed

[2020-12-22 15:48] #1200 closed

[2020-12-22 16:35] josenxx opened #1202 "Cannot Run IfcOpenHouse.cpp"
Thanks for the help from community. I am able to compile IfcOpenShell in my computer. I am using this fork: https://github.com/ahladik/IfcOpenShell Now I started to try to run "IfcOpenHouse.cpp" in the example folder.
Here is the error message.
[code]
I run into three issues. First, the program cannot include some files. I searched them in the repository, but I cannot find them any where.
[code]
C

[2020-12-22 16:36] josenxx commented on #1202
@aothms @ahladik

[2020-12-22 16:40] TristanLecallier commented on #1183
Thanks a lot @Moult and @aothms I will have a go with your different ideas.

"if you open it in a text editor how many IfcSite entities do you see?"
There is only one IfcSite, that's why I thought my code may I have been enough, but thanks to Thomas' comment I understand why it is not.

"Feel free to test your file with the BlenderBIM Add-on to see what the hierarchy looks like"
I tried with Blend

[2020-12-22 23:39] Moult commented on #1165
Bump? Pin @qwiglydee does this make sense? If not, I'll make the change - it's a small change.

[2020-12-22 23:42] Moult commented on #1194
@Timdaviesuk so, since it is theoretically possible for multiple instances of the same aggregate, that's why I've built it the way I have... any thoughts on how to reconcile your desired feature without sacrificing the correctness of the spec?

[2020-12-23 00:56] Moult opened #1206 "Paths where decoration is spline based gives error for single points with no segments"
To replicate:

 1. create a new Leader annotation.
 2. select a _single_ point in the path.
 3. Press shift-d to duplicate it. Now you have 3 points - 2 are joined in a segment of a spline, the third is just a point by itself.

You get this error:

[code]

[2020-12-23 00:59] Moult opened #1207 "Extruding dimensions create: Vector.angle_signed(other): zero length vectors have no valid angle"
1. Create a new dimension
2. Select a single point of the dimension
3. Press e to extrude. When the extrusion process begins, the new point is coincident with the old point, likely yielding a zero length vector, resulting in this error message.

[code]

[2020-12-23 01:23] Moult opened #1208 "Modify add_annotation operator to support creating "Breakline" annotations"
Add a new button for a new operator in the tool bar. Feel free to copy code from the existing buttons / operators. The button will be called "Breakline" and use the `FCURVE` icon.

The `add_annotation` operator needs to be modified for this to support this new feature.

Currently add_annotation only has support for adding text, or adding lines (both path and mesh lines). For the Breakline operator

[2020-12-23 01:24] Moult commented on #1208
Oops - vertex indices 2 and 3 should be swapped.

[2020-12-23 01:30] Moult opened #1209 "Add new "Misc" annotation button"
There should be a new misc annotation button. Its behaviour is identical to the Hidden button (so just reuse the code) - but the icon should be `MESH_MONKEY`. It should create an object called `IfcAnnotation/Misc`.

The decorator should just outline all edges in solid red (not dashed pattern).

![image](https://user-images.githubusercontent.com/88302/102948457-2e1c3980-451a-11eb-9c11-dc487b159323.

[2020-12-23 01:40] Moult opened #1210 "New operator to copy grids to drawing"
Icon should be `MESH_GRID`. This new button (text = Add Grids) will find all collections which start with `IfcGrid/`. If not collections exist, nothing is done. Inside that collection there are _always_ going to be 2 or 3 subcollections - the name doesn't matter. Inside those 2 or 3 subcollections (usually named UAxes or VAxes), there will be objects always with a name starting with `IfcGridAxis/`

[2020-12-23 06:53] qwiglydee commented on #1165
@Moult I just postponed the task until "using imperial units in decorations"
I hoped the built-in formatter does support that weird syntax and I can reuse some code. But it doesn't.

I'll handle the issue soon.

[2020-12-23 09:10] qwiglydee commented on #1208
@Moult so, what is desired front-facing of the plane?
with the clockwise ordering it'll look forward with (invisible) back side towards the camera. is it what desired?

[2020-12-23 10:49] Maozerhouni commented on #1188
Yes, you were right. I updated it. Thanks.

[2020-12-23 22:05] Moult commented on #1188
Closing issue :)

[2020-12-23 22:05] #1188 closed

[2020-12-23 22:26] Moult commented on #1208
@qwiglydee good point. Reverse the ordering so that the front face is towards the camera. The important part is that the top two vertices have indices 0 and 1, since later on a decorator needs to be drawn there.

[2020-12-24 06:44] TristanLecallier commented on #1183
@Moult, your article : https://thinkmoult.com/why-revit-is-shit.html, gave me the answer to my last post about Revit, thanks !

[2020-12-24 09:49] aothms commented on #1202
I see all sorts of include errors on your screenshot, so it's not just occt, but also boost.

When you say "run". What are you actually doing. Are you familiar with how CMake and the generated Visual Studio Solution works?

From this line it appears you're doing odd.

We would expect to see something like this:

[code]

On you file system after run-cmake.bat there will be a IfcOpenShell.sln file i

[2020-12-24 16:58] #1165 closed

[2020-12-24 16:58] #1197 closed

[2020-12-24 16:58] #1206 closed

[2020-12-24 16:59] #1207 closed

[2020-12-24 22:49] josenxx commented on #1202
I run the run-cmake.bat and run it to this error.
Running CMake for IfcOpenShell.
Python path configuration:
  PYTHONHOME = 'C:\Users\josen\source\repos\IfcOpenShell\deps-vs2019-Win32-installed\Python34'
  PYTHONPATH = (not set)
  program name = 'c:\programdata\anaconda3\python.exe'
  isolated = 0
  environment = 1
  user site = 1
  import site = 1
  sys._base_executable = 'c:\\programdata\\anacon

[2020-12-25 03:45] htlcnn commented on #1089
I'm wondering how "Location" attribute of IfcLocalPlacement could be retrieved when it is relative placement. Could you show me the code @theoryshaw @Moult ?

[2020-12-26 03:37] htlcnn commented on #1089
@Moult @theoryshaw
It took me a while to understand the code base of the node Ifc Get Attribute. I think these lines were the cause to improper operation:
- Firstly, `SvIfcGetAttribute.process()` calls to its parent's (SvIfcCore) `process()`
https://github.com/IfcOpenShell/IfcOpenShell/blob/877bf3207a120672fe1af89f068ab2e983f590ce/src/ifcsverchok/nodes/ifc/get_attribute.py#L24
- Secondly, `zip_lon

[2020-12-26 04:03] Moult commented on #1089
This looks great @htlcnn ! If you send a PR I'll approve it!

[2020-12-26 04:10] htlcnn commented on #1089
@Moult sure https://github.com/IfcOpenShell/IfcOpenShell/pull/1212

[2020-12-26 04:13] #1089 closed

[2020-12-26 04:13] Moult commented on #1089
Awesome! Closed bug! Thank you so much!

[2020-12-26 16:26] #1208 closed

[2020-12-26 16:26] #1210 closed

[2020-12-26 16:41] #1209 closed

[2020-12-26 22:11] Moult opened #1213 "Level section is still white, not following decoration colour"

[2020-12-26 22:13] Moult opened #1214 "Draw decorator for breakline annotation"
Draw this type of decorator for the break annotation object. It should always be between vertex index 0 and 1, nothing else.

![image](https://user-images.githubusercontent.com/88302/103159940-ac7f2100-4823-11eb-9a73-7fe16eb32e0d.png)

Here's an example in real life of what it looks like: https://www.cadblocksfree.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/1/3/1308-Br

[2020-12-26 22:17] Moult opened #1215 ""Add grid" button should delete previous grids to prevent double up"
The add grid operator should delete previous grids in the drawing prior to copying fresh ones.

[2020-12-26 22:50] Moult opened #1216 ""Add grids" should project and crop into drawing"
This is a little complicated one which needs a bit of coordinate math. I'll try and describe it the best that I can.

Sometimes, some of the grids are not inside the boundary of the camera object which represents the drawing. When this is the case, the grids must be automatically adjusted to fit within the camera boundaries. To do this, there are a few edge cases to check when projecting onto the

[2020-12-26 22:53] Moult opened #1217 "Grids should be duplicated, not linked"
I noticed that right now the grids are linked. They should be duplicated. In #1216 I describe how drawing grids are going to be modified from the original - the original grid mesh should never change.

[2020-12-26 22:58] Moult opened #1218 "Draw decorators for grids"
Grids axis should have a decoration drawn - it should look like a circle with its center at each vertex. There should also be text drawn at this point. The text value should be taken from the grid `AxisTag` attribute.

![image](https://user-images.githubusercontent.com/88302/103160479-c7ed2a80-4829-11eb-8d63-4b2e76f10508.png)

![image](https://user-images.githubusercontent.com/88302/103160490-071b

[2020-12-28 04:04] Moult commented on #1105
Fixed by @htlcnn ! Thanks so much!

[2020-12-28 04:04] #1105 closed

[2020-12-28 18:10] qwiglydee commented on #1218
@Moult should the lines themselves be outlined also?

[2020-12-28 22:34] Moult commented on #1218
@qwiglydee yes :)

[2020-12-28 23:04] Moult commented on #1062
Awesome work by @htlcnn ! Closing bug as fixed!

[2020-12-28 23:04] #1062 closed

[2020-12-29 09:31] qwiglydee commented on #1218
@Moult in freecad they are decorated with dash-dot pattern.
I assume it's some bim convention, and should be used here as well, innit?

[2020-12-29 10:30] Moult commented on #1218
@qwiglydee yes, you are right :) sorry. It's actually a long dash and a short dash, there is no dot. Here's what it looks like:

![2020-12-29-213036_797x798_scrot](https://user-images.githubusercontent.com/88302/103277457-229aa800-4a1d-11eb-9942-96be2bdb8217.png)

[2020-12-29 11:19] #1217 closed

[2020-12-29 11:19] #1213 closed

[2020-12-29 11:19] #1215 closed

[2020-12-29 14:47] qwiglydee commented on #1218
I put labels in screen-space scale and orientation, just like all other labels.
Grid looks somewhat weird in perspective view. Not sure if it's ok.

![Screenshot from 2020-12-29 21-42-30](https://user-images.githubusercontent.com/285128/103291955-68587000-4a1f-11eb-96f9-662044baa78b.png)

[2020-12-29 18:07] #1214 closed

[2020-12-29 21:11] Moult commented on #1218
@qwiglydee looks amazing! Go ahead and commit / close bug :D

[2020-12-29 21:16] Moult commented on #1218
So currently I assume you have implemented drawing decorators for grid axes inside the current drawing collection.

Can this be modified so that grid decorators are also shown for grid axes in any "IfcGrid/*" subcollection? Ideally implemented in a way that it only looks for it once (I assume it needs to loop through all bpy.data.collections to find relevant collections) so it doesn't slow the sys

[2020-12-30 01:22] Moult commented on #1129
@fbpyr I've just built support for exporting clashes out to BCF, including optional snapshot generation using Blender's OpenGL render. Might be a fun thing to add :)

[2020-12-30 04:46] Moult commented on #1061
An update that in the future, there will be an explicit "Edit Geometry" operation in Blender so that IFC authoring happens on-the-fly. The trigger for edit geometry will also solve this issue. This'll take a little while to occur, so don't hold your breath.

[2020-12-30 04:48] Moult commented on #950
Bumping that the new BCF lib is now used, so adding an CSV/ODS/XLS export class to the BCF lib should be a fairly straightforward exercise. Once the class exists, it can be called from within Blender. If anybody wants to tackle this, some code that already does CSV/ODS/XLS handling is in the IFCCSV module.

[2020-12-30 04:51] Moult commented on #1141
Closing bug as likely fixed, and missing test case to reproduce.

[2020-12-30 04:51] #1141 closed

[2020-12-30 05:19] qwiglydee commented on #1218
@Moult decorations are object-based and handler scans for all relevant objects (by name, like 'IfcGridAxis/*') in the drawing collection.
It could be refactored to accept the target collection as a parameter (which now with lots of decorators makes more sense anyway), and  enabled for any other collection.

However, since the objects can be added/removed, handler has to scan for them every time. I

[2020-12-30 10:37] aothms commented on #1121
@Moult https://github.com/IfcOpenBot/IfcOpenShell/commit/7ae685dbffb7db3443090d8388a5a84849447590#commitcomment-45519447

It's using completely new build system so we need to double check

[2020-12-30 11:48] aothms commented on #1202
You have a very confusing Python setup:

How did you get this output?

But anyway this is not related to IfcOpenShell.

You can uninstall the python in C:\Users\josen\source\repos\IfcOpenShell\deps-vs2019-Win32-installed\Python34 and then set the following environment variables to use the anaconda interpreter. And then run cmake.

set PY_VER_MAJOR_MINOR=38
set PYTHONHOME=c:\programdata\anaconda3

[2020-12-30 22:13] qwiglydee commented on #1218
@Moult anyway, how do you expect it to work from users perspective?

There's one switch to turn decorations on/off and it's related to (active) drawing.
Another switch for grid in main collection?

[2020-12-30 22:33] Moult commented on #1218
Hmm, I'm trying to think of what other objects might also be shown in the main spatial tree other than grids... for now, let's just close the bug. In the future maybe tackle this again.

[2020-12-30 22:33] #1218 closed

[2020-12-31 07:56] whwlei commented on #1154
How to add IsGroupedBy, I can try to add

[2020-12-31 09:24] Moult opened #1222 "Refactor the BlenderBIM Add-on to perform incremental editing"
**No new IFC export functionality is planned until this task is complete. Also, no new release will be made until this is fixed.**

This is a tracking issue for the general goal to migrate the BlenderBIM Add-on code to become an incremental editor. It'll take a while until this is closed.

In short, the BlenderBIM Add-on currently functions primarily as an importer and exporter. In other words, it

[2020-12-31 11:01] Rokorps opened #1223 "Blender turns off when adding BlenderBIM addon LINUX"
Hello,
I downloaded the blenderbim zip file for linux, and installed it with addons>install, and then try to add it by just marking it and when I do it, blender just turns off and addon is not being added.
OS Ubuntu 20.10

Thank You for Your help,
Rokas

[2020-12-31 11:07] Rokorps commented on #1223
Okay, I have downloaded addon directly from ifcopenshell.org website and it seems that it works fine.
BUT the zip file from ifcopenshell.org website (~17MB) is 10x smaller than from blenderBIM (~170MB) . << Why?

[2020-12-31 11:18] Moult commented on #1223
@Rokorps the one from ifcopenshell.org is heavily outdated, please use the one from blenderbim.org.

Any errors in the console?

[2020-12-31 16:10] PlumpMath commented on #1222
Moult cheer up. We're gonna be on this planet.
From the unknown cave hive to the hacked free space.
yes~
Happy new year~~~ everybody thanks. :))

[2021-01-01 15:17] theoryshaw commented on #1189
just found out, if I unchecked that, it exported.

![image](https://user-images.githubusercontent.com/507113/103441229-1d527e80-4c12-11eb-86cc-8b8bcc888107.png)

[2021-01-03 00:43] Moult opened #1224 "IfcOpenShell Python segfaults when accessing context HasSubContexts after removal"
I don't really understand this, but I get a crash. Example code:

[code]

This results in:

[code]

If I comment out `print("3", c.HasSubContexts)`, no segfault occurs:

[code]

[2021-01-03 02:32] CyrilWaechter commented on #1224
I can reproduce it but no idea neither.

[2021-01-03 09:07] aothms commented on #1224
Yes, I guess removal with inverse attributes is still buggy as the index is not properly updated. I'll look into it. As a work-around you can rewrite it using forward attributes:

`[sc for sc in f.by_type("IfcGeometricRepresentationSubContext") if sc.ParentContext is c]`

[2021-01-03 10:29] Moult commented on #1224
Cheers :) I've indeed used forward attributes as a workaround with a note pointing to this bug: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/module/context/data.py#L16

[2021-01-03 16:30] theoryshaw opened #1226 "BlenderBIM: Imported IfcOpeningElements slightly larger than the wall"
Currently it appears, upon import, the  IfcOpeningElements is sized the exact width of the wall, and is coplanar with the base of the wall, and per Blender, does not boolean with the wall correctly.  Could a fix for this include, slightly increasing the size of IfcOpeningElements so the boolean works correctly?

![2021-01-03_10-21-38_blenderBlender_ DDropboxGitLabFreeMVD_WorkFlowRandoblender](http

[2021-01-03 18:41] theoryshaw opened #1227 "BlenderBIM: visualise layered walls from IfcMaterialLayerSets?"
Would be awesome to hardcode a Sverchok script like [this](https://gitlab.com/osarch/Example_Files/-/blob/ef018c39abe1de9364c62a73f0a9999ade77cf3b/Blender/Sverchok/Wall_Multiple_Layers_Offset_Extrusion.blend) to create multi-layer walls from walls that have IfcMaterialLayerSets?
Background discussion [here](https://community.osarch.org/discussion/389/sverchok-offset-one-side).

![3m4iprf6aof9](htt

[2021-01-03 23:05] Moult commented on #1226
Yeah this needs to be implemented as a vendor workaround I suspect - short answer is that it's not good practice to have coplanar booleans. The booleans in the latest Blender release has improved this somewhat, but it still sometimes doesn't work. Putting this on the backburner as I'm doing a huge rewrite now.

[2021-01-03 23:07] Moult commented on #1227
Absolutely correct - there needs to be support for visualising material layers. There are a variety of approaches to be considered, each with pros and cons, including:

 1. Sverchok, as you've shown
 2. Geometry nodes, coming soon
 3. bgl decoration
 4. Material shaders
 5. Actual geometry generation (e.g. the IfcConvert method)

[2021-01-04 00:57] Moult opened #1228 "Is there code that handles removing an element including its dependencies?"
Let's say I have an IfcWall, or IfcShapeRepresentation, or IfcRepresentationItem, or anything that I might want to remove. I can do `ifc_file.remove(element)`, but that only removes the element itself, and doesn't recurse down to its dependencies. For example, I'd also want to remove the object placement, or representations of that IfcWall. However, I'd want to remover it intelligently, so that if

[2021-01-04 03:49] theoryshaw opened #1230 "BlenderBIM: export error"
[Wall_Profile_3.blend](https://gitlab.com/osarch/FreeMVD_WorkFlow/-/tree/ebf1d7bf6276f884b564538ef3f334ccc89a2010/Random%20Tests/Wall_Profile/from_Revit) gives the following error upon export.

2.90 - 201207-win.zip

[code]

![image](https://user-images.githubusercontent.com/507113/103499360-63276680-4e0d-11eb-904e-0cd3b33cccfd.png)

[2021-01-04 04:40] qwiglydee commented on #1216
@Moult  I guess I still don't get the idea of `project_point_onto_camera` and how it will be used in other tasks.

What I do for grid clipping:

1. transform geometry into camera local coords using model/view matrices of camera and grid object
2. clip grid segments in local camera coords (keeping them straight in z)
3. transform result back to grid local coords to put them back into 3d scene

I do

[2021-01-04 04:44] qwiglydee commented on #1216
Here is how it looks with totally scewed camera:
![Screenshot from 2021-01-04 11-42-28](https://user-images.githubusercontent.com/285128/103501847-0a45e580-4e82-11eb-938f-1188759f8cd3.png)

[2021-01-04 04:59] Moult commented on #1216
I think your solution is good :) Closing issue!

[2021-01-04 04:59] #1216 closed

[2021-01-04 07:58] dhulsegge commented on #1141
@Moult  i have sended you an email on 17-12-2020 also with example data, maybe it went in your spam?

[2021-01-04 13:08] aothms commented on #1228
I think I have done similar things in the past. From memory:

[code]

So in short iterate over the traversed references in reverse order (so that you delete the leaf nodes first). With get_inverse() you check that all instances that use `ref`  are part of the subgraph. Only nodes that will be deleted point to it, so it can safely be deleted. Otherwise it is kept.

Not tested :)

[2021-01-04 13:11] aothms commented on #1227
Note that this is not exclusive to IfcConvert. (`ifcopenshell.geom.settings(APPLY_LAYERSETS=True)`)

To do this robustly for curved walls, maybe inside IfcOpenShell will work best?

[2021-01-04 13:15] aothms commented on #1226
Yes, but unfortunately coplanar boolean ops is pretty common. The geometric tolerance in IFC explicitly allows this and most BRep CAD libraries have no issues with this. But the mesh-based implementations suffer. I guess we should consider implementing this in C++.

[2021-01-04 16:30] FreakTheMighty commented on #841
@Moult @aothms I think I found a scenario where my internal geometry creation is slower for faceted breps than using the internal engine. My profiling seems to confirms @aothms 's hunch that parsing, and getting the data to python becomes the bottle neck. Attached is a snippet of the profiler with the last two columns being Time (ms) | Own Time (ms) respectively.

![image](https://user-images.gith

[2021-01-04 16:41] FreakTheMighty commented on #841
I'm looking a bit more into your `traverse` suggestion

One thing I can't quite makes sense of is how I would group cartesianpoints by the particular bounds they belong to. Is idea that the list returned by traverse encodes that relationship in its ordering?

[2021-01-04 17:16] Blocovin opened #1231 "[IfcConvert] IFC to SVG => Element not written to SVG due to section heights"
We got warning when we convert a IfcWall to svg

`{"level":"Warning","message":"Element not written to SVG due to section heights","instance":"#20082=IfcWallStandardCase('0J4C1UOWv1uf3U9YDNbt0T',#41,'Mur de base:Mur béton 20 cm:2919156',$,'Mur de base:Mur béton 20 cm:1044',#20047,#20080,'2919156')"}`

Here is the command
`IfcConvert -v --log-format=json wall.ifc wall.svg --include entities IfcWall

[2021-01-05 02:20] Moult commented on #1230
Sorry I'm not really spending much time looking at these bugs right now since I'm busy refactoring for partial editing for the next release. In the next release, there actually will not be an export IFC at all... likely it'll fix these bugs in the process (but also introduce new ones, since it's effectively a huge rewrite). There will be a way to migrate from the old version to the new one, though

[2021-01-05 02:21] Moult commented on #1226
Perhaps this may be a good candidate to bring to the attention of Howard upstream, who is implementing "exact" booleans. @theoryshaw can you provide him with upstream bugreports and sample files?

[2021-01-05 02:56] theoryshaw commented on #1230
all good, no worries!

[2021-01-05 03:11] theoryshaw commented on #1226
Sure, happy to help out.  Would suggest a technical introduction from you guys, however.

[2021-01-05 03:13] Moult commented on #1226
I think just file a bugreport for Blender with your example and see what Howard's answer is. Probably mention that the new Blender exact boolean would probably be able to handle it.

[2021-01-05 03:16] theoryshaw commented on #1226
coo. will do.

[2021-01-05 10:33] Moult opened #1232 "Adding grids to SECTION_VIEW drawing should project grid axis vertically along the drawing if it is perpendicular to orthographic drawing"
![2021-01-05-214534_387x304_scrot](https://user-images.githubusercontent.com/88302/103637283-5b97c700-4f9f-11eb-9800-93fbcf4c6d33.png)

[2021-01-05 10:45] Moult opened #1233 "Bug where grids aren't created if not fully encompassed by orthogonal drawing"

[2021-01-05 10:59] Moult opened #1234 "Create new "Add References" operator underneath add grid"
Find all other SECTION_VIEW perpendicular cameras named `IfcGroup/*`, and create a new `IfcAnnotation/Section` object as a path object with a single segment with 2 points. Decorate using the triangle/circle intersection. Path I think points in +X direction of camera.

For each SECTION_VIEW camera, there should be a new IfcAnnotation/Section object, don't combine.

Later on, other types of cameras

[2021-01-05 11:44] qwiglydee opened #1235 "Quick project setup fails for empty scene"
It fails to handle missing `active_object`

[code]

[2021-01-05 13:26] Timdaviesuk commented on #1194
@Moult Sorry for the delay in responding, but I think I was wrong above when I said that the scenario described by @aothms means there would be multiple instances of an aggregate.

I can go into more detail, but basically each instance would have its own IfcRelAggregates.

Therefore, I'm fairly sure again there's no scenarios in which an IfcRelAggregate relationship could be used more than once, m

[2021-01-05 13:28] qwiglydee opened #1236 "Make decorations for short segments less messy"
When a segment is visually small, decorations become messy:
![Screenshot from 2021-01-05 20-25-29](https://user-images.githubusercontent.com/285128/103651555-613bdf80-4f94-11eb-85fc-facb87a8ae4d.png)

Possible solution is to make them LOD-aware depending on their visual size:
- full
- just plain line + label
- just plain line
- hide completely

[2021-01-05 13:31] qwiglydee opened #1237 "bug: decorations are not turned on at file load"
When file is just opened and have 'show decorations' turned on - they won't appear, untill turned off/on again.

[2021-01-05 13:34] qwiglydee opened #1238 "Switch text direction for upside-down decoration labels"
![Screenshot from 2021-01-05 20-25-51](https://user-images.githubusercontent.com/285128/103652132-3d2cce00-4f95-11eb-9d7f-b9f9df408f2c.png)

It would be better to keep text orientation more straight and readable, while keeping position of the labels.

[2021-01-05 13:42] qwiglydee opened #1239 "Make decorations to hide behind other objects"
![Screenshot from 2021-01-05 20-35-52](https://user-images.githubusercontent.com/285128/103652684-06a38300-4f96-11eb-9ae8-5b81fe287b71.png)

They better should be aware of z-depth, like in MeasureItARCH.
Maybe, also to respect x-ray view and become more pale just like other normal lines.

[2021-01-05 13:53] qwiglydee opened #1240 "bug: undoing add grid crashes blender"
1. create grid mesh
2. add drawing
3. add grid
4. invoke 'undo' ctrl-z
5. blender crashes with segfault

[2021-01-05 13:57] qwiglydee opened #1241 "bug: any undo disables decorations"

[2021-01-05 15:15] #1240 closed

[2021-01-05 16:48] Edralos opened #1242 "Ifc file import bug"
![image](https://user-images.githubusercontent.com/32432267/103671676-84a66080-4f7b-11eb-83d0-00679d839f46.png)
![image](https://user-images.githubusercontent.com/32432267/103672321-6f7e0180-4f7c-11eb-9c58-7f8d7d1b4f48.png)

This is what I get by importing an ifc file.

Although, exporting it to .obj then import the obj file is shows no problem whatsoever.

Blender version : 2.91.0
blenderbim vers

[2021-01-05 19:33] #1233 closed

[2021-01-05 21:01] #1237 closed

[2021-01-05 21:01] #1241 closed

[2021-01-05 21:18] Moult opened #1244 "BCF support for BIMTester"
Ping @berndhahnebach - I saw in https://github.com/IfcOpenShell/IfcOpenShell/pull/1243/ that you had built support for bimcollabsmartviewfile. Would it be better to:

 1. Decouple into a separate lib the read/write of bimcollabsmartviewfile, so it could potentially be used in other utilities, like IfcClash, IfcDiff?
 2. Add support for writing to BCF? See https://github.com/IfcOpenShell/IfcOpenShe

[2021-01-05 21:25] Moult commented on #1242
That looks like a Blender bug, perhaps related to your graphics card. What happens if you save out as a blend file, then open it as a blend file? But just to be sure, can you also share your ifc file? If private, send to dion@thinkmoult.com

[2021-01-05 21:47] #1235 closed

[2021-01-06 09:23] Rokorps commented on #1223
Hey,
I do not get any errors, just it turns of instantly when trying to enable.
Here is the video how it looks like:

https://user-images.githubusercontent.com/18393730/103751773-79057900-5011-11eb-92b6-3e8fead3a8fd.mp4

Thank You for Your help and service

[2021-01-06 09:59] Rokorps commented on #1223
But it seems that it is blender error itself or OS, because also when trying to enable PDT addon same thing happens

[2021-01-06 10:11] Edralos commented on #1242
Saving and opening as blend file shows the same problem.
Here is one of the files I use.
[20160125Trapelo - Existing-Trapelo_Design_Intent.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5775152/20160125Trapelo.-.Existing-Trapelo_Design_Intent.zip)

[2021-01-06 10:41] Moult commented on #1223
@Rokorps try run it from console. Also try with the downloaded .tar.gz file from Blender.org itself, don't install from your repo. That might help narrow it down.

[2021-01-06 10:45] Moult commented on #1242
I think it is specific to Blender and your graphics card. Can you try on another machine? I can open the IFC without any issues.
![2021-01-06-214446_1920x1080_scrot](https://user-images.githubusercontent.com/88302/103759860-72562080-5068-11eb-957b-8acf78ff2c7d.png)

[2021-01-06 11:15] Edralos commented on #1242
You're right !! I also tried it with another machine and it worked too. Though I still have no idea on how to deal with this problem on my machine... I tried getting the last deiver for my GPU but to no effect.

[2021-01-06 11:59] fbpyr commented on #1129
@Moult amazing!! 🙂 👍
currently I am again deep in checking external IFC models&clashes mode,
but I will definitively check it out!

[2021-01-06 21:26] Moult commented on #1242
Awesome! I would recommend filing a Blender bugreport: https://wiki.blender.org/wiki/Process/Bug_Reports :) The Blender devs should be able to help! Good luck!

[2021-01-06 21:26] #1242 closed

[2021-01-07 03:50] HWAZWD opened #1245 "Can .xml connect to .glTF?"
I've got two files,one is .xml and the other is .glTF.Now I load the .gltf file with Three.js,I was wondering when clicking a part of the model,how can I get the corresponding information stored in the .xml file?If not,any suggestions? Thanks a lot!

[2021-01-07 05:11] Moult opened #1246 "IfcOpenShell cannot remove element"
I'm not quite I fully understand the underlying assumptions behind a call to file.remove(). I've been trying to create some minimal examples of more complex scenarios where I'm encountering crashes, but I'm finding that the minimal examples don't quite work either.

Here's one example:

[code]

Results in:

[code]

If I have a GlobalId, then I don't get the error, but I do get a hang in my termina

[2021-01-07 08:20] Krande opened #1247 "Merging two IFC files with different length units (mm and m)"
Hi,

I am looking into merging ifc files with length units (millimeters and meters). My initial thought was to simply scale all length units for all physical elements of one of the ifc files with the appropriate scale factor (and of course change the length unit definition in the ifc) prior to merge.

Unfortunately I haven't found any existing methods or functions in IfcOpenshell that does this sp

[2021-01-07 08:24] Moult commented on #1247
In fact, I was just going to embark on this myself. I'm rewriting the BlenderBIM Add-on to incrementally edit the IFC as you change things in Blender instead of an export process, and so if the user togges the length unit in Blender, it also needs to push the change back to IFC... not a trivial task as you've guessed. If you solve it, I can reuse it in the BlenderBIM Add-on, both as an IfcPatch an

[2021-01-07 08:28] Moult commented on #1247
Theoretically although length units are the most noticable thing, it may be good to consider different area / volume units as well, which may require you to check things like property set and quantity set unit types... quite a nasty little issue.

[2021-01-07 08:32] Krande commented on #1247
Wow that was quick :) Yes, I was actually playing around with the code in unit.py! My first test was to see if I can somehow traverse all referenced attributes on a given IfcProduct and look for a IfcLengthMeasure and scale it. I agree it would definitively be worthwhile to add conversion of other quantity types.

[2021-01-07 08:45] Moult commented on #1247
Maybe instead of traversing, which maybe complex, how about this really dumb method instead?

[code]

[2021-01-07 08:52] Moult commented on #1194
@Timdaviesuk I think you are right, I think I must've got myself confused back when I first implemented it and somehow I remembered it as being possible to have an element being to multiple aggregates.

Sounds good - I will implement your suggestion, which makes perfect sense!

[2021-01-07 09:10] Timdaviesuk commented on #1194
Awesome, I have access to many models with 1000s of aggregate relationships so will give it a test as soon as its ready.

[2021-01-07 09:21] #1194 closed

[2021-01-07 09:22] Moult commented on #1194
Feel free to apply the patch in that commit to see the impact in imports, but keep in mind this _will_ break exports if you're still using the stable release. The reason I didn't also implement it for exports is because exporting is now being completely rewritten from scratch. See #1222.

[2021-01-07 09:39] Krande commented on #1247
That's a great suggestion. Okay I have gotten this far based on your suggestion:

[code]

It worked on my particular IFC file, but I see that I would need to add a lot of conditions to catch all the IFC real, integer etc... Any tip for a more elegant solution? :)

[2021-01-07 09:42] aothms commented on #1247
In C++ the conversion factor should be applied for length units as long as both files have a length unit and you're copying from one to the other. https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcParse.cpp#L1657

[2021-01-07 09:44] Moult commented on #1247
Instead of adding a lot of conditions, how about this dirty trick...

[code]

(Note: will bork on lists)

[2021-01-07 09:45] Moult commented on #1247
@aothms awesome! So I guess just create a new IfcOpenShell file object, add a length unit assignment, then `add()` all elements from one file to another?

[2021-01-07 10:06] aothms commented on #1247
Yes, but you're right, this should be extended for other units. Now IfcLengthMeasure and LENGTHUNIT are hardcoded, but it should be pretty straightforward to extend this to all < measures unit > pairs. Might be a nice issue to get familiar with C++ ;)

[2021-01-07 14:14] theoryshaw commented on #1194
Are there currently any ifc structures that would create 'collection instances' upon import?

It seems there should.  I kind of liked that aggregates were instanced collections.

[2021-01-07 14:27] Timdaviesuk commented on #1194
Thing is, if you have more than one instance of an aggregate, that means you have more than one object existing with the same GlobalId, which is not allowed.

Collection instances could maybe be used for non-rooted entities, such as ShapeRepresentations.

[2021-01-07 15:37] Krande commented on #1247
I do have a plan to jump into C++, so I would love to give it a go. But at the moment I'm a bit short on time. Maybe I can start to look at it in a couple of weeks if no one else has given it a go :)

[2021-01-07 18:39] theoryshaw commented on #1194
could IfcMappedItem be used to translate objects into collection instances, I wonder?

[2021-01-07 20:44] Timdaviesuk commented on #1194
I'd imagine so yes, IfcMappedItems are pretty much meant for instancing, in that you can reference the same geometry in multiple places.

[2021-01-07 22:22] Moult commented on #1247
In the middle of a big refactor now on the Python side, but if @Krande doesn't beat me to it, I'll investigate this too :)

[2021-01-07 22:45] Moult commented on #1222
Ping @fbpyr @Krande and @vinnividivicci - let me know if you'd like to help port over the portions you've helped write code for :)

[2021-01-08 07:34] Krande commented on #1222
Sure! I am quite busy at the moment, but when I have more time I can start porting over the presentation layer stuff :)

[2021-01-08 11:46] Rokorps opened #1250 "One importer import certain IFC, other does not"
Hello,
When I try to import IFC file of fascades I get this error:
Python: Traceback (most recent call last):
  File "/home/rokorps/.config/blender/2.91/scripts/addons/blenderbim/bim/operator.py", line 135, in execute
    ifc_importer.execute()
  File "/home/rokorps/.config/blender/2.91/scripts/addons/blenderbim/bim/import_ifc.py", line 421, in execute
    self.create_spatial_hierarchy()
  File "/

[2021-01-08 20:55] Moult commented on #1250
It looks as though you have both IfcBlender (from the ifcopenshell.org) website installed as well as the BlenderBIM Add-on. The latter processes a lot more data during import, and hence more chance of problems occurring. It looks as though it's stumbling on some quantities, and possible that you may have an invalid IFC file. Can you attach your IFC file here or share it? If it is private, send to

[2021-01-09 06:13] Elliotloststh commented on #1174
this solve my question，thank you!

[2021-01-09 06:13] #1174 closed

[2021-01-09 10:15] aothms commented on #1247
Really cool, feel free to ping me any time once any of you start to have a go at this.

[2021-01-09 11:00] aothms commented on #1246
I committed a quick fix for this, but the underlying problem is severe and also related to #1224.

The maps are just not always updated properly on attribute changes. See for example below. Let's keep this issue open to address tht.

[code]

[2021-01-09 11:05] aothms commented on #1245
The IDs are the same. Just IFC uses a base64 encoding mechanism. In python you have ifcopenshell.guid.compress() / expand(). There is also a Javascript implementation here https://github.com/AECgeeks/BIMsurfer2/blob/master/bimsurfer/src/Utils.js#L54

In general you might want to consider switching to https://github.com/AECgeeks/BIMsurfer2. It also uses threejs. But solves the issue of integrating

[2021-01-09 12:16] aothms commented on #841
Just to confirm. You also observed this without profiler attached / instrumented code? As it can make a huge difference.

It should. It contains duplicates and is in order. So maybe grouping them by length of the bounds is quickest. That's in theory though as the Python interpreter can't optimize len(inst.Polygon) in a meaningful way as the C++ compiler would be able to. I don't know, maybe somebo

[2021-01-09 15:05] FreakTheMighty commented on #841
I went down the path of using their order, but there are scenarios where this doesn’t hold. Nonetheless, I think I found that traverse was faster to collect the large number of entities - if only I could also get the relationships. My sense though is that it isn’t just getting the polygon that is slow, it’s the very large number of __getattr__ calls. In my case there are a vast number of faces.

I

[2021-01-09 15:25] aothms commented on #841
Maybe what needs to happen then is a native implementation of the `ifcopenshell.entity_instance.get_info(recursive=True )` call? That would keep all information nicely in a tree in one Pythonic object, so no further pinging back to C++ necessary. You can also check if the current `get_info(recursive=True)` performs well enough, but I guess it doesn't.

[2021-01-10 11:38] aothms commented on #841
Ok, as promised a C++ implementation of `ifcopenshell.entity_instance.get_info(recursive=True)`. Maybe that helps.

[code]

I'll start a new build end of day.

[2021-01-11 02:06] HWAZWD commented on #1245
@aothms  Thanks a lot,that's working!

[2021-01-11 02:06] #1245 closed

[2021-01-11 02:50] qwiglydee commented on #1153
@Moult for non-blocking operations take a look at [BlenderCloud addon](https://developer.blender.org/diffusion/BCA/browse/master/blender_cloud/).
They use hardcore trickery to rotate event loop manually step-by-step from operator fake modal callback triggered by blender timers.
I don't fully understand all the magic there.

But in the end, it provides asyncawait-able operators api, and their tasks

[2021-01-11 08:13] Moult commented on #1224
I think this is the exact same bug, but thought I'd check:

[code]

In this case, is there any workaround? I assume if I simply loop through all the `IfcRelVoidsElements` and never access any inverse relations I can derive the same relationships, but that sounds incredibly inefficient...

[2021-01-11 20:40] FreakTheMighty commented on #841
Doesn't seem like its built yet and I'm having some issues with our local build. I'll test as soon as I get one of these to go through.

[2021-01-11 21:21] aothms commented on #841
Right, the new automated build system is still a bit buggy. Just restarted.

[2021-01-12 01:17] Moult commented on #1224
One more issue which really tripped me up and I spent a long time hunting down...

In this scenario, none of my code directly access any inverse attributes. `opening` is an arbitrary `IfcOpeningElement`, and `rel` is the `IfcRelVoidsElement` that references `opening`. However, I believe the geometry iterator internally accesses the inverse attributes... so if I then try to run the remove function,

[2021-01-12 01:22] Moult commented on #1224
Just commenting to link this to #1222 - since the purpose of #1222 is to edit the file in memory, but this creates lots of complications for removing elements.

[2021-01-12 02:34] #1232 closed

[2021-01-12 05:08] Moult commented on #1224
Sorry for yet another bump on this bug. I don't get this one at all, since I don't understand why the `ContainedInStructure` has any relationship to the `IfcRelFillsElement`:

[code]

[2021-01-12 05:37] Moult commented on #1246
Just hit another variation of this bug:

[code]

[2021-01-12 19:53] aothms commented on #841
The builds are up https://github.com/IfcOpenBot/IfcOpenShell/commit/e1b68dafa469e1f7549f4df500266075db2030a0#commitcomment-45887584

[2021-01-12 20:53] aothms commented on #1224
This appears to be an artefact from #482. Thanks for the detailed report. I don't have this Judges file so I didn't test all of your snippets but I tested two. These seem like good candidates to make it into a unit test.....

[2021-01-12 20:54] aothms commented on #1224
Edit:

Haha famous last words from my comments on #482

[2021-01-12 21:02] Moult commented on #1224
[JudgesReception.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5804771/JudgesReception.txt)

[2021-01-12 23:46] qwiglydee commented on #1234
The decorations dont look good in 3d view (non-aligned with drawing camera) though.
![Screenshot from 2021-01-13 06-21-10](https://user-images.githubusercontent.com/285128/104387815-7c958480-556a-11eb-8a1a-aa8bd348a7b3.png)

Perhaps, for 3d view they should be disabled or rendered in some other way, maybe similar to built-in blender camera representation or something?

[2021-01-13 00:07] Moult commented on #1234
They look OK to me :) Don't worry that the circle / triangle symbol isn't pointing perfectly perpendicular to the line, that's not important from a user perspective.

[2021-01-13 00:21] #1234 closed

[2021-01-13 02:56] FreakTheMighty commented on #841
@aothms my initial tests show a 2 to 3 times speed up using this new method! That's incredible. This build, however, is seg-faulting on some objects when using the IfcOpenShell geometry engine with the iterator. I'll try to get you more details on the type, and if possible examples, of objects that are failing on tomorrow.

[2021-01-13 09:07] aothms commented on #841
Oh cool! What commit were you previously on? I don't recall drastic geometry changes lately. Hope it's not related to the changes in the build system.

[2021-01-13 10:34] Moult commented on #1121
Closing as fixed! Awesome stuff!

[2021-01-13 10:34] #1121 closed

[2021-01-13 10:34] Moult commented on #1224
Thanks so much! I'll wait for the bot build and let you know how it goes... however I did attach the JudgesReception file!

[2021-01-13 10:38] aothms commented on #1224
Yeah thanks I checked also the last snippet from yesterday appeared fine, build started.

[2021-01-13 11:05] FreakTheMighty commented on #841
We were on c15fdc7. I’m pretty sure the regression isn’t related to the build server. A colleague reported a segfault to me earlier, maybe last week. Apologies for not submitting an issue earlier.

[2021-01-13 14:58] jibasig opened #1257 "Development and building under Linux"
Hello, I am new to the project and I am interested in the typical development workflow under Linux.
I am currently working in Visual Studio Code and build with the build-Script in the "nix"-Folder. Building on my hardware takes about 2 hours. Am I doing something wrong? Can I somehow do incremental builds to speed this up? What am I missing to get a more productive development workflow?
How is you

[2021-01-13 15:16] aothms commented on #1257
That's a very good question that we indeed need to document (or better facilitate). This is exactly the difference between the win build script and the nix one. The win build script generates a MSVC solution file predominantly for development, the nix build script builds the full matrix for publishing on the website. The long term aim is for these two scripts to converge, but so far it has not hap

[2021-01-13 15:38] jibasig commented on #1257
Hello @aothms , I can't express how much you helped me!
I just tried it out and it worked within seconds. Thank you very much, I think I can go on from here!
If there will be more questions about build I will just comment here.

[2021-01-13 17:36] jibasig commented on #1257
I got one more question. I set BUILD_CFG=Release
using
`export BUILD_CFG=Release`
 before
`make && make install && make -j8`
But still cmake will build the big binary for IfcConvert (575,3 MB) I think this is the debug-Version. If I call the long running nix/build-all.py with this environment variable set, I get the release-Version of IfcConvert (ca 41MB).
What am I doing wrong here?

[2021-01-13 18:11] FreakTheMighty opened #1258 "Segfault when creating geometry"
While testing `IfcConvert` from this build https://github.com/IfcOpenBot/IfcOpenShell/commit/e1b68dafa469e1f7549f4df500266075db2030a0#commitcomment-45887584 I'm seeing segfaults for various files. I haven't been able to isolate the problematic object so I'm going to email you an entire file that I'd rather not share publicly.

[2021-01-13 21:15] Moult commented on #1258
@FreakTheMighty by the way, I've found using the BlenderBIM Add-on quite useful for isolating problematic objects. There is a feature which supports whitelisting, elements, and sometimes I print the name of the object being generated. There is also an "IFC Debug" panel that lets you dig into the shape representation tree, and one by one run `create_shape` on each subitem of the tree - especially u

[2021-01-13 21:24] aothms commented on #1258
Recent versions of IfcConvert also have the -vv flag. That prints info on
the element currently being processed.

Op wo 13 jan. 2021 22:15 schreef Dion Moult <notifications@github.com>:

[2021-01-13 22:19] FreakTheMighty commented on #1258
Thanks @Moult @aothms those are really helpful tips.

I can confirm that `32uecXxLHAvBNzQKHB18uk` is the offending product. When I run with `-vv` this is the last log.
[code]
Also, in a simple python script calling `create_shape` on that product, I get the segfault. If, however, I try to extract that one element (I use BIMVision + plugin) the extracted example does not segfault which means that la

[2021-01-13 22:23] Moult commented on #1258
Nice! Didn't know about -vv, that's super useful!

@FreakTheMighty can you try IfcPatch using this recipe? https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/recipes/ExtractElements.py - it's a very simple way to take out a single element. The query you feed it (i.e. `args[0]`) would be `#32uecXxLHAvBNzQKHB18uk`. (See more on writing filtering queries here: https://wiki.osarch.o

[2021-01-13 22:35] FreakTheMighty commented on #1258
@Moult patch worked, but the resulting file doesn't reproduce the error.

[2021-01-13 22:39] Moult commented on #1258
@FreakTheMighty maybe it is because the element has an opening relationship (which the patch doesn't consider). The opening boolean could be causing the segfault. If so, I'm curious if setting `DISABLE_OPENING_SUBTRACTIONS` in will cause the create_shape to succeed and not segfault.

Maybe you can help modify the patch's `add_element` function to also bring across any openings as an option?

[2021-01-13 22:43] FreakTheMighty commented on #1258
@Moult nailed it! Disabling opening subtractions results in no segfault.

[2021-01-13 22:55] Moult commented on #1258
@FreakTheMighty fantastic! So it sounds like a modification of that patch recipe to include openings would be a super useful feature, especially when debugging in the future. Would you like to have a shot at modifying it? If not, I can find some time to look at it.

[2021-01-13 23:12] FreakTheMighty commented on #1258
@Moult I’m up for trying. I’m going to be traveling tomorrow, so it may a little bit before I get around to if.

[2021-01-14 10:27] jibasig commented on #1257
@aothms There is another question. Currently, if I build IfcConvert it uses the boost library as a shared library. How can I link it static into IfcConvert?

[2021-01-14 11:48] aothms commented on #1257
The nix build script does install/strip if cfg=Release https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/nix/build-all.py#L724

It shouldn't. Is that really in the output of e.g. `ldd IfcConvert`? Can you double check here https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/nix/build-all.py#L648 ? Otherwise it's probably CMake that picks up some system wide boost lib instead of the one

[2021-01-14 13:48] aothms commented on #1224
Builds are up https://github.com/IfcOpenBot/IfcOpenShell/commit/f2b645b73fa28dc3b03efb2b6e733c72906e1047

[2021-01-14 19:29] theliam opened #1260 "Build errors - might be boost version?"
Building this from scratch in Ubuntu 18.04 with CFLAGS=-O3 CXXFLAGS=-O3 BUILD_CFG=Release python build-all.py

It says it finds the boost libraries, then has several warnings about boost version having incorrect or missing dependancies.

Then a few thousand lines of warnings and notes then some undefined references to do with boost program options.

`IfcConvert.cpp:(.text._ZN5boost15program_option

[2021-01-14 20:55] Moult opened #1261 "Add new feature in IfcPatch ExtractElements recipe to include voids"
As per #1258 this would be a useful feature for isolating elements for debugging.

[2021-01-14 21:02] Moult commented on #1224
@aothms awesome it works! I'll continue testing to see if I come across any other scenarios where something funky happens!

[2021-01-14 21:02] #1224 closed

[2021-01-15 00:08] Moult commented on #1222
Note to self: project module should display schema version to user.

[2021-01-16 09:24] aothms commented on #1260
One thing that immediate comes to mind is:

[code]

Maybe try upgrading CMake.

But I think the issue seems to be related to `std::__cxx11::basic_string`. This is probably related to the `_GLIBCXX_USE_CXX11_ABI` flag. https://stackoverflow.com/questions/45417707/glibcxx-use-cxx11-abi-gcc-4-8-and-abi-compatibility Which I guess you can try to set or unset. A newer distro/gcc/stdlib would solve this

[2021-01-18 06:54] berndhahnebach opened #1266 "BIMTester, use quotes in step strings or not?"
ATM bimtester step strings do use a mix of quoted and no quotes even in one module. See https://github.com/IfcOpenShell/IfcOpenShell/blob/45bba127ff56/src/ifcbimtester/bimtester/features/steps/ifcdata.py#L13 and https://github.com/IfcOpenShell/IfcOpenShell/blob/45bba127ff56/src/ifcbimtester/bimtester/features/steps/ifcdata.py#L45 Same module, similar context (both about schema). One uses quotes an

[2021-01-18 07:10] berndhahnebach opened #1267 "separate label for core bimtester issues"
issues in the regard of bimtester are tagged with BlenderBIM, but core bimtester is independent from BlenderBIM. Thus it makes sense IMHO to use a own label for bimtester core.

cheers Bernd

@Moult

[2021-01-18 07:14] #1267 closed

[2021-01-18 07:39] berndhahnebach commented on #1267
:1st_place_medal:

[2021-01-18 07:43] berndhahnebach commented on #1244
yes and yes. Totally agree. Just a matter of time range. ...

[2021-01-18 14:57] theliam commented on #1260
I did a release upgrade to Ubuntu 20.4. gcc / g++ are 9.3 and cmake is now 3.16.3
Still getting the undefined references to do with C++11
I tried setting _GLIBCXX_USE_CXX11_ABI in the cmake_args but get this warning
`CMake Warning:
  Manually-specified variables were not used by the project:

    BOOST_ROOT
    _GLIBCXX_USE_CXX11_ABI`

Where should I set this in build-all.py? I also tried setting

[2021-01-19 08:02] jibasig commented on #1257
Good morning,
I tried the build from the build-folder with the cfg=Release flag set, but still the big binary gets build. Somehow it seems that this env. variable is ignored.

If I build the small binary from the nix folder with BUILD_CFG=Release, ldd will show me the following output for ldd
`	linux-vdso.so.1 (0x00007ffde9581000)
	libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f

[2021-01-19 08:39] berndhahnebach opened #1269 "45 degree pipe bend mission on ifc parsing"
Attache a simple ifc. The 45 degree pipe bend is missing in ifcopenshell, but Ifc++ does show it.

[Project_IfcDuctFitting.ifc.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5834625/Project_IfcDuctFitting.ifc.txt)

![Screenshot_20210119_093644](https://user-images.githubusercontent.com/6129869/105008905-22009a80-5a3a-11eb-820a-6bda01d64441.png)

[2021-01-19 08:43] berndhahnebach commented on #1269
view.ifcopenshell.org log ...

`Error | Failed to convert: | #285=IfcSurfaceCurveSweptAreaSolid(#269,#284,#274,0.,45.,#281) | #307=IfcDuctFitting('0ZawzjP15FrvbpUmVoS3EJ',#42,'M_Round  Elbow:1 D:202272',$,'M_Round Elbow:1  D',#306,#300,'202272',.NOTDEFINED.)`

[2021-01-20 08:25] Moult commented on #1228
Very clever code! I've copied it, and if it turns out that I start using it everywhere, I think it is a strong candidate to be included in the ifcopenshell util module! Thanks so much for your help!

[2021-01-20 08:25] #1228 closed

[2021-01-20 10:38] aothms commented on #1228
Yes that's the proper thing to do.

Yes. I consider this a bit of a flaw in the schema. StyledBy should have just been a forward relationship. So that a forward search gives you a meaningful demarcation of the element.

[2021-01-20 10:52] fluider commented on #1023
Hi Thomas,
we are rounding the doubles that shall be written to IFC now beforehand. To introduce an argument controlling the specific entities and number of digits in the IfcOpenShell code seemed not feasible.
Thank you for your suggestions to change the number of digits read in!

[2021-01-20 10:52] #1023 closed

[2021-01-20 15:55] FreakTheMighty commented on #1258
@Moult @aothms I've created a [pull request](https://github.com/IfcOpenShell/IfcOpenShell/pull/1270) for extracting openings. The resulting file does cause a segfault and is something I'm comfortable sharing. Its attached below.

[out.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5843627/out.zip)

[2021-01-20 22:57] Moult opened #1272 "Cannot readd an element to another file twice, and removal causes segfault"
Hopefully the code example explains the situation :)

[code]

[code]

[2021-01-21 00:19] Moult commented on #1272
In terms of the usecase for this, I'm adding elements to the IFC file (the project) from another IFC file (a project library). In this case, a classification. So if the user adds the classification from the library, then removes it, then changes his mind and wants to add it again...

[2021-01-21 12:27] aothms commented on #1272
Yes, good one, 37fe54d2476d9cf3e74998f533035c68cb30eb3f fixes this case at least. This is a job for `std::weak_ptr`, maybe we should go back to shared_ptr for all entity instances.

[2021-01-21 12:58] aothms commented on #1257
yes, you need to explicitly call `make install/strip` or run the `strip` executable yourself on your exe.

Hm, yes I really struggle sometimes with CMake (don't wel all....) I explictly set the boost_root https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/nix/build-all.py#L682 so I think cmake should respect that.

It'd be interesting to add a -DBoost_DEBUG=On maybe to see why it comes to th

[2021-01-21 13:07] aothms commented on #1260
That is also interesting. Perhaps there is something else going on then duplicate to the #1257 issue on linking to system boost.

In CMake you'd need to add

`add_definitions(-D_GLIBCXX_USE_CXX11_ABI=1)`

or

`add_definitions(-D_GLIBCXX_USE_CXX11_ABI=0)`

but it seems as if the issue is related to BOOST_ROOT not being respected.

It appears that this is related to some change in cmake and boost af

[2021-01-21 21:21] Moult commented on #1272
@aothms fantastic! Thanks for the quick response! I'll test and close when the bot awakens!

[2021-01-22 08:15] berndhahnebach commented on #1266
any opinions on this?

[2021-01-22 08:33] rbertucat commented on #1266
I think it would make sense to use single quote everywhere as it is in the behave documentation: https://behave.readthedocs.io/en/stable/tutorial.html

[2021-01-22 10:20] theliam commented on #1260
So before your response I got it built but it wouldn't link boost statically. It was referencing some .so files from /usr/lib/ rather than the build directory. So I removed the package manager version with
`apt-get remove libboost-all-dev && apt purge && && apt autoremove`

I put -DBoost_NO_BOOST_CMAKE=On and now links properly with the static boost libraries but now the executable is linking to a

[2021-01-22 10:27] aothms commented on #1260
Not that I know, these kind of threads confirm that https://stackoverflow.com/questions/4032373/linking-against-an-old-version-of-libc-to-provide-greater-application-coverage

Yes that was my recommendation I guess. Can you just revert to an older snapshot or boot up a new VM? It doesn't seem the fix is related to that?

So to confirm, this is the fix that worked after all. Can you add it to the n

[2021-01-22 15:33] aothms commented on #1269
Good one @berndhahnebach I was waiting for a good reference for this to implement. I've added support for it, but it's lacking quite a bit of error handling.

[2021-01-22 16:04] theliam commented on #1260
Ok thanks, you reminded me I did back it up before upgrading to 20 and the build worked and I ran a test conversion fine.

Yeah with the package mangager version gone it was giving errors about not finding the cmake files until I added that.

I've created a pull request that adds the flag to build-all.py

[2021-01-22 19:53] #1260 closed

[2021-01-22 20:32] FreakTheMighty commented on #1258
@aothms I can't reproduce the segfault when I build locally. I think one difference may be that I built OCE from source. 🤔 I'll have to see if I can test against oce from apt-get.

[2021-01-22 20:38] aothms commented on #1258
Yes I also had trouble reproducing on my local system. I kind of used to seeing files being affected by OCCT versions and compiler settings, but usually then it's not related to an IfcOpenShell commit and usually also not "various files", which is why I'm a bit surprised.

[2021-01-22 20:44] FreakTheMighty commented on #1258
Good point about the commit and too bad it isn't failing easily for a local build. Perhaps I'll try manually bisecting builds from IfcOpenBot. Things seemed to work at c15fdc7 and are failing f2b645b, perhaps I get narrow in on when they started to fail.

[2021-01-22 21:05] FreakTheMighty commented on #1258
@aothms here's what I've found digging through bot builds. It seems like the regression happened between c6a5bdf  and aa49db0. Here's the [diff](https://github.com/IfcOpenShell/IfcOpenShell/compare/c6a5bdf...aa49db0) between them, quite a lot, but perhaps something will pop out to us.

---
## Bad
* 7ae685d Dec 29, 2020
* b08346c Nov 1, 2020
* e08260d Oct 29, 2020
* aa49db0 Oct 27, 2020 **first bro

[2021-01-22 21:49] aothms commented on #1258
Thanks, this is gold, cross referencing with the isolated file there are some interesting bits in there.

When you change the precision on out.ifc,  how does the file perform on your end?

Like:

`#24=IFCGEOMETRICREPRESENTATIONCONTEXT($,'Model',3,0.000001,#22,#23);`

[2021-01-22 21:55] FreakTheMighty commented on #1258
Yes, indeed! 🤔 seems a bit odd that small and large values would work . . . is it a parsing issue?

## Works
 `0.00001`
`0.01`
`0.1`

## Broken
 `0.0001`

[2021-01-23 05:43] Moult commented on #1222
Ping @vinnividivicci

[2021-01-23 21:31] Moult commented on #1222
Ping @s-leger - this refactor will heavily impact Archipack integration. Maybe we can chat more on IRC?

[2021-01-25 22:30] #785 closed

[2021-01-26 01:17] Moult commented on #1266
@rbertucat you mean double quotes? Like: `"`

The advantage of quotes is that it removes ambiguity to human readers on what is a human-decided variable and what is part of the definition. Given that we are using BIMTester in contracts, this sounds like an important benefit because then it is clear to people what is defined for the project and what is part of the contractual template.

Let's go for

[2021-01-26 08:18] Moult opened #1275 "IfcOpenBot has disappeared?"
https://github.com/IfcOpenBot gives me a 404? :(

[2021-01-26 08:20] Moult commented on #1061
Bump that the "Edit geometry" operation is now explicit, so this now becomes possible to do. Haven't done it yet, though :)

[2021-01-26 08:21] Moult commented on #1189
Closing, as this bug should be fixed in the new system. See #1222.

[2021-01-26 08:21] #1189 closed

[2021-01-26 08:25] Moult commented on #1230
Closing, as the system which is related to this bug has been removed so it is no longer relevant. See #1222.

[2021-01-26 08:25] #1230 closed

[2021-01-26 08:26] Moult commented on #1261
Closing, as @FreakTheMighty fixed this in #1270.

[2021-01-26 08:26] #1261 closed

[2021-01-26 08:44] CyrilWaechter commented on #1222
- [ ] When assigning an IfcClass to an object. It leaves object properties in the UI. Need to manually reselect the object to modify its properties.
- [ ] Bug when assigning a material :
[code]
Step to reproduce :
* Assign `IfcDuctSegment` to default cube
* Add a material :
![image](https://user-images.githubusercontent.com/9622862/105821376-0f96db80-5fbb-11eb-8210-ab7e1d139154.png)

[2021-01-26 11:18] berndhahnebach commented on #1266
OK.

[2021-01-26 14:13] CyrilWaechter commented on #1222
I got another one but I did nothing. I think the mouse have potentially highlighted something or that it occurs when I unexpectedly selected something. I'll edit if I can reproduce :
[code]

[2021-01-26 15:28] GiuMn opened #1276 "IfcOpenShell does not recognize serialization of SELECT (4.3)?"
I've been using BIMTester integrated with IfcOpenShell to validate an IFC file for IFC Rail, and I've come across a problem.

It seems that IfcOpenShell does not recognize the serialization of [SELECT ](https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC2/HTML/link/ifcfacilityparttypeselect.htm)for IfcFacilityPart. In particular,  STEP serializes the SELECT for the PredefinedType by wrapping the

[2021-01-26 15:51] alikucukavci opened #1277 "IfcConvert not showing pipe elbows for IFC4 format"
Hello there,

When converting from Ifc4 to COLLADA, pipe elbows are missing. Please see picture 1
When converting from ifc2x3 to COLLADA, pipe elbows are NOT missing. Please see picture 2.

Can anyone explain why it happens and how it can be fixed?

### Picture of ifc4
![IFC4](https://user-images.githubusercontent.com/22770558/105868419-738ac580-5ff6-11eb-83dc-71f1e7da779e.PNG)

### Picture of ifc

[2021-01-26 18:35] FreakTheMighty commented on #1275
@aothms any updates on this?

[2021-01-26 22:16] Moult commented on #1222
The issue occurs because right now we only have pset template definitions for IFC4, but you are likely on an IFC2X3 file... so it tries to match it the best it can, but IfcAreaDensityMeasure didn't exist on IFC2X3, so ... :)

The way to fully fix it is to generate a pset template definition for IFC2X3 but I haven't gotten around to doing that yet. Applied a quick fix for now.

[2021-01-26 22:39] Moult commented on #1275
If it helps anyone, this is the last build the bot did before it was MIA.

Hi,

I've created the following builds for your commit:

|\
 | Linux | Win | macOS |
| --- | --- | --- | --- |
| Blender py37 | [64bit](https://s3.amazonaws.com/ifcopenshell-builds/ifcblender-python-37-v0.6.0-3bbdc3f-linux64.zip) / [32bit](https://s3.amazonaws.com/ifcopenshell-builds/ifcblender-python-37-v0.6.0-3bbdc3f-linu

[2021-01-26 23:13] Moult commented on #1086
Maybe a quick solution would be to silently map it to enum?

[2021-01-26 23:15] Moult commented on #1180
Can this be closed?

[2021-01-26 23:17] Moult commented on #1250
Bump? Will close after 20 days have passed.

[2021-01-26 23:18] Moult commented on #1223
Bump? Will close in 10 days.

[2021-01-27 00:29] josenxx commented on #1180
Yes

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Dion Moult <notifications@github.com>
发送时间: Tuesday, January 26, 2021 6:15:27 PM
收件人: IfcOpenShell/IfcOpenShell <IfcOpenShell@noreply.github.com>
抄送: Xiaorui Xue <xue39@purdue.edu>; Author <author@noreply.github.com>
主题: Re: [IfcOpenShell/IfcOpenShell] ifcopenshell.org partially down (#1180)

Can this be closed?

[2021-01-27 00:47] #1180 closed

[2021-01-27 08:36] aothms commented on #1276
That's true, it's not the select that's the problem, but the select of enumeration. That's a new modelling construct in 4.3 and does not work well with how enumeration is implemented in IfcOpenShell and how selects specify their members. I'm aware of this issue, It's on my list to fix this, but I need to find a way without braking changes in the APIs.

[2021-01-27 08:39] aothms commented on #1275
Account has been flagged by @Github. Frankly this has been happening a lot to me lately for various accounts, but typically it gets restored quickly after a support ticket.

[2021-01-27 11:43] GiuMn commented on #1276
@aothms Thanks for the reply. Please keep us updated on this.

[2021-01-27 13:13] berndhahnebach commented on #586
anyone how has some information in this regard?

[2021-01-27 14:57] FreakTheMighty commented on #1275
@aothms thanks for the update, bummer. @Moult thank you for the build links, that is indeed helpful and good to know that the download links aren't broken.

[2021-01-27 15:39] FreakTheMighty commented on #1275
@aothms I wonder, is there any reason the build bot doesn't just post builds to this repo?

[2021-01-27 19:14] FreakTheMighty commented on #816
Not sure why, but the bottom track does indeed seem to be fixed now, don't know how I missed that. I am still, however seeing missing faces on the vertical frame.
![image](https://user-images.githubusercontent.com/247092/106041369-53fca700-60a1-11eb-9b24-571de284cc8f.png)

Do we still need to perform that `wire_intersections` check? When I remove that, things seem to work nicely. I get this result

[2021-01-28 06:53] berndhahnebach commented on #1269
![Screenshot_20210128_075238](https://user-images.githubusercontent.com/6129869/106101240-e488c500-613d-11eb-9d99-b18f58f4b84b.png)

[2021-01-28 06:55] #1269 closed

[2021-01-28 09:10] aothms commented on #1277
This is probably a duplicate of
https://github.com/IfcOpenShell/IfcOpenShell/issues/1269 Can you try again
with the latest version of v0.6?

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op di 26 jan. 2021 16:51 schreef alikucukavci <notifications@github.com>:

[2021-01-28 09:22] aothms commented on #586
Did you try ifcopenshell.geom.serialize() with schema = IFC4 or higher and
advanced =true? It won't be perfect in every case, but it's a start.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op wo 27 jan. 2021 14:13 schreef Bernd Hahnebach <notifications@github.com>:

[2021-01-28 15:40] deshudiosh opened #1279 "Binaries for max2017x64"
Hi. I am not really very well into this compilation stuff. Is there any chance someone will provide use-ready max2017 plugin files?

[2021-01-28 16:13] aothms commented on #1279
Michaelson Britt has been working on reviving and rebuilding the
IfcOpenShell IFC importer for @Autodesk 3ds Max https://t.co/0fMepSTV8D

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op do 28 jan. 2021 16:40 schreef deshudiosh <notifications@github.com>:

[2021-01-29 17:29] Jjavier1475 opened #1280 "Drawing creation error"
Working with version 2.93 it is not possible to create the drawing, the application crashes and does not open any browser, I tested it with version 2.91 and the result is the same, I thought it could be due to the amount of information but when testing with only one cube the result is the same

[2021-01-30 14:16] aothms commented on #1275
Yes I guess that would have been possible, I was trying to avoid spamming contributors with notifications, but it turned out I think they still get the notification even when the comment was on a fork they are not watching.

In this case it would probably still mean though that the commit comments for a flagged account would not be visible to other users.

Still no word from Github.

[2021-01-31 01:26] Moult commented on #1222
Closing bug. Refactor is basically complete - except for drawing generation, which will be solved as part of #1153.

[2021-01-31 01:26] #1222 closed

[2021-01-31 11:07] CyrilWaechter commented on #635
Hi @aothms,
I currently implement a functionality to import IfcRelSpaceBoundary in Blender BIM addon. For my project I used workarounds but it would be great to avoid if it is a bug. I have set up a minimal test case (I probably should convert it into pytest…) first using [Triangle_2x3_R19.ifc](https://github.com/ENAC-CNPA/BIMxBEM/blob/master/IfcTestFiles/Triangle_2x3_R19.ifc) as test file:
[code]

[2021-01-31 11:25] aothms commented on #635
`#210= IFCCURVEBOUNDEDPLANE(#209,#204,$);`

I don't know why the error isn't more informative, but InnerBoundaries is not optional. I think that's the issue.

[2021-01-31 12:33] CyrilWaechter commented on #635
Uh ? [Ifc documentation description](https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2_TC1/HTML/link/ifccurveboundedplane.htm) says it is optional :

But I do not know how to interpret STEP specifications:

For optional attributes of a defined entity I see that the `OPTIONAL` prefix is used but is it the same for `SET` ?

[2021-01-31 12:39] aothms commented on #635
Myeah they should have said "potentially empty", but it's not optional in
the schema. You could argue that semantically Optional Set [1:?] is roughly
equivalent to NonOptional Set [0:?] they chose the latter.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op zo 31 jan. 2021 13:33 schreef Cyril Waechter <notifications@github.com>:

[2021-01-31 12:42] CyrilWaechter commented on #635
Setting empty InnerBoundaries to `()` fix the issue. I'll report the issue to revit-ifc project which produced this file.

[2021-01-31 20:27] theoryshaw opened #1281 "BlenderBIM: crashes when reassigning class"
blender28-bim-210131-win
2.91

video: https://www.dropbox.com/s/6qrp22xwjtwzo6c/2021-01-31_14-23-45.mp4?dl=0

[2021-01-31 20:27] Plae-Blue-Dot opened #1282 "New version v0.0.210131 error cannot install"
Cannot enable newest Blenderbim version v0.0.210131 on Blender 2.91.2

Can load latest Blemederbim v0.0.210131 to blender but when activating/ enabling
it gives this error:

AttributeError: module 'parse' has no attribute 'Parser'

[2021-01-31 20:29] theoryshaw commented on #1282
I get the following error when I try to enable the plugin...

blender28-bim-210131-win
2.90

I'm able, however, to enable it with 2.91.

[code]

[2021-01-31 20:32] theoryshaw opened #1283 "BlenderBIM: dumb IFC objects don't have assigned class"
blender28-bim-210131-win
2.91

video: https://www.dropbox.com/s/ro1fghgkjjhe0xo/2021-01-31_14-31-21.mp4?dl=0

[2021-01-31 21:02] theoryshaw opened #1284 "BlenderBIM: it appears 'add grid' and 'add sections' is not working"
could be missing something, but it appears 'add grid' and 'add sections' is not working

https://www.dropbox.com/s/rku6wx81zwu5p4b/2021-01-31_15-00-40.mp4?dl=0

blender28-bim-210131-win
2.91

[2021-01-31 23:22] Moult commented on #1280
@Jjavier1475 this was fixed as part of #1148 - you can apply just that patch if you are using the old version. Else, you could upgrade, but drawings are in a bit of a limbo state right now due to a bunch of work being prepped for #1153. Sorry - not much I can offer other than "really sorry but drawing generation is really unstable right now".

[2021-01-31 23:22] #1280 closed

[2021-01-31 23:24] Moult commented on #1283
Ah yes, this was a change in the workflow that I don't really think is a good idea... I'll try to find a good workflow solution.

[2021-01-31 23:25] Moult commented on #1284
Known regression as part of preparing for #1153. Will address. We can use this issue to track progress.

[2021-02-01 17:41] ahladik opened #1286 "How to use 0.6.0 with template classes"
Hello,

using branch 0.6.0, I've written a template class of the type:
`template<class Schema> class myClass { ... }
`
and then I explicitly instantiate the templates with
[code]
If in my template cpp code I insert:
`#include "ifcgeom\IfcGeom.h"`
the compiler emits an error like
`'../ifcparse/IfcSchema-definitions.h': No such file or directory`

This happens because the macro `IfcSchema` is not de

[2021-02-01 21:44] brunoperdigao opened #1287 "BlenderBIM: exterior walls missing. IFC import"
I tested the new release (210131) with and IFC sample file from the OSArch wiki. The model was imported with some exterior walls missing, but it shows no error message. I am not sure if this is a bug, but I imported the same file into Archicad and it worked.
Here is the import configuration:
![image](https://user-images.githubusercontent.com/57102715/106521196-a3d1d880-64bc-11eb-993a-bf8cab19ebc2.

[2021-02-02 05:51] #1266 closed

[2021-02-02 08:07] Krande commented on #747
Hi, sorry for reviving this old thing:)

I just ran into the same issue. Is there any progress on this or alternative workarounds?

Best Regards
Kristoffer

[2021-02-02 09:47] CyrilWaechter opened #1288 "[Blender BIM addon] Issue while importing consecutive files"
# Case 1
## Steps to reproduce
1. Open Blender (default new general file)
2. Import [Triangle_A24_IFC4.ifc](https://github.com/ENAC-CNPA/BIMxBEM/blob/master/IfcTestFiles/Triangle_A24_IFC4.ifc) => No error
3. File -> New -> General
4. Import [Triangle_2x3_R19.ifc](https://github.com/ENAC-CNPA/BIMxBEM/blob/master/IfcTestFiles/Triangle_2x3_R19.ifc) => error
## Error message
[code]
# Case 2
## Steps t

[2021-02-02 09:58] Moult commented on #1287
The wall is there, but turns invisible due to the failed Blender boolean. The boolean fails because the opening element consists of two breps, which kinda merge to create a non-manifold shape. Ping @aothms is this legal?

If it is legal, I'm not really sure what a good fix would be... I could go back to fast booleans...

[2021-02-02 10:11] Moult commented on #1287
@brunoperdigao can you please file an upstream bug to Howard Trickey and ask him whether or not this is a bug or expected behaviour? I suspect it could be an upstream Blender bug.

[2021-02-02 10:16] aothms commented on #1287
How precisely? We have a similar issue here https://github.com/IfcOpenShell/IfcOpenShell/issues/992 not because it's a problem in OCCT, but because of the checks in IfOpSh assume manifold output.

In general though, I don't have a lot of confidence in these mesh-based booleans. I think you should add some sort of sanity check on the output and revert to OCCT automatically for elements that don't l

[2021-02-02 10:39] ahladik commented on #1286
Ok, just for the records, here's my solution.

[code]

[2021-02-02 10:50] aothms commented on #747
Sorry, lost track of this. https://github.com/IfcOpenShell/IfcOpenShell/commit/55b63410bd3ab87a73f89360bf903b23e5622405 should fix it, hopefully not at the expense of other stuff.

[2021-02-02 11:07] aothms commented on #1286
I think this is a really essential discussion. Ultimately I found that using templates sounds nice in practice, but (a) it's pretty hard to get the small schema variances right (the `#ifdefs from Ifc2x3-definitions.h` is really much easier). (b) error messages and compile time etc.

What was stopping you from using the cmake properties / macro route? Should we work on some sort of CMake scaffoldin

[2021-02-02 11:14] aothms commented on #1275
The flag has been removed and the repo is visible again

[2021-02-02 12:47] brunoperdigao commented on #1287
@Moult Ok, I just want to try to understand the problem a bit better. The problem is that the opening element has an internal face, it works after I deleted these faces. But this is expected to cause a problem with the boolean operation, right? The Blender bug would be the fact that the wall turns invisible. Did I get it right?

[2021-02-02 14:24] CyrilWaechter opened #1289 "[Blender BIM Addon] UI failing when reopeing blend file from a missing IFC"
## Current behavior
User open the blend file and has no clue why there is no data. Even scene properties do not display so user cannot check ifc path.

## Suggested behaviour
Let the user know the ifc is missing and allow him reload it from another path.

## Steps to reproduce
1. Import an ifc file
2. Save to blend file
3. Reopen it => All ok
4. Delete ifc file
5. Reopen it => Missing data

## Err

[2021-02-02 17:42] ahladik commented on #1286
Like many of the features of C++, templates provide enough rope to hang oneself.
But in my opinion, in general they allow much better control over types at compile time than a macro.

For the moment, the solution I've laid out looks good to me: I use the IfcOpenShell macros (so the SCHEMA_HAS_xxx are correctly defined) but can still build my template classes, with small .cpp files for explicit ins

[2021-02-02 17:45] #1286 closed

[2021-02-02 21:51] Moult commented on #1287
@aothms the opening element itself is non-manifold. I've screenshotted what the opening elements look like as well as highlighted in orange the two internal shared faces. The actual opening element representation is made out of two faceted breps, which I assume IfcOpenShell welds vertices as a final step which causes the non-manifold representation, which then blender fails to handle.

![2021-02-0

[2021-02-02 22:18] aothms commented on #1287
But that's something we can indeed probably fix, assuming that the two parts of the opening are different representation items I can reset the "welding map" probably when iterating over the items. Is that something we should try?

[2021-02-02 22:38] Moult commented on #1287
@aothms I guess, though I just checked in Blender to manually split them into 2 manifold boxes, but the Blender booleans still doesn't handle it well, so I guess from the user perspective it still looks broken.

I would not call it a high priority item. I think I'll implement the OCCT subtractions by default, and give the user the option to on-demand switch to a non-subtracted mesh. That way the u

[2021-02-03 00:59] Moult opened #1290 "Need to understand how INCLUDE CURVES works"
I'm a little confused by the behaviour of INCLUDE_CURVES and hope that maybe once I understand it I can implement in a consistent manner how 2D objects are loaded into the scene.

Below are all the scenarios I can think of. A few things which I'm confused by:

 1. Isn't it extra work for the iterator to process it twice in Scenario A? Shouldn't it pick one and stick to it?
 2. In Scenario B how do

[2021-02-03 02:49] #1287 closed

[2021-02-03 03:39] Moult commented on #1282
@Plae-Blue-Dot  this user had the same issue as you, and it was fixed by clearing their add-ons folder. Maybe if you had an old version installed previously, it would've triggered the same bug. See here: https://blenderartists.org/t/blenderbim-openbim-authoring-with-blender/1192437/255?u=noidtluom

[2021-02-03 03:46] #1282 closed

[2021-02-03 03:46] Moult commented on #1282
@theoryshaw that commit that closed this issue addresses your bug.

[2021-02-03 03:49] #1275 closed

[2021-02-03 03:49] Moult commented on #1275
Hooray!

[2021-02-03 03:52] Moult commented on #1281
Cannot reproduce. Can you check your addons folder i.e. on windows AppData/Roaming/Blender Foundation/2.91/scripts/addons/ and in there do you see a folder called ifcopenshell? If so, delete it. It sounds like you may not have the latest IfcOpenShell for some reason.

[2021-02-03 04:04] theoryshaw commented on #1281
delete that folder?

![image](https://user-images.githubusercontent.com/507113/106696575-a1e24500-65a2-11eb-9724-6c71d1ab3277.png)

[2021-02-03 04:12] Moult commented on #1281
Hmmmmm... nope. Let's screenshare sometime.

[2021-02-03 05:04] Moult commented on #1290
Using the file from #1142 I get the opposite behaviour for scenario A and B - why?

[code]

[2021-02-03 05:47] Moult opened #1291 "IfcAnnotationFillArea not supported"
The file shown in #1142 has an IfcAnnotation using an IfcAnnotationFillArea. It seems to be a simple curve object - is there a reason that create_shape fails on it? Creating the curve would be sufficient, I believe.

[2021-02-03 06:30] #1288 closed

[2021-02-03 08:14] MarkusSteinbrecher opened #1292 "BlenderBIM error "Unexpected end-of-input" when trying to export to CSV"
Dear community

I am new to all of this but very enthusiastic about the  open source BIM tool landscape. I imported an IFC into Blender with the BelenderBIM add-on and I get this error when I try to export to CSV: (I tried with 5 different IFC files and all have the same result):

Python: Traceback (most recent call last):
  File "/Users/markus/Library/Application Support/Blender/2.91/scripts/addo

[2021-02-03 08:15] #1289 closed

[2021-02-03 08:17] Moult commented on #1292
@MarkusSteinbrecher g'day! It sounds like your filter query is invalid. Can you show me what query you are using?

If you are unsure how the query should look, this may give you some hints: https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples#IFC_Query_Syntax

Hope it helps! If you still can't solve it, please explain in detail what steps you are taking and I can try to help!

[2021-02-03 08:37] Moult commented on #1246
Closing, as no longer segfaults! Thanks @aothms !

[2021-02-03 08:37] #1246 closed

[2021-02-03 08:38] Moult commented on #1226
This commit goes back to using IfcOpenShell for booleans by default, so this is fixed :)

https://github.com/IfcOpenShell/IfcOpenShell/commit/aa41f698c1666b8e8cf20e288f9a11236331a6ec

[2021-02-03 08:38] #1226 closed

[2021-02-03 08:40] MarkusSteinbrecher commented on #1292
@Moult good day to you too and thank you very much for this quick response, amazing! I know what I did wrong know and apologize for bothering you with this rookie mistake! Thank you!

[2021-02-03 08:40] #1292 closed

[2021-02-03 08:42] Moult commented on #1186
Closing issue, as there is no issue to be solved here :)

Ping @rbertucat and @berndhahnebach I've moved a _lot_ of stuff around (and broke the GUI in the process, since I don't have PySide on my computer to test and fix it) - let me know what you think about the changes - perhaps we can continue discussion on https://community.osarch.org/discussion/322/bimtester-improvements-as-well-as-standalone

[2021-02-03 08:42] #1186 closed

[2021-02-03 09:08] aothms commented on #1291
Just not property implemented. Would be a nice task to wet your feet in C++. You're right it's basically equivalent to an arbitrary pdef with voids https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcRegister.h#L101 https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcGeomFaces.cpp#L458

[2021-02-03 10:01] aothms commented on #1290
I guess the order is not something to rely on (it's likely based on order in the file). Rather look at the `context` attribute or reverse engineer the representation it was created from:

[code]

With multiple curve-like representation all should be included (??)

For create_shape() the behaviour is indeed a bit different, but I would really use the optional third IfcRepresentation attribute if yo

[2021-02-03 13:50] aothms commented on #1287
@Moult well I've just implemented something like that. I think there are still ways you can get this to work, like applying the opening parts in multiple modifiers (Blender has a Separate by loose parts I think, so that's relatively quick). Or doing a union on the opening parts first. I wouldn't abandon the Blender booleans that quickly.

[2021-02-03 20:57] Moult commented on #1287
@aothms hmm, I'll try to think of a way to implement it. Right one one Blender object = one IFC product, so splitting it may complicate things. Unioning may work, though...

[2021-02-03 20:57] Moult commented on #1287
Ahh just noticed the fix commit! Awesome, that'll be super useful when trying to build a better Blender-based system. Thanks so much!

[2021-02-04 01:10] theoryshaw commented on #1282
https://blenderbim.org/builds/blender28-bim-210203-win.zip seemed to work for me.

[2021-02-04 09:31] Moult opened #1293 "IfcOpenShell crashes on Windows only when removing property set"
This code snippet works fine on Linux, but apparently crashes on Windows. No idea why :)

[code]

[2021-02-04 11:06] aothms commented on #1293
Using the latest version on my system I was not able to reproduce this. More info?

[2021-02-04 11:15] Moult commented on #1293
@aothms can you reproduce using this build? https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/Makefile#L29 Maybe it has been fixed since then?

[2021-02-04 11:34] aothms commented on #1293
Yes I think so, guess it has been fixed indeed here https://github.com/IfcOpenShell/IfcOpenShell/compare/b08346c..v0.6.0#diff-b040b6c3201487d58cce8bdf084d9299d961719c7f722ca4802855a2f3daa818

[2021-02-04 13:28] Krande commented on #1247
ping @aothms.

I have some time to dive into c++. I've already started tackling the local compilation of ifcopenshell on windows with the hope of at least getting a local dev setup. Any help or hints with setting up a good local development setup is as always much appreciated:)

[2021-02-04 15:42] rbertucat opened #1294 "Using tmpdir prevents behave to run when multiple drives on Windows"
When an user runs BIMTester on another drive, e.g. D: and the temporary directory gets created under C:, behave will fail with the following exception.

Solution would be to make using temporary directory an option.

[code]

[2021-02-04 21:16] Moult commented on #1294
Ah I didn't expect this. I thought using a temp dir would solve the portability issue. I'm hesitant to make it a user option, that sounds more like a workaround than a fix - the user should expect it to "just work". I've opened a bug upstream as it sounds more like an upstream issue. If it is not fixed upstream, we can implement a workaround in BIMTester, but I'd very much prefer for it to not be

[2021-02-04 22:55] Moult commented on #1293
Awesome! Thanks so much! My Windows machine is broken so I'll test it whenever I do get the chance and close this issue.

[2021-02-04 23:08] Moult commented on #1281
Closing, as @aothms seems to have fixed it in the latest build! :D

[2021-02-04 23:08] #1281 closed

[2021-02-05 00:56] htlcnn opened #1295 "BlenderBIM crashes when importing IFC"
I exported this IFC from Revit. When I imported it into Blender using BlenderBIM v.210131, Blender crashed. As @Moult said, there are objects with invalid curve information which causes ifcopenshell to crash. I think either ifcopenshell or BlenderBIM should ignore them and log them instead of crashing. What are your thoughts @aothms ?

IFC file: [KC NHA HIEU BO_detached_no_foundation.zip](https://

[2021-02-05 01:19] Moult commented on #1295
Ah, I extracted out one of the crashy elements for convenience:
[bork1.ifc.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5929476/bork1.ifc.txt)

[2021-02-05 09:11] aothms commented on #1247
Very cool.

For windows the `build-deps` `run-cmake` things in the `win/` folder do result in a good development setup by default. You can install the Visual Studio Community Edition for free. The scripts were recently updated by @ahladik to support 2019 (you cannot download versions I think for the free Community Edition) and I think the paths changed a bit wrt to the documentation, but fundament

[2021-02-05 12:10] Krande commented on #1247
The build-deps step seemed to work just fine. However I did run into an error with "run-cmake" step though.

The error seems to be this:
[code]

It might be unrelated, but for some reason I see references to my system python interpreter (even though I build a new python in the `build-deps` step.

[code]

The full output is shown below

[code]

I see there has been a lot of recent activity on the w

[2021-02-05 12:19] aothms commented on #1247
I think it's the same as #1273 (but that only addressed it for the nix build script). Can you try and add that same `-DBoost_NO_BOOST_CMAKE=On` to run-cmake and try again (please submit a PR if it works :))

[2021-02-05 15:55] Krande commented on #1247
Using `run-cmake.bat vs2019-x64 -DBoost_NO_BOOST_CMAKE=On` worked!

I thought I would start by working my way through the c++ example files and just debug and step through some of the more basic operations to get a feel for how everything is tied together. However I ran into this straight away:

[code]

Any ideas?

I noticed it looks for `xmld.lib` in `C:\code\krande-IfcOpenShell\_deps-vs2019-x64-

[2021-02-05 16:03] aothms commented on #1247
Thanks, I'll add it to run-cmake then.

I think the default of the build script is RelWithDebInfo, but Microsoft VS will always open a solution in Debug mode. So you need to switch that to RelWithDebInfo to be consistent with the built libraries (the _d prefix is for debug).

yes this is what I tend to do as well. Make sure that the .pyd and .pdb (msvc debugging archive) match and are both in the

[2021-02-05 20:51] Moult commented on #1162
Curious on what happened to this? :)

[2021-02-05 21:01] #1283 closed

[2021-02-05 21:10] aothms commented on #1162
In the end just rolled my own stuff using ssh and ansible on a dedicated cloud mac and AWS for win and linux. It'll get more robust over time and then I'll set it on auto pilot again.

[2021-02-06 21:27] plaes opened #1298 "Build (cmake) should check whether libxml2 dev support is installed/detected"
Seems like libxml2 existence is not properly checked in the cmake phase.

[2021-02-07 02:29] Moult opened #1300 "Is there a way to query the schema for possible associated types?"
E.g. an IfcWall may be typed by an IfcWallType, and vice versa. Can I discover this relationship programmatically?

In IFC4 an intelligent guess may be made, but it isn't always straightforward, and in IFC2X3 there are tricky situations.

Edit: the usecase is to allow the user within the BlenderBIM Add-on to easily create a product from a type product, or to help guide the user on the correct type

[2021-02-07 05:49] Moult opened #1301 "Can I set a mandatory attribute as null?"
If I create an element, mandatory attributes start as null. However, if they do get assigned to a non-null value, I am not allowed to set them back to null.

Little minimal case to trigger the error in code snippet below.

The usecase for this is to aid in deep element removals. Sometimes, I want to delete deeply, especially in the representation tree, but it may be referencing a context, or mappe

[2021-02-07 06:23] Moult commented on #885
Closing bug, as actually I reckon after #1222 this kinda is starting to work out without even needing this level of granularity in the return value.

[2021-02-07 06:23] #885 closed

[2021-02-07 09:49] aothms commented on #1301
So what do you recommend? I have mixed feeling about removing the last bit of type checking that we actually do.

Shouldn't we rather have have add an optional set of elements to `remove_deep()` which will then retain elements in this set?

[2021-02-07 09:52] aothms commented on #1300
I think this is only encoded in the where rules (with occasional typos https://github.com/stepcode/stepcode/pull/373/files) so I don't have high hopes for this, but let's root for https://github.com/opencax/GSoC/issues/31

[2021-02-07 10:46] Moult commented on #1301
@aothms on second thoughts, this is swapping one workaround for another, so I agree that changing `remove_deep()` is a better approach.

 Closing bug :)

[2021-02-07 10:46] #1301 closed

[2021-02-07 15:06] matthijskooijman commented on #1282
I'm also running into this, but it seems that the latest build (linked above) is only available for Windows, not Linux?

[2021-02-08 11:41] alikucukavci opened #1303 "IfcConvert parse the GlobalID to COLLADA not working"
Hi there,

I am trying to build an application that can
1. convert an IFC file to DAE
2. convert DAE to GLTF
3. visualize GLTF in Three js (3D viewer)

When I convert from IFC to DAE and try to lookup any IFC GlobalId's in the DAE file, I find nothing. It seems like the DAE file got new ID's. **How can I parse any information (GUID, or other metadata) to the DAE file?**

I tried with
1. IfcConvert

[2021-02-08 12:13] aothms commented on #1303
Ifc globalids are not valid XML ids, so we reverse the base64 encoding. https://technical.buildingsmart.org/resources/ifcimplementationguidance/ifc-guid/ https://github.com/AECgeeks/BIMsurfer2/blob/master/bimsurfer/src/Utils.js#L54

--use-element-guids does encode the global ids as (invalid) xml ids directly in the file though, can you explain how that did not work.

[2021-02-08 12:33] alikucukavci commented on #1303
Hi aothm,

My bad.
I looked at the wrong place before. Tried --use-element-guids again and now it is working.

Picture of ThreeJS showing it is working now :)
![Duplexhouse](https://user-images.githubusercontent.com/22770558/107220050-2f45ef00-6a12-11eb-93b0-7a534aea757b.PNG)

[2021-02-08 12:39] #1303 closed

[2021-02-08 16:00] GiuMn opened #1304 "BUG: IFC 4.3 Validation"
I am trying to validate a file through IfcOpenShell Python validate function, which I know has a mistake.
For some reason, IfcOpenshell reports an error, but it seems that it cannot show what the error is.

Attached is the message I receive when trying to to run validation and also the ifc file used as a test.

[file_test_bug.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5944848/file_tes

[2021-02-08 16:35] alikucukavci opened #1305 "IfcConvert to COLLADA doesn't parse GlobelID correctly for windows"
Hi there,

I am trying to convert a Ifc file to collada where the GlobalId's are parsed from ifc to the collada file by typing IfcConvert.exe --use-element-guids duplex.ifc duplex.dae into the console.

When I try to match both files, I can see that GlobalId's are parsed correctly from the ifc file to the dae file for walls, slabs, roofs. However, for doors, windows and roof windows I don't get th

[2021-02-09 07:50] prudhomm opened #1306 "add github actions support"
github actions are great to get continuous integration and delivery.
use cmake debian(and other distros) packages can be produced and use to create docker images

[2021-02-09 12:24] aothms commented on #1305
IfcOpenShell gives you the guid for the element with the representation. In case of decompositions, some viewers might group the decomposing elements (roofs with multiple slabs; windows with members and plates; ...). If you pair with the XML from IfcConvert you have the necessary information to perform this grouping as well.

[2021-02-09 12:26] aothms commented on #1304
This is already fixed, you can just replace validate.py on your system with the latest version from the repo https://github.com/IfcOpenShell/IfcOpenShell/commit/500467b3a8140b106016992c651f0e114be9af7c

[2021-02-09 14:04] bidinzky opened #1308 "add option for adding Area as data-area attribute in SVG"
Add a option to the svg serializer to allow for a data-area attribute to be filled.

[2021-02-09 15:55] MikkiSeidenschnur opened #1310 "Trying to understand the mapping of connector coordinates"
Hello,

This is my first time posting here, so excuse me if this is irrelevant.

For the past couple of months, I have been working on creating a class hierarchy of a pipe system based of an IFC extracted from Revit. Picture seen below.
![image](https://user-images.githubusercontent.com/20814326/107385939-aa330680-6af3-11eb-8f07-f6f66e2cede0.png)

I've specifically created a class, for connection

[2021-02-09 16:58] claimred commented on #1028
IfcOpenShell is pretty great, thanks for your hard work. It always is "reference implementation" in my head. At [@rengasoftware](github.com/rengasoftware) we use IfcOpenShell tools internally. Moult [introduced](https://forums.buildingsmart.org/t/cli-tools-to-help-development/2525) them to us on buildingsmart forums.

- @Moult's ifcdiff for automatic CI testing pipeline
- ifcopenshell-python for w

[2021-02-09 18:59] #816 closed

[2021-02-10 06:10] tpaviot opened #1311 "Bug report: fail at parsing IFC4x1 standard files"
current ifcopenshell v0.6.0 fails at parsing example IFC files provided with the IFC4X1 standard (for example https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/annex/annex-e/wall-elemented-case.ifc). I ran the tests using python and the ```ifcopenshell.open``` function.

In these Part 21 files, the file schema is defined as:
```FILE_SCHEMA('IFC4x1')```
with a lowercase 'x' whereas

[2021-02-10 10:24] aothms commented on #1311
You're right, I think for the first we can simply change `name` to `boost::to_upper_copy(name)` https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcSchema.cpp#L93

The second pertains the try catch scheme here which is indeed messy https://github.com/IfcOpenShell/IfcOpenShell/blob/37fe54d2476d9cf3e74998f533035c68cb30eb3f/src/ifcparse/IfcParse.cpp#L1370

One of the problems is

[2021-02-10 10:30] aothms commented on #1310
`ObjectPlacement` is an IfcLocalPlacement which consists a { a 'parent' placement (PlacementRelTo) , and a transformation  (RelativePlacement) } the whole set of placements forms a tree that should more or less follow the decomposition hierarchy (Site > B > Storey > Elem > Port).  So it appears that sometimes you want the position of the port, sometimes of the parent element?

It appears though th

[2021-02-10 10:33] aothms commented on #1308
Is this a feature request or how should I interpret this? Are you planning to work on this yourself?

Strictly SVG1 does not have a `data-` (HTML5 Dataset), so we still need to workaround this in our current exporter actually. The way to extend I think is to have <title> or <desc> elements that can point to additional namespaces. SVG2 does have Dataset.

Do you envision data-area on the path or on

[2021-02-10 12:27] MikkiSeidenschnur commented on #1310
I don't think that the `IFCRELCONNECTSPORTS` have any information in `RealizingElement`, but I will check it as soon as I have the files handy tomorrow. Will let you know what I find out.

My problem is mainly that I can't figure out why it sometimes uses the absolute placement compared to the relative placement, and sometimes it doesn't. I can't seem to find any pattern as to why it's using one o

[2021-02-10 12:39] aothms commented on #1310
Sometimes that's also the case. Exporters are not perfect, especially in the more 'advanced' not directly visible cases. Try to really connect some evidence with snippets from the file and contact the authoring tool for input.

[2021-02-10 13:24] tpaviot commented on #1311
yes, ```boost::to_upper_copy``` would certainly work.

For the second point, throwing c++ exceptions caught by swig would indeed to the job. It is how pythonocc catch occt exceptions:
https://github.com/tpaviot/pythonocc-core/blob/master/src/SWIG_files/common/ExceptionCatcher.i#L37

You can also return either true/false in the cpp open method, and raise IOError in the python wrapper if open return

[2021-02-10 13:33] aothms commented on #1311
Yes we have something similar https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcwrap/IfcPython.i#L59

We have the .good() test for that. An indeed an exception is already thrown in case it returns false https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/__init__.py#L63

Are you saying that didn't work in your case? Or are you saying (which w

[2021-02-10 13:56] bimworld commented on #1126
I didn't have a look at the code yetw, I just want to drop an overview of all possible cases:
[https://old.opencascade.com/doc/occt-7.0.0/refman/html/class_geom___geometry__inherit__graph.png](url)

[2021-02-10 16:25] plaes opened #1312 "Assigning IFC class fails after removing all the IFC people"
I'm getting following tracebacks when removing the default "Hari Seldon" user (probably stupid thing to do) and then trying to "Assign IFC class" to an object:

[code]

[code]

[2021-02-10 17:18] tpaviot commented on #1311
Sorry for not being explicit enough. Here is the current trace I get:
[code]
I would expect something like:
``` raise IOError("IFC4x1 is not supported. Schema must be either IFC4X1, IFC3 etc.```

The "unable to open file for reading" log message is too general.  I first suspected problems with geometry conversions, or a wrong filename, before I finally understand that the problem comes from the sc

[2021-02-11 08:07] jc4d opened #1313 "Import second IFC model gives error"
Everytime I try to import a second ifc file, blender throws me this error:
Is this a limitation or a bug?

Python: Traceback (most recent call last):
  File "C:\Users\*******\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addons\blenderbim\bim\operator.py", line 163, in execute
    ifc_importer.execute()
  File "C:\Users\*******\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addo

[2021-02-11 08:11] produxe opened #1314 "Cant get access to ifcpatch"
Ive tried to use a multitude of fixes to get access to the ifcpatch command from my anaconda prompt. I installed ifcopenshell from readme into conda. additionally ive installed only the ifcpatch part but this part tells me to use pyinstaller even though the file structure has changed. How can i access the commands directly in prompt?

Sorry if this is a bad question. Im new to packaging in python.

[2021-02-11 09:08] tldddd opened #1315 "BlenderBIM Importing model 1,000x too far away"
When importing the attached model the location is offset by 1,000x. This causes the model to be imported a very long way from the origin and therefore doesn't import correctly due to being a long way from the origin. The model loads correctly in all other model viewers tested.

The IFC file unit settings are in millimeters
`#4357 = IFCSIUNIT(*, .LENGTHUNIT., .MILLI., .METRE.);`

An example point i

[2021-02-11 09:15] aothms commented on #1314
How did you install precisely? depending on the method you might simply have an outdated version that doesn't have IfcPatch.

Downloading the 0.6 zip from http://ifcopenshell.org/python is a guarantee you have the latest version.

[2021-02-11 10:10] Krande commented on #1162
Hi, I was going to propose github actions as an alternative, but I see from #1306 that this is already in the works :) I might see if I can make a windows-build equivalent using github actions, but so far I am struggling a bit with using the VS developer cmd to work in github actions.

@Moult Slightly related to this, I did experiment with a end-to-end pipeline for a blender addon that contains a

[2021-02-11 10:23] jc4d commented on #1315
It just happened to me as well in a current project. Sadly I have to rely on other apps to bring ifc models into Blender.

[2021-02-11 10:35] aothms commented on #1162
hold off on this for a while, I have a reasonable working ansible playbook now, I just need to clean up the repo (remove secrets) and then I can put it online.

[2021-02-11 10:44] Moult commented on #1308
If this is a feature request, just a heads up that the BlenderBIM Add-on already has the ability to add attributes to SVG elements based on IFC data. I would therefore recommend that instead of hardcoding this to area (unless it is an OCC-calculated area), then should instead by a more generic solution similar to how it works in the add-on, where any data, area or otherwise, could be added.

[2021-02-11 10:46] Moult commented on #1312
On IFC2X3, this is not a bug, as people are required. I would instead encouraging editing Dr. Hari Seldon to your own name :)

In IFC4, this is indeed a bug.

A heads up that I am extremely busy this week and do not have time to address these bugs immediately, but thank you so much for your report and I will certainly fix them!

[2021-02-11 10:48] Moult commented on #1315
Blender attempts to autodetect poorly geolocated models but sometimes, such as in this case, it fails. I will add an import option to specify a custom offset to accommodate this. I will also see if I can make the guessing mechanism faster.

A heads up that I am extremely busy this week and do not have time to address these bugs immediately, but thank you so much for your report and I will certainl

[2021-02-11 10:53] Moult commented on #1314
The pyinstaller line is misleading, I consider this a bug and I will fix it.

In addition, IfcPatch was recently changed from a single script into a module (i.e. a directory). As it is now a module, the way we package it has to change. This is also a bug :)

If you're after a quick fix, you can grab it as a single script at this point in history: https://github.com/IfcOpenShell/IfcOpenShell/tree/8

[2021-02-11 10:54] Moult commented on #1313
I believe this has already been fixed in https://github.com/IfcOpenShell/IfcOpenShell/commit/04a2949d75c837ee38b51451b5e3bb0e4e3d5e8c - the fix will be out in the next release, or you can patch it now yourself.

If that patch doesn't work for you, let me know :)

A heads up that I am extremely busy this week and do not have time to address these bugs immediately, but thank you so much for your rep

[2021-02-11 10:57] Moult commented on #1162
@Krande cool trick! That would definitely be useful for the BlenderBIM Add-on. Would you be interested in building the feature?

[2021-02-11 11:06] Krande commented on #1162
@Moult Sure, I can give it a go! I probably need some help with the blenderbim compile steps though.

[2021-02-11 11:07] produxe commented on #1314
Thank you, it worked with an older version of ifcpatch! how can i install the module so that i dont need the location of the python file? @Moult

[2021-02-11 11:27] aothms commented on #1162
https://github.com/IfcOpenShell/IfcOpenBot exists now, Krande you have write access

[2021-02-11 11:49] htlcnn commented on #1314
I guess you just need to copy the folder to your python's
libs/site-packages/ folder

On Thu, Feb 11, 2021, 18:08 produxe <notifications@github.com> wrote:

[2021-02-11 12:08] jc4d commented on #1313
Thanks for the fast response :)
I opened the import_ifc.py and changed it following your fixing and reloaded Blender. Sadly didn't work, I bet I did something wrong :D

![image](https://user-images.githubusercontent.com/35140348/107634221-dd030900-6c71-11eb-84c3-7493e6223ac9.png)

[2021-02-11 12:39] produxe commented on #1314
If i do that then i get "cant find '__main__' module in 'ifcpatch' when i run "python ifcpatch " in anaconda prompt. do you know the reason @htlcnn ?

[2021-02-11 13:25] Anish-Russel opened #1316 "TopoDS_Solid Sphere Serialization failed!"
Hello,
I created a Speare using open cascade functions and tried to serialize it using the _**IfcGeom::serialise**_ function. But it fails. I have inserted the code below. Am I doing anything wrong? Can anyone guide me?

`int sub_routine() {
Standard_Real R = 30;
TopoDS_Solid Sphere = BRepPrimAPI_MakeSphere(R);
IfcUtil::IfcBaseClass *serial = IfcGeom::serialise("Ifc2x3", Sphere, false);
if (serial

[2021-02-11 14:42] htlcnn commented on #1314
You can import it into other script. It is not written as a module.
[code]

[2021-02-11 15:02] produxe commented on #1314
Thanks that works :)

[2021-02-11 15:12] aothms commented on #1316
You cannot serialize a sphere in Ifc2x3, the entities (Advanced BRep) are simply not there in the schema. You have to use IFC4 or higher or use tesselate(). Periodic surfaces might work, but are not fully implemented yet in terms of proper IfcSeamCurve and PCurves, which might be necessary by some importing applications (if you can find them, adv brep is not well supported yet in software).

[2021-02-11 15:42] bidinzky commented on #1308
@aothms

it's both :D. I was just wondering if someone has already tought about this and if you would accept something like this.

[2021-02-11 22:30] Moult commented on #1162
@Krande there is a Makefile in `src/ifcblenderexport`. Just do `make dist PLATFORM=linux`. Other platform options are `win` and `macos`. No compilation required. It just downloads and bundles binaries.

[2021-02-11 22:37] Moult commented on #1313
@jc4d it looks like you did it correctly ... did the error message change? If it is still broken, send me a message on the OSArch live chat (https://osarch.org/) during Sydney waking hours or let's organise a time during sydney waking hours to screenshare and debug this. We can meet online using https://meet.jit.si/openbim

[2021-02-11 22:39] Moult commented on #1314
I'm reopening this issue since the new IfcPatch in a directory still needs to packaged in a way that people can easily create a command that they can run instead of running it from Python.

@htlcnn would you be interested in fixing this? It would be similar to how bimtester is packaged I guess.

[2021-02-12 02:57] htlcnn commented on #1314
@Moult It's Lunar New Year here. I'll do it after the holiday if it's not urgent.

[2021-02-12 03:48] Moult commented on #1314
Happy new year! No rush at all :)

[2021-02-12 05:38] jc4d commented on #1313
The only thing that changed is the line were the error happens, now is in the line 321

Python: Traceback (most recent call last):
  File "C:\Users\jcfna\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addons\blenderbim\bim\operator.py", line 163, in execute
    ifc_importer.execute()
  File "C:\Users\jcfna\AppData\Roaming\Blender Foundation\Blender\2.91\scripts\addons\blenderbim\bim\impor

[2021-02-12 09:49] Krande commented on #1162
So I made a test-release for blenderbim on linux on my fork here:

https://github.com/Krande/IfcOpenShell/releases/tag/blender28-bim-210212-linux

I will try to create a multiplatform build when I find some time :)

BTW! I had to make a small edit to the makefile:

https://github.com/Krande/IfcOpenShell/blob/57b6f7df16b04f82a49ac1732a73bbc7fff952ed/src/ifcblenderexport/Makefile#L108

Basically cha

[2021-02-12 23:05] Moult commented on #1313
@jc4d ah that sounds as though you had existing IFC elements in there from a totally different IFC file, and then are now importing from yet another IFC file. That can cause your bug. I'll put out a fix.

[2021-02-12 23:09] Moult commented on #1314
With the very speedy PR by @htlcnn https://github.com/IfcOpenShell/IfcOpenShell/pull/1317 - I _believe_ now you can just do `alias ifcpatch='python -m ifcpatch'` and then you can run it as a command. (correct me if wrong)

However, I think we should also cater for another scenario where we want to distribute IfcPatch as a prepackged binary. In this case, @htlcnn would you be interested in checking

[2021-02-13 02:44] bluetw opened #1318 "Can't install blenderbim v0.0.210131"
I keep getting an
`AttributeError: module 'parse' has no attribute 'Parser'`

I've tried installing it on a 2.82 and 2.91 version of blender, I get the same errors.
I've tried installing it on clean, newly installed versions of blender, still no luck.
I've also tried clearing the addons folder, same error.

I'm running Ubuntu 18.04

[2021-02-13 05:15] Moult commented on #1300
It seems as though this is missing in IFC2X3? I may need to just make something up :)

https://forums.buildingsmart.org/t/where-are-correct-type-relationships-described-in-ifc2x3/3345

[2021-02-13 06:13] htlcnn commented on #1314
@Moult what command are you using? I'm not very familiar with pyinstaller. I tried with this spec:
[code]
it built successfully and I was able to run `ExtractElements` recipe (I added `'ifcopenshell.util.selector'` to `hiddenimports` because `ExtractElements` used it). But I'm afraid for other recipes, it depends on what libs they import so that we have to add them to `hiddenimports`.

[2021-02-13 06:17] Moult commented on #1314
This _was_ the command that I was using - https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/__init__.py#L2 but clearly it no longer applies. Are you sure there isn't a simpler solution?

[2021-02-13 06:23] htlcnn commented on #1314
Actually that's the spec file generated with the command `pyinstaller ifcpatch/__init__.py --one-file`, then I edited it to add hiddenimports and Tree. It seems they can be added as arguments to the first command. Let me try more.

[2021-02-13 06:39] Moult commented on #1314
Awesome - when you've worked it out, is it possible to create a `Makefile` so that we can run `make dist` and that'll create a standalone. Then, hopefully we can get it auto built :)

[2021-02-13 06:42] htlcnn commented on #1314
@Moult here's the command:
[code]
`--add-data` src/dst separator is `;` on Windows, `:` on Linux. I still had to add `--hidden-import` just to make it work with `ExtractElements`. There's `-p` to add search path, I think we have to use some piping in the terminal, then it depends on what terminal we use (on Windows or Linux)
The arguments are described here: https://pyinstaller.readthedocs.io/en/s

[2021-02-13 06:58] Moult commented on #1314
@htlcnn a platform arg can be fed into the Makefile so it can be run like `make dist PLATFORM=win` or `make dist PLATFORM=linux` and that'll run the appropriate pyinstaller command.

[2021-02-13 07:00] htlcnn commented on #1314
@Moult how about hidden imports?

[2021-02-13 07:02] Moult commented on #1314
@htlcnn I think hidden imports makes sense. We don't have that many recipes right now so a quick skim through should be enough to know what we are importing.

[2021-02-13 07:27] #1300 closed

[2021-02-13 07:30] Moult commented on #1300
I built a hacky thing just for a quick solution, but happy to rebuild later if/when https://github.com/opencax/GSoC/issues/31 gets solved :)

[2021-02-13 07:36] htlcnn commented on #1314
@Moult I'm not familiar with Makefile syntax, can I make a `make.py` file to:
- Collect external libs in recipes
- Call pyinstaller to build?

[2021-02-13 08:00] Moult commented on #1314
Sure :)

[2021-02-13 08:26] jc4d commented on #1313
@Moult Yes, I first import one ifc file and then I try to import a seconf ifc file to the same blender file where the first one is imported and this is the problem. Sorry if I wasn't clear enough before :)

[2021-02-13 08:52] htlcnn commented on #1314
@Moult after google around, I find it easier to define hidden imports in a list. Here's my code. If it looks ok, I'll create a PR
[code]

[2021-02-13 09:18] Moult commented on #1314
@htlcnn looks good! Go for it!

[2021-02-13 09:24] Moult commented on #1314
Thanks so much @htlcnn ! Closing bug!

[2021-02-13 09:24] #1314 closed

[2021-02-13 10:26] Moult commented on #1313
@jc4d the general approach I've taken is to have 1 Blend file = 1 IFC file, and then link it all into a master Blend file. Is that something you might consider?

[2021-02-13 12:13] jc4d commented on #1313
Is what we have been trying to avoid since we normally deal with +15 separated ifc files and doing my hand, importing each one saving each one and the manually looking for the rigth collection is so much time consuming that budget timed projects will go into that only.
I tried dragging many files into one blender file but only one is brougth.

[2021-02-13 15:11] aothms commented on #1300
@Moult

We do have where rule tokenization, so we can add a (let's say) where_rule_by_name() function to the schema decls that just spits out the where rule as a string. Maybe it makes the solution a little bit hacky as you don't need to pregenerate jsons, but can just do it from the internal schema rep in ifcopenshell? Let me know if you're interested and I can quickly add that.

Also a quick hea

[2021-02-13 17:20] theoryshaw opened #1320 "BlenderBIM: parametric dimensions strings"
Related to #1153 and I'm sure it's on the roadmap, but thought I'd start an issue for atomized discussion and tracking.

Undoubtedly part of _**making construction drawing generation like, really, really awesome**_, would be to have parametric dimensions strings. :)

Something, perhaps, similar to the animation below.
Perhaps a future roadmap could even include using the dimension string to enter

[2021-02-13 23:39] theoryshaw commented on #1320
somewhat related to #1142

[2021-02-14 06:00] Moult commented on #1318
A few people have reported this and it puzzles me.

Can you screenshot what's inside your Blender add-ons dir (on Windows this is `C:\Users\you\AppData\Roaming\Blender Foundation\2.91\scripts\addons`), as well as what's inside the `blenderbim/libs/site/packages/` folder? Do you see a `parse.py` file there? Do you see a `blenderbim/libs/site/packages/parse_type/` folder? Can you also screenshot wha

[2021-02-14 06:05] Moult commented on #1223
Closing bug due to lack of feedback. Also likely upstream / OS-specific issue.

[2021-02-14 06:05] #1223 closed

[2021-02-14 06:27] #1313 closed

[2021-02-14 06:29] Moult commented on #1313
This is now fixed, but keep in mind that the current design only allows a single IFC file to be in memory at once. This is an annoying limitation but not critical to fix this bug. For the moment, you will need to browse to the appropriate IFC file in the IFC Project panel if you want to view data from that particular project.

The situation will be improved in coming releases, but at least for now

[2021-02-14 06:30] Moult commented on #1315
@jc4d can you share your file where you encountered a similar issue? Then I can fix it.

[2021-02-14 06:31] Moult commented on #1315
A heads up that you can use the ExtractElements IFC Patch recipe as a great way to strip out single or a subset of elements for debugging scenarios just like this.

[2021-02-14 08:53] jc4d commented on #1315
I will ask tomorrow at the office if I can share a small file since we deal with sensitive information.

[2021-02-14 16:28] theoryshaw opened #1321 "BlenderBIM: Have the imperial dimension decorations show fractions in 3d viewport"
This is somewhat of a minor priority, but thought I'd log nonetheless, as it's might be a good first issue

![image](https://user-images.githubusercontent.com/507113/107882458-170d1e80-6eaf-11eb-8bd5-7699599f445a.png)

[2021-02-14 16:32] aothms commented on #1276
I've made some progress on this issue:

* 08576e28 fixed boxed enum validation
* b3f581d7 Handle boxed enum creation in Python
* 89d6b3d2 Fixes for RC2 changes re IfcPoint and IfcSegment
* d2bf2cf4 Pick RC2 definitions where required
* 43b2982d fix char encoding issue in source
* e750a134 Add generated rc2 schemas
* 6bbbc528 prep for 4x3_rc2
* 7f4a4367 regen schema
* e6592ca7 conversion rules for

[2021-02-15 01:43] bluetw commented on #1318
I'm not exactly sure how the install function on blender works, but installing any addons using the GUI doesn't unpack the contents in the `/scripts/addons` folder, but instead in the `~/.config/blender/2.x/scripts/addons/blenderbim` folder. This may be a side effect of using multiple versions of blender via unpacking their zip files instead of installing with a package manager, but once again, I

[2021-02-15 10:15] aothms commented on #1311
I think both things are addressed now with both commits

[2021-02-15 15:59] JakkoH commented on #668
This is exactly what i'm looking for. Especially when moving to the exploitation phase of construction, it would be wise to know explicitly which 'network' of ifc models create the federated model. Problem is otherwise not to know if the federated model is complete or which models might be impacted by each other.

I searched a bit, but currently there is no update on this yet?

[2021-02-16 06:01] tpaviot commented on #1311
Absolutely, successfully tested.

[2021-02-16 06:01] #1311 closed

[2021-02-16 07:11] Moult commented on #1321
There was a conscious decision not to do this, due to the potential lag it may cause as it needs to be calculated on each frame update, see: https://github.com/IfcOpenShell/IfcOpenShell/issues/1164

We may revisit this in the future.

[2021-02-16 07:13] Moult commented on #1321
Ping @qwiglydee can you check how painful this actually is in terms of performance? Can we live with the Python implementation? Maybe this is worth an upstream bug?

[2021-02-16 07:16] Moult commented on #1318
So far everything looks fine to me. @bluetw would you be available for a screenshare? I'm available during Sydney waking hours. When works best for you? We can meet on https://meet.jit.si/openbim

[2021-02-16 07:17] Moult commented on #1250
Closing due to lack of response.

[2021-02-16 07:18] Moult commented on #1129
Closing as it probably isn't vital to implement Blender-native clashing to BCF for now.

[2021-02-16 07:18] #1129 closed

[2021-02-16 07:20] Moult commented on #900
Closing as the refactor makes this form of editing obsolete. It will be replaced with gizmo-based native IFC editing.

[2021-02-16 07:20] #900 closed

[2021-02-16 07:53] Moult commented on #1315
Fixed. I suspect this should also fix your issue @jc4d . Sorry, it was a regression in this release.

[2021-02-16 07:53] #1315 closed

[2021-02-16 07:56] Moult commented on #1012
When the BlenderBIM Add-on migrates from its alpha version to a beta version late this year, then this will be revisited.

[2021-02-16 15:21] bdaniere opened #1322 "Encoding error : wstring_convert::to_bytes"
Hi,

I'm encountering encoding problems when opening IFC files.
Problems were not detected at the time of reading but prevent some treatments afterward:
(I've put the few errors in a sample_wall.ifc as an attachment)
[simple_wall.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5989597/simple_wall.zip)

[code]

For the moment, these blocking problems concern 3 characters :
     - "°": I add

[2021-02-17 07:35] bluetw commented on #1318
Sure! Are you available around 5pm Sydney time tomorrow? Thank you!

[2021-02-17 07:38] Moult commented on #1318
@bluetw yes. Alternatively, I am online for the remainder of tonight. You can go to the live chat at osarch.org and send me a message.

If that doesn't work for you, happy to be online at the jitsi link at 5pm tomortow.

[2021-02-17 09:36] qwiglydee commented on #1320
### Desired usecases and workflows

Need to be specified.
The animation is cool, but not quite comprehensive.

### My vision of functionality

1. measurement annotations:
    - indicate some dimension of existing geometry (of one or multiple objects), which is a calculated value
    - have a lable and a geometric shape consistent with the dimension
    - should track changes of a created geometry

[2021-02-17 10:11] cvillagrasa opened #1323 "BlenderBIM: IFC project appears as if not having been created upon reopening"
Hi! I might be missing some obvious required step, since I just started using BlenderBIM.

What I'm experiencing is that after saving and reopening Blender, the Scene and Object tabs appear as if the IFC project or any IFC class for the objects had not yet been setup, while the scene tree still looks OK.

![Selection_026](https://user-images.githubusercontent.com/57069798/108187512-d6134500-710e-1

[2021-02-17 11:13] Moult commented on #1323
The latest version has a rather different paradigm shift, and the UX hasn't yet quite been polished to guide users to the right usage of the add-on just yet, so it's not your fault :)

Saving the Blender file only saves the ... well, the Blender file. The actual BIM model is not Blender, instead, it's stored in IFC. Therefore, you need to export your IFC file too. Then, Blender will be able to rem

[2021-02-17 11:14] Moult opened #1324 "Create a gizmo for extrusion depth"
Inputs are a coordinate (let me know if global vs local is better for you), and a vector, and a magnitude.

[2021-02-17 11:29] cvillagrasa commented on #1323
Awesome! indeed, after exporting an IFC file once, everything works as expected.

Thanks Dion.

[2021-02-17 11:30] #1323 closed

[2021-02-17 11:54] johntedharvey commented on #1318
Hi guys.
Has this been resolved yet?
I have the same issue.
regards
John Harvey

[2021-02-17 12:22] Moult commented on #1318
@johntedharvey no - I will be online at https://meet.jit.si/openbim at 5pm Thu Feb 18 Sydney Australia timezone to screenshare and debug with @bluetw . If you are able to screenshare with me earlier than that during a Sydney waking hour, let me know and I'll be online. I'm going to sleep now, but will be available 8:30am onwards tomorrow.

[2021-02-17 12:40] johntedharvey commented on #1318
Hi Dion.

Thank you for your reply. I will be in touch.

regards
John

On Wed, 17 Feb 2021 at 14:22, Dion Moult <notifications@github.com> wrote:

[2021-02-17 13:25] JanFilipec commented on #1320
Well this system already works in FreeCAD Sketches Solver.

![2](https://user-images.githubusercontent.com/67052298/108208957-fd2b4000-7129-11eb-84fc-fcdb4c9f819c.gif)

Revit (wehre the original gif comes from) uses some magic in my experience - it tries to guess what you are actually trying to change. Freecad is a lot easier to control precisely, but the user need to put in a lot more effort.

I

[2021-02-17 13:45] theoryshaw commented on #1320
This is great @qwiglydee.

I can see the logic of starting with step 4 and working backwards as @Moult mentions [here](https://matrix.to/#/!FORymwGwqHJnZDpjSI:matrix.org/$UpK3juntrlMikk6frzROyzHzO8bFjsq3vFBdVdf00o4?via=matrix.org&via=fosdem.org&via=tchncs.de).

I would like to ping @yorikvanhavre and @aothms into this conversation as well to get their perspective on what this particular IFC conven

[2021-02-17 14:04] aothms commented on #1322
It's not valid in IFC(-SPF) to have character bytes above 0x7e. It's strictly ASCII. It needs to be encoded in a special way using code pages or \X2  / \X4 for unicode, see below:

[code]

[2021-02-17 15:50] aothms commented on #668
I have been discussing this informally with others in the community and the main issue people see with this approach is that it requires naming anchors specifically. This works well for the case presented here such as building storeys of which there are a well-defined handful. But does not work so well for other federated model use case such as attaching a propertyset to nearly every element in th

[2021-02-17 22:02] qwiglydee commented on #1320
@JanFilipec

It seems like I'm just too blender-minded in that matter.

The way objects are usually created in Blender is totally chaotic compared to CAD.
Internally, a geometry is just a pile of random vertices and faces, that don't even need to be consistent in any way or to form a manifold mesh.
It's like when a circle is created, it has no radius, because it immediately becomes just a bunch of

[2021-02-17 22:30] Moult commented on #1320
In short - @qwiglydee is absolutely right that geometry in Blender is super flexible compared to the CAD world. For better or for worse, it's better for expressive modelling, and worse for simple, precise things like annotating dimensions.

Rather than reverse engineering simplicity out of the mishmash of vertices that Blender gives us out of the box (which I tried during the first year - @theorys

[2021-02-17 23:29] Moult commented on #1294
Let's make a call that if https://github.com/behave/behave/pull/903 isn't merged within 20 days, we swap out the Makefile to pull in @rbertucat 's fork of behave instead?

[2021-02-18 00:02] theoryshaw commented on #1324
Whatever these gizmos are, would be nice if there was a way to modify them en masse, if possible.
Perhaps drawing some marque around them, and then moving them.
![2021-02-17_17-58-08_blenderBlenderblender](https://user-images.githubusercontent.com/507113/108284057-12b06200-714a-11eb-82a9-d8f2a7355f44.png)

[2021-02-18 00:51] htlcnn commented on #1324
@theoryshaw is that visible when you enter Edit Mode, select the faces and use Move tool on the left?

[2021-02-18 00:55] Moult commented on #1324
@htlcnn that is valid for meshes, but not valid for parametric IFC geometry (not even Blender modifiers), of which the gizmos are addressing.

[2021-02-18 03:42] theoryshaw commented on #1324
perhaps a way to assign what it's relative to.

sorry, couldn't help myself. :)

![image](https://user-images.githubusercontent.com/507113/108302045-cfb1b700-7168-11eb-891b-4f59049474ea.png)

[2021-02-18 05:32] bluetw commented on #1318
Hey @Moult, the most peculiar thing happened today. I had to restart my pc a couple of times and the addon now works on blender 2.92. Unfortunately, it still shows the same error in 2.82. I've installed nothing, nor have I tinkered with any of my settings/installations. What could a possible problem be? Was it really just as simple as turning my computer on and off?

[2021-02-18 05:58] Moult commented on #1318
@bluetw perhaps... i'll be online in a couple minutes at https://meet.jit.si/openbim so hopefully you can demonstrate the problem on 2.82 and that can help narrow it down.

[2021-02-18 06:45] #1318 closed

[2021-02-18 06:47] Moult commented on #1318
A short explanation to those who come across this - the Blender-OSM add-on defines a module named parse, which clashes with the parse module required by behave (pulled in by BIMTester). We can't fix the name clash, at least I'm not aware of a solution as none of this code is part of the BlenderBIM Add-on, so at the very least we can prevent an installation failure and warn users.

[2021-02-18 07:09] Moult commented on #1250
Reopened as I just received test files from @Rokorps .

The files were exported by Dassault 3DEXPERIENCE Platform3DEXPERIENCE R2021x HotFix 4.5 IFC2X3.

They contain invalid IFC data - such as missing entities. This is quite a fundamental issue with the IFC and not something that makes sense to workaround. Hopefully Dasasult can help fix their software :)

[2021-02-18 07:09] #1250 closed

[2021-02-18 10:07] RobinVanTol opened #1325 "ifcopenshell-python ifcopenshell.geom.createshape makes incorrect shape"
I was having inconsistent values when saving the size of groups of ifc objects, upon further investigation i found that the shape made by the ifcopenshell.geom.createshape using PYTHON_OPEN_CASCADE = true, to show what i mean i added a screenshot of the shape made by ifcopenshell
![image](https://user-images.githubusercontent.com/38659478/108339277-864c8080-71d7-11eb-91c2-c97e208bd787.png)

as wel

[2021-02-18 11:02] JakkoH commented on #668
Thx for your response Thomas, i see your point. Are there other solutions which ifc provides to relate ifc files to eachother, atleast to kind of know which models are in the federated model? As far as i can come up with otherwise is the IfcDocumentReference. Another option would be using an other system to gather track of the related models, e.g. an ontology describing it, however you would never

[2021-02-18 12:24] qwiglydee commented on #1324
This should be another pseudo-mode.
We can implement it with modal operators, similar to those already exist:
![Screenshot_20210218_191303](https://user-images.githubusercontent.com/285128/108356387-a5bacc00-721e-11eb-930a-69b7d803a92b.png)

I believe there's no need to mess with edit mode with all the vertices and stuff, and yet another internal mesh representation.

[2021-02-18 12:52] RobinVanTol opened #1326 "Python 2 doenst have the ModuleNotFoundError, which cause the program to crash with a NameError, using ImportError works"
https://github.com/IfcOpenShell/IfcOpenShell/blob/a0f79cc0db2404a77d1ff794cdd3b87fe822aa3c/src/ifcopenshell-python/ifcopenshell/geom/occ_utils.py#L32

[2021-02-18 13:01] qwiglydee commented on #1324
@Moult
Perhaps, it would be better if I work not on gizmo alone, but on operator to create and modify an extrusion straight in IFC.
Because I need to have some real use cases in mind (and not rely on my Blender-centric ideas).

[2021-02-18 14:55] aothms commented on #1326
Nice find. Can you submit a Pull Request for this? Thanks.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op do 18 feb. 2021 13:52 schreef RobinVanTol <notifications@github.com>:

[2021-02-18 15:26] aothms commented on #668
I think that last option is the most realistic. Like  Information Container
for Data Drop ICDD for example.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op do 18 feb. 2021 12:03 schreef JakkoH <notifications@github.com>:

[2021-02-18 15:38] RobinVanTol commented on #1326
i dont have permission to push a new branch to make a pr with

[2021-02-18 16:14] aothms commented on #1326
The procedure is that you create your own fork on github and push to that.
Creating a PR is a matter of a single click on github then. Thanks

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op do 18 feb. 2021 16:38 schreef RobinVanTol <notifications@github.com>:

[2021-02-18 19:51] Moult commented on #668
The main advantage of the STEP anchors/references is that it allows data be referenced from different files, which prevents duplication for both efficiency and to prevent duplication errors. This request is not to do with model federation, which to me is a separate, but much simpler issue (but is solved by coincidence via the `ISO-10303.p21` root file in this proposal). Most federated models do no

[2021-02-19 09:05] aothms commented on #1325
Upon seeing those two screenshots I don't have a clue where to start.

@Moult has an https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/recipes/ExtractElements.py script for that.

[2021-02-19 09:49] aothms commented on #1318
Maybe there is way you can temporarily hack the `sys.path` (not to be confused with $PATH) to exclude other addon directories when doing the blenderbim import statements. And then restore the path afterwards. Also you might have to hack `sys.modules` to force it reimport the behave.parse when the OSM.parse already is loaded. It's ugly, but I think there must be a way to get this to work.

[2021-02-19 10:15] johntedharvey commented on #1318
Hi Dion.

Thanks for copying me in on this.
I haven't had a chance to read through yet. I Will do this tomorrow.

regards
John Harvey

On Thu, 18 Feb 2021 at 08:47, Dion Moult <notifications@github.com> wrote:

[2021-02-19 12:31] aothms commented on #1308
@bidinzky yeah sure, definitely, in general we're not very strict as it comes to accepting contributions as we realize there is a lot of different approaches to managing openbim data. We have this adhoc thing now called -print-space-areas btw that's a bit similar, but adds it as text https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/serializers/SvgSerializer.cpp#L1007

[2021-02-19 17:01] tpaviot opened #1327 "Experimental conda packages for ifcopenshell v0.6.0 dev branch"
I built experimental conda packages for ifcopenshell branch 0.6.0 latest commit. It will be easier for everyone to follow the most recent developments and test the package.

It is available from my own anaconda channel:
[code]

(the commit number is appended as a suffix to the branch name to build the version identifier). It is currently built with most options (but not the Collada support), again

[2021-02-19 20:23] FreakTheMighty commented on #1258
@aothms it seems that enabling our new flag `STRICT_TOLERANCE` avoids the segfault, while disabling it reproduces it.

`ifc_openshell_settings.set(ifc_openshell_settings.STRICT_TOLERANCE, True)`

[2021-02-19 21:44] Moult commented on #1293
Closing bug, assuming fixed.

[2021-02-19 21:44] #1293 closed

[2021-02-19 21:46] Moult commented on #1318
I'm generally against magic hacks - given that this is BIMTester, not the core BlenderBIM functionality, and that it's pretty uncommon (i.e. only OSM, which is not vital to be loaded all the time too) - I'll try to leave it without hacks as long as possible.

[2021-02-19 23:27] #1312 closed

[2021-02-20 04:16] Moult commented on #1323
There is now a check when you save to make sure others don't run into this same issue.

[2021-02-20 06:35] qwiglydee commented on #1321
The function itself is 5.5 times slower.
It slows down rendering by 8%. Quite noticeable, but definitely not severe.

The bottleneck is text labels rendering.
Overall handler execution time profile looks like this: handler stuff: 8%, extracting data: 5%, drawing: 27%, labeling: 48%, formatting (bl.utils, imperial): 12%

[2021-02-20 09:43] aothms commented on #1276
The latest builds on the website should have this functionality available now

[2021-02-20 09:50] aothms commented on #1086
Ok, my plan is the following:

I'm going to push back the 0.7.0 version branch we have now to 0.8.0 because it would take a long time for that to get stable.

We create a new 0.7.0 branch with a couple of (backwards incompatible or invasive) changes (but otherwise fairly stable):

* Logical -> boost tribool
* C++ Optional attribute access function to return boost::optional<> as opposed to hasName(

[2021-02-20 09:52] aothms opened #1328 "Link IfcOpenShell/svgfill into IfcConvert"
also the svgproject.py currently implemented in python.

[2021-02-20 09:52] aothms opened #1329 "Caching of breps and triangulations using HDF5"
This is partly underway in the current HDF5 branch.

[2021-02-20 09:53] aothms opened #1330 "Restructuring and renaming on the C++ side"

[2021-02-20 09:54] aothms commented on #1330
Aim is to prevent ambiguity between IFC classes and ifcopenshell classes. So no more ifcopenshell classes that start with camelcased Ifc: `IfcParse::IfcFile` -> `ifcopenshell::io::file`

[2021-02-20 09:55] aothms opened #1331 "More efficient inverse attribute mapping"
Now we have a map int -> int, so the attribute index and entity type need to filtered later on and make this (int, int, type) -> int, so that the mapping can feed the inverse attribute function directly.

[2021-02-20 09:55] aothms opened #1332 "Proper handling of inverse attributes on attribute reassignment"

[2021-02-20 09:56] aothms commented on #1086
And @Moult do you think we can do a simultaneous BlenderBIM alpha and IfcOpenShell v0.6 final release? Or are the timelines too different?

[2021-02-20 10:10] aothms opened #1333 "Template programming for schema independent code"
If you case to IfcBaseEntity, you can use the latebound attribute access:

[code]

Otherwise you can do some sort of if statement (but it's ugly) either with

`dynamic_cast<Ifc2x3::IfcSpace>`  or `dynamic_cast<Ifc4::IfcSpace>`

Or with `space->declaration().schema()` (I think)

We could also think of some sort of visitor:

[code]

But in that last approach it would be nice to be able to reuse it t

[2021-02-20 10:21] aothms commented on #1333
This is another approach by @Vertexwahn https://github.com/tumcms/OpenInfraPlatform/blob/master/EMTCodeGen/CodeGen/EMTIfcEntityTypes.h

[2021-02-20 10:24] Moult commented on #1086
What did you have in mind for a simultaneous release? Given that the BlenderBIM Add-on is still in alpha, I still see frequent releases (i.e. every 2-3 weeks - in fact I plan to release tomorrow). My current plans are to fix as many bugs as possible after the refactor, and then attempt to fix some UX issues to make it easier to use (the refactor makes the workflow a little less fluid as actions ne

[2021-02-20 10:34] aothms commented on #1086
Nothing much, the weight you give it would be up to you, but practically since we work in the same branch, it would also mean that we update the default branch on the repo and we would both be committing there. That kind of stuff.

[2021-02-20 23:36] Moult commented on #1086
Ah probably no need to stress about it too much whilst the BlenderBIM Add-on is still in alpha. When it is ready for beta, more weight can be given. Let me know when to make the switch :)

[2021-02-20 23:40] Moult commented on #1162
@Krande sorry for the late reply. That looks odd, is the "2.7" a reference to Python version 2.7 by any chance? If so, that probably needs further investigation.

This is great! Can you let me know how you created this? I have never used Github Actions before. It would be great to have more frequent builds!

[2021-02-21 08:06] Krande commented on #1162
Ah, yes. How embarrassing :) I forgot to change the github actions default python version (which by default is py27). I fixed it now (also changed to ubuntu as a build platform for all three versions) and it is producing all three variants of the blenderbim addon (win, linux and macOS) upon push to branch (I tested the windows release and it worked fine).

We can also define unique commit phrases

[2021-02-21 13:03] cvillagrasa commented on #1323
Thank you! I had already closed the issue since I didn't consider it a real bug for alpha software.

I've tried to test the new check but somehow I am unable to git clone the repo and make it work. I get some problem either importing `ifcopenshell.util.type` or `file_open_status from ifcopenshell.ifcopenshell_wrapper`, depending on whether alongside blenderbim, I also update ifcopenshell-python fi

[2021-02-21 13:14] cvillagrasa commented on #1323
Wow, I see that version 210221 is already out, that was definitely quick.

It now works!

![imagen](https://user-images.githubusercontent.com/57069798/108626142-f7499d80-744e-11eb-96e8-d2b183531a93.png)

[2021-02-21 14:55] theoryshaw commented on #1283
Seems like it's still an issue: https://www.dropbox.com/s/z9de6hmybrq9jub/2021-02-21_08-53-33.mp4?dl=0

2.91 - 210221-win

[2021-02-21 15:04] #1326 closed

[2021-02-21 15:08] theoryshaw commented on #1283
nevermind, i see you have to start an IFC project first.

[2021-02-21 15:26] theoryshaw opened #1336 "BlenderBIM: The IFC structure in past BlenderBIM files is not recognized upon opening in Blender."
The IFC structure in past BlenderBIM files is not recognized upon opening in Blender.

random file example: https://gitlab.com/osarch/FreeMVD_WorkFlow/-/blob/93d2fb7c652fd03e2adc07284bb338171d40c7a9/Random%20Tests/Wall_Zigzag/from_Blender/Wall_Zigzag_01.blend

2.91 - 210221-win

![image](https://user-images.githubusercontent.com/507113/108629600-5810b000-7426-11eb-9779-51421d390271.png)

[2021-02-21 20:38] theoryshaw opened #1337 "BlenderBIM: improving connection between attributes in 'Object Properties' and the 'Outliner'"
When changing the name in (2) it automatically changes it for (1), but does not do the inverse. That is, changing (1) doesn't automatically change (2).

![image](https://user-images.githubusercontent.com/507113/108637791-cae35080-7451-11eb-8a23-dbd25813426f.png)

[2021-02-22 11:05] Moult commented on #1325
@RobinVanTol ah yeah sorry for the undocumented usage. IfcPatch is a little wrapper that lets you run predefined "recipes" to modify an IFC file in a predetermined way. I've now added documentation here:

https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src/ifcpatch

Let me know if it isn't clear enough. I do need to document each recipe in more detail in the future.

[2021-02-22 13:24] RobinVanTol commented on #1325
@Moult That helps a ton, thanks a lot. I made a file that only contains ifc door elements and this is already much smaller however it's still a 50 mb ifc file, i would like to reduce it further if possible, could you specify how i would get a single ifc object by guid, further explanation on what the arguments can be in the readme would also be nice.

[2021-02-22 14:24] harrycollin opened #1338 "Documentation on how to use IfcClash"
Hello everyone,

I was interested in using IfcClash, but being new to relatively Python I'm not sure how to do that. How does it relate to IfcOpenShell in this repository? Does it get compiled with it or is it a separate tool?

Any help on this would be really appreciated :)

[2021-02-22 16:01] JanFilipec opened #1339 "IFC Search ignoring case"
This is a tiny thing, but cetainly confusing-the search ignores case of the searched term, but not of the Attribute so:

Object: Name=Wall

Search: Name=wall finds
Seach: NAME=Wall doesn't

[2021-02-22 22:39] Moult commented on #1325
@RobinVanTol the readme links to https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples#IFC_Query_Syntax which describes the query syntax. To query a single GlobalId, just prefix it with a `#`, like `#2MLFd4X2f0jRq28Dvww1Vm`.

Other recipes have different arguments, so indeed I need to spend some time and document them all.

Good catch about the log. Would you be interested in helping

[2021-02-22 23:17] Moult commented on #1339
Hmm yeah - that is how the "Ignore case" option is meant to work - it ignores the case of your search keyword, not the filter... I'm not sure quite how I feel about this. Attributes are case sensitive I believe, so are property set names and property names, so making it case insensitive can create issues (though admittedly I've never seen such a scenario in practice).

Thoughts, @aothms ?

[2021-02-22 23:21] Moult commented on #1338
ifcclash uses IfcOpenShell, as well as another library called fcl. At the moment, the easiest way to use it is through the BlenderBIM Add-on UI. This might help: https://www.youtube.com/watch?v=99i4leHzUC4

If you're interested in running it via Python, or via CLI, indeed, we need to write some documentation for it! Ping @fbpyr ... keen? :)

[2021-02-23 07:51] Moult commented on #1336
Did you export an IFC? You need to have an IFC exported, otherwise, it is just a Blender file.

[2021-02-23 08:14] rbertucat commented on #1304
OK we could confirm this was fixed. The issue can be closed

[2021-02-23 08:16] #1304 closed

[2021-02-23 08:16] GiuMn commented on #1304
issue fixed. Closed issue

[2021-02-23 08:16] rbertucat commented on #1276
OK we could confirm this was fixed. The issue can be closed.

@aothms is there any documentation supporting the `validate` function please?

[2021-02-23 09:06] RobinVanTol commented on #1325
@Moult ah, i missed that link, my bad, with that it wasn't difficult.

@aothms  I've made a small ifc file containing the element that is displayed incorrectly, in the zip i also added a small script that shows how i visualize the element just in case there is a mistake there

[demo.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/6027800/demo.zip)

[2021-02-23 10:11] fbpyr commented on #1338
@Moult sure, 🙂
@harrycollin here is how it could be done in scripts within blenderBIM (which I also used for an BB addon) :
https://wiki.osarch.org/index.php?title=BlenderBIM_Add-on_code_examples#Clash_Detection

@Moult  let me know, if it should move somewhere else or need to be linked differently.

[2021-02-23 10:24] harrycollin commented on #1338
@Moult @fbpyr Thank you! I will check this out.

[2021-02-23 10:36] harrycollin commented on #1338
If we could write some documentation on how to use it outside of Blender it would be great! As @Moult mentioned - even running it via CLI / Python. I can see in the example that Blender's APIs (bby and bmesh) are used throughout - does IfcOpenShell have what it takes to run this without Blender? I understand this was initially written to work with Blender so I apologise if it's unreasonable.

[2021-02-23 14:36] theoryshaw commented on #1336
![giphy](https://user-images.githubusercontent.com/507113/108858774-29274500-75b2-11eb-9ec3-b65f3032aa99.gif)

[2021-02-23 14:36] #1336 closed

[2021-02-23 18:19] JanFilipec commented on #1339
I'm not quite sure what you mean, is the search algorithm used for something else than the mentioned search function? That it can theoretically lead to elements with different properties differing only in case being selected is hopefully pretty obvious? But being forced to remember the correct capitalization of the properties seems quite exhausting to me.
Anyway for now I would perhaps just sugges

[2021-02-23 19:45] vegarringdal commented on #790
any chance we will be able to get this ?

[2021-02-24 02:18] Moult opened #1340 "IfcOpenBot build for Python 3.9"
In the upcoming Blender version 2.93, Blender will start using Python 3.9. Is it possible to bump the build bot for this?

[2021-02-24 03:12] Moult opened #1341 "Geometry iterator takes 20 minutes to process 80MB file"
Sorry I can't be more informative than this, but I have emailed you the file @aothms - I notice it stays at 1 core for a significant time before spinning up to using the rest of the CPUs as well, this is not what I have experienced in other files. Loading the file takes 5.4s, which makes sense, but the iterator takes a very long time.

Tested with XBim Xplorer and loads in a couple of minutes.

[c

[2021-02-24 03:32] Moult commented on #1338
@harrycollin ah those examples that @fbpyr linked to are a little misleading - they are examples specifically on how to use IfcClash with Blender objects. However, if you are using IfcClash just with IFC, then no need to use any Blender. IfcClash by itself has no dependency on Blender.

@fbpyr I recently wrote some docs on IfcPatch that look like https://github.com/IfcOpenShell/IfcOpenShell/tree/v

[2021-02-24 08:05] qwiglydee commented on #1324
Here's what I have almost working (with simulatoin of parametric extrusion using blender stuff)
![Screenshot_20210224_150303](https://user-images.githubusercontent.com/285128/108966948-750ce380-76b1-11eb-90f1-bac71d60d8a3.png)

And here's how I imagine the gizmo in other potential use cases.
![Screenshot_20210223_123150](https://user-images.githubusercontent.com/285128/108967064-9a99ed00-76b1-11eb

[2021-02-24 12:36] RobinVanTol commented on #1325
Is this sufficient for you to start looking into it? Is there something i can do to help/make it easier?

[2021-02-24 12:36] aothms commented on #790
Since there is a workaround (COLLADA2GLTF) it's not immensely high on my todo list, but if there's somebody else willing to work on this I'd happily assist

[2021-02-24 12:38] aothms commented on #1340
Am I missing something?

![afbeelding](https://user-images.githubusercontent.com/1096535/109001697-85b75c80-76a5-11eb-9a40-772281688e0d.png)

It;s there for quite a while I thought.

The bot is having some difficulties with Windows though :(

https://github.com/IfcOpenBot/IfcOpenShell/commit/25d86a50c5632712578a99d035be8d1e3201ea6e

[2021-02-24 12:39] aothms commented on #1339
< Attributes are case sensitive I believe

[2021-02-24 13:07] aothms commented on #1276
@rbertucat I've added a bit. Let me know if you miss something or have clarifying questions. https://github.com/IfcOpenShell/IfcOpenShell/commit/3eacd809b0dc0c4d03d4675f3f64a509cb27789f

[2021-02-24 14:17] theoryshaw commented on #1324
Looks great.

Does your indented roadmap include a way to select multiple gizmos with a selection box, for example, and 'dragging' or entering their value together?

![image](https://user-images.githubusercontent.com/507113/109012543-be404180-7677-11eb-8478-d0727aacb4fc.png)

[2021-02-24 20:20] qwiglydee commented on #1324
It's possible to apply some modifications to all selected objects, the same way as standard operators work in Blender.

It would help if you tell what are particular use cases where it's useful.
Perhaps, constraints/relations between objects would solve the problem better.

[2021-02-25 01:27] theoryshaw commented on #1324
One particular use case, illustrated below, is if you wanted to extrude all the objects by 2ft, for example.  Doing something like this would be a lot easier if you could select all the extrusion gizmos, and move them in one operation, verses having to select every single extrusion individually and changing the extrusion depth.

![image](https://user-images.githubusercontent.com/507113/109088270-b

[2021-02-25 08:37] MikkiSeidenschnur commented on #1310
Ok, I will close this for now, thanks for helping out!

[2021-02-25 08:37] #1310 closed

[2021-02-25 19:20] ecke101 opened #1343 "Box representations are not supported in IfcOpenShell"
When I click this button, I get this error.

[code]

![bild](https://user-images.githubusercontent.com/249736/109205323-b92de000-77a6-11eb-89eb-9f61f72292f9.png)

[2021-02-25 20:50] ecke101 opened #1344 "Referenced before assignment"
It seems there is a case where the obj variable is read without being assigned in blenderbim\bim\module\attribute\operator.py at line 73. Unfortunately I don't really know what I did to trigger that error. I will update if it comes up again.

[code]

[2021-02-25 21:25] ecke101 opened #1345 "IFC Object Material list disappears"
When I try to change IFC Object Material in Object properties from IfcMaterial to any other option, the whole listbox disappears.

![bild](https://user-images.githubusercontent.com/249736/109219690-357cef00-77b8-11eb-9038-810018f9caf5.png)

![bild](https://user-images.githubusercontent.com/249736/109219765-547b8100-77b8-11eb-96db-043c9257403f.png)

[code]

[2021-02-25 22:27] Moult commented on #1343
Known issue that Box representations are not supported in IfcOpenShell. See #85. Keeping this bug open as #85 wasn't exactly about box representations.

[2021-02-25 22:28] Moult commented on #1343
Also ping @aothms

[2021-02-25 22:30] Moult opened #1346 "IfcGridPlacement not supported"
I didn't see an issue about this already, although it was mentioned in #1133, and because it came up in [this Twitter thread](https://twitter.com/IsConsense/status/1364961114862321664) I decided to create a dedicated bugreport to track this :)

[2021-02-26 08:40] berndhahnebach opened #1347 "ifcpatch ExtractElements recipe misses the material"
see forum topic:

https://community.osarch.org/discussion/464/ifcpatch-extractelements-recipe-misses-the-material

[2021-02-26 09:06] Krande opened #1348 "Graphical issue with IfcExtrudedAreaSolidTapered and IfcArbitraryProfileDefWithVoids"
Hi,

in the attached example I have tried to make a Cylindrical profile with a tapered cross section
[cone_ex.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/6048511/cone_ex.zip)

However I am unable to render the hole inside the cylinder in Blender 2.92 (using BlenderBIM v0.0.210221 on windows).

![image](https://user-images.githubusercontent.com/9642232/109278948-70fbd580-7819-11eb-8cfd-

[2021-02-26 09:42] aothms commented on #1347
Note that it's material (HasAssociations, I think) but also the styling on the representation items. For the latter you can do a file.traverse() and then filter on is_a(IfcRepresentationItem) and on those follow the StyledByItem attribute.

[2021-02-26 10:01] aothms commented on #1348
Could be something else, does it work better if you convert the file using IfcConvert?

[2021-02-26 10:17] Krande commented on #1348
I converted the ifc to ".glb" using IfcConvert and it seems that the same error occurs

![image](https://user-images.githubusercontent.com/9642232/109287576-0ac88000-7824-11eb-9ce5-9d00fa553472.png)

Am I using the IFC classes wrong somehow?

[2021-02-27 01:30] Moult commented on #1348
Checked with the IFC Debug tool and I was unable to create_shape on the individual profiles (as well as the outer loop and inner loop) that make up the extruded area solid. I didn't investigate further though.

[2021-02-27 01:32] Moult commented on #1340
Ah, I'm blind :)

Thanks so much!

[2021-02-27 01:32] #1340 closed

[2021-02-27 01:34] Moult commented on #1162
@Krande  Awesome - agree that adding three platform variants as different assets to the same release makes more sense. Commit phrases would be great!

Ping me on IRC and if I'm online (during Sydney waking hours) we can do a run through!

[2021-02-27 10:01] aothms commented on #1348
It's just that this class isn't implemented very well in ifcopenshell, but I've added condition that fixes processing in your case. It would have worked with CircleHollowProfileDef because those were already in the condition.

[2021-02-28 04:27] Moult opened #1349 "IDS support in IfcOpenShell"
https://github.com/IfcOpenShell/IfcOpenShell/commit/4e889b75d788def4d7209dc75d163e9bb02cb36e implements a very basic BIMTester integration. Ping @aothms as well as @rbertucat who this might impact, if IfcRail is testing pset applicability too.

To run, just point to the IDS XML instead of a feature file.

[code]

HTML report looks like this:

![2021-02-28-144158_1920x1080_scrot](https://user-image

[2021-02-28 04:38] Moult commented on #1349
A couple of minor implementation comments - one of the really valuable things about the way most BIMTester checks are implemented is that it doesn't just say "this failed" or "this passed". It formats it in this way:

[code]

This way:

 1. There is a consistent, unchanged sentence that clearly explains the expected exchange requirement (right now, the screenshot in the previous comment has a chan

[2021-02-28 08:35] aothms commented on #1349
@Moult very cool! I formatted the messages, feel free to adapt to your wishes. The logger verbosity indicates error or success so you don't need to test the string content.

[code]

'Living Room or Kitchen' should be 'Living Room' or 'Kitchen' ideally, but that's a bit of work that I'd like to postpone.

[2021-02-28 10:34] ecke101 opened #1350 "Stuck when building deps"
I'm trying to build IfcOpenShell using VC19, but after build-deps.cmd has been running for a while it gets stuck with 100% CPU usage.

This is the latest message in the console:
`30>Done Building Project "C:\Users\erik\git\ifcopenshell\IfcOpenShell\_deps\occt_git\_build-vs2019-Win32\src\TKSTEPBase\TKSTEPBase.vcxproj" (default targets).`

Any idea where I could start to troubleshoot this?

[2021-02-28 21:56] aothms commented on #1350
Could this be related?

https://github.com/IfcOpenShell/IfcOpenShell/pull/1166#issuecomment-761082367

@ahladik then pushed a commit to disable LTCG:

https://github.com/IfcOpenShell/IfcOpenShell/pull/1166/commits/2e6d26a6f0cbfba86a20f83f9af975585db17d92

Maybe try 64bit and see if that magically works better?

[2021-03-01 08:12] SimoneGarbin opened #1352 "Wrong number or type of arguments for overloaded function 'AIS_InteractiveContext_Select'."
I'm trying the test script and when I click on the 3D model window (on any point) i get this error:
TypeError: Wrong number or type of arguments for overloaded function 'AIS_InteractiveContext_Select'.

How can I solve it?

Thanks

[2021-03-01 08:24] Moult commented on #1349
By the way, I think there would be value in building a UI to generate the IDS XML as not everybody can write XML - this can also help test out the usability and full workflow for the average BIM user. Happy to do this, but probably need some guidance on the rules (e.g. an XSD, or an explanation of what it allows).

[2021-03-01 08:37] aothms commented on #1349
Good point. The xsd is still in progress at bSI. That's when things get
precise. So I don't think it'll be ready in a short time frame

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op ma 1 mrt. 2021 09:24 schreef Dion Moult <notifications@github.com>:

[2021-03-01 08:52] erik-abrahamsson commented on #1350
Thank you, 64 bit worked perfectly. No reason to use 32 bit version anyway I guess.

[2021-03-01 09:34] olomakovskyi-blackbird commented on #1078
Thank you, that solved my issue.

[2021-03-01 09:34] #1078 closed

[2021-03-01 11:59] qwiglydee commented on #1324
https://user-images.githubusercontent.com/285128/109492607-ce17b580-7abd-11eb-99e6-eb0e6d8f0fcb.mp4

Main issues unresolved or yet unexplored:

1. Grouped gizmos doesn't work well together: non-active one disappears.
Perhaps, the guides and the handle have to be combined into single gizmo with more complicated structure and several shaders.

2. Mouse tracking doesn't go quite well.
Logic is copied

[2021-03-01 16:48] qwiglydee commented on #1324
https://user-images.githubusercontent.com/285128/109529660-88241700-7ae8-11eb-9110-c860c3b7bb02.mp4

[2021-03-01 17:13] theoryshaw commented on #1324
looking good.  Possible for this gizmo to snap to other objects in the scene?  For example, have it snap to the height of the other existing walls?

[2021-03-01 22:59] qwiglydee commented on #1324
@theoryshaw
There is indeed 'snapping' mode available for gizmos. But there's no api to implement it in python, other than scanning whole scene or something crazy like that.
Some built-in gizmos use internal snapping utilities available only in C.

I don't think it's possible without patching Blender.

Maybe, some workaround could be implemented.
Like, scanning and caching heights of all nearby ob

[2021-03-01 23:05] Moult commented on #1324
I'm curious whether or not the tricks used in CAD Transform's snap by @s-leger or https://github.com/Shriinivas/blenderbezierutils by @Shriinivas can help fix snap.

[2021-03-02 09:42] s-leger commented on #1324
CAD Transform rely on scene raycast for mesh snap.
Gizmos where ment to drive "simple" operators in a modal fashion (tool mode), at this time not found a reliable way to allow multiple gizmos selection, would rather apply the operators to selected objects, using active as the driver for operation.

As conclusion, as eye candy gizmos may look at first glance, the convoluted current implementation a

[2021-03-02 16:09] aothms commented on #1352
Do you mean application.py?

Not entirely sure. Maybe depending on your OCCT version it may be that the `update` argument is no longer optional (default value) maybe change Select() to Select(True). here https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/geom/app.py#L571

https://dev.opencascade.org/doc/refman/html/class_a_i_s___interactive_context.html#a

[2021-03-03 09:03] TristanLecallier opened #1353 "IfcDocumentSelect cannot be instantiated"
Hi,
I'm trying to link an object with an external document.
So I created the entities : IfcDocumentReference and IfcDocumentInformation. But when I want to create the entity IfcDocumentSelect I have the following error :

![image](https://user-images.githubusercontent.com/46968115/109780113-f9f28280-7c06-11eb-8584-01301559e4ea.png)

Here is my code :

[code]

I can't figure out what's wrong in my

[2021-03-03 09:10] aothms commented on #1353
IfcDocumentSelect is a SELECT / tagged union / sum datatype (how ever you want to call it). So it's **either** a IfcDocumentInformation **or** a IfcDocumentReference, it's not both (it's not a tuple / product datatype).

Whenever a IfcDocumentSelect expected you supply a IfcDocumentInformation or IfcDocumentReference

[2021-03-03 09:21] TristanLecallier commented on #1353
Aaaah ok ! Thanks for the quick answer, I misunderstood the documentation...

[2021-03-03 09:23] #1353 closed

[2021-03-04 06:31] Moult commented on #1321
Let's try for an upstream bug. @theoryshaw  could you open one?

[2021-03-04 06:57] Moult commented on #1152
Note to self that the best way to implement automatic Axis representation generation is to first implement a standard for "object generators" as an extension to "dumb" IFC geometry.

[2021-03-04 11:03] Moult commented on #1153
@aothms I've made a start on this, see attached IFC which has an `IfcAnnotation[ObjectType=DRAWING]`. I made a tweak such that -Z points to the visible side, as is the convention in BCF (https://github.com/buildingSMART/BCF-XML/issues/193). Also, I realised that an IfcBlock position of 0,0,0 doesn't work very well, as the block position is a corner, not the center, and it would be nice to keep the

[2021-03-04 13:42] aothms commented on #1153
Ok, I think this works.

![afbeelding](https://user-images.githubusercontent.com/1096535/109972321-74023480-7cf7-11eb-8218-6dabe565faa3.png)

The drawing from the annotation looks a lot like the default floor plan from the building storey (only the view derived from storey gets the door swing arcs)

The command I used to invoke IfcConvert is

    IfcConvert test2.ifc -yv  test2.svg --plan --model

[2021-03-04 13:44] aothms commented on #1153
Edit: the extent of the box is ignored currently though, but it is parsed

[2021-03-04 23:27] Moult commented on #1321
@theoryshaw basically say that blender's imperial dimensions as formatted by bpy.utils.units.to_string don't follow imperial conventions. Give them the example of 2' 5.5" and say it should be 5' - 5 1/2", and explain how it should follow 1/2^n increments depending on chosen precision.

[2021-03-04 23:33] ecke101 opened #1355 "Performance issues"
I've been playing around a bit with loading Ifc-files and it seems like OCCT is pretty slow. Is there something that can be done to improve performance? It seems like IfcOpenShell is around 10-40x slower compared with IfcPlusPlus for example. Maybe there's a reason for this I have missed?

[2021-03-05 03:47] Moult commented on #1344
Note to self: this is due to an incomplete implementation at `module/material/ui.py:L170`. I guess I forgot to build the function.

[2021-03-05 03:48] Moult commented on #1345
Note to self: this is probably due to a constituent set being removed and the old IFC data cache isn't refreshed. I need to come up with a better cache refreshing strategy.

[2021-03-05 09:47] aothms commented on #1355
The reason is indeed OCCT, in particular for detailed explicit meshes in IFC there is a lot of overhead in piping it through OCCT's data model. In 0.7 (probably pushed back to 0.8) we will have some additional geometry libraries side by side.

[2021-03-05 10:31] Moult commented on #1355
I would _love_ to see faceted breps and polygonal face sets that don't have voids to just bypass OCC :) I reckon that would be a huge speedup, and incredibly relevant to Blender users in particular!

[2021-03-05 13:55] theoryshaw commented on #1321
Gotta.  Will do.  Thought you were talking about Python performance, or something--thus confused. :)

[2021-03-05 14:07] theoryshaw commented on #1321
https://developer.blender.org/T86310

[2021-03-05 15:24] #1322 closed

[2021-03-05 15:38] mristin opened #1356 "Wheels for Python 3?"
Hi,
Please apologize if this is a duplicate issue. I could not find ifc open shell on pypi.org. Is there a wheels package available so that it can be readily installed, say, with `pip3 install ifc-open-shell`?

If not, would you like me to make a pull request and help you create the wheel packages?

[2021-03-05 18:59] aothms commented on #1356
There isn't currently anything available on pypi, but that would surely be great.

There is work on (ana)conda packages using azure: https://github.com/IfcOpenShell/IfcOpenShell/issues/1327

Github actions using CTest https://github.com/IfcOpenShell/IfcOpenShell/pull/1307

The current build infrastructure (ssh and ansible) is here https://github.com/IfcOpenShell/IfcOpenBot

What do you have in min

[2021-03-05 19:08] mristin commented on #1356
Thanks for such a quck and detailed reply!

It would be great to continuously release binary packages for major platforms so that users can just type:

[code]

For example, using GitHub workflow and adding the binaries to the package automatically on the release.