[2020-09-15 10:16] Moult commented on #997
Can you give an example of what you are expecting and what happens instead? This is what I see in Blender:

![image](https://user-images.githubusercontent.com/88302/93198386-4f89be80-f790-11ea-8844-eefa6982a8a3.png)

[2020-09-15 13:49] wq8806 commented on #997
Thanks for reply.
Use IfcConvert with WORLD_COORDS to export two model whose guid are 1LMg1ZkATBJwu7hODVWkYG and 1LMg1ZkATBJwu7hODVWkYN. They locate different place in Blender. However,  their objectplacement are same in xml which exports by IfcConvert. How to get correct placement in xml?
[model.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5225306/model.zip)

[2020-09-15 15:07] blickfeld7 opened #998 "No operation defined for: IfcBoundingBox..."
Currently we're facing a problem with IfcConvert, which fails on some 3d geometry extraction.
This is the expected output geometry:
![image](https://user-images.githubusercontent.com/29466624/93228238-91f1d200-f775-11ea-9a3c-047e892b6c18.png)
this is the output geometry from IfcConvert:
![image](https://user-images.githubusercontent.com/29466624/93228319-a209b180-f775-11ea-8f5e-d8c1200ac8d2.png)
V

[2020-09-15 15:14] blickfeld7 commented on #998
Another example of failed IfcConvert geometry extraction. The following screenshot shows the expected output:
![image](https://user-images.githubusercontent.com/29466624/93229037-70ddb100-f776-11ea-97f2-83181772a46f.png)
this is the output geometry from IfcConvert:
![image](https://user-images.githubusercontent.com/29466624/93229081-7cc97300-f776-11ea-93ac-50f9c7a9361f.png)
Visibly missing entitie

[2020-09-15 15:41] Blocovin commented on #928
@aothms We got the same problem with another IfcColumn (geometry was deformed) with ifcConvert v0.6.0-3440dd4.
[ifc_column.ifc.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5226145/ifc_column.ifc.zip)

[2020-09-16 00:27] Moult commented on #997
I've imported your two GLB files and they seem to come in the same place as the Blender import - this looks correct to me. What do you see in the XML that makes you think the object placement is wrong?

Keep in mind that object placements in IFC can be placed relative to other placements - so what you are seeing may not be an absolute location.

![image](https://user-images.githubusercontent.com/8

[2020-09-16 01:50] wq8806 commented on #997
Sorry for my  carelessness. The above two model is wrong. Below is the two model.
[output.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5229110/output.zip)
Load them in Blender looks like:
![blender](https://user-images.githubusercontent.com/21306443/93282626-674d5b00-f801-11ea-9cf3-4c6f3b6eaeca.png)
However,their object placements in xml is :
![xml](https://user-images.githubusercontent

[2020-09-16 05:46] wq8806 commented on #997
A bit of debugging later,  I found that the representation of these two elements have different Position in items. Maybe this cause the different locations but with same placement. Can this position be calculated in object placement which saved in xml ? Or is there any other way to find the template model through which can produce other elements by multiply the trsf matrix?

[2020-09-16 09:46] Moult commented on #237
Bumping this issue that I've used this recipe which has worked on quite a few large files produced from Revit:

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/recipes/MergeProject.py

[2020-09-16 10:51] Moult opened #999 "IfcOpenShell creates entities with STEP ID 0 after adding to a file from another"
I have `fileA`, which is a new file I'm creating, and `fileB`, which contains some IFC entities, but not a full project (i.e. no `IfcProject`).

So I'm creating entities in `fileA` with `fileA.createIfcFoo(...)` and `fileA.create_entity(...)`, without issues.

Then, halfway through that process, I try to do `fileA.add(x)` where `x` comes from `fileB`. This add process seems to also finish without

[2020-09-16 11:09] Alikhuder opened #1000 "merging building storey level and IFC relationships -Federating Models"
Hello,
I'm trying to federate multiple IFC files into one model using IfcOpenShell. I've reached the project hierarchy up to the building storey level following the discussion in [1]. However, I want to merge building storey level and IFC relationships. Can you further advice on this or provide me with an idea? Thanks in advance.

[1] https://github.com/IfcOpenShell/IfcOpenShell/issues/237

I'm us

[2020-09-16 11:13] Moult commented on #1000
@Alikhuder you can modify the IfcPatch recipe in that script in #237 to look for things like `IfcSpatialElement` with the same name or GlobalId, or whatever rule you use to merge to, and try that?

Also, happy bug number 1,000!

[2020-09-16 11:22] johanrd opened #1001 "Segfault on rebar (example file)"
1. Convert [1001--reinforcingBar--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/1001--reinforcingBar--segfault.ifc) with with 55a5409 (OCCT 7.3.0p4 / 7.4.0p1 / 7.3.0), and experience segfault:

[code]

2. Expected geometry from Solibri:
<img width="100" alt="Screenshot 2020-09-16 at 13 18 20" src="https://user-images.githubusercontent.com/4601554/93330802-a5f20e00-f81f-11ea-8368-

[2020-09-16 11:29] aothms commented on #999
I think the instances start with 0 and get assigned a id when added to the file according to https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcFile.h#L193 . So apparently it's the file.add() part that's failing and they keep their original id set to zero. Looking forward to more info.

[2020-09-16 12:23] Moult commented on #999
@aothms I created a test case, and I have NO idea what is going on :)

First, this is a test case which works as expected:

[code]

If I run that, I get this:

[code]

Now, here's a variation of the code, where all I do is move the `add()` code into it's own function:

[code]

Now I get this:

[code]

[2020-09-16 12:31] Moult commented on #999
This is using the latest IfcOpenBot build on Linux, and I was also able to recreate this on a Windows machine. The exact creation of the zeros are different on different machines, but it seems to always occur after the `add()` statements occur. It might be my imagination but I think the number of zeros also correlates with the number of `add()`s.

[2020-09-16 12:58] Moult commented on #999
@aothms  you're a genius! Thanks so much!

[2020-09-16 19:51] AlexPlenty opened #1002 "BlenderBIM IFC Import Issue"
Hi!

I've tried importing an Ifc which I know works in Solibri but doesn't seem to work here (Happy to provide the ifc)

Thanks :)

LOG:

Traceback (most recent call last):
  File "C:\Users\alexp\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\blenderbim\bim\operator.py", line 91, in execute
    logger = logging.getLogger('ExportIFC')
  File "C:\Users\alexp\AppData\Roaming\Blender F

[2020-09-17 00:42] Moult commented on #1002
Can you provide the IFC please?

If it is private, send to dion@thinkmoult.com

[2020-09-17 00:56] Moult commented on #999
Elaborating further on this, here's another snippet where `bar()` is called twice. The second time `bar()` is called, `self.dummy` is garbage collected and funky numbers come out - not zeros, but funky ones.

[code]

Results:

[code]

[2020-09-17 07:29] Moult commented on #952
Sorry, just bumping this - I haven't ignored it, it's just a problem that requires a lot of work to fix, and warrants careful consideration of how to implement.

I've [started work](https://github.com/IfcOpenShell/IfcOpenShell/commit/6cc4ce46c20cd3050070e8c63306a767bf36016b) on a new native element roundtripping feature, which will effectively redesign how I go about importing and exporting. When

[2020-09-17 09:13] Kristoffernegendahl opened #1003 "BlenderBIM assign IFC class to multiple objects not working Blender 2.9"
Hi Dion (and other volunteers)

I'm on Windows, Blender 2.9.0, and current release of blenderBIM "blender28-bim-200912-win"

When setting IFC class properties via the "Assign IFC Class" button, only the first element in the list is assigned.

![Assign_multiple_objects_not_working_290](https://user-images.githubusercontent.com/3524250/93450420-3d199d00-f8d6-11ea-8323-b58e0ea2390f.gif)

As I underst

[2020-09-17 09:25] Moult commented on #1003
@Kristoffernegendahl you are in the object properties menu. That menu only affects the active object.

You will need to go to the scene tab and use the options there.

![image](https://user-images.githubusercontent.com/88302/93452215-80e2c580-f91b-11ea-81c7-5cb4d691c1c7.png)

[2020-09-17 09:25] #1003 closed

[2020-09-17 10:23] Kristoffernegendahl commented on #1003
Ahh, my bad, thanks for the fast reply

[2020-09-17 11:13] AlexPlenty commented on #1002
Thanks Dion, I've just emailed it through! :)

[2020-09-17 11:35] Moult commented on #1002
@AlexPlenty the IFC file you provided is invalid, so this is not a bug in the BlenderBIM Add-on, it contains this line:

[code]

Did somebody try to edit this file by hand? I can't imagine Revit outputting this.

[2020-09-17 11:35] #1002 closed

[2020-09-17 12:07] AlexPlenty commented on #1002
Apologies, you're right, I'd messed around with the file to see what Solibri would and wouldn't read, I shouldn't have tried that version or sent it through. It's working now! I will now do some testing with the file and report back any ACTUAL issues I find :)
![image](https://user-images.githubusercontent.com/69241247/93468303-aa352e80-f8e6-11ea-82e9-505e8d18355b.png)

[2020-09-17 13:41] Alikhuder commented on #1000
@Moult thank you for the quick reply and happy bug number 1,000 :)
I'll try that and see if it works. Thank you

[2020-09-17 18:02] brunoperdigao opened #1004 ""Add drawing" awkward behavior"
Hi Dion,
I was following your recent video "Create drawings" and it showed this error message when I clicked the "Add drawing" button. This happened while using Blender 2.9

![image](https://user-images.githubusercontent.com/57102715/93508747-28003680-f8f5-11ea-9e03-3410588e3e91.png)

Then I tried this using 2.83. It worked but the door was not showing properly in the svg file.

![image](https://u

[2020-09-18 10:39] johanrd opened #1005 "Out of memory when converting rebar (example file)"
1. Convert [1005--reinforcingBar--outOfMemory--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/1005--reinforcingBar--outOfMemory--augmented.ifc) with with 55a5409 (OCCT 7.3.0p4 / 7.4.0p1 / 7.3.0), and experience out of memory error code:

[code]

When converting with 747ddeb20cc9083ba4281d7ddb283ac0e1bd0e12 (v0.5.0) or 42e0058 (0.6.0 Feb. 2019), the output is no geometry:
[code]

[2020-09-19 16:01] theoryshaw opened #1006 "BlenderBIM: don't hardcode collection location of Views, to allow flexibility of drawing location"
Video: https://www.dropbox.com/s/5fx1yh8yxa63pxo/2020-09-19_10-59-51.mp4?dl=0

Files: https://github.com/OpeningDesign/OD_Library/tree/9ddd1a560afd395a8af374321475610c812d49c0/BIM/BlenderBIM

Version: 0.0.200912

[code]

[2020-09-19 16:10] theoryshaw commented on #1004
confirmed.
[code]

[2020-09-20 09:14] Moult commented on #1004
Yeah basically in the last release, I added support for drawing styles to remember output transparency. Since you were using the feature prior to that release, it wasn't storing that information. Such is the nature of alpha software when adding features whilst people are using it :)

Try clicking on your drawing style and pressing save drawing style, which should now store the transparency data, t

[2020-09-20 09:16] Moult commented on #1004
Oh, as for the missing door, in the older version of the add-on, it had some bugs in exporting 2D and also didn't enable the 2D export by default (i.e. the plan representation was disabled in the scene properties tab). I wouldn't worry too much about it - the new version should have it all fixed.

[2020-09-20 09:17] aothms commented on #996
There where two issues. Somehow the thickness calculation was done on integers. Thickness was used to determine whether wall layers needed to be "folded". This explains why in your image some joins are not properly handled. Secondly, apparently after a version upgrade, OpenCASCADE will return CompositeSolids in some cases (not sure why only in some cases, but it's not necessarily incorrect). This

[2020-09-20 09:20] Moult commented on #1006
At the moment, the drawing system is a little fussy that it expects the drawing collections to be in a collection called "Views", which is at the top level in the tree. See below. Perhaps you moved it?

![image](https://user-images.githubusercontent.com/88302/93707993-36a95080-fb76-11ea-83d6-f706eee2af63.png)

[2020-09-20 11:01] aothms commented on #1005
Thanks yes, there are quite a bit of checks and balances during the composite- and trimmed curve generation. But a trimmed curve over a unbounded line trimmed by parameter values was not properly checked for degeneracy yet.

[2020-09-20 14:22] theoryshaw commented on #1004
Not sure that's it.

I created a new file, and still got some errors...
Video:https://www.dropbox.com/s/i3stckb0vmnl9ly/2020-09-20_09-16-33.mp4?dl=0

Might be related to #1006, as well.

[2020-09-20 16:22] theoryshaw opened #1007 "BlenderBIM: Box representation does not respect project units, resulting in missing annotations"
Files: https://github.com/OpeningDesign/OD_Library/tree/2bbdcc252db719ed26956ed94b9489577b85ed7e/BIM/BlenderBIM

Version: 0.0.200912

![image](https://user-images.githubusercontent.com/507113/93716096-28861080-fb33-11ea-8ee9-8d2172ff65e5.png)

[2020-09-20 16:28] theoryshaw commented on #1007
might be related to: https://github.com/IfcOpenShell/IfcOpenShell/issues/1004#issuecomment-695764504

[2020-09-20 22:21] Moult commented on #1004
@theoryshaw I still think that's the reason - the issue is that the add-on remembers settings, so even in a fresh file, upon startup, it's still applying the old settings. Try this: `File > Defaults > Load Factory Settings`. Then, once that's done, I forget if it's as simple as restarting Blender (i.e. Blender simply remembers your new add-on version settings from then on) or you need to re-enable

[2020-09-20 22:26] Moult commented on #1007
Yeah this is likely related, there were two new changes that would've fixed this in the latest version, that are getting confused with the older version:

 1. The default setting below, which should be enabled

![image](https://user-images.githubusercontent.com/88302/93723635-8e31d580-fbe3-11ea-9430-56c76649b869.png)

2. In the old version, annotation representations were accidentally purged when

[2020-09-21 06:18] tpaviot opened #1008 "Regression in IfcConvert.cpp"
After updating my local copy, I have the following compilation error (gcc-7.5.0 on Ubuntu Linux):
[code]
I had to add an include to the SvgSerializer.h header:
[code]

[2020-09-21 10:18] Alikhuder commented on #1000
Hi again, @aothms @Moult I know my question might be simple, but I'm new to the ifcopenshell. Is there any way that I can merge two IFC files based on the relationship entities such as IfcRelAggregates and IfcRelContainedInSpatialStructure? For instance, if I extract the IfcRelContainedInSpatialStructure entity and then compare it to the same entity that exists in the other file based on the GUID

[2020-09-21 13:44] theoryshaw commented on #1007
1. That file had those settings.
![image](https://user-images.githubusercontent.com/507113/93773692-f71a4d00-fbe5-11ea-9381-7b7b17df0fce.png)

2. I deleted all those doors/windows and added a new dumb door...
![2020-09-21_08-43-53](https://user-images.githubusercontent.com/507113/93774212-9dfee900-fbe6-11ea-807f-0c67df482c07.gif)

Version: 0.0.200912

[2020-09-21 13:55] theoryshaw commented on #1004
still got the following after 'loading factory settings' and re-enabling plugins...
Version: 0.0.200912

[code]

[2020-09-21 13:58] theoryshaw opened #1009 "BlenderBIM: output Blender and BlenderBIM version number in error message"
Would be nice if the error message printed out Blender and BlenderBIM version number to help narrow into troubleshooting.

[2020-09-22 11:28] Moult commented on #1007
Very, very odd. Can we do a screenshare? Ping me on IRC whenever - I think I need to see exactly what's going on to figure this one out...

[2020-09-22 11:30] Moult opened #1010 "IFC nodes for Sverchok"
Visual programming nodes for IFC! Let's do it!

This issue is simply a redirect to https://github.com/nortikin/sverchok/issues/3574 - in case anybody wants to suggest ideas / test / whatever while it's getting started :)

[2020-09-22 12:11] aothms commented on #1008
Thanks yes, this is probably due to different versions of OCCT having different include directives in their headers.

[2020-09-22 12:11] #1008 closed

[2020-09-22 15:22] JitQL commented on #1010
I was installing Sverchok and read your post. I'm here! Trying to learn.

Would this be a way to create models with sverchock and have a node to attach to final output so it is classified as IFC?

Like an array of cilinders would become an array of Columns instead?

I believe this to be the logic of Rhino/Grasshoper/Visual Arq:

https://www.visualarq.com/

Or is this another concept?

[2020-09-22 22:15] Moult commented on #1010
Well, the BlenderBIM Add-on can already do what you're asking - the parametric modifiers within Blender can all output IFC data arbitrarily

However, these nodes let you do it with parametrically modeled geometry, just like in Grasshopper, i.e., with a node-based UI. Basically very similar to @jmirtsch 's geometry gym, or at least how I imagine it to be, since I haven't actually used his add-on to

[2020-09-22 22:38] globalcitizen opened #1011 "[BlenderBIM] Add-on preferences have no default (v0.0.200912)"
The preferences:
 * __SVG to PDF Command__
 * __SVG to DXF Command__
 * __SVG Command__
 * __PDF Command__

All begin unfilled. As there is no example, it is not immediately obvious how to fill them out.

[2020-09-22 22:43] globalcitizen opened #1012 "[BlenderBIM] Add-on preferences button 'Visit Documentation' not user-oriented (v0.0.200912)"
The __initially encountered documentation should be for new prospective users__, rather than only for developers. Even if it just says *there is currently no user-level documentation, click here for internals* that would be a vast improvement on the current situation, which is ... 'offputting' to new users, to say the least.

I am very happy to volunteer to write user-level documentation and provi

[2020-09-22 22:49] globalcitizen opened #1013 "[BlenderBIM] Add-on preferences button 'Visit Wiki' URL fix (v0.0.200912)"
Visit Wiki button should link to the BlenderBIM specific pages, not to whole OSArch wiki.

[2020-09-22 23:30] globalcitizen commented on #1012
Seems there is some documentation on the Wiki right now.

A wiki's benefit is that collaborative editing is easy for people unfamiliar with git.

The issues are:
1. It is unversioned (not associated with a software release) and thus always going to be out of date or wrong for some subset of users. While this could be worked around with versioned wiki pages, the reality is this will be a mess.
2. I

[2020-09-23 13:29] johanrd opened #1015 "Failing subtractions on beams (example file)"
1. Convert [1015--beam--missingSubtraction.ifc](https://github.com/IfcOpenShell/files/blob/master/1015--beam--missingSubtraction.ifc) and experience failing subtractions. Both beams are meant to be 4.27 m long, however when converting with different versions of 0.6.0 they mostly end up incorrectly at ca 5.1 m (with a honourable mention of the bottom beam with 3e9fff6c198f04d7a90f1b82a89fd2f82d3ef7

[2020-09-24 01:50] Moult commented on #1009
I don't know if there is an easy way to do this (I haven't looked too deeply? Maybe Python has a way to override the global traceback printing?). Right now error reporting is very "raw", which makes it easier for me to debug, but scarier for users - but is necessary for the 0.0.X series.

If I don't find a way to do this, I'm closing this bug, since it won't be a reality until the 0.X.X series whe

[2020-09-24 01:51] #1013 closed

[2020-09-24 01:56] Moult commented on #1011
Currently only a feature for power users, as it essentially runs a command:

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/operator.py#L2354
https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/bim/operator.py#L2366
https://github.com/IfcOpenShell/IfcOpenShell/blob/44306b036d5c356872e9428bd0a927f3127438e7/src/ifcble

[2020-09-24 09:29] Francois-Thierry commented on #996
Thank you so much for re-enabling this feature !

On the model from before I have now a single error  `[Error] Unable to map layer geometry to material index`  but the folding around corners seems to work. I couldn't see any representation error visually :+1: (with OCCT 7.3.0p4)

For your information, I conducted an extensive study and converted 125 models with layerset slicing and it seems to be

[2020-09-24 09:36] aothms commented on #996
`Standard_TypeMismatch` should be easy to solve, that just means we're casting an OCCT shape to the wrong type. Do you have a line number for that by any chance. Otherwise I'll have a look later.

[2020-09-24 09:52] Francois-Thierry commented on #996
I don't have a line number, it segfaults. I'll write the output in command_line mode below.
Interesting, on SGD_HiTOS_Arch.ifc it is only thrown when using `--threads` :
[code]
Without the `--threads` flag :
[code]

[2020-09-24 14:06] BlocInBloc opened #1016 "[IfcConvert] Convert string error"
Hi, we try to convert ifc to xml which contains special characters in the header (FILE_NAME('éâè!$#'...)) but ge got :
`wstring_convert: to_bytes error`.

[voile.ifc.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5276642/voile.ifc.zip)

However ifc to dae conversion works.
Would it be possible to manage encoding problems in IfcConvert ?

[2020-09-24 14:50] aothms commented on #1016
We can probably be more lenient here, but the version of 10303-21 (the .ifc spf step file encoding) we're using strictly forbids characters outside of the ascii 0x20...0x7e range. Later revisions support utf-8, but not IFC. So the file is very much invalid. I'll have a look at where exactly it fails and try to make XML conversion not fail.

[2020-09-24 15:07] BlocInBloc commented on #1016
I agree ! We have notified the CAD authoring tool which generated this file.
Maybe we should not interrupt the conversion (regardless of the output format) and log a warning ?

As a side note, IFC viewers like BIM Collab or BIM Vision are less strict about it and read the file.

[2020-09-24 16:21] JitQL commented on #1010
This is starting to sound too good to be true.

There must be a catch. :)

[2020-09-24 20:45] edwinguerra commented on #967
Hi Dion, do you by chance have the file you used to test? It might be worth testing if it still works, and maybe having cove.tool add it to their documentation.

[2020-09-25 00:17] civilx64 commented on #1009
One option would be to subclass the Python builtin Exception class to always prefix or suffix the error message with the BlenderBIM version. Pardon my ignorance as I'm not super familiar with this part of the IFCOS codebase - is there currently a global variable that tracks version number? I've heard about (but never implemented) a python package to "bump" the version number as a pre-commit hook.

[2020-09-25 00:19] Moult commented on #1009
https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/Makefile#L303
https://blender.stackexchange.com/questions/2797/how-can-i-get-a-list-of-the-installed-addons-using-the-api

@civilx64 that sounds right :) Would you like to have a shot at tackling this one?

[2020-09-25 08:11] fluider opened #1017 "[SegFault] Remove entity"
Hi,

I'm running into segmentation faults when trying to remove products from model, e.g. using the ifc4 and 2x3 fzk house.
My system: C++, v0.6.0b0, Ubuntu 20.

[code]

Occurences of that number in 12 lines e.g.:

Am I using the function in a wrong way?

Best

Addition: If I break the loop after one remove, there is no seg fault. Do I have to update the model somehow after each iteration?
In the

[2020-09-25 12:59] j-wala opened #1018 "Segfault when trying to return a dictionary containing ifcopenshell objects and their corresponding shapes"
im trying to extract all the IfcProduct-shapes from a ifc file and return them (with their corresponding Product) to another part of my program. The problem is that when i try to return a dictionary containing those objects with their corresponding shapes, the program exits with a segmentation fault. While debugging i saw that the data is saved in the data structure but right after returning or wh

[2020-09-25 22:48] Moult commented on #1018
Perhaps similar to another issue I had recently, where garbage collection happens as soon as you leave the function?

[2020-09-26 07:11] aothms commented on #1018
Using the above function e.g:

[code]

I don't have any issue. Can you provide a complete reproducible example.

[2020-09-26 07:24] aothms commented on #1017
This is the clue. And probably this needs to be fixed in IfcOpenShell, or somehow appropriate warnings need to be added. But with this approach you're removing elements from a vector while iterating over the same vector. In IfcConvert we use the following work around:

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcconvert/IfcConvert.cpp#L1317

[2020-09-27 15:48] lcpt commented on #1017
I have had a similar problem (removing an element from a container while iterating on it). Maybe this can help:

https://stackoverflow.com/questions/4713131/removing-item-from-vector-while-iterating

[2020-09-28 07:58] BlocInBloc opened #1019 "IfcConvert geometry deformation"
Hi,

We got a geometry deformation with IfcConvert (with latest official 0.6.0 release and latest commit on 0.6.0 branch).

This is the test file :
[ifc_column.ifc.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5290727/ifc_column.ifc.zip)

Expected visual (preview of ifc in a viewer) :
![preview](https://user-images.githubusercontent.com/49783526/94405595-13cbfd00-0171-11eb-8b7e-8339e6241

[2020-09-28 08:27] j-wala commented on #1018
That's what i think too. Were you able to fix it somehow?

I will try to provide a example as soon as i get back to work. Maybe you could try the function call with `f.by_type("IfcProduct")`. At least thats the case that i tested with.

[2020-09-28 13:26] fluider commented on #1017
Thanks to both of you. Because of the "black box" character of external libraries as IfcOS, we sometimes forget the basic C++ rules ;)

[2020-09-28 13:26] #1017 closed

[2020-09-28 13:55] aothms commented on #1017
Yes, exactly. So feel free to add a comment somewhere so that we can begin to open up this box a bit.

[2020-09-29 12:01] BinLi2016 opened #1020 "IfcOpenShell: Failed to serialize a 3D solid TopoDS_Shape"
I created a solid using BRepOffsetAPI_ThruSections , but return NULL when call  IfcGeom::serialise,
but it worked well when I used BRepPrimAPI_MakeBox.

	TopoDS_Edge L1 = BRepBuilderAPI_MakeEdge(gp_Pnt(0.0, 0.0, 0.0), gp_Pnt(12.0, 0.0, 0.0));
	TopoDS_Edge L2 = BRepBuilderAPI_MakeEdge(gp_Pnt(12.0, 0.0, 0.0), gp_Pnt(12.0, 8.0, 0.0));
	TopoDS_Edge L3 = BRepBuilderAPI_MakeEdge(gp_Pnt(12.0, 8.0, 0.0),

[2020-09-29 12:27] aothms commented on #1020
Thanks, I'll have a look.

Just to be sure: are there nurbs surfaces in Solid_PierBody and are you using IFC2X3? In that case you'll have to use tesselate() due to the inherent limitations of the schema (2x3 does not have nurbs and advanced brep).

[2020-09-29 12:40] BinLi2016 commented on #1020
Thanks for your quick reply, Thomas.
I used IFC4x2 schema, but I got the same NULL when switching to IFC4. There is no any nurbs surface in my Model.
![image](https://user-images.githubusercontent.com/18454996/94559506-ee83df80-0293-11eb-9918-09c1120a4106.png)

[2020-09-30 04:05] Elliotloststh opened #1021 "does this repo support convert geometry data(like brep) to ifc file?"

[2020-09-30 04:06] Moult commented on #1021
Yes :) Are you looking for Python code or C++ code?

[2020-09-30 06:32] Elliotloststh commented on #1021
Thanks for your quick reply，C++ code

[2020-09-30 07:26] aothms commented on #1021
Have a look at
https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/examples/IfcAdvancedHouse.cpp

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op wo 30 sep. 2020 08:33 schreef ZigZag <notifications@github.com>:

[2020-09-30 07:39] fluider commented on #1017
I did :)

[2020-09-30 07:59] fluider opened #1023 "decimal places IfcCartesianPoint"
Hi!

As shown in the AdvancedHouse example TopoDS_Shapes can be written to ifc using

`IfcSchema::IfcProductDefinitionShape* building_shape = IfcGeom::serialise(STRINGIFY(IfcSchema), building_shell, false)->as<IfcSchema::IfcProductDefinitionShape>();`

Is it possible to control the number of decimal places, to prevent this:
`#80016=IFCCARTESIANPOINT((6.6599999889741,0.299999999999994,3.37320508075

[2020-09-30 08:21] aothms commented on #1023
The code is here: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcWrite.cpp#L73

This is for constructed data. Parsed data is written as is (I think...)

I don't oppose accepting code for this, but I do recommend reconsidering this. Rounding numbers could have some very unfortunate consequences like making faces no longer planar (deviating more than the tolerance) and ther

[2020-09-30 08:26] fluider opened #1024 "Relative placement serialization"
Hi, I have a question on the serailization of TopoDS_Shapes and their placement.

I have a TopoDS_Shape (wall), e.g. with a z bbox from 10m to 20m and an IfcBuildingStorey that is located at z=10m. In "reality", the wall is on the slab of the storey.

Now, when serializing the shape by stating the storey as the relative placement, the coordinates (IfcCartesianPoint) are still showing 10m and 20m.

[2020-09-30 09:07] fluider commented on #1023
Thank you for the quick reply. I understand your concerns regarding invalidating planes.
Rounding the points to a precision of 1e-6 is what I aim for. I think thats also the precision OCC uses by default. This would be my goal considering my previous example line:

`#80016=IFCCARTESIANPOINT((6.66,0.3,3.373205));`

I understand, that there is currently no way to do it and that you don't want to inc

[2020-09-30 09:14] aothms commented on #1023
Well a static member would always work I guess.

Maybe a `static boost::optional<size_t> decimal_places` in https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcWrite.h#L51 that you initialize somewhere from your code. Pass it to the visitor with `get_value_or(std::numeric_limits<double>::digits10)` here https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcW

[2020-09-30 09:17] aothms commented on #1024
This is something that generally needs some work. OCCT is able to store a hierarchy of placements in the TopLoc_Location associated with TopoDS_Shape::Location. But we currently don't make use of that.

If you have a gp_Trsf for the IfcBuildingStorey. You would just have to Invert that and Move() the shape accordingly. This is similar to how openings are processed. https://github.com/IfcOpenShell/

[2020-09-30 10:55] fluider commented on #1024
Thank you. I tried the following code and it seemed to work in a first test:

[code]

But I had to include
[code]
to run it.

I want to keep the code independent from the schema (only runtime decisions). Is it possible to access convert using agnostic geom? IfcGeom::Kernel k and then convert only accepts 1 or 3 arguments (and then segfaults).

[2020-09-30 11:20] aothms commented on #1024
You can copy the logic from the SvgSerializer: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/serializers/SvgSerializer.cpp#L1118 so use convert_placement() on a Kernel constructed with a reference to the file.

[2020-09-30 12:15] fluider commented on #1024
Thank you, Thomas. It works great!

[2020-09-30 12:15] #1024 closed

[2020-10-01 07:38] fluider opened #1025 "Serialize to ConnectionGeometry"
Hi!

can I force the serialization of a face to be an IfcCurveBoundedPlane or at least getting the IfcCompositeCurve of the wire(s) to observe the rules of IfcConnectionGeometry? If not it shouldn't be too difficult to do this by myself by looping through the wires.

Best

[2020-10-01 15:01] BinLi2016 commented on #1020
Hi, Thomas,
I guess that IfcGeom::Serialise is unable to dealing Bezier Curve in Solid_PierBody, which cause failure serialising the solid body.
Best Regards.
 Bin Li

[2020-10-02 11:29] eriadam opened #1026 "IfcConvert parallel geometry interpretation results in missing elements"
Hello,

We noticed that running `IfcConvert` with parallel geometry interpretation enabled (eg: `-j2`) results in some elements/meshes missing from the output `dae` (and `glb`) files.

Enclosed is the two output from the same model.

[Archive.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5317578/Archive.zip)

Thanks,
Adam

[2020-10-02 16:03] j-wala commented on #1018
I could not find a reliable way to reproduce the problem, but i fixed it in my code by parsing the product in the shape_entry dictionary to a string.
[code]
Thanks for the suggestions.

[2020-10-02 16:03] #1018 closed

[2020-10-04 14:47] aothms opened #1027 "Selectors do not allow whitespace for prop(set) names"
@Moult

`pset_or_qto` does not allow whitespace. What are your thoughts on this? It's not unimaginable that whitespace exists, see below for example from Duplex A model:

[code]

* I can imagine ignoring spaces is desired  (https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/util/selector.py#L113)
* And quoting prop names undesired.
* Maybe one potential w

[2020-10-05 00:40] Moult commented on #1027
Good idea! Please go ahead!

[2020-10-05 04:43] Moult opened #1028 "Who uses IfcOpenShell?"
It'd be good to know which players are using IfcOpenShell under the hood. Name dropping would help project some confidence in potential users (and, ahem, investors?) :)

Those I know already:

 - FreeCAD
 - Tridify
 - BlenderBIM Add-on
 - BIMServer
 - BIMSurfer

Guessing perhaps Xeokit? I also read somewhere that Autodesk used IfcOpenShell as a converter for the early days of Forge.

[2020-10-05 08:52] xeolabs commented on #1028
@Moult yes, xeokit users are using ````IfcConvert```` within their pipelines - full tutorial here:
https://github.com/xeokit/xeokit-sdk/wiki/Creating-Files-for-Offline-BIM

[2020-10-05 09:02] Francois-Thierry commented on #1028
We also use IfcOpenShell at [BIMData.io](bimdata.io) to perform a lot of IFC manipulations (3D Conversions, Optimization, Split, Merge, Export...).
We love it, it is awesome !
Thank you so much guys for all the amazing work that you put in it !

[2020-10-05 09:07] Moult commented on #1028
Fantastic!

@aothms what are your thoughts on a little revamp of the IfcOpenShell.org website to include these logos?

[2020-10-05 09:10] Francois-Thierry commented on #996
I managed to evade all the segfaults during conversion with `--enable-layerset-slicing` with OCCT7.3.
I am closing this issue for now.
Thanks again for the swift correction on folding of layers around corners.

[2020-10-05 09:10] #996 closed

[2020-10-05 09:13] klokoy commented on #1028
[Areo](http://areo.io/) uses `IfcConvert` within our 3D model pipeline.

[2020-10-06 07:10] Doncassino commented on #1028
At [TriDyme](https://www.tridyme.com) we are working with it and [code_aster](https://www.code-aster.org/) in order to improve structural analysis integration in BIM process.
Great job!!!

[2020-10-06 07:50] Moult commented on #1028
@Doncassino have you seen IFC2Code_Aster by @Jesusbill ? https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src/ifc2ca You guys should work together!

[2020-10-06 12:06] Doncassino commented on #1028
@Moult and @Jesusbill, yes we saw it few weeks ago and we will be happy to work on it.

[2020-10-06 13:13] Jesusbill commented on #1028
Sounds great @Doncassino , let's have a talk soon!

[2020-10-06 15:31] jakob-beetz commented on #1028
Happy IfcOpenShell user for many years. Many research prototypes.  Thanks for the AMAZING work!
Hope this counts too:
-  Have been using it for years in MSc-education of Architecture, Civil Engineering and Construction & Robotics tracks at RWTH Aachen University and TU Eindhoven.
-  Will include a Jupyter Notebook with IFCOpenShell in the mandatory bachelor track for 2nd year Arch students startin

[2020-10-07 07:37] NextBim opened #1029 "ifcParse Link Error when build with Visual C++"
When building ifcParse using Microsoft Visual Studio this error occurs :
LNK1189 : The limit of 65535 objects or members in a library has been exceeded.

Nobody else is building ifcOpenShell using MSVC++ ?

[2020-10-07 11:08] aothms commented on #1029
This is solved by adding `/bigobj` to the compiler command line. The cmake configuration takes care of this. How did you obtain your MSVC solution? https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/cmake/CMakeLists.txt#L407

[2020-10-07 11:58] aothms commented on #1026
Yes this is probably the same as https://github.com/IfcOpenShell/IfcOpenShell/issues/724#issuecomment-554742981

Shape reuse is not valid and it trips up the multiprocessing

[code]

Are you experiencing this on actual end-user data, or only on this test model?

[2020-10-07 12:16] aothms commented on #1020
There was something wrong in the schema feature detection in the serialization module. It doesn't return a nullptr anymore now for the code you shared.

[2020-10-07 12:30] aothms commented on #1025
There currently isn't anything for this in the serialization module.

One crucial difference is that the curve bounded plane is a 2d curve in the coordinate system of the plane.

So maybe two overloads need to be added here
https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcGeomSerialisation.cpp#L435

For (a) < TopoDS_Face ; IfcCurveBoundedPlane > and (b) < TopoDS_Wire ; IfcCo

[2020-10-07 13:29] NextBim commented on #1029
Thank you @aothms for your feedback.
I used the given CMakeLists.txt and  bigobj is set, but when building with BUILD_SHARED_LIBS set to ON, the previous link error appear.
With BUILD_SHARED_LIBS set to OFF, everything is fine. We will use static libraries to bypass the issue.

[2020-10-07 16:16] eriadam commented on #1026
It is with both test files and end-user files.

[2020-10-07 19:16] giovannivelludo opened #1030 "Sphere (revolved circle) is not rendered properly"
I'm using Blender 2.90.1 and BlenderBIM 200912 on Linux.
The following .ifc file contains a sphere obtained by rotating a circle around an axis, but what is displayed in Blender after the import is just a circle:

[sphere.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5343297/sphere.txt) (I changed the extension to be able to upload it on GitHub)

[2020-10-08 02:28] BinLi2016 commented on #1020
Thanks. but a NULL pointer p2 is still returned in code below:
	Handle(Geom_TrimmedCurve)arc1 = GC_MakeArcOfCircle(gp_Pnt(-2.5, 0., 0.), gp_Pnt(0., -2.5, 0.), gp_Pnt(2.5, 0., 0.));
	Handle(Geom_TrimmedCurve)arc2 = GC_MakeArcOfCircle(gp_Pnt(2.5, 0., 0.), gp_Pnt(0., 2.5, 0.), gp_Pnt(-2.5, 0., 0.));
	TopoDS_Edge L1 = BRepBuilderAPI_MakeEdge(arc1);
	TopoDS_Edge L2 = BRepBuilderAPI_MakeEdge(arc2);
	BRe

[2020-10-08 10:59] cgieling opened #1031 "Blend file doesn't store classifications, so if you move to another computer you can't export"
Hi,

I am having difficulties in exporting a Blender file to an IFC, using the Add-on.
This log appears:

_Traceback (most recent call last):
  File "C:\Users\Saxion\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\blenderbim\bim\operator.py", line 107, in execute
    ifc_exporter.export(context.selected_objects)
  File "C:\Users\Saxion\AppData\Roaming\Blender Foundation\Blender\2.90

[2020-10-08 11:06] aothms commented on #1019
Thanks, ok, I implemented the condition I already had in mind. When a composite curve segment is **not** the only segment, it cannot be a closed circle.

[2020-10-08 11:26] aothms commented on #1020
I don't think it's recommended to have trimmed curves in your topology. I'd ask you to implement the trim on the Edge itself.

So create an Edge with BasisCurve, FirstParameter, LastParameter and optionally adjust for direction sense.

[2020-10-08 14:13] aothms commented on #1029
Interesting, I wouldn't have guessed that's related, I'll have a look.

[2020-10-08 14:14] aothms opened #1032 "Sweptdisk start and end param"
From user @giovannivelludo

https://github.com/IfcOpenShell/files/blob/master/1032-curve.ifc

Should look like

![afbeelding](https://user-images.githubusercontent.com/1096535/95470559-39cb7b80-0981-11eb-80a6-085da616a46f.png)

[2020-10-08 14:24] aothms commented on #1030
Yes, this is buried deep inside the descriptive text of the standard.

https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/schema/ifcgeometricmodelresource/lexical/ifcrevolvedareasolid.htm

So to construct a sphere this way, you need to use half of a circle so that it doesn't intersect and sweep it 2 pi.

I have implemented a check for this in the code to emit a warning at least.

[2020-10-08 14:52] aothms commented on #1032
Ok, so I'm a bit conservative, because I know that historically the Start- and EndParam have been garbage data (they're not optional) so have to be provided. So I only consider them when the Directrix is a single periodic curve.

[2020-10-08 14:52] #1032 closed

[2020-10-08 18:16] #1030 closed

[2020-10-09 02:30] Moult commented on #1028
@jakob-beetz fantastic! You might be interested in this page: https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples - I use this to train people in IfcOpenShell, it usually takes an hour to go through the crash course whilst explaining IFC concepts. It might be helpful to your IfcOpenShell scripting tutorial!

I use the BlenderBIM Add-on to teach this. I see you've got a custom tool,

[2020-10-09 02:32] Moult commented on #1031
It looks as though you have assigned invalid classifications to IFC objects. This may be a bug in the add-on, as it should ideally only allow the user to create valid data. Can you share your Blender file? If it is private, feel free to send to dion@thinkmoult.com and I will only use it for the purposes of debugging.

[2020-10-09 03:29] BinLi2016 commented on #1020
Thanks for your prompt response.
I modified the code according to your suggestion. Unfortunately, I doesn't work well, I got the same NULL pointer.

	gp_Circ arc1(gp_Ax2(gp_Pnt(0.0, 0.0, 0.0), gp_Dir(0.0, 0.0, 1.0)), 2.5);
	TopoDS_Edge L1 = BRepBuilderAPI_MakeEdge(arc1, 0, M_PI);
	TopoDS_Edge L2 = BRepBuilderAPI_MakeEdge(arc1, M_PI, 2 * M_PI);
	BRepBuilderAPI_MakeWire mkWire_L;
	mkWire_L.Add(L1);

[2020-10-09 09:42] #1007 closed

[2020-10-09 09:45] Moult commented on #1009
Closing out bug, since I don't see an easy way of doing this without hacky monkey-patching, and based on personal experience debugging people's issues, the version number is rarely useful right now.

[2020-10-09 09:45] #1009 closed

[2020-10-09 09:47] Moult commented on #1004
This bug is now fixed. The `film_transparent` issue is due to remembering settings from the old version of the add-on. Simply delete all drawing styles and then reload your file, ensuring that you have a fresh factory settings loaded - reloading will prompt it to regenerate the default drawing styles, thus fixing the issue.

![image](https://user-images.githubusercontent.com/88302/95568979-a671738

[2020-10-09 09:47] #1004 closed

[2020-10-09 10:09] Moult commented on #1028
@jakob-beetz one more thing that may interest you - I've building visual programming nodes for IFC in Blender - https://github.com/IfcOpenShell/IfcOpenShell/issues/1010 - this may be a useful educational tool. Let me know what you think :)

[2020-10-10 08:33] SigveMartin commented on #1028
We used IfcConvert in the 3D pipeline when we started Rendra (rendra.io). I think it is still in good use there.

I have also used ifcopenshell python module in courses for BIM technicians [content here](https://github.com/bimfag/intro-python-bim) : and for creating different scripts.

[2020-10-10 08:46] aothms commented on #1028
https://twitter.com/SigveMartin/status/1314845041207246849

[2020-10-10 08:47] aothms commented on #1028
Also @juancarlosgermano from https://augin.app/en/ might want to comment.

[2020-10-10 08:52] aothms commented on #1028
My priority is more on use cases and technical examples. I had naively and secretly hoped that logos on the website could be some sort of revenue channel 💰

I find the python.org website reasonable in that sense (although I also feel that their adoption level they don't need to convince people with "control flow" in their language). And I really prefer a cleaner design with less gradients. I can p

[2020-10-10 08:54] aothms commented on #1028
@johanrd might also want to comment. He has helped tremendously in quality assurance with isolated cases and expected outcomes.

[2020-10-10 08:56] aothms commented on #1028
@Stinkfist0 and @otsoa if they're still around perhaps...

[2020-10-10 09:15] aothms commented on #1025
Another option is that we add a "target class" to serialize() let's say IfcWall or IfcConnectionGeometry or IfcRelSpaceBoundary. That's maybe more straightforward for end users than assign the product definition shape and also allows us to make type-specific implementation choices. For example we can guess a wall axis or export it as a vertical extrusion.

[2020-10-11 08:42] aothms commented on #1020
Ok, there was a BezierCurve in there, probably from the ruled surface. To my best knowledge I have added code to convert it into an IfcBSplineCurveWithKnots, but I haven't really been able to test it. So please double check and if you have any fixes feel free to send in a PR.

[2020-10-11 08:45] aothms commented on #1031
In addition, re:

IfcOpenShell is a module written in C++ so it's specific to Operating System, Python version and 32/64 bits. But you can download all options here if you want to experiment: http://ifcopenshell.org/python

[2020-10-12 09:03] BlocInBloc commented on #1019
Thanks for the fix, it works !

[2020-10-12 17:36] giovannivelludo commented on #977
Closed because both files causing the issue do not comply with the IFC specification, they both contain instances of IfcRevolvedAreaSolid where Axis intersects the interior of SweptArea, like in #1030 .

[2020-10-12 17:36] #977 closed

[2020-10-12 18:35] giovannivelludo opened #1034 "Union of IfcRevolvedAreaSolid and IfcExtrudedAreaSolid doesn't work using create_shape"
The [file](https://github.com/IfcOpenShell/IfcOpenShell/files/5366907/endplate.txt) causing the issue. Other viewers display the section of the difference between two ellipsoids (id 49) correctly. I'm using Blender 2.90.1 and BlenderBIM 200912 on Linux. Debug log:
[code]

[2020-10-12 19:58] juancarlosgermano commented on #1028
@Moult we are happily using IFCOpenShell at Augin (augin.app - augmented reality platform for BIM models), it´s been almost 2 years and these days we process more than 400 ifc models a day. The work of Thomas is amazing, and thanks for his great work with IFCOpenShell we were able to launch Augin. I´m a big fan of this great tool. By the way, @aothms , i will be happy to share IFCOpenSHell logo in

[2020-10-12 20:48] giovannivelludo commented on #1034
In this other [file](https://github.com/IfcOpenShell/IfcOpenShell/files/5367386/051200ALR1A.txt) the same geometry is rendered correctly.

[2020-10-12 20:55] Moult commented on #1031
Bump, ping @cgieling can you provide the IFC file that I asked in the email? That is necessary for debugging.

Aside from that, if the problem is moving the blend file from one computer to another, that can be fixed too. I'll make a note of it.

[2020-10-13 06:14] otsoa commented on #1028
@aothms Yes we do use IfcOpenShell at [Tridify](https://tridify.com)  👍

[2020-10-13 10:34] BlocInBloc opened #1035 "[IfcConvert] Trouble with svg conversion result"
The output svg from ifc conversion (IfcConvert) are wrong

# IfcBeam
[ifcBeam.ifc.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5370674/ifcBeam.ifc.zip)
* IFC preview
<img src="https://user-images.githubusercontent.com/49783526/95848774-c8a81180-0d4e-11eb-90f9-89e37e7d571d.png" width="200" height="200" />

* SVG result
<img src="https://user-images.githubusercontent.com/49783526/95848780

[2020-10-13 12:37] karina-ufa opened #1036 "I can't export to IFC from Blender"
![Screenshot_1](https://user-images.githubusercontent.com/72802782/95861156-809ee400-0d7a-11eb-8006-bee2121da1ad.jpg)

I did everything according to the instructions, but I will give an error. I tried it in different versions.
![image](https://user-images.githubusercontent.com/72802782/95861690-3ff39a80-0d7b-11eb-84e6-457671424019.png)
![image](https://user-images.githubusercontent.com/72802782/95

[2020-10-13 16:22] fluider commented on #1023
No progress made on this at the moment. I suspect that I have to do the changes at another spot in ifcopenshell, because it couldn't see any effect even when hardcoding the precision in std::string format_double(const double& d). I will look again.

[2020-10-13 21:49] Moult commented on #1036
You seem to have accidentally renamed `IfcBuildingStorey/Ground Floor` to `IfcFurniture/Ground Floor`.

[2020-10-13 21:57] Moult commented on #1010
Closing, as first release imminent.

[2020-10-13 21:57] #1010 closed

[2020-10-14 03:45] greeshmaunni1990 opened #1037 "Issue with set_shape_transparency ifcopenshell"
Hi I was using the function ifcopenshell.geom.utils.set_shape_transparency(display, alpha) and was getting an error 'TypeError: AIS_InteractiveContext_SetTransparency expected 4 arguments, got 3'. So i have added the third agrument which is a boolean and set it to True. But now i am getting another error 'TypeError: in method 'AIS_InteractiveContext_SetTransparency', argument 2 of type 'opencascad

[2020-10-14 04:35] karina-ufa commented on #1036
![image](https://user-images.githubusercontent.com/72802782/95943877-66a7e480-0e00-11eb-9bf4-37f3e569a7b7.png)
I tried to rename it, it doesn't help

[2020-10-14 04:39] Moult commented on #1036
Can you attach your file? If it is sensitive, send to dion@thinkmoult.com

[2020-10-14 08:33] karina-ufa commented on #1036
I send my file! Thank you very much!!!

[2020-10-14 10:16] aothms commented on #1037
H'm I indeed, can reproduce this on the latest 7.4 version of OCCT. Which is somewhat odd. One way around this is to not use AIS_InteractiveContext.SetTransparency() but instead AIS_Shape.SetTransparency() and potentially AIS_InteractiveContext.Update() afterwards.

What's the type of `ais` in your call to `ifcopenshell.geom.utils.set_shape_transparency()`. Can you add a `print(type(ais))` there?

[2020-10-14 10:20] aothms commented on #1037
Also: That first part of your comment should be handled by this( are you on an older version?) https://github.com/IfcOpenShell/IfcOpenShell/commit/e2e217700d68a89cde3e3a7c09ee13bd3c3ca66d

[2020-10-14 10:24] aothms commented on #1023
It's working for me:

[code]

But as I said

[code]

Did you properly rebuild and reinstall the module?

[2020-10-14 10:48] greeshmaunni1990 commented on #1037
Hi Thank you for replying. The ooct i am using is of the version 7.4.0.and type of ais is "<class 'OCC.Display.OCCViewer.Viewer3d'>". I did not get portion where you were saying about changing to AIS_Shape.SetTransparency() as I am new to this. Could you explain?

[2020-10-14 10:57] aothms commented on #1037
That's not the way it's intended to be used then. Call the function with a result obtained from `display_shape()` https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/geom/occ_utils.py#L106

The function currently uses `AIS_InteractiveContext.SetTransparency()` https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/geo

[2020-10-14 23:38] Moult commented on #1028
I was trying to find out the "birthdate" of IfcOpenShell, and from the sourceforge history the oldest activity I've found is mid 2011. How close was I, @aothms ? :)

[2020-10-15 06:36] aothms commented on #1028
Close, that's what I remember as well. I tend to say June 1st but might be
conflating with my own birthday.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op do 15 okt. 2020 01:38 schreef Dion Moult <notifications@github.com>:

[2020-10-15 10:41] greeshmaunni1990 commented on #1037
Thank you fot you response. I have one more doubt i would like to ask you. I have some entities that has been shaded when user checks a checkbox. I have writen the code such that the shaded portion will be transp/arent when the user unchecks it. But the shadd portion is not getting transparent.I dont want to load the ifc code all over again. Is there any other method I could do it?

[2020-10-15 11:52] Anish-Russel commented on #1023
Hello @aothms,
What about TokenArgument::toString() [IfcOpenShell/src/ifcparse/IfcParse.cpp +871] function. It looks like it also converts double to string.

[2020-10-15 11:59] aothms commented on #1023
Does it? I thought it just grabs the text from the underlying token stream https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcParse.cpp#L599 But I might remember wrongly, it's been a while and there have been various pull requests on this.

token.value_double appears to be only read here when interpreting as double https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/

[2020-10-15 11:59] Moult commented on #1036
I couldn't access the file you sent, it seems to be linked to a Google account. Can you grant the access request to dionmoult@gmail.com please?

[2020-10-15 13:27] wq8806 opened #1038 "compile error on ubuntu with oce"
When I build the latest branch v0.6.0 on linux with oce follow the guide 2b). use -DIFCXML_SUPPORT=off
 It fails in compilation stage as follows:

`/home/abay/code/IfcOpenShell/src/ifcgeom/IfcGeomShapes.cpp:1709:15: error: ‘Standard_Integer TCollection_BaseSequence::Size’ is protected within this context
   if (polygon.Size() < 3) {
               ^~~~
In file included from /usr/local/include/oce/

[2020-10-15 16:07] CyrilWaechter commented on #854
Hi,
I have carefully read this issue and related commits and reference. I have implemented a function to handle this in my FreeCAD importer for IfcRelSpaceBoundary without extracting file to a temporary directory like in blenderbim :
[code]
What I don't understand is that I have no `ifcopenshell.ifcopenshell_wrapper.parse_ifcxml` method. I checked that my `IFCXML_SUPPORT` is not set to off in my c

[2020-10-16 08:00] karina-ufa commented on #1036
I send
![image](https://user-images.githubusercontent.com/72802782/96228840-89c4c680-0faf-11eb-84c6-6d1ad0500624.png)

[2020-10-19 06:55] cgieling commented on #1031
Dear Dion,

Excuse me for my late reply.
I was out of office due to an autumn holiday.

I’ve asked a partner of mine for the original IFC file before my holiday started, but I haven’t got a reply on it yet.
I’ll fish after the original IFC again. ;-)

I hope to send it to you soon.

Met vriendelijke groet,

Chris Gieling
Onderzoeker
Lectoraat Sustainable Building Technology (SBT)
Lectoraat Duurzam

[2020-10-19 07:43] ninichki opened #1039 "Endless Loop"
Hi,

the while function in sort_edges can go in an endless loop. Is it possible to make this function more robust?

https://github.com/IfcOpenShell/IfcOpenShell/blob/95d668559780a45e758149a8968fb9a8e484152a/src/ifcgeom/IfcGeomShapes.cpp#L1268

thanks,

and kind regards,

Christian

[2020-10-20 08:30] aothms commented on #1039
We indeed encountered issues with this in the past. One option would be a TopTools_MapOfShape to keep track of visited vertices and break when we detect a cycle. Or simply use a for loop bounded with an integer bounded by the number of edges. Feel free to propose something, ideally a PR :)

[2020-10-20 08:50] Moult opened #1040 "Plans to include Python convenience API for shape analysis?"
Is there a plan to include convenience functions (i.e. to avoid Python OCC) for common tasks when a shape is created? e.g. volume / area calcs, check intersection, centroid?

[2020-10-20 09:13] aothms commented on #1040
I think most of this exists:

check intersection: https://github.com/IfcOpenShell/IfcOpenShell/pull/130 (uses the OCCT in C++ IfcOpenShell)

volume / area calcs: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcGeomRepresentation.h#L80 `calc_area()` etc. not sure if it's accessible from Python also uses OCCT in C++ IfcOpenShell

Can you create a complete overview of desired

[2020-10-20 22:20] Moult commented on #1040
Fantastic! I had no idea that existed! I'll record them in the OSArch Wiki to help expose it to users and will definitely make use of them!

I was having issues with fcl in IFC clash reporting clashes on objects that merely have faces that are coplanar, and was wondering if functions existed in IfcOpenShell that would make my life easier. Is there a function that deals with mesh-mesh intersection

[2020-10-20 22:23] Moult opened #1041 "Convert anomaly finder into IfcPatch recipe"
https://github.com/AECgeeks/ifc_machine_learning_paper_2015

Coming across that codebase, it could be useful as an automated check to spot oddities in the file. Any objections into me turning it into a utility, perhaps included as a recipe in IfcPatch, IfcDiff, or somewhere where it might belong so that users can easily execute it?

Also, any chance of reading the original paper? It seems to be pa

[2020-10-20 22:25] Moult opened #1042 "Differences between hash method and ifcdiff?"
Ping @johltn ! I read your excellent article on http://academy.ifcopenshell.org/calculate-differences-of-ifc-files-with-hashing/

A very similar (if not identical) method is implemented here: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcdiff/ifcdiff.py - using my fork of deepdiff as a dependency. Are there any smarts from that paper that can be merged into the IfcDiff utility?

[2020-10-20 22:28] Moult opened #1043 "Improved IFC optimiser recipe"
Ping @johltn - I read your article here on optimisation of IFCs: http://academy.ifcopenshell.org/optimize-ifc-files/

I previously wrote a very slow IfcPatch recipe that recycled non-rooted elements. I guess it also does optimisation, but is much slower compared to Solibri's results, although if you run it iteratively I did manage to get better than Solibri's results. Here's the code: https://gith

[2020-10-21 06:43] johltn commented on #1042
Hi @Moult

Thanks for your message, sure I'll have a look and compare both approaches.

[2020-10-21 06:47] johltn commented on #1043
Yes sure good idea ! I can convert it to an IfcPatch recipe.

[2020-10-21 06:51] Moult commented on #1043
Awesome! Every patch recipe lives in https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src/ifcpatch/recipes and is a class called `Patcher` with a specific `__init__` signature of `__init__(self, src, file, logger, args=None)` (in your case I suspect not much needs to be logged and no args are required).

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/ifcpatch.py load

[2020-10-21 18:35] EAzari commented on #1042
@johltn good to see your both recent articles are about "compression algorithms"
Good start to improve IfcOpenShell and BlenderBIM

CC: @aothms @Moult

[2020-10-24 10:01] Moult commented on #1041
Ping @aothms ?

[2020-10-24 10:35] Moult commented on #1036
So sorry, I've been quite busy! I forgot to download your file. However, I've just pushed a fix that I think will address your issue. Can you check if that works for you?

If you can resend your file one more time (so sorry!) I can confirm that the fix indeed works for you.

[2020-10-24 10:39] Moult commented on #1036
Eh, sorry, I completely confused this with another issue. Can you please resend your file one more time? I suspect it has to do with a funky non-standard imperial unit name.

[2020-10-24 10:43] Moult commented on #1031
Just an update on this, sorry for the slow response. I've fixed one of the issues: https://github.com/IfcOpenShell/IfcOpenShell/commit/8872a13fd846015c01b30ef225005b7640ba2596

Prior to this fix, you would need to transfer the blend plus a few auxiliary files to another computer - the Blender file itself was not fully self contained. This is now fixed.

However, I think there are still a few more

[2020-10-24 12:23] karina-ufa commented on #1036
Thx you))) I send my file to dionmoult@gmail.com

[2020-10-24 22:29] Moult opened #1044 "Conda builds don't include IfcOpenShell util module"
Reported by user here: https://community.osarch.org/discussion/264/ifcopenshell-util-not-found

@aothms can I help fix this? How?

[2020-10-25 01:49] Moult commented on #1031
I think it should be fixed now. Now, if you re-import the IFC, you can transfer the blend to another computer and export successfully. Please let me know if you're still experiencing issues!

[2020-10-25 02:12] #1036 closed

[2020-10-25 02:13] Moult commented on #1036
It should be fixed now. If you don't want to wait for the fix, you can explicitly set unit settings in your scene properties.

![2020-10-25-131259_352x269_scrot](https://user-images.githubusercontent.com/88302/97097386-d8ffab00-16c3-11eb-93e2-5b5d15f8ab2a.png)

By the way, your file has objects which are highly split into components, which I think in your scenario is not a particularly good way to

[2020-10-25 05:53] Moult commented on #1034
I think this issue is best suited for @aothms

The two files don't seem to be identical. In the file where it works, it is purely a revolved area solid. In the file where it doesn't work, it is a union of a revolved area solid _and_ an extruded area solid. Each of the two sub components of the boolean union can be generated correctly, but the union itself fails.

Here's a screenshot of the subcomp

[2020-10-25 06:47] johltn commented on #1043
The recipe is ready on my fork https://github.com/johltn/IfcOpenShell/commit/99ce6dad5018202516c39b2ad84b862222a3a9ee.
To be used with `python ifcpatch.py -i input.ifc -o optimised_file.ifc -r Optimise`

[2020-10-25 07:07] Moult commented on #1043
Awesome @johltn ! Please feel free to commit it directly to this repo - I'll be happy to test and package it!

[2020-10-25 07:16] johltn commented on #1043
I don't have the authorization to push on the origin repo, but I can make a PR though

[2020-10-25 07:23] Moult commented on #1043
Merged the PR! Will update this issue when I've packaged it!

[2020-10-25 09:57] aothms commented on #1041
I don't know if it's really production ready for that. It may also be beneficial to train over multiple models, etc. I'll send you the paper. There have also been improvements published by others, that one is open access https://www.sciencedirect.com/science/article/pii/S2288430018300149

[2020-10-25 10:01] aothms commented on #1044
I see there is some activity on the repo two days ago https://github.com/conda-forge/ifcopenshell-feedstock/commits/master maybe check again?

[2020-10-25 10:22] aothms commented on #1042
I don't know how deepdiff is implemented, but by using hashes we can compare "sets" of elements efficiently. It's essentially comparing "forests", sets of trees (where the IFC graph of resource values is expanded into a tree, but that is fine, it doesn't make a semantic difference). Even when we eliminate the GlobalId values from the data it can recover identical elements from two models.

[2020-10-25 10:58] aothms commented on #1034
Indeed, the boolean results fails the subsequent checks we do. I remember issues with this before with periodic curves, that the topology is not entirely correct.

I implemented a quick work-around that in case a union fails we just emit the operands separately as a compound.

I don't remember the details precisely, but it might be that generic IfcBooleanResult is also not in 2x3 CoordinationView,

[2020-10-25 22:03] EAzari commented on #1042
@aothms haha, I like what you think :) as you know in the computer graphics exactly the example is a forest and its trees ;)
Also, the hash table let's has access to data everywhere inside the tree
This is one of the reasons I believe IFC is designed badly, because has a deep tree, and the shallow tree is better

[2020-10-25 22:17] Moult commented on #1042
@aothms yes, I believe the premise is the same. The deepdiff library has a a sublib called deephash (which you can trigger if you want to see the hashes themselves). [deepdiff seems to use deephash](https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L233-L249) and seems to provide a wrapper with a [ton of options](https://github.com/seperman/deepdiff/blob/master/deepdiff/diff.py#L10

[2020-10-26 00:39] Moult opened #1046 "Bot fell asleep? :)"
https://github.com/IfcOpenBot/IfcOpenShell/commits/v0.6.0

[2020-10-26 01:00] Moult opened #1047 "Is it possible to set model-offset or rotation to the geometry iterator in Python?"
I tried:

[code]

... and got ...

[code]

[2020-10-26 04:51] Moult commented on #1043
Hmm - I just tested it on a 109MB IFC file. I ran it for half an hour before quitting. From memory, I think Solibri was able to crunch a similar ~100MB (or more) file in under 10 minutes. This is similar to the performance issues I was having with the RecycleNonRootedElements recipe. In particular, I think the `toposort()` function itself takes ages.

Thoughts? Maybe a more low-tech approach is re

[2020-10-26 04:56] Moult commented on #1041
Cheers. I'll close the issue, but thanks for the paper! When I get a bit more of a mature data-set here, I'll revisit this and see if something comes out of it :)

[2020-10-26 04:56] #1041 closed

[2020-10-26 05:10] Moult commented on #1034
Thanks @aothms ! Will mark as fixed when bot build is available to verify.

[2020-10-26 08:24] cgieling commented on #1031
Thanks a lot!
Is it necessary to do a re-install or update of the add-on?
Or is it fixed right away?

From: Dion Moult <notifications@github.com>
Sent: zondag 25 oktober 2020 02:50
To: IfcOpenShell/IfcOpenShell <IfcOpenShell@noreply.github.com>
Cc: Chris Gieling <c.w.j.gieling@saxion.nl>; Mention <mention@noreply.github.com>
Subject: Re: [IfcOpenShell/IfcOpenShell] Blend file doesn't store classif

[2020-10-26 08:27] Moult commented on #1031
Yep - you are required to uninstall the current version, and install the latest version. A new release was made yesterday.

[2020-10-26 09:41] eibre commented on #1044
After a fresh install it seems to work! Thanks

[2020-10-26 09:47] #1044 closed

[2020-10-26 10:55] cgieling commented on #1031
Thank you for the new release!
Unfortunately, after removing the older version and installing the new version.
An error occurs when I’m checking the checkbox for activating the add-on:

[cid:image001.jpg@01D6AB8E.F1CA21B0]

[cid:image003.jpg@01D6AB8E.F1CA21B0]

Am I doing something wrong?

From: Dion Moult <notifications@github.com>
Sent: maandag 26 oktober 2020 09:28
To: IfcOpenShell/IfcOpenShell

[2020-10-26 11:42] aothms commented on #1043
I noticed we do a `f.traverse(inst)[1:]` so we find all recursive references. this is both expensive in IfcOpenShell and maybe (I don't know) also blows up the computation in toposort. Can you try with `max_levels=1` on traverse()?

[2020-10-26 13:10] aothms commented on #1047
I added a commit to wrap array by swig. Not sure what it would look like in Python...

[2020-10-26 22:54] Moult commented on #1047
Awesome! Will try out when the bot wakes up :)

[2020-10-27 01:35] theoryshaw opened #1048 "BlenderBIM: Flipping between drawings doesn't work then in isolate mode (that is using the "/" Key)"
Flipping between drawings doesn't work then in isolate mode (that is using the "/" Key)
![image](https://user-images.githubusercontent.com/507113/97246089-82c95f80-17ca-11eb-9e7a-ecb35f95159b.png)

[2020-10-27 02:49] theoryshaw opened #1049 "BlenderBIM: order the drawings alphabetically"
Possible to order the drawings alphabetically? Helps organize things when there's a lot of drawings.

![image](https://user-images.githubusercontent.com/507113/97250916-ee182f00-17d4-11eb-843f-c55b11ce35a6.png)

[2020-10-27 05:48] theoryshaw opened #1050 "BlenderBIM: error during export"
This file doesn't export.
https://www.dropbox.com/s/oh7qz18g1tqtr8z/20201027-BED.blend?dl=1

Not sure what the problem is.

[code]

[2020-10-27 06:00] Moult commented on #1050
In prior versions, the classification tree was saved to an external file. This had some disadvantages, the primary issue being that you couldn't share just the blend file and export it on another computer.

The latest version completely revamps the way classifications are stored, now storing it within the Blend file, breaking compatibility with the older versions. In the long run, though, it's a b

[2020-10-27 08:00] Moult commented on #1049
Note to self: https://sinestesia.co/blog/tutorials/amazing-uilists-in-blender/

I think Blender has alphabetical sorting built-in :)

![2020-10-27-185911_243x178_scrot](https://user-images.githubusercontent.com/88302/97272891-a651e000-1886-11eb-854c-7e905e1b7e25.png)

[2020-10-27 08:00] #1049 closed

[2020-10-27 08:09] Moult commented on #1048
Just to make sure I understand, can you record or screenshare?

[2020-10-27 13:40] theoryshaw commented on #1049
Ha... noobie in the house.

[2020-10-27 16:51] theoryshaw opened #1051 "BlenderBIM: be able to assign classes to collections"
Would be nice to be able to assign classes to collections, as you do objects.

[2020-10-27 22:13] Moult commented on #1051
Yep, just assign to the empty object within it :)

[2020-10-27 22:13] #1051 closed

[2020-10-28 02:58] theoryshaw opened #1052 "BlenderBIM: a running log of IFC import/export errors"
I spend a lot of time troubleshooting a file that has some isolated object that causes an error during IFC export.

Is it possible to develop some way to highlight the offending object in the viewer?  Would save a ton of time troubleshooting a file.

[2020-10-28 03:01] Moult commented on #1052
Hmmm... there are lots of possible reasons, and I don't really want to put catchall error statements juuuust yet given the alpha state of the add-on.

Maybe we can use this issue to keep a log of issues that you find, and I will 1) if it is a valid error, provide better reporting, 2) if it is something that we can avoid the error altogether, make it happen

[2020-10-28 03:16] theoryshaw commented on #1052
Here's one file, I'm having trouble isolating the reason
https://gitlab.com/openingdesign/223_randolph_st__atlanta/-/commit/8cbedf3a11ced55f5edba05f05d2f304664c70fa

Also, I'm having problems creating drawings. There's an error there too.

Have been doing a lot of 'half splitting' to figure it out, but sometimes that doesn't work. :\

[2020-10-28 03:21] theoryshaw commented on #1052
You'll also notice, that those IfcSpaces are not located corrected when exported, as well.

[2020-10-28 03:44] Moult commented on #1052
Thanks - I can work with that!

[2020-10-28 09:35] Moult commented on #1052
The error in export has been fixed. Maybe we can have a screenshare to figure out how to improve a few things?

[2020-10-28 15:18] theoryshaw commented on #1048
Sure.
https://www.dropbox.com/s/sxu5krnuswwn9jm/2020-10-28_10-17-10.mp4?dl=0

[2020-10-28 15:23] theoryshaw commented on #1050
I just deleted that object from the project. :)

[2020-10-28 15:23] #1050 closed

[2020-10-28 20:57] brunopostle opened #1054 "Segfault with IfcConvert"
I'm generating a lot of IFC files, possibly they are not all 100% valid, but these three reliably produce a segfault with IfcConvert: [segfault.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5454714/segfault.zip)

    $ IfcConvert tmp8st03n9y.ifc tmp8st03n9y.ifc.dae
    IfcOpenShell IfcConvert 0.6.0b0 (OCC 7.4.0.beta)
    Scanning file...
    Done scanning file
    Parsing input file took

[2020-10-29 02:36] whwlei opened #1055 "Source code compilation"
parse_ifcxml.cpp:7:27: fatal error: libxml/parser.h: No such file or directory
 #include <libxml/parser.h>
                           ^
Libxml2 is already installed

[root@localhost libxml2-2.9.4]# find / -name "parser.h"
/usr/include/libxml2/libxml/parser.h
/usr/local/include/libxml2/libxml/parser.h
/usr/local/libxml2-2.9.4/include/libxml/parser.h

[2020-10-29 04:36] theoryshaw opened #1056 "BlenderBIM: error while activating different 'drawing styles'"
video: https://www.dropbox.com/s/ape52s908hnpueg/2020-10-28_23-34-33.mp4?dl=0

[2020-10-29 05:27] #1056 closed

[2020-10-29 06:09] theoryshaw commented on #1056
Unfortunately, that didn't seem to work on my end
https://www.dropbox.com/s/m808kpufiro3zgf/2020-10-29_01-07-50.mp4?dl=0

[2020-10-29 08:27] htlcnn opened #1057 "BlenderBIM Python coding style"
@Moult
Could we agree on some coding style to apply to BlenderBIM Python code? We could use PEP8 with some exceptions of 80-char-line-length.
I usually use VS Code with `black` for my code formatter and `flake8` for my linter.
After some agreements, I might go cleaning up the code.
Thanks

[2020-10-29 08:46] sharon-br opened #1058 "How to use the units utils?"
Hey,
I'm having trouble understanding how to use the units converter under the ifcopenshell.util.unit module
I tried reading the logic and also using it with some examples but none of it made sense to me - is there some code example for this?

The main usage for me is to get the units in the context in the IfcProject file, and when I iterate over my IFC file and get the BaseQuenenties to convert t

[2020-10-29 08:53] jensmtg opened #1059 "IfcConvert feature request: Option to preserve IFC GUID in .glb output"
I'm trying to make 3D viewer where clicking elements can present information about the given element from an `.xml` derived from the same ifc, but the `.glb` data uses a different set of identificators. (Full length uuids instead of compressed ifc guids.)

[2020-10-29 09:07] aothms commented on #1059
This exists. That's `--use-element-guids`.

[2020-10-29 09:13] jensmtg commented on #1059
You're right. Not sure how i missed that... Well, great news anyway!

[2020-10-29 09:16] aothms commented on #1055
Yes that's a bit of an open issue in the cmake configuration. My recommendation is to add `-DIFCXML_SUPPORT=Off` when invoking cmake.

[2020-10-29 09:50] Moult commented on #1056
This is what happens when you commit code before even re-reading it :)

[2020-10-29 11:06] #1021 closed

[2020-10-29 13:24] theoryshaw commented on #1056
Unfortunately, that still doesn't seem to work on my side.

[2020-10-29 14:20] theoryshaw commented on #1056
I take that back, operator error.

[2020-10-29 14:51] cgieling commented on #1031
Hi,

the images:

![blender1](https://user-images.githubusercontent.com/62999728/97589645-13d44c80-19fe-11eb-8e92-89840baac9eb.jpg)
![blender2](https://user-images.githubusercontent.com/62999728/97589643-12a31f80-19fe-11eb-83ca-a6c821e6c294.jpg)

I've done a uninstall and re-install on the add-on and Blender itself. Unfortunately the problem wasn't solved.

[2020-10-29 14:54] aothms commented on #1046
She's awake again https://github.com/IfcOpenBot/IfcOpenShell/commit/aa49db07d37a94606e54be15f4109819c7636664#commitcomment-43698689

[2020-10-29 15:12] Moult commented on #1031
This looks like a strange installation issue. Does this folder exist?

`C:/Program Files/Blender Foundation/Blender\2.90\scripts\addons\blenderbim\libs\site\packages`

[2020-10-29 18:47] theoryshaw opened #1060 "BlenderBIM: add/remove/reassign 'attributes', or 'Property Sets' or 'Object Quality Sets', etc. to multiple objects at the same time"
Is it possible to add/remove/reassign 'attributes', or 'Property Sets' or 'Object Quality Sets', etc. to multiple objects at the same time?

Thought 'alt' would work, but it doesn't seem to.

[2020-10-29 21:41] Moult commented on #1057
I'm happy to use black and flake8. A quick google shows both as solid recommendations.

Before proceeding, we'll need to ping @aothms for his opinion, as I suspect this decision would also impact things like IfcOpenShell Python modules.

[2020-10-29 21:55] Moult commented on #1058
I hear that in a future version of IFC, units will be removed, and this'll make life easier... but until then...

The code in the util unit may need cleaning or improvement to handle more cases (see below). Suggestions are welcome!

You are correct that the way to find units is checking `UnitsInContext.Units`. You'll loop through that, and `LENGTHUNIT` will provide length units, `AREAUNIT` for are

[2020-10-29 22:00] Moult commented on #1060
You can add / reassign attributes, properties by adding/assigning to the active object, and then selecting multiple, with the active one being the one you want to propagate, then pressing the `Copy Property` button.

Quantities are kinda different as usually you don't want to copy them, you want to calculate them for multiple objects. This works in a very similar way, simply by pressing the guess

[2020-10-30 05:18] theoryshaw opened #1061 "BlenderBIM: Qto quantities update in the background"
Would be nice if the Qto quantities updated in the background, verses manually refreshing them.

[2020-10-30 05:31] theoryshaw opened #1062 "BlenderBIM: UI suggestion for bring up camera object."
A UI suggest for bringing up camera panel.

I go to the camera object a lot, and this would help.

![image](https://user-images.githubusercontent.com/507113/97663190-e364d080-1a46-11eb-9d45-554a2e64bf3e.png)

[2020-10-30 08:53] johanrd commented on #1028
@Moult and @aothms (and everyone, really): **Congrats to BlenderBIM for the buildingSMART awards 2020 for Technology Excellence** :tada:

Also wanted to share that the winner of **Project Delivery Exellence – Construction**, is powered by IfcConvert:) [All contractors in Project Celcius have the IFC model as the top legal contract](https://www.youtube.com/watch?v=T1KWHD6Xh7w), and uses [StreamBIM]

[2020-10-30 09:00] aothms commented on #1054
There are things like `#8787=IFCCARTESIANPOINT()` where the attribute count is wrong. This caused uninitialised reads. This is fixed now. Thanks for the report.

[2020-10-30 09:05] aothms commented on #1028
Congrats @johanrd and team! Great work. Thanks for mentioning!

[2020-10-30 10:16] cgieling commented on #1031
That path doesn’t exist on my computer.

I can’t get any further than this:
C:\Program Files\Blender Foundation\Blender 2.90\2.90\scripts\addons

In the folder “addons” I can’t find “blenderbim” after installing it.
In Blender itself I still have the possibility to enable the add-on BlenderBim:

[cid:image001.jpg@01D6AEAE.21D70310]

[cid:image002.jpg@01D6AEAE.21D70310]
I have followed the installa

[2020-10-30 12:26] sharon-br commented on #1058
What should I do in the case where I find IfcConversionBasedUnit for the length unit, but there is no unit for area and volume, how should I approach that?

[2020-10-30 15:19] theoryshaw commented on #1060
Yes, would be super helpful to have a way to remove or add attributes in bulk.  Already had a couple painful times where this would have been awesome.

Also, it would be nice if when you changed an object's IFC class, that it asked if you if you want to delete the associated pset and attributes as well.  I had changed the class of a number of objects and had a lot of 'dross' that I need to manuall

[2020-10-31 06:32] Moult commented on #1058
@sharon-br if there is no defined unit for area or volume, and yet area or volume measurements existing the file, then the unit is undefined. I think you can do whatever you want in this scenario and nothing is strictly more correct than the other.

I could be wrong about this, so if somebody finds a strict rule in the spec please let me know.

In the spec, I couldn't find an explicit definition f

[2020-10-31 06:35] Moult commented on #1060
You can add attributes in bulk. Did you try what I suggested?

I'll add a feature to remove attributes, psets, qsets, properties, and quantities in bulk.

I'm not a fan of dialog boxes in general. I'll find a way to improve the situation when changing object classes.

[2020-10-31 09:26] Nevermind3r88 commented on #1031
Hi guys and thanks for your great work!
Maybe is the same problem, so I write here... my log is almost the same.
The last version works well, only some problems exporting objects before imported from other BIM softwares.
Now, I'm not able to export every object in my file.
This path doesn't exist on my pc:
C:/Program Files/Blender Foundation/Blender\2.90\scripts\addons\blenderbim\libs\site\package

[2020-10-31 09:30] Nevermind3r88 opened #1063 "Log error line ..."
Hi guys and thanks for your great work!
Maybe is a similar problem solved before but I want to open a new 3d to be sure.
I see a strange log with several errors when I try to export my file to IFC extension.
The last version works well, only some problems exporting objects before imported from other BIM softwares.
Now, I'm not able to export every object in my file.
This path doesn't exist on my p

[2020-10-31 09:32] Moult commented on #1031
@cgieling this looks like a suspicious path. I think it's easiest if we simply screenshare and see if we can resolve the issue and I can ask to see various files via screenshare. If that's OK, let me know what time works for you, anytime during the Sydney timezone is OK, we can meet using https://meet.jit.si/openbim

@Nevermind3r88 I think your error is something else. It looks to be complaining a

[2020-10-31 09:33] Moult commented on #1063
I responded here: https://github.com/IfcOpenShell/IfcOpenShell/issues/1031#issuecomment-719909379

[2020-10-31 09:39] Nevermind3r88 commented on #1031
I'm on IRC live

[2020-10-31 10:59] Krande opened #1064 "Using the IfcPresentationLayerAssignment for grouping and visibility control"
Hi,

So this might not necessarily be an issue with ifcopenshell or BlenderBIM, but perhaps more a question regarding understanding\using the [IfcPresentationLayerAssignment](https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/schema/ifcpresentationorganizationresource/lexical/ifcpresentationlayerassignment.htm).  Based on the statement in the docs "*The IfcPresentationLayerAssignmen

[2020-10-31 16:14] DuncanLithgow opened #1065 "BlenderBIM fails to open IFC4 file"
Blender 2.9.2 with BlenderBIM Add-on 201025 fails to open this file
http://openifcmodel.cs.auckland.ac.nz/Model/Details/348

Fails only the first time. On subsequent tries it goes fine. I've seen this happen a few times. If someone would just check this it might be my weak system that's the problem.

[2020-10-31 18:49] theoryshaw commented on #1052
Get the following error exporting [this](https://gitlab.com/osarch/FreeMVD_WorkFlow/-/blob/7728c133682bab0fd0df8adcfe1ed46ea2d197c9/Random%20Tests/Stair/Stair_03.blend) file.

[code]

[2020-10-31 19:30] theoryshaw commented on #1060
It appears you can add the value of the attribute in bulk, but you can't add the attribute in bulk.  Is that correct?

Maybe a UI like this?

![image](https://user-images.githubusercontent.com/507113/97788176-f1207000-1b84-11eb-856a-eac4a90124b3.png)

...or maybe even remove ![image](https://user-images.githubusercontent.com/507113/97788195-24fb9580-1b85-11eb-99c9-bc67ae88159c.png) altogether and

[2020-11-01 06:51] Moult commented on #1064
@Krande you are correct in your understanding of `IfcPresentationLayerAssignment`. Currently, the BlenderBIM Add-on only has support for _exporting_ this assignment, and does not have support for showing layers nor toggling visibility based on layers.

This is a good, straightforward, feature request. Are you able to code? Would you like to give it a shot? If not, I can help build it.

[2020-11-01 06:57] Moult commented on #1057
Ping @aothms ?

[2020-11-01 07:36] Moult commented on #1060
@theoryshaw what is the purpose of adding a blank attribute in bulk?

[2020-11-01 07:47] htlcnn commented on #1057
He might be enjoying the weekend 😃

[2020-11-01 07:53] Moult commented on #1057
Now I feel guilty for pinging! :) Absolutely no rush at all...

[2020-11-01 07:58] aothms commented on #1057
No worries. I had a message written somewhere but apparently forgot to
send. Either is fine to me. Would be good if we document it on the wiki
(there is a style page about c++) and test on Travis.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op zo 1 nov. 2020 08:53 schreef Dion Moult <notifications@github.com>:

[2020-11-01 09:00] #1063 closed

[2020-11-01 09:05] Moult commented on #1063
So it turned out this is not really a bug in the add-on, luckily, but I've added new error logs so it becomes easier to figure out what the issue is.

The first issue was the lack of the `IfcProject/X` and spatial objects, like `IfcSite/School` and so on.

The second issue, about the `IfcReinforcingElement` is that `IfcReinforcingElement` is actually "abstract" in the IFC4 specification. This mean

[2020-11-01 09:08] Moult commented on #1057
Cheers :) Go go go @htlcnn ! I'll update the wiki once the code cleanup is in progress!

[2020-11-01 09:09] #1046 closed

[2020-11-01 09:12] htlcnn commented on #1057
@Moult what about line length limit? PEP8 suggests 80, I use 120.

[2020-11-01 09:27] Moult commented on #1057
120 sounds more sensible with today's monitors and IDEs. Also, I tend to like long, descriptive variable names.

[2020-11-01 09:39] htlcnn commented on #1057
@Moult
I used `black` to reformat `src` folder. Please have a look: https://github.com/IfcOpenShell/IfcOpenShell/pull/1067
naming would be consider later as it takes time. I agree that explicit is better than implicit :)

[2020-11-01 11:17] Krande commented on #1064
Sure, I can give it a shot!

I have a fork already, and I can start preparing to make a pull request. Regarding the code itself. I think I have a handle on the *LayerAssignments* for each Body representation. But let me know if you have a minute to discuss where and how you would want me to start adding this into the (I guess it would be the [import_ifc.py](https://github.com/IfcOpenShell/IfcOpenS

[2020-11-01 11:51] Moult commented on #1064
The first thing would be to familiarise how the presentation layers work - which I think you've done already: https://standards.buildingsmart.org/IFC/RELEASE/IFC4/ADD2_TC1/HTML/link/ifcpresentationlayerassignment.htm - you'll notice a presentation layer is more than just a layer name. It can also have a description and identifier. However, in the BlenderBIM Add-on, we currently only store one attr

[2020-11-01 11:54] Nevermind3r88 commented on #1063
I'll try as you suggest :) thanks a lot!!!

[2020-11-01 12:14] Moult commented on #1057
I've closed the PR, not because I disagree, but because it is quite a long PR. 114 files is a lot to review, and I suspect I'll be making other changes in the meantime, and I want to avoid merge conflicts.

Can you create a new PR that only reformats files in these dirs:

 - src/bimtester/
 - src/ifcclash/
 - src/ifccobie/
 - src/ifccsv/
 - src/ifcdiff/
 - src/ifcpatch/
 - src/ifcsverchok/

That w

[2020-11-01 12:18] Jesusbill commented on #1057
Yes it is fine for me

[2020-11-01 12:21] Moult commented on #1043
Hmm, I tried with `max_levels=1` and it still took prohibitively long. @johltn what are the results like on your end? Maybe it's just me?

[2020-11-01 12:26] htlcnn commented on #1057
@Moult sure, here you are: https://github.com/IfcOpenShell/IfcOpenShell/pull/1068

[2020-11-01 12:33] Moult commented on #1052
@theoryshaw a good thing to watch out for is for any errors in the error log / console. When I run it, I see these three error lines:

[code]

Those lines appear prior to the error you've quoted, and will provide the hint you need to fix it. For example, it says "attribute index out of bounds" which means that those objects contain an attribute that they're not allowed to. In particular, the stair

[2020-11-01 12:51] Moult commented on #1057
Merged :) Now for the Blender add-on and IfcOpenShell Python :)

[2020-11-01 13:10] htlcnn commented on #1057
@Moult https://github.com/IfcOpenShell/IfcOpenShell/pull/1069 thanks :)

[2020-11-01 14:17] theoryshaw commented on #1060
A lot of times i'll add objects and modify them as I design, not worrying about metadata at first, once things settle down enough, then i'll add classes and descriptions, etc.

Current approach...
- Add description attribute
 - add 'foo' value
- Add description attribute
 - add 'bar' value
- Add description attribute
 - add 'baz' value
- Add description attribute
 - add 'qux value

compared to a m

[2020-11-01 16:02] theoryshaw commented on #1052
Good to know.  Thx.

---

As you can see from [these](https://gitlab.com/osarch/FreeMVD_WorkFlow/-/tree/ebcba308e1461603c18fa02ec0f9f481cd59946d/Random%20Tests/Stair) following test files, when I imported/exported via IFC4, it worked, but got [this](https://gitlab.com/osarch/FreeMVD_WorkFlow/-/raw/ebcba308e1461603c18fa02ec0f9f481cd59946d/Random%20Tests/Stair/IFC2x3/Stair_04_blend.ifc_error.png) er

[2020-11-01 20:14] johltn commented on #1043
I've just run ifcpatch with `max_levels=1` for a ~200MB file, more than 30 minutes ago, so I've got the same issue @Moult

[2020-11-01 22:04] CyrilWaechter commented on #1057
@htlcnn I like black and think it is a good thing to use it but it would have been nice to use technique which allow to not ruin git blame : [Migrating your code style without ruining git blame](https://github.com/psf/black#migrating-your-code-style-without-ruining-git-blame)

[2020-11-01 22:08] Moult commented on #1057
@CyrilWaechter that's a good idea! @htlcnn would you be interested in committing a git blame ignore file?

[2020-11-01 22:11] Moult commented on #1043
@johltn perhaps you can look at my attempt in this recipe? https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcpatch/recipes/RecycleNonRootedElements.py It's much "dumber" and doesn't guarantee that a single iteration optimises the file fully, but is faster, at least...

Maybe if this were written in C++ and if it used multicore it could be much faster?

[2020-11-01 22:33] Moult opened #1071 "Create an IFC2X3 to IFC4 upgrader IfcPatch recipe"
See https://github.com/IfcOpenShell/IfcOpenShell/issues/1052#issuecomment-720081495

[2020-11-01 23:27] Moult commented on #1052
Yes, that is a related issue. Basically, upon import classifications are upgraded to IFC4. Then, it can't be downgraded since there is no support for downgrading. I'll add a bug.

[2020-11-01 23:27] Moult opened #1072 "IfcClassifications should support transparent conversion from IFC versions"
See https://github.com/IfcOpenShell/IfcOpenShell/issues/1052#issuecomment-720168762

[2020-11-01 23:28] Moult commented on #1031
Ping @cgieling - can we organise a time to screenshare?

[2020-11-02 01:17] htlcnn commented on #1057
@CyrilWaechter thanks for the suggestion.
For the convenience of reviewing the PR, I used 1 commit for each time of a folder reformatting as @Moult asked. I found it reasonable. If you want to ignore those commits when your editor runs `git blame`, you have to configure custom argument `--ignore-revs-file .git-blame-ignore-revs`. I did that with my editor (VS Code), it worked for the comment on cu

[2020-11-02 10:20] chingham commented on #992
Did you manage to solve this issue ? I have the exact same one

[2020-11-02 10:35] Moult commented on #1006
This is now resolved since the location of views is now in the IFC project.

[2020-11-02 10:35] #1006 closed

[2020-11-02 10:58] johanrd commented on #992
@chingham There are many occasions for why/how an opening subtraction may fail. I have the impresson that this most often happens when the coordinates of the opening subtraction are just slightly off from the wall it should be subtracted from, but there are almost endless sources of failure of boolean operations.

[IfcConvert is not yet as robust as we could hope for](https://github.com/IfcOpenShe

[2020-11-02 22:53] #971 closed

[2020-11-03 02:20] whwlei commented on #1055
At present, make -j cannot be completed in the environment of ubuntu14.4 and centos 7.6 according to the documentation

[2020-11-03 05:40] htlcnn commented on #1057
@Moult ping

[2020-11-03 05:41] Moult commented on #1057
Happy to get a git blame ignore file, it doesn't hurt, and we can always add more to it in the future if we need more commits to be ignored.

[2020-11-03 05:57] htlcnn commented on #1057
@Moult https://github.com/IfcOpenShell/IfcOpenShell/pull/1073

[2020-11-03 06:15] Moult commented on #1057
Thanks so much! Closing bug, as I think this is now resolved fully!

[2020-11-03 09:17] aothms commented on #1055
ubuntu 14.4 is six years old. I don't think it's an immense effort to make it work, we also had to support a recent old gcc on OSX for a long time. The v0.6.0 is just C++11.

Travis has been on 16 for a long time, but recently upgraded to 18. https://github.com/IfcOpenShell/IfcOpenShell/commit/8f43a65b74b96d461b367527ee46924fe3d81042#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366c

[2020-11-03 10:05] Moult commented on #1060
Everything can now be done in bulk. Closing bug.

[2020-11-03 10:05] #1060 closed

[2020-11-03 10:07] #1058 closed

[2020-11-03 10:14] #1011 closed

[2020-11-03 10:18] Moult commented on #1065
Could not replicate :)

[2020-11-03 10:18] #1065 closed

[2020-11-03 11:59] #946 closed

[2020-11-03 12:00] Moult commented on #946
So I kinda fixed this in a different way to the way I thought I would, but I think it's less confusing now, so I'm closing the bug.

[2020-11-03 14:54] aothms commented on #1043
I don't think there is something fundamental in the approach that makes it inefficient.

Looking at the profiling log on the execution I see most of the time is spent in `get_info()`. I got a bit of an improvement in by adding a `@functools.cache` decorator to the entity_instance.get_info definition. But I imagine a huge improvement would be not to make it recursive. It's recursive now so that *in

[2020-11-03 14:58] aothms commented on #1043
Edit: another option would be to implement `get_info` (or the internal function there to create tuples of <key, value> pairs) in C++.

[2020-11-03 16:16] CyrilWaechter commented on #1057
@Moult Almost fully resolved. aothms asked to add it to wiki. I assume he was talking about github wiki so I have added a [python paragraph](https://github.com/IfcOpenShell/IfcOpenShell/wiki/Coding-Conventions#python). See if it is ok for you.

He also asked something about test on Travis but I did not fully understood.

[2020-11-03 16:33] aothms commented on #992
@johanrd is correct.

 In this particular case the issue is actually fully caused by IfcOpenShell. There are boolean operands that share an edge:

![afbeelding](https://user-images.githubusercontent.com/1096535/98011808-a1e27580-1df8-11eb-9e2f-32f6f74e464f.png)

![afbeelding](https://user-images.githubusercontent.com/1096535/98011824-a60e9300-1df8-11eb-801b-e5bd6abe9755.png)

Causing the result to

[2020-11-03 18:32] luzpaz opened #1074 "Make IfcOpenShell available via the macOS homebrew package manager"
Downstream ticket https://github.com/FreeCAD/homebrew-freecad/issues/97

[2020-11-03 18:59] aothms commented on #1074
What needs to be done? Is there a template for a standard cmake based
project?

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op di 3 nov. 2020 19:32 schreef luzpaz <notifications@github.com>:

[2020-11-03 19:25] luzpaz commented on #1074
References:
https://docs.brew.sh/Formula-Cookbook
https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request

[2020-11-04 00:56] htlcnn commented on #1057
@CyrilWaechter we might add line length limit of 120 characters to the wiki as discussed above.
Travis is to automatically test whether a commit complies to the styling we chose. Some commands should be added to https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/.travis.yml but I see only python2.7 there. Could you please elaborate @aothms ?

[2020-11-04 02:47] Moult commented on #1064
Ping @Krande - how is it going? Anything I can help with?

[2020-11-04 02:48] Moult commented on #1040
Are there checks for manifold / closed geometry? This would be useful to verify whether we can later on recalculate volumes for costing / quantity take-off.

[2020-11-04 03:43] Moult commented on #1043
Oh dear, I understood very little of that :) Especially this sentence:

Is there something I can help code?

[2020-11-04 07:54] Moult commented on #1031
Confirmed as resolved after screensharing session.

[2020-11-04 07:54] #1031 closed

[2020-11-04 07:58] CyrilWaechter commented on #1057
Done also added pyproject.toml to avoid the need of manual configuration.

[2020-11-04 08:00] Krande commented on #1064
Hey, it took me some time to figure out a good local development setup, but I think I've found a setup that works okay now,

This is where I am at for now:

* I managed to find the presentation_layer in the ui and exported successfully a new presentation layer assignment using the ui
* I have converted the presentation_layer attribute in the BIMMeshProperties to PointerProperty [here](https://gith

[2020-11-04 08:12] Moult commented on #1064
Fantastic progress! You're definitely heading in the right direction. The pointer property is correct. The `PresentationLayer` class is also correct.

You are missing a collection property though to store the list of all presentation layers in the project. A pointer property only creates the relationship between the mesh and a presentation layer, but that's all it does - it "points" but cannot hol

[2020-11-04 08:31] aothms commented on #1057
Does it help if I update Travis yml to py3?

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op wo 4 nov. 2020 09:00 schreef Dion Moult <notifications@github.com>:

[2020-11-04 08:45] aothms commented on #1074
Thanks. I'd happily assist but I don't have the time and hardware to take
the initiative on this

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op di 3 nov. 2020 20:25 schreef luzpaz <notifications@github.com>:

[2020-11-04 10:37] aothms commented on #1043
The problem is the following, let's say in case of

[code]

toposort will get us to process the points first, but then when we process the polyline, `get_info(recursive=True)` will again visit all the points again to expand their attribute values into tuples. This repeats ad nauseam all the way up the graph 12 levels deep. This is not necessary, because due to the topological sort we already know

[2020-11-04 10:52] aothms commented on #1043
Edit: perhaps https://igraph.org/r/doc/topo_sort.html

[2020-11-04 13:30] johanrd opened #1076 "Mising subtractions for beam (example file)"
1. Convert [1076--beam--missingSubtraction.ifc](https://github.com/IfcOpenShell/files/blob/master/1076--beam--missingSubtraction.ifc) with 96b8bc638b82f3d9583aaebcd8d8a0e338a67009 (or any other version) (OCCT 7.3.0p4), and experience failing opening subtraction:
[code]
<img width="81" alt="Screenshot 2020-11-04 at 15 31 25" src="https://user-images.githubusercontent.com/4601554/98124238-36a9a980-1

[2020-11-04 13:55] johanrd opened #1077 "Missing subtractions for wall with --enable-layerset-slicing (example file)"
Convert [1077--wall--missingSubtraction--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/1077--wall--missingSubtraction--augmented.ifc) with 96b8bc6 (or any other version) (OCCT 7.3.0p4) and experience failing opening subtraction when running with `--enable-layerset-slicing`:

| Expected | Failing |
|---|---|
| <img width="482" alt="Screenshot 2020-11-04 at 14 42 01" src="https://

[2020-11-04 17:14] olomakovskyi-blackbird opened #1078 "The reason why iterator.initialize() returns False"
Hi,
`iterator.initialize()` returns False for one of my files and I'm trying to find a reason why it happens. I've found https://github.com/IfcOpenShell/IfcOpenShell/issues/745 issue with a couple of things to try to find a cause. `ifcopenshell.file.good()` returned True for my file but `ifcopenshell.get_log()` returned `[Error] Token $ at 2350979 invalid instance name`.
So my first question is wh

[2020-11-04 21:16] Moult commented on #1078
2350979 is the byte offset of the token in the file where the error occurs.

In vim, you can access it by doing `2350979go` to jump to the right location. At a glance, that property set looks alright, I think it's pointing elsewhere in your file.

[2020-11-05 01:34] htlcnn commented on #1057
@aothms Because I don't see how travis runs on this repo, may I ask what are you using .travis.yml for? Is it for IfcOpenBot to test, then build if the test succeeds? Why does IfcOpenShell still support Python 2.7?
`black` requires Python 3.6+ to work, so we should focus on using `flake8` to do linting in the automatic workflow. What are your thoughts?

[2020-11-05 07:08] Krande commented on #1064
I'm having a hard time getting my [presentation_layer](https://github.com/Krande/IfcOpenShell/blob/227ec74a5134cadd13bf332c546b686a4f5ce655/src/ifcblenderexport/blenderbim/bim/prop.py#L1558) collection property to register when importing my local blenderbim.

here is the complete message i get in my blender system console:

[code]

Are there some additional steps I need to take in order to add a c

[2020-11-05 07:13] Moult commented on #1064
You load your presentation layer here:

https://github.com/Krande/IfcOpenShell/blob/227ec74a5134cadd13bf332c546b686a4f5ce655/src/ifcblenderexport/blenderbim/bim/__init__.py#L248

... which is after the BIMProperties is loaded here:

https://github.com/Krande/IfcOpenShell/blob/227ec74a5134cadd13bf332c546b686a4f5ce655/src/ifcblenderexport/blenderbim/bim/__init__.py#L238

Therefore the class cannot b

[2020-11-05 07:19] olomakovskyi-blackbird commented on #1078
Thank you for the quick response. In vim 2350979go pointed me to the line
`#61756= IFCOPENINGELEMENT('3pHVvFYdn5CQQBZEQTf2TR',#41,'Basic Wall:6" CONC:508927',$,'Opening',#61755,$,$);`
To be precise #61755,**$**,$);

[2020-11-05 07:25] Moult commented on #1078
In this case, the opening element does not have any geometry representation associated with it. Though it is not illegal from the point of view of whether the attribute is required, it doesn't semantically make any sense, hence the error.

Maybe IfcOpenShell should skip over this opening, as I think it is technically legal? Ping @aothms

[2020-11-05 08:43] whwlei commented on #1055
We are mainly developing under the environment of centos7.6. I can solve related problems in this environment. Can you support me, thank you

[2020-11-05 09:08] aothms commented on #1055
Sure, just past the build errors here and we'll resolve them. In the end it'd be great if you can submit the fixes as a Pull Request.

[2020-11-05 09:25] whwlei commented on #1055
After the repair is complete, I will submit the repair program.

[2020-11-05 12:41] aothms commented on #1078
That's true @Moult that was also the intention, but there was a recent addition to check on Opening Representation Identifier for Reference, which didn't respect the fact that these attributes were optional

[2020-11-05 12:59] Krande commented on #1064
Okay, here's an update.

I've created a separate UI for the scene collection property and I'm able to add\remove Presentation Layers (I based it on the Constraints Class).

![blender_presentation_layers](https://user-images.githubusercontent.com/9642232/98242970-8c428c80-1f6d-11eb-9029-9691446835b6.gif)

Regarding the UI for the presentation layer within the mesh panel I have added a "add to prese

[2020-11-05 13:05] aothms commented on #1057
Like I said, I don't mind upgrading to python3.6. I'll add it to my list.

Travis CI is running, but I think there is a bug in their integration somehow as they no longer report back to the Github API, but the builds are running: https://travis-ci.org/github/IfcOpenShell/IfcOpenShell/builds

[2020-11-05 13:14] Moult commented on #1064
Blender EnumProperties only hold an enumeration of strings, and are generally not to be edited on the fly like a list.

I see you are attempting to make it so that the layers have a list of objects that are assigned to it. My advice is to do the opposite: have each object link to a layer. So I'd recommend removing [assigned_items](https://github.com/Krande/IfcOpenShell/blob/227ec74a5134cadd13bf332

[2020-11-05 13:30] Krande commented on #1064
Thanks for the quick reply!

I gave both a try, and the first one gave me a register issue and the second one seems to give me some "read only" error messages.

I think I prefer your second alternative, so if the "read only" error is fixable, I'll give that a go!

Best Regards
Kristoffer

[2020-11-05 16:03] htlcnn commented on #1057
@aothms flake8 can run on Python2.7, I was too curious.
I made a PR to add flake8 to travis-ci. Please have a look: https://github.com/IfcOpenShell/IfcOpenShell/pull/1080
Thanks.

[2020-11-05 21:16] Moult commented on #1064
@Krande ah yes, sorry, I wasn't thinking when i posted. Just assign the name of the presentation layer, which we'll treat as a unique key.

[code]

[2020-11-06 00:22] Moult opened #1082 "Code licensing"
IfcOpenShell itself is LGPL-3, but I think that doesn't work for some of the subcomponents, as some of the components have additional dependencies. For example, I _think_ (not sure, I'm not a lawyer) the BlenderBIM Add-on needs to become GPL-3 or later (see [compatibility matrix](https://www.gnu.org/licenses/gpl-faq.html#AllCompatibility)) because it uses some GPL-3 code.

I thought I'd try to wor

[2020-11-06 01:36] #1055 closed

[2020-11-06 02:06] whwlei opened #1084 "Ifcopenshell master compile problem in centos 7.6"
**hi, Thomas Krijnen
      I have installed cmake-3.6.2, gcc 4.8.5, g++ 4.8.5, boost 1.53, OpenCOLLADA 1.6.68, opencascade-7.4.0 in the environment of centos 7.6, and when compiling Ifcopenshell, the following error appears:**

/home/wanglei/ifcdev/IfcOpenShell/src/serializers/SvgSerializer.cpp: In member function ‘virtual void SvgSerializer::write(const IfcGeom::BRepElement<double, double>*)’:
/h

[2020-11-06 03:10] htlcnn commented on #1057
https://travis-ci.org/github/IfcOpenShell/IfcOpenShell/builds/741738797
@aothms @Moult  flake8 ran and made the build fail. Should we check all .py files or just specific folders such as blenderbim?

[2020-11-06 03:15] htlcnn commented on #1057
I updated travis-ci badge here: https://github.com/IfcOpenShell/IfcOpenShell/pull/1085

[2020-11-06 03:34] Moult commented on #1061
The way I currently know how to do this is a bit expensive. I've asked the community if there is a better approach: https://blenderartists.org/t/how-to-run-python-code-when-object-is-edited/1263651

[2020-11-06 10:24] Moult opened #1086 "Unable to set IfcLogical to UNKNOWN?"
Am I missing something? Is there an `UNKNOWN` option, or did I mess something up?

[code]

[2020-11-06 10:51] tpaviot opened #1087 "continuous integration, delivery"
At pythonocc, we moved to the MS azure solution to test builds for linux/osx/win. I used to work with both travis/appveyor (before travis add missing windows support and appveyor add pissins osx/linux support) for years, but MS azure quickly appeared to be highly superior in terms of performances (speed, timeout), user interface, monitoring, settings etc.

on my ifcopenshell fork, I created a bran

[2020-11-06 11:04] tpaviot commented on #1084
Try upgrading boost to 1.57 or newer

[2020-11-06 11:16] CyrilWaechter commented on #1082
According to [GPL FAQ](http://www.gnu.org/licenses/gpl-faq.html#AllCompatibility) I think ifccopie result is also LGPL-3.
The rest looks ok to me.

[2020-11-06 14:30] lcpt commented on #1038
Similar problem here (line 1721 instead of 1709):

`/usr/local/src/prg/IfcOpenShell/src/ifcgeom/IfcGeomShapes.cpp:1721:15: error: ‘Standard_Integer TCollection_BaseSequence::Size’ is protected within this context
   if (polygon.Size() < 3) {`

I'm using Ubuntu 18.04 and followed the installation procedure here: https://github.com/IfcOpenShell/IfcOpenShell#compiling-on-nix with the following cmake

[2020-11-06 18:21] lcpt commented on #1038
I've changed IfcGeomShapes.cpp as follows:

![image](https://user-images.githubusercontent.com/12873038/98400874-115c9d00-2065-11eb-9a35-7507ccea676d.png)

And it compiles and apparently it works well. I'll probably do a fork with those changes.

[2020-11-07 16:56] lcpt commented on #1038
I've made a fork here: https://github.com/xcfem/IfcOpenShell

Maybe there is a problem with OCCT versions (I've compiled using OCCT version 7.4.0 from this repository: https://github.com/tpaviot/oce).

If it can help I can make a pull request.

[2020-11-08 00:20] theoryshaw opened #1089 "BlenderBIM - IFC Nodes - 'IFC Get Attribute' not pulling value at a certain level"
IFC Get Attribute doesn't pull out value at a certain level.

File: https://www.dropbox.com/s/z9dpag6f4ilm5dw/20201107%20-%20sv%20ifcwall_dumb%20wall%2002.blend?dl=1

![image](https://user-images.githubusercontent.com/507113/98454084-1fbebd80-2126-11eb-8e07-2e95b1079bbf.png)

[2020-11-08 10:22] aothms commented on #1038
6.9 only has Length https://old.opencascade.com/doc/occt-6.9.1/refman/html/class_t_colgp___sequence_of_pnt.html

7.5 has Length and Size. https://dev.opencascade.org/doc/refman/html/class_n_collection___sequence.html

So indeed I'd say Length is best. Would be great if you can send in a PR. Thanks.

[2020-11-08 10:39] aothms commented on #1084
How did you install boost 1 74 then? Seems to be some incompatibility in C++ abi.

[2020-11-08 10:42] aothms commented on #1087
This looks amazing. Let me know where I can pitch in.

[2020-11-08 10:45] aothms commented on #1086
Congratulations. Within 10 years you're the first to notice IfcOpenShell never implemented anything for Logical and simply silently mapped it to bool. The proper solution is to map it to boost.tribool in C++ and work from that. There are a couple of schema things that need to be addressed but for backwards compatibility it'll probably have to wait for 0.7

[2020-11-08 11:40] lcpt commented on #1038
I think we can close this now.

[2020-11-09 01:36] whwlei commented on #1084
Because the version of cmake does not match the version of boost, it has been modified to boost 1.60 and cmake 3.6.2, and the compilation is successful

[2020-11-09 01:41] #1084 closed

[2020-11-09 04:43] Moult opened #1091 "IfcSverchok by type dropdown should allow for a manual class"
Ping @htlcnn on this line: https://github.com/IfcOpenShell/IfcOpenShell/commit/322f3773e491501c2e0dd45eafb6f61bea4d9494#diff-1a7b592bb8e14fbf356b9d95fcde6cc68affd94b05d3d20d83679cceb77f01a0R13

The "By Type" node should allow the user to choose any IFC class they can think of. I didn't spot this before but the way you've implemented it, only `IfcElementType` classes are shown in the dropdown. Unfo

[2020-11-09 05:52] htlcnn commented on #1091
@Moult sorry I did not get what you intended to make with that node. I thought that all available IfcElementType are in your schema already. Now I'm still confused what should I do with the node. What kind of input does it accept, IfcElementType or IfcElement?

[2020-11-09 05:54] Moult commented on #1091
@htlcnn that node should accept all IFC classes in the schema (even things like `IfcApplication`). That node simply is a graphical representation of `ifcopenshell.open('foo.ifc').by_type(ifc_class)`.

Hope it makes sense?

[2020-11-09 08:15] fmros commented on #1038
Ca confirm that compilation worked also on my Ubuntu 18.04 setup with the fork of @lcpt.
Nevertheless the compilation fails with output:
[code]

[2020-11-09 08:19] aothms commented on #1038
Did you add `-DIFCXML_SUPPORT=Off` to the cmake invocation as @wq8806 advised in his first post here?

[2020-11-09 08:19] #1038 closed

[2020-11-09 08:27] fmros commented on #1038
Thanks @aothms it worked with:
[code]
cmake ../cmake -DOCC_LIBRARY_DIR=/usr/lib/x86_64-linux-gnu/       -DOPENCOLLADA_INCLUDE_DIR="/usr/local/include/opencollada"       -DOPENCOLLADA_LIBRARY_DIR="/usr/local/lib/opencollada"        -DPCRE_LIBRARY_DIR=/usr/lib/x86_64-linux-gnu/ -DIFCXML_SUPPORT=Off
[code]

[2020-11-09 09:22] htlcnn commented on #1091
@Moult https://github.com/IfcOpenShell/IfcOpenShell/pull/1092 I hope that matches your idea

[2020-11-09 09:46] Moult commented on #1091
@htlcnn that looks perfect! Amazing job!

@aothms would it make sense to give @htlcnn commit access to IfcOpenShell? He can follow similar rules to me, i.e. don't touch the C++ nor the ifcopenshell-python module without your permission?

[2020-11-09 09:46] #1091 closed

[2020-11-09 10:38] Francois-Thierry opened #1094 "GLB (and DAE) conversion : memory leak"
Hello,
I was trying to convert a sample file from BIMVision :
www.download-datacomp.com.pl/bimvision/models/ASPWRZ-MAD-konstrukcja-zbrojenie.ifc
and discovered that it acts as a "memory bomb", filling the RAM ultimately freezing my laptop (31GB RAM).
Both GLB and DAE conversions are impacted.
I'm using OCCT 7.3.0p4 with `--use-element-guids --include entities IfcObject --exclude entities IfcOpenin

[2020-11-09 13:06] Krande commented on #1064
Okay,

I'm getting a bit further along so here is another update. I can now create/remove presentation layers globally and add\remove objects to each layer with a final successful export to IFC. I will now start to implement support for importing presentation layer information from ifc.

![blender_presentation_layer_update2](https://user-images.githubusercontent.com/9642232/98543856-60881500-2293-

[2020-11-09 14:05] Francois-Thierry opened #1095 "Regression: Segfault on Convenience Store"
Hello,
I noticed a regression while using IfcConvert with IfcOpenShell 0.6.0 commit fd18916 (OCCT 7.3.0p4).
The convenience store from the Open IFC Model Repository (http://openifcmodel.cs.auckland.ac.nz/Model/Details/348) now segfaults and so does the other version.
It was converting fine with commit 6cbf8cc (see screenshot below)
![image](https://user-images.githubusercontent.com/7921372/9854835

[2020-11-09 15:17] tpaviot commented on #1087
Work is going on quicky, everything is almost completed. I still have to fix the Windows build (an issue with dynamic libraries I guess, python cannot load the ifcopenshell module), and enable ifcxml support.

IMO nlohman/json.hpp should be added to the code base, in a /src/third_party subdirectory. Indeed it's quite strange to have to curl/wget the json hpp file from the gh project page and sudo/

[2020-11-09 15:48] Krande commented on #1064
Additional update.

Importing presentation layers from ifc is now also supported [here](https://github.com/Krande/IfcOpenShell/blob/2eae3a70d963a2037971b8d0c9f30c0ab003676d/src/ifcblenderexport/blenderbim/bim/import_ifc.py#L1313-L1328) :)

Best Regards
Kristoffer

[2020-11-10 06:17] gisspace opened #1097 "IFC file conversion obj file, some cases will be rotated 90 °"
IFC file conversion obj file will be rotated 90°, because of the problem of the X axis up or Y axis up, can you provide parameters to specify。
/src/serializers/WavefrontObjSerializer.cpp

 for ( std::vector<real_t>::const_iterator it = mesh.verts().begin(); it != mesh.verts().end(); ) {
        const real_t x = *(it++);
        const real_t y = *(it++);
        const real_t z = *(it++);
		obj_stre

[2020-11-10 09:37] fmros opened #1098 "running code_pane_viewer crashes when loading file"
When starting the code_pane_viewer in python and loading an ifc-model, the program crashes with following output:
[code]

test.py:
[code]
$python -V:
Python 3.6.11

I have seen this [post](https://www.gitmemory.com/issue/tpaviot/pythonocc-core/784/598000280). What is the set of versions that I need?

Thanks

Michael

[2020-11-11 02:11] htlcnn commented on #1057
I think this can be closed now. IMO coding style should be a recommendation, not mandatory. It's now in the wiki.

[2020-11-11 02:11] #1057 closed

[2020-11-11 08:59] aothms commented on #1098
Apparently `app.py` is still not fully compatible with PythonOCC 7.4.0. For now you can install pythonocc-core=0.18.1 or 0.17.3 using conda, but it's not ideal as conda might run into conflicts as the builds are a bit dated. You can also see how far you get with simply removing all the `.GetObject()` calls (so in this case calling `SetSelectionPriority` directly on `ais`. Let me know if that works

[2020-11-11 10:49] aothms commented on #1097
Most importers allow to specify OBJ Up-axis during import. Select Z up. Is that really not an option?

Otherwise feel free to send in a Pull Request :) Something like `std::swap(y,z); z *= -1.;` (rotating 90 degrees is quick) and remove `const` then some stuff to have a `--y-up` flag in IfcConvert using boost program options and add it to the Settings. https://github.com/IfcOpenShell/IfcOpenShell/

[2020-11-11 22:09] Moult opened #1100 "GLTF and GLB import in open cascade"
https://community.osarch.org/discussion/299/open-cascade-forum-gltf-and-glb-import-in-open-cascade

Does this mean that IfcConvert can skip the DAE step when feeding things like BIMSurfer?

[2020-11-12 09:35] aothms commented on #1100
It can already for two years outside of OCCT https://github.com/IfcOpenShell/IfcOpenShell/blame/v0.6.0/src/serializers/GltfSerializer.h

Use `IfcConvert in.ifc out.glb`

[2020-11-12 14:53] fbpyr opened #1101 "blenderbim: ifc import - filter by category/class/product? lark error: "No terminal defined""
First of all, thank you so much on all your work on Blender-BIM and IfcOpenShell!
Blender-BIM is truely fantastic to work with! (spent the last couple of years in rvtAPI)

**Is there a way in BlenderBIM - that I might have missed - to filter certain IfcClasses
 from being imported into Blender or just import just specific ones?**

(I got some large IFCs from third parties and would only need walls

[2020-11-12 18:26] tpaviot opened #1102 "opencascade-7.5.0 support"
Quite unusual to report a good news on a github issue tracker: I just tested that everything goes fine for ifcopenshell and opencascade-7.5.0 :smiley:, no need for any additional tweak.

[2020-11-13 08:12] fbpyr commented on #1101
I found the lark grammar in:
`...\AppData\Roaming\Blender Foundation\Blender\2.90\scripts\addons\blenderbim\libs\site\packages\ifcopenshell\util\selector.py`
With it and further helpful explanation by @Moult I found here:
https://github.com/IfcOpenShell/IfcOpenShell/issues/748
I got the ifc import filter limited to specific IfcClasses to work:

[code]

[2020-11-13 08:12] #1101 closed

[2020-11-13 08:12] Moult commented on #1101
![image](https://user-images.githubusercontent.com/88302/99044583-192bbc80-25e4-11eb-967d-3236f2ac8440.png)

[2020-11-13 08:13] Moult commented on #1101
Glad you got it resolved! I posted a screenshot in the comment above which shows you how to do this via the UI. Simply set those settings prior to importing your file. The import will go much, much quicker.

Also, the query syntax is documented here: https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples#IFC_Query_Syntax

[2020-11-13 08:15] Moult commented on #1101
Also I see you're doing collision detection. Have you tried out the IfcClash feature? :)

[2020-11-13 08:16] Moult commented on #1100
Ah OK :) Does this new development make the code any easier in IfcConvert?

Feel free to close if this has no impact :)

[2020-11-13 08:37] fbpyr opened #1103 "blenderbim Error: Collection 'IfcGrid/Grid' already in collection 'IfcBuildingStorey/EG' even with IfcGrid import filtered"
`[ Blender 2.90.1  - BlenderBIM 201025 - Win10 ]`
When importing a specific IFC file (made by ArchiCAD, downloaded from a trimble platform),
even with .IfcGrid blacklisted as below, it still errors out at the grids:

[code]

Used import filtered ifc snippet, similar to #1101
[code]

So I wonder:
Why would the IfcGrid be a problem in place_objects_in_spatial_tree,
if it is to be skipped by the impo

[2020-11-13 08:41] aothms commented on #1100
No, not really. Ifcopenshell doesn't store colors for example in
opencascade data model. So reusing the framework of the existing
triangulated serializers makes more sense in our case.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op vr 13 nov. 2020 09:16 schreef Dion Moult <notifications@github.com>:

[2020-11-13 08:46] fbpyr commented on #1101
@Moult thank you so much!!
The query syntax list is very helpful!!

Thank you also for the clash pointer - I found the IfcClash
(amongst other nice features) just yesterday.
Unfortunately I had my basic logic for clash detection
via bboxes and aggregating the data in voids and csv
already working (started in rvt, then FreeCAD,
then blenderbim ), but will check it out nonetheless! 🙂

Even though I

[2020-11-13 09:10] Moult commented on #1101
@fbpyr the import filter only applies to products right now. The spatial tree and grids are not filtered. That would explain why you're still experiencing that bug despite the filter. I will investigate that bug.

[2020-11-13 09:14] aothms commented on #1102
Thanks for providing some good news @tpaviot

@johanrd I realize I haven't been very active resolving your issues, some of them are quite complicated. Did you by any chance do a reinvestigation of your issues on OCCT 7.5? I haven't looked at the release notes, not sure if it is likely to fix things.

[2020-11-13 09:14] Moult commented on #1103
@fbpyr can you send me a copy of your IFC file so I can replicate your issue? dion@thinkmoult.com if it is private.

The importer filter only filters products at the moment, not grids or spatial elements.

[2020-11-13 09:15] Moult commented on #1100
Cheers :) closing!

[2020-11-13 09:15] #1100 closed

[2020-11-13 09:34] fbpyr commented on #1103
Ah I see, thank you!
For what it's worth:
* Solibri does not show any geometry for these grid elements either. (but also shows no error)
* FreeCAD just seem to hang for hours on import.

It seems like the first the grids is a nested construct:
[code]

As I do not get any errors when reading the model with ifcopenshell, would it be possible
to "just pass" the wall and floor objects from ifcopenshel

[2020-11-13 09:35] Moult commented on #1103
@fbpyr there is now an "extract element" IfcPatch recipe to help debugging, but I have never tried it with grids.

Let's do a short videoshare. I'll be online now at https://meet.jit.si/openbim

[2020-11-13 11:01] #1103 closed

[2020-11-13 11:43] Moult commented on #1064
Sorry for the delay in replying! Github notifications were going to my spam folder for some reason... awesome work! It looks allllmost there!

Shouldn't https://github.com/Krande/IfcOpenShell/blob/26510de9e09cf6d8f4b41d8ca8a6dd16e272d2d2/src/ifcblenderexport/blenderbim/bim/export_ifc.py#L2034 be `if pl.layer_on is True`? Or am I misunderstanding the variable...

I think a view layer in Blender is

[2020-11-13 12:05] fbpyr commented on #1103
thank you for this fun video debug session!! 👍 🙂

[2020-11-13 12:11] Krande commented on #1064
No worries:)

I assumed the `LayerON` flag is True when its objects are visible? Therefore, the `pl.layer_on is False` is (for now) the only switch I look for when deciding which type of layer-assignment I use.

I start to create a pull request now and we can continue the conversation there!

Best Regards
Kristoffer

[2020-11-13 12:12] fbpyr opened #1105 "blenderbim icfcsv delimiter choice"
As discussed with @Moult, it would be nice to be able to select other delimiters for ifc csv export.
I will have a look if I can implement it on the next blender bim version.

[2020-11-14 03:09] johanrd commented on #1102
@tpaviot @aothms Great news!

I ran a test now. It seems like `OCCT 7.5.0` does not regress from either `7.3.0p4` or `7.4.0p2`:

|OCCT                                                    |7.3.0p4     |7.3.0p4     |7.4.0p2     |7.5.0       |
|:--------------------------------------------------------|:------------|:------------|:------------|:------------|
|**IfcConvert**

[2020-11-14 05:59] tpaviot opened #1107 "Issue running ifccsv.py"
I'm testing the ifccsv.py script, using for instance:
[code]
However I can't get done with any of the test files.
[code]
python 3.7, latest v0.6.0 branch, lark-parser 0.10.0 from the conda-forge channel. I'm not sure whether or not I've been using this script in the right way, maybe I'm doing something wrong ?

[2020-11-14 07:20] tpaviot commented on #1102
Just to be sure, where to these ifc test files come from and can they be trusted ? Did they pass some quality workflow ? Which software where used to generate them ?

[2020-11-14 07:47] Moult commented on #1107
@tpaviot IFCCSV exports out a subset of rooted elements that is specified via a query syntax [documented here](https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples#IFC_Query_Syntax).

[code]

You can see its behaviour through a UI here: https://www.youtube.com/watch?v=ZeMkG6jTzAg

Hope it helps :)

[2020-11-14 08:01] tpaviot commented on #1107
Ok, great, that works!

Maybe the https://wiki.osarch.org/index.php?title=IfcOpenShell_code_examples#IFC_Query_Syntax and  https://www.youtube.com/watch?v=ZeMkG6jTzAg links could be added to the ifccsv.py help string, that would prevent future rtfm issues :)

[2020-11-14 08:01] #1107 closed

[2020-11-14 09:22] Moult opened #1108 "Did I mess up the test directory during a PR merge?"
Ping @aothms - I recently merged https://github.com/IfcOpenShell/IfcOpenShell/pull/1106

I thought it only touched BlenderBIM Add-on related code, but if you check under the "Files changed" tab I just noticed it actually bumps `test/input`. I haven't looked at this submodule before and I don't know if this change is good or bad. Can you check to make sure I didn't screw something up with the `test

[2020-11-14 10:07] aothms commented on #1108
That's the pain of submodules. In particular @johanrd does a lot of great stuff in the https://github.com/IfcOpenShell/files which is linked as a submodule in test/input. So the files repo updates frequently and it's not always synced in the main IfcOpenShell repo. I think @Krande's PR might have moved the submodule a bit back in time. I just pushed https://github.com/IfcOpenShell/IfcOpenShell/com

[2020-11-14 10:07] #1108 closed

[2020-11-14 10:17] aothms commented on #1102
Seconded. Thanks @johanrd and great to see 7.5 does better. That's a good starting point then for resolving the other issues.

That's from this repo https://github.com/IfcOpenShell/files that mostly @johanrd is doing great work on maintaining. Not all files are flawless (obviously) sometimes we decide we cannot process something but then at least try to prevent segmentation faults. Quite a bit of

[2020-11-14 11:04] Moult opened #1109 "Does IfcOpenShell support presentation layer to polygons mapping?"
Looking over @Krande 's implementation of presentation layers, I just realised that layers are mapped to representation items. This means that similar to how IfcOpenShell has a mapping of styles to polygons, to implement this fully in the BlenderBIM Add-on I think I'd also need a mapping of presentation layers to polygons. Is this implemented somewhere?

[2020-11-14 11:30] aothms commented on #1109
I didn't check the implementation in BlenderBIM, I think @Stinkfist0 did the implementation in C++ https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom_schema_agnostic/Kernel.cpp#L197 by only looking at the association of layer to specifically only **representation**. I don't remember the details but while the schema supports association to arbitrary items, I think this is "depreca

[2020-11-15 11:53] #358 closed

[2020-11-15 13:26] johanrd commented on #418
Update: With (OCCT 7.5.0 and 7.3.0p4) the file does not segfault, however one of the three walls are missing.

[2020-11-15 13:34] johanrd commented on #435
Closing, as this converts successfully with 808ef1a (OCCT 7.5.0)

[2020-11-15 13:34] #435 closed

[2020-11-15 13:51] johanrd commented on #468
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0 and 7.3.0p4)

[2020-11-15 13:51] #468 closed

[2020-11-15 13:54] johanrd commented on #584
closing, as this converts successfully on `OCCT 7.5.0`

[2020-11-15 13:54] #584 closed

[2020-11-15 14:02] #649 closed

[2020-11-15 14:43] johanrd commented on #707
Closing, as this seems to be converted successfully on 808ef1a (OCCT 7.5.0)

[2020-11-15 14:43] #707 closed

[2020-11-15 14:48] johanrd commented on #1005
Closing, as this seems to be fixed after bf57258

[2020-11-15 14:48] #1005 closed

[2020-11-15 15:12] tpaviot commented on #1102
@aothms The ```timeout``` command is an excellent idea, I'm not skilled enough regarding bash to have it by myself. I will try to reproduce these tests on the Azure build I've been working on (check the last build here https://dev.azure.com/tpaviot/ifcopenshell/_build/results?buildId=599&view=results ). Build jobs on the Azure pipelines have a timeout of 360mn, much greater than travis (only 50mn

[2020-11-15 19:43] johanrd commented on #765
Update: With 808ef1a (OCCT 7.5.0) the file does not timeout, however there seems to be non-parallel walls on one of the edges:

<img width="300" alt="Screenshot 2020-11-15 at 20 42 00" src="https://user-images.githubusercontent.com/4601554/99194952-0d2a3100-2783-11eb-84df-532dbbfb2015.png">

From `#28 = IFCRECTANGLEHOLLOWPROFILEDEF(.AREA., '', #29, 200., 200., 6., 9.80000019, 15.80000019);` I'd ex

[2020-11-15 19:47] johanrd commented on #763
Closing, as this does not sagfault on 808ef1a (OCCT 7.5.0)

[2020-11-15 19:47] #763 closed

[2020-11-15 20:28] johanrd commented on #297
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:28] #297 closed

[2020-11-15 20:28] johanrd commented on #331
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:28] #331 closed

[2020-11-15 20:29] johanrd commented on #333
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:29] #333 closed

[2020-11-15 20:30] johanrd commented on #337
Closing, as the geometry output is (close to) what is expected when converting with 808ef1a (OCCT 7.5.0)

[2020-11-15 20:30] #337 closed

[2020-11-15 20:31] johanrd commented on #339
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:31] #339 closed

[2020-11-15 20:33] johanrd commented on #600
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:33] #600 closed

[2020-11-15 20:34] johanrd commented on #576
Closing, as 576--door--wrong-geometry--augmented.ifc does not segfault on `OCCT 7.5.0`

[2020-11-15 20:34] #576 closed

[2020-11-15 20:34] johanrd commented on #546
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:34] #546 closed

[2020-11-15 20:35] johanrd commented on #534
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:35] #534 closed

[2020-11-15 20:35] johanrd commented on #533
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:35] #533 closed

[2020-11-15 20:35] johanrd commented on #474
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:35] #474 closed

[2020-11-15 20:36] johanrd commented on #471
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:36] #471 closed

[2020-11-15 20:37] johanrd commented on #417
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:37] #417 closed

[2020-11-15 20:37] johanrd commented on #411
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:37] #411 closed

[2020-11-15 20:37] johanrd commented on #396
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:39] johanrd commented on #786
Closing, as this does not segfault on 808ef1a (OCCT 7.5.0)

[2020-11-15 20:39] #786 closed

[2020-11-15 20:40] johanrd commented on #987
Closing, as this does not segfault on 808ef1a (OCCT 7.5.0)

[2020-11-15 20:40] #987 closed

[2020-11-15 20:41] johanrd commented on #347
Closing, as this does not segfault on 808ef1a (OCCT 7.5.0)

[2020-11-15 20:41] #347 closed

[2020-11-15 20:43] johanrd commented on #367
Closing, as this does not segfault on 808ef1a (OCCT 7.5.0)

[2020-11-15 20:43] #367 closed

[2020-11-15 20:44] johanrd commented on #376
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-15 20:44] #376 closed

[2020-11-16 12:44] HeySora commented on #1029
I can confirm this happens.

Exact instructions I did, for reproducing the issue:

[code]
It indeed does not happen with `BUILD_SHARED_LIBS` unset.

[2020-11-16 14:19] johanrd commented on #380
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-16 14:19] #380 closed

[2020-11-16 14:37] johanrd commented on #396
Reopening, as there are actually no geometry output when converting with 808ef1a (OCCT 7.5.0)

[2020-11-16 14:50] johanrd commented on #377
Closing, as this does not segfault on `OCCT 7.5.0`

[2020-11-16 14:50] #377 closed

[2020-11-16 15:29] johanrd opened #1110 "--calculate-quantities return invalid IFCQUANTITYCOUNT 'Surface genus': -1"
I'm running through our [test files](https://github.com/IfcOpenShell/files) to augment them with expected quantities, and have stumbled upon quite some cases of negative values of `IFCQUANTITYCOUNT`:

**Steps to reproduce:**
1. Convert [458--rebar--abort--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/458--rebar--abort--augmented.ifc) with 808ef1a:

`./IfcConvert 458--rebar--abor

[2020-11-16 16:07] johanrd commented on #1102
Yes, correct. The files are from https://github.com/IfcOpenShell/files, which is a collection of minimal reproductions of real-world issues that has popped up over the years.

The path towards a useful CI regression testing may actually not be very long. We have the test files, we have the `--validate` command, we already have an integrated minimal script in the CI (as @aothms links to above), and

[2020-11-17 08:13] #1064 closed

[2020-11-17 09:08] johanrd commented on #458
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:08] #458 closed

[2020-11-17 09:13] johanrd commented on #455
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:13] #455 closed

[2020-11-17 09:22] johanrd commented on #644
Closing, as the output sizes are more digestible now, respectively `532 KB`, `2,9 MB`, and `5,1 MB`

[2020-11-17 09:22] #644 closed

[2020-11-17 09:24] johanrd commented on #701
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:24] #701 closed

[2020-11-17 09:30] johanrd commented on #423
Update: These files no longer segfault on 808ef1a (OCCT 7.5.0), however the geometry is not as expected on 423--wall--segfault--2--augmented.ifc:

[code]

<img width="150" alt="Screenshot 2020-11-17 at 10 30 01" src="https://user-images.githubusercontent.com/4601554/99371987-e4f41c80-28bf-11eb-9256-a398c2c3b432.png">

[2020-11-17 09:32] johanrd commented on #456
Update: This file timeouts (10 min) on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:37] johanrd commented on #557
Update: This file no longer segfault on 808ef1a (OCCT 7.5.0), however there are failing opening subtractions:

[code]
<img width="150" alt="Screenshot 2020-11-17 at 10 35 39" src="https://user-images.githubusercontent.com/4601554/99372615-b62a7600-28c0-11eb-9f7e-63207ca32ac6.png">

[2020-11-17 09:38] johanrd commented on #614
Closing, as this seems to convert successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:38] #614 closed

[2020-11-17 09:42] johanrd commented on #793
Update: This file now timeouts (10 min) on 808ef1a (OCCT 7.5.0).

[2020-11-17 09:49] johanrd commented on #818
Update: With 808ef1a (OCCT 7.5.0) there is no geometry output from this file, which might be a regression when paired with `OCCT 7.5.0`:

[code]

[2020-11-17 09:50] johanrd commented on #988
Closing, as this seems to convert successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:50] #988 closed

[2020-11-17 09:55] johanrd commented on #993
Update: This file no longer segfaults, however there is no geometry output when converting with 808ef1a (OCCT 7.5.0):

[code]

[2020-11-17 09:56] johanrd commented on #994
Closing, as this file converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 09:56] #994 closed

[2020-11-17 13:17] LaurensJN opened #1111 "BlenderBIM: IFC object assignment has incorrect relation between products and class"
I have no clue how to recreate this issue, but sometimes when the IfcElement is selected as _Products_, the corresponding classes do not relate to the IfcElement classes, but the IfcType classes (or the reverse).
If I do not notice this and assign some object as IfcElement and i.e. IfcBeamType - such as shown in the picture - blender crashes.

![image](https://user-images.githubusercontent.com/237

[2020-11-17 14:02] johanrd commented on #1077
Closing, as this converts successfully on 808ef1a (OCCT 7.5.0)

[2020-11-17 14:02] #1077 closed

[2020-11-17 14:43] johanrd commented on #991
Closing, as this seems to convert successfully with 808ef1a (OCCT 7.5.0)

[2020-11-18 18:03] theoryshaw opened #1112 "BlenderBIM: Material Name Tag"
@Moult I know you mentioned that this was in the roadmap, but thought I'd post the feature request here for logging and comment.

Material name tags would allow for importing [this](https://gitlab.com/openingdesign/OD_Library/-/blob/master/BIM/OD_Revit_Template%20-%202020.ifc) type of content to create detail sheets like the following...

![OD_Revit_Template - 2020 Page 001](https://user-images.gi

[2020-11-19 07:16] fbpyr opened #1114 "BlenderBIM Ifc Slab obj gets created but without geometry"
From an ArchiCAD model IFC, a specific IfcSlab gets created, but not its mesh/geometric representation.
(Behaviour on import in other applications:
* solibri the slab appears - looks ok
* lexocad imports it but complains about: defect geometry, shape is not valid, no valid representation
* revit only gave only warnings on overlapping floors, does not create it
)
Other IfcSlabs of the same model se

[2020-11-19 09:35] Moult commented on #1114
In the IFC debug panel, you can specify a STEP ID for the particular IFC Slab element, then you can try create shape from STEP ID. See if any object pops up. If no object pops up, you can dive deeper into the representation (try the new IFC inspector feature just below it) and see where the shape creation fails.

If the shape creation fails, it is likely a bug with IfcOpenShell. The element needs

[2020-11-19 09:48] fbpyr commented on #1114
Thank you so much for the quick response @Moult !
Unfortunately it is the same non-shareable file from last time -
but a screen share session would be amazing! 🙂

Unfortunately for today I just got placed some urgent stuff on my desk,
so would be great if we could do the screen share tomorrow?
I will send you an email to see if it would fit your schedule..

[2020-11-19 09:52] Moult commented on #1114
@fbpyr no worries - tomorrow Sydney time in the morning works, else after 3pm works too. Email is dion@thinkmoult.com

[2020-11-19 11:55] johanrd opened #1116 "Regression: Out of memory (137) on wall (example file)"
1. Convert [1116--wall--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/1116--wall--segfault.ifc) with 808ef1a (OCCT 7.5.0) and experience that the coversion consumes a lot of memory, and exits with out of memory code 137:

[code]

2. Convert the same file with 6cbf8cc8db0ea684c635c5b9d8e583d8620d32da (OCCT 7.3.0) and experience no hard fail, although failing opening subtractions:

[2020-11-19 16:53] johanrd opened #1118 "Critical regression: [Error] TopoDS::Shell does not exit with error code"
1. Convert [1117--wall--TopoDS-shell.ifc](https://github.com/IfcOpenShell/files/blob/master/1117--wall--TopoDS-shell.ifc) with `--enable-layerset-slicing` on 32ebd081585a7ea69488061727bc4180102a6234 (OCCT 7.5.0 or 7.3.0p4) and experience `[Error] TopoDS::Shell`:

[code]

This is quite a critical issue, as the conversion exits without an error, and finalizes with valid output containing the objects

[2020-11-20 08:02] Moult commented on #1114
Bug is in the IFC file - strange non-manifold faceted brep was defined in a boolean operation. Closing :)

[2020-11-20 08:02] #1114 closed

[2020-11-20 08:56] johanrd commented on #991
Reopening, as this is still an issue after all.

[2020-11-20 12:33] Moult commented on #1114
Just want to say thanks again for the screenshare - it led to multiple commits polishing the new material system: https://github.com/IfcOpenShell/IfcOpenShell/commits/v0.6.0

[2020-11-20 13:53] fbpyr commented on #1114
great to hear it led to BlenderBIM/OpenIFCShell becoming even more awesome!!
(BlenderBIM already puts some other overprized-proprietariy-closed-source
applications to shame in many regards! 😁 )

it was once again a great debug session! I am learning a lot in each of them, so:
thank **you** for all your time, knowledge & explanations!

[2020-11-20 14:02] johanrd opened #1119 "Regression: Failed to convert face of covering (example file)"
1. Convert [1119--covering--failedToConvertFace--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/1119--covering--failedToConvertFace--augmented.ifc) with 808ef1a19ecea3653d7a6c101bafe232e9897f39 (OCCT 7.5.0 or 7.3.9p4) and and experience error:
[code]
2. Convert the same file with b08346cc6451b46b6bd88b93da1dbf2f3c169eca and experience successful conversion:
<img width="284" alt="

[2020-11-22 14:31] Shaddy-ElDesouky opened #1121 "My desktop flooded with .brep files"
Hello @Moult first I have to thank you very much for you're great effort, this is a Game changer, can't wait until I actually have a complete product out of it.

I  was struggling to find tutorials for BlenderBim until I found your channel https://peertube.social/accounts/moult/
I watched most of the demo videos and I was interested specifically in section planes and creating Drawings, I don't rem

[2020-11-22 21:57] Moult commented on #1121
There are some resources here that may help: https://wiki.osarch.org/index.php?title=BlenderBIM_Add-on - it's not particularly organised, but it's a start.

The BlenderBIM Add-on does not have any code that generates files with the extension `.brep` that I know of, and when it does generate files, it stores it in the add-on's data folder. So I can't really explain what you're seeing. Maybe you wer

[2020-11-23 10:22] aothms commented on #1121
That would have been me, sorry... See commit

[2020-11-23 10:24] Moult commented on #1121
Ruh-roh! @aothms should I republish the latest version with a particular bot build to prevent users running into this issue?

[2020-11-23 21:35] Moult commented on #1082
Ping @aothms

I just read this page: https://www.gnu.org/licenses/identify-licenses-clearly.html - does this mean we should explicitly pick "only" or "or later"? I assume we want to pick "or later" as much as possible?

Also, in this PR: https://github.com/IfcOpenShell/IfcOpenShell/pull/1122 @berndhahnebach adds some license headers. @aothms  what is your opinion on per-file license headers? I per

[2020-11-24 05:30] berndhahnebach commented on #1082
https://github.com/IfcOpenShell/IfcOpenShell/pull/1123

[2020-11-24 05:38] berndhahnebach commented on #1082
It is just the way it is done in FreeCAD. I am fine with everything, even remove them at all.

BTW: in the new bimtester header it states Version 2 or later. Should this be explicit Version 3?

cheers bernd

[2020-11-24 08:53] dtip opened #1124 "Memory management bug in IfcOpenShell Python"
Hi folks,

Thanks for your work on IfcOpenShell. I've been trying it out and have run into a strange bug which I can't figure out.

For any IFC file I read, for every product within the file, the first two coordinates of the first vertex are some extremely small number. I believe they should be zero. The first few values in the faces array are invalid, but slightly differently invalid depending on

[2020-11-24 09:10] aothms commented on #1124
Quick question. Does it help if you change to:

[code]

Memory management in IfcOpenShell python has a couple of weird quirks and this might be one of them. With the default settings, the geometry is owned by the "Element" (as it's called in C++) and by not keeping a Python reference to it. It get's freed, freeing also the geometry.

Easiest way to fix it is to make sure somewhere in Python that t

[2020-11-24 09:32] dtip commented on #1124
Thanks for the speedy reply. That fixes it! Is there a way to fix this quirk or to warn users about it?

[2020-11-24 09:52] aothms commented on #1082
I agree, LGPL-3.0-or-later is probably the sanest choice.

I tend to agree that author information in source files is typically unneeded. We have this information in git and that somebody wrote something in the past is not a real indication that he wants to be bothered with it later.

[2020-11-24 10:55] aothms commented on #1121
It seems IfcOpenBot is stuck again. I'll give her a gentle nudge this afternoon.

[2020-11-24 11:13] aothms commented on #1124
It's essentially this problem https://stackoverflow.com/questions/15983008/prevent-nested-c-struct-from-being-deleted-when-parent-is-gcd in which the answer gives very little solutions.

Like I said we need to establish a backreference to the parent element from the geometry. One thing you could experiment with (if you're interested) to prevent the garbage collection to kick in:

[code]

And then

[2020-11-24 11:24] berndhahnebach commented on #1082
https://github.com/IfcOpenShell/IfcOpenShell/pull/1125

[2020-11-24 16:09] bimworld opened #1126 "Failed to serialize a 3D solid TopoDS_Shape"
I get a none representation in python and a SIGSEGV in C++, trying to serialize the attached (.brep) shape. The brep analyzer does not throw an error. When trying to serialise the faces one by one, some are failing, others are not. I attached a face, that is failing.

[solid.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5591042/solid.zip)
[face.zip](https://github.com/IfcOpenShell/IfcOpe

[2020-11-25 09:37] Moult commented on #1072
Fixed https://github.com/IfcOpenShell/IfcOpenShell/commit/25a26db3609fc8b8f3c3e8f9b03af45bf42de0fa

[2020-11-25 09:37] #1072 closed

[2020-11-25 10:03] aothms commented on #1118
The issue is not really introduced in this commit, it just only became apparent I think. The issue that there are two walls marked as connected that are parallel and the layerset folding returns garbage result after which the slicing does so too. The shape type of the slice result is now checked so the exception would not be thrown and connected walls are checked whether they are parallel.

[2020-11-25 10:53] bbrangeo opened #1128 "ADD DESCRIPTION HELP"
Hi

propose to complete  line  ==> https://github.com/IfcOpenShell/IfcOpenShell/blob/acb518613bb93b1370941c0fdaf7796d11eec2a5/src/ifccsv/ifccsv.py#L177

with
[code]

[2020-11-25 11:58] fbpyr opened #1129 "blenderbim: using clash logic of ifcclash inside blender?"
The "IFC Clash Sets" functionality is an amazing tool!
It massively helped me to build a little clash pipeline for a set of big ifc files!
I was wondering if it could be used also inside a blenderbim scene instead of external ifc files,
given two sets of elements? :
[code]
...to get back a dict like the json result from ifcclash.IfcClasher ?

[2020-11-25 22:08] Moult commented on #1129
A reminder to myself to hack on this this Friday 5:30pm. I've got a sports thing at 7 (not 7:30 as I initially thought) so we'll see how much we get done in an hour :)

[2020-11-26 01:46] Moult opened #1131 "Fatal error with empty items in attribute set"
This looks like an invalid IFC (coming from ArchiCAD), but do you reckon it should terminate the way it does? Or should it instead return `(None, None)`? Happy either way, just thought I'd bring it up.

[code]

[2020-11-26 02:41] Moult commented on #952
By the way, `IfcRelConnectsPath` is not yet supported. However, `IfcRelVoidsElements` is supported, but you have to enable the "Import Openings" option.

Also coplanar booleans is a bit unhappy in Blender, but hopefully with 2.91 this'll improve.

[2020-11-26 08:54] Teak02 opened #1133 "Attribute Error missing RelativePlacement"
I get this ifc file but if I want to open it, this happens

Traceback (most recent call last):
  File "E:\Steam\SteamApps\common\Blender\2.90\scripts\addons\blenderbim\bim\operator.py", line 134, in execute
    ifc_importer.execute()
  File "E:\Steam\SteamApps\common\Blender\2.90\scripts\addons\blenderbim\bim\import_ifc.py", line 416, in execute
    self.auto_set_workarounds()
  File "E:\Steam\Ste

[2020-11-26 09:09] Moult commented on #1133
It is likely I've made the poor assumption that local placements are always used. Is it possible for you to share your IFC file so that I can confirm this? Feel free to share to dion@thinkmoult.com if it is private.

[2020-11-26 09:23] aothms commented on #1133
IfcOpenShell C++ also only has local placement implemented. Depending on version it can either be Grid Placement or Linear Placement.

[2020-11-26 09:27] Moult commented on #1133
I must say I'm curious, since I've never personally come across a file that uses grid or linear placements.

[2020-11-26 09:34] Moult commented on #1128
I'm not sure if it's less confusing. Perhaps a better approach would be to specify that it uses the Ifc Query syntax. The IFC query syntax is documented on the OSArch wiki.

[2020-11-26 09:41] aothms commented on #1131
Yeah sets cannot contain NULL. So the file is definitely invalid. The issue is that in C++ we don't have generic lists. The parser needs to know the type of the elements in the list to map to the appropriate type (e.g. std::vector<int>). So while I agree there are better solutions. And I think in the current code base it can be fixed as we have quite a bit more schema information now then at the t

[2020-11-26 09:45] Moult commented on #1131
Happy to close this as it seems to be a bit of work just to support what is simply invalid behaviour. If it starts cropping up more frequently from the major vendors, it might be worth reopening, but until then... :)

[2020-11-26 09:45] #1131 closed

[2020-11-26 11:16] Teak02 commented on #1133
@Moult I´ve send you an email to dion@thinkmoult.com. The file is 50mb big so I shared it for you on drive.

[2020-11-26 22:33] Moult commented on #1133
Are you sure you sent me the right file? I expected to find an IfcSite that didn't use local placement, but the IfcSite was using a local placement, and so I didn't get your error.

I did get another error though about invalid IfcGrids. Can you please ask your architects to check their Revit export IFC mapping settings and make sure they don't have strange categories exported as IfcGrid? In partic

[2020-11-26 23:07] Teak02 commented on #1133
Yeah, I´m sure it was the right file. It´s the first time I tried to import an ifc file and it´s the only one I got.

I try to import the file with the new version tomorrow. Thank you for your quick help. And I will also talk to the architects. I think they never export to ifc before.

[2020-11-27 01:15] Moult commented on #1133
@Teak02 cheers, you'll need to use the latest v0.6.0 branch to get the fix. Otherwise, you'll need to wait for the next release, which will probably be in 1 weeks time.

You can help point the architects to this page: https://wiki.osarch.org/index.php?title=Home_of_OSArch there are helpful guides on setting up Revit for IFC exports.

[2020-11-27 01:33] Moult commented on #1133
If it is tricky to get the latest branch and you can't wait for the next release, let me know and I'll just send you the imported Blend file. I assume you're using this for archviz?

[2020-11-27 08:00] Teak02 commented on #1133
If u could send me the imported blend file it would be amazing.

I use it in first place as a background for a building management system/Scada (Supervisory Control and Data Acquisition) . Usually I make more or less accurate models of buildings and render some images but this is a new building where we have the opportunity to use the BIM modell.

Maybe we will use some cross sections to show the

[2020-11-27 09:35] fbpyr commented on #1129
@Moult  thank you so much again, for the great session!

I get some strange behaviour for some objects, though:
![image](https://user-images.githubusercontent.com/73931454/100431760-e4663d80-3098-11eb-9bf0-53c03a2610a1.png)

Blender clash results from separate individual clash checks:
a: void1 - b: void2 : clash 🆗
a: void1 - b: void3 : no clash 🆗
a: void2 - b: cube5 : no clash 🤔
a: void3 - b: cube

[2020-11-27 10:12] Moult commented on #1133
@Teak02 cool - I've emailed you the file.

[2020-11-27 10:12] #1133 closed

[2020-11-27 10:14] Moult commented on #1129
@fbpyr can you upload a Blend file here?

[2020-11-27 10:17] fbpyr commented on #1129
Had just sent it to you as email, if that is ok?

[2020-11-27 12:12] yorikvanhavre commented on #839
JFYI FreeCAD now (finally) exports to ifcjson as well: https://github.com/FreeCAD/FreeCAD/commit/c3b0af2d8de25c1fc2e595d6222682c366ed3f37

[2020-11-27 12:18] Amoki commented on #1026
We also noticed this with end-user files.

[2020-11-28 16:53] janbrouwer commented on #839
@yorikvanhavre, @Jesusbill
The reporitory for ifcJSON just got it's definitive place at https://github.com/buildingSMART/ifcJSON.
All sub-projects are merged there, including the ifc2json and json2ifc tools.

[2020-11-28 23:48] Moult commented on #1129
@fbpyr took a brief glance and if I apply transformations (i.e. ctrl-a All Transforms) to the object then the clash results work as expected. I see that cube5 has a scale applied to it. The matrix_world includes scale in the matrix, so my next guess is maybe that fcl's clash objects don't understand scale? Maybe.

Hope that provides enough as a hint? Worst case scenario just apply the scale transf

[2020-11-29 15:58] aothms commented on #1126
In case serialize() fails it will return nullptr, so you need to check for this.

In this case serialize() fails because of `Geom_TrimmedCurve` being part of the topology which is currently not supported (and not recommended in OCCT. Better is to set the trim as the parameters of the edge vertices. Are you able to adapt your code like that?

[2020-11-30 11:54] fbpyr commented on #1129
@Moult  thanks a lot for the pointer!!
that seems to be it (and solves it for me) - once I have scale on the objects for all dimensions on 1,
it works as expected here as well! 😌

( although it would of course be great if it worked even with scale.
..just out of curiosity: is there a way to visualize the mesh that is used by fcl?)

[2020-11-30 23:48] #952 closed

[2020-11-30 23:50] Moult commented on #952
It's now fixed, so long as you enable the experimental "Roundtrip Native Representations" mode. Over time as it stabilises, it'll be enabled by default.

[2020-11-30 23:57] Moult commented on #1121
Bot bump :)

[2020-12-01 00:02] Moult commented on #1129
@fbpyr would you mind editing the code so that it applies the scale transformation on verts? That way it can work on scales too.

Not sure of any easy way to visualise fcl meshes ... I've written little bits to get portions of data back into Blender (e.g. contact point positions and vectors) for debugging.

[2020-12-01 00:04] Moult commented on #1129
Would you like to also continue hacking on this to allow self collision, and saving to JSON or even BCF?

[2020-12-01 01:58] Moult commented on #950
By the way can you attach an example of the excel output from solibri? That would help in implementation.

[2020-12-01 01:59] Moult commented on #1109
Cheers - closing bug as presentation layers to representations are now implemented. Layers to items are not implemented, and no plans to do so for now.

[2020-12-01 01:59] #1109 closed

[2020-12-01 02:02] Moult commented on #1082
To wrap this up, can I propose adding a "LICENSE" or "COPYING" (which is your preference?) file to each dir in `src/` with the relevant license, and then adding a license table in the top level readme?

[2020-12-01 02:05] Moult commented on #829
Closing as the util module is well underway and evolving :)

[2020-12-01 02:05] #829 closed

[2020-12-01 03:15] Moult commented on #1129
@fbpyr in addition to applying the scale transformation on verts, it would be good to put together a quick minimum working example of two cubes. One with a scale and one without that demonstrates this problem. It would be good to post an issue upstream to see whether or not we missed something basic, since I would expect the transform to allow scaling :)

https://github.com/flexible-collision-libr

[2020-12-01 06:20] fbpyr commented on #1129
I have a small sample, which I will post here once I have cleaned it. 🙂
It is quite a curious one to me, as - at least to me - telling by the geometry, it should intersect regardless of scale 1 or 0.66.

[2020-12-01 07:36] Moult commented on #1129
@fbpyr if it should intersect regardless of scale, maybe that suggests that the scale in the matrix is being applied in a funny way. Maybe order of operations? Dunno. Best to present to upstream and see what they think?

[2020-12-01 09:27] aothms commented on #1082
LICENSE appears to me as a bit more modern. It's also what Github creates for you when you select a license during creation of a new repo https://github.com/aothms/test

[2020-12-01 09:29] aothms commented on #1121
There was a power outage causing the build machine to stop. I think she's almost ready now though

![afbeelding](https://user-images.githubusercontent.com/1096535/100721816-1e4c8200-33c0-11eb-8bf7-3aa12b6aa789.png)

[2020-12-01 13:04] aothms commented on #1126
Actually, come to think of it, it doesn't really matter whether a curve it trimmed geometrically, as in the current approach vertex is always specified simply by cartesian point. So I added a commit to just directly serialize the basis curve of the trimmed curve. Let me know if that helps.

[2020-12-01 14:25] aothms commented on #1119
I cannot reproduce this on Windows and Linux

[code]

[2020-12-01 15:07] johanrd commented on #1119
Yes, this can be closed after 37b7d76, thanks!

[2020-12-01 15:07] #1119 closed

[2020-12-01 21:50] giovannivelludo commented on #1034
Thanks for fixing this, by the way both IfcBooleanResult and IfcBooleanClippingResult are part of 2x3 CV 2.0

[2020-12-01 21:50] #1128 closed

[2020-12-01 22:03] #1112 closed

[2020-12-01 22:51] #1111 closed

[2020-12-02 06:53] spl1inter opened #1139 "IfcGeometricRepresentationContext raises "invalid real""
IfcOpenHouse.ifc line 48:
[code]
raises:
[code]
in create_shape function, IfcOpenShell-0.5.0rc0 for python2.7 mingw64
(0.6 branch incompatible with my OCE libraries)

Any ideas for a work-around?

[2020-12-02 10:06] aristotls commented on #1028
Thanks for the work on IfcOpenShell. We are using IfcOpenShell at Fachhochschule Nordwestschweiz FHNW (University of Applied Sciences and Arts Northwestern Switzerland) in several research projects, currently e.g.
* ifc-data-checker https://github.com/idibau/ifc-data-checker / https://pypi.org/project/ifc-data-checker/ in context to a bim-profile-server
* geodata-transformation-service (transforma

[2020-12-02 11:10] Moult commented on #1139
At a glance I don't spot anything wrong. On v0.6.0 branch I can view ifcopenhouse just fine.

If you're having incompatibility issues, try install the BlenderBIM Add-on (https://blenderbim.org/) it packages OCE, PythonOCC, IfcOpenShell v0.6.0 for Python 3.7. It comes with a built in Python with a python shell in the Blender UI (or you can just rip out the libs and use it with your own system's Pyt

[2020-12-02 11:21] spl1inter commented on #1139
Thanks Moult but no, the whole point of the exercise was to compile the compatible branch of IfcOpenShell with the set of tools and libraries I set up mid last year and have no immediate intent to run through all of that again. I am aware of the "don't bother just use binary X" but again, that isn't the point.

Since there still seems to be commits to the 0.5 branch I was fishing around for adjust

[2020-12-02 12:07] aothms commented on #1139
I checked with https://s3.amazonaws.com/ifcopenshell-builds/ifcopenshell-python-27-master-491dc57-win64.zip (that's 0.5.0rc0) and the following script and couldn't reproduce any issue. What version of IfcOpenHouse are you using precisely? There's a lot of versions floating around and some had invalid real serializations (but not in the representation context)

[code]

[2020-12-02 12:19] spl1inter commented on #1139
aothms: Hi and thank you for addressing this :) I am using the 0.5.0rc0 tar.gz package from the release history - nothing "unusual".

Here are my results:
[code]

Also:
[code]

Likewise, MinGW has a few different repos - I am using the semi-official MSYS2 MinGW64 from Christoph Reiter, because of its vastly superior release packaging and management.

I am hoping for some guidance to at least find

[2020-12-02 12:48] triamazikamno opened #1140 "Segmentation fault on FlowSegment element"
IfcConvert is failing on some IfcFlowSegment elements. I've isolated one of them and put in a small test file:
[code]

[test.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/5629332/test.zip)

[2020-12-02 12:55] aothms commented on #1139
Can you sure your copy of `"IfcOpenHouse.ifc"` just to be sure.

Come to think of it, there is something specific to mingw in the code base regarding parsing reals: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcParse.cpp#L67 but I can't figure out what's happening here.

What's the result of:

[code]

[2020-12-02 13:01] spl1inter commented on #1139
yup. fyi github is even raising hell with ungoogled zip uploads (in someone's pocket much??), so rename to ifc:

[IfcOpenHouse.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5629402/IfcOpenHouse.txt)

results as requested:

[code]

[2020-12-02 13:13] dhulsegge opened #1141 "BlenderBIM IFC export problem"
Hello,

First i imported an IFC, i did some name conversions to the mesh objects. After that i reexported the file as IFC and the following message appeared. If you need more specific information you can always ask me.

location: <unknown location>:-1
D pid(16564) tid(15492) 14:07:09 EdgeSnapFeature::PostExitSizeMove: WM_TWINVIEW_SHOW_GRIDLINES -> off
Python: Traceback (most recent call last):
  F

[2020-12-02 23:12] spl1inter commented on #1139
Thanks for the hint, started me thinking. Seems as suspected the MINGW support is for a different (maybe older?) distribution. This update:

[code]
Creates this result:

![mingw64-ifcopenshell](https://user-images.githubusercontent.com/41893923/100942697-ed02bc00-354f-11eb-9053-0c8c35c1ba1a.png)

[2020-12-03 04:29] Moult commented on #1141
This may have already been fixed - there were a series of fixes from the last release to do with the latest material system. Is it possible to share your file (dion@thinkmoult.com if it is private) or retry your process with the latest v0.6.0 branch?

[2020-12-03 06:34] fbpyr commented on #1129
yes, I also think there might be something weird going on with scale != 1
should we have another screen share to poke at it? (before presenting it upstream?)

[2020-12-03 06:36] Moult commented on #1129
@fbpyr sure thing. I'd like to do a release this weekend sometime or maybe Monday, and it'd be nice to include this as a more packaged feature before then. When works or you?

[2020-12-03 06:39] fbpyr commented on #1129
cool! would same time&place work for you?

[2020-12-03 06:40] Moult commented on #1129
@fbpyr sure thing - let's do Friday sydney time 5:30pm on the /openbim jitsi channel!

[2020-12-03 07:08] fbpyr commented on #1129
here the sample where I get no clashes,
but when scale is set to 1 it finds intersections,
even though it intersects in both scenarios:

[20201203_clash_sample_01.blend.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/5634244/20201203_clash_sample_01.blend.txt)

sorry for txt file extension rename due to upload file filter.

[2020-12-03 09:16] aothms commented on #1139
Thanks @spl1inter. But in your code on MINGW64 the `init_locale()` is not defined meaningfully, shouldn't the static locale get assigned the C locale?

How about this:

[code]

If it works it'd be great if you can wrap this in a Pull Request :)

[2020-12-03 11:43] spl1inter commented on #1139
Because that's how it was originally.

The larger problem with this idea would be total abandoment for legacy MinGW32. If that's your intent fine, but If not Ill post a new version with a proper locale def.

[2020-12-03 11:58] aothms commented on #1139
Yes, but because there was a C++ fallback using stringstream where the locale was imbued. But in your case the non-initialized locale is now fed to strtod_l().

Yes, that's true. But to me that's still an improvement over the current version where a recent MinGW64 cannot parse a simple file. Sure, if we can test legacy MinGW32 (`#if defined(__MINGW32__) && !defined(__MINGW64__)`?) and have a worki

[2020-12-03 13:12] aothms commented on #1140
Thanks for this file.

It's a sweep along a polyline but the curvature radius of the polyline is waaay to small for the radius of the pipe. This is not allowed by the standard.

https://standards.buildingsmart.org/IFC/RELEASE/IFC4_1/FINAL/HTML/schema/ifcgeometricmodelresource/lexical/ifcsweptdisksolid.htm

![afbeelding](https://user-images.githubusercontent.com/1096535/101021890-d6209180-3570-11eb

[2020-12-03 13:33] triamazikamno commented on #1140
Thanks for the investigation!

I've tried multiple combinations, all of them failed:
1. 0.6.0b0 (OCC 7.5.0), built from 9281c8fbce70dd13720c311025284921a4b9ba20 with 2 versions of opencascade:
  a) standard package included in debian 10
  b) custom built from f136d2a3ac89b3203affef1f04da6fde9d60bf7e
2. 3b0585ae4bc0751ec99a30b2b4159c9ff7e5a925 + OCCT v7.3.0p4
3. fc5fcef0791e55c1bbb7f8d03b7b64c4d66b

[2020-12-03 13:57] JanFilipec opened #1142 "IfcAnnotation support"
Is the IfcAnnotation support complete? I was toying with Archicad ifcAnnotation export and only lines seem to show up when I import the ifc in Blender. With BIMVision I can see the the tag and fill are there, but without content somehow. (I'm not at all sure it is exported correctly from archicad).

![AC](https://user-images.githubusercontent.com/67052298/101024018-d706f280-3573-11eb-917b-b7566744

[2020-12-03 14:55] spl1inter commented on #1139
OK I see what's going on here. But now there are some new issues - formostly is the modest state of affairs concerning MinGW64 [posix locale support](https://pubs.opengroup.org/onlinepubs/9699919799/functions/newlocale.html). There is _still_ no newlocale() and probably never will be. MinGW is for Windows, but people keep assuming posix stuff on it..

The truth is any posix API locale functionalit

[2020-12-03 15:28] solar-core opened #1143 "Building by build-all.py create a very large executable"
Hello! I am building IfcOpenShell using python build-all.py in nix folder using python [2.7.18] (python3 not working, have some errors) so the result in executable [IfcConvert] in this folder is about 964 Megabyte. This is very large file. If i look [here](http://ifcopenshell.org/ifcconvert) the IfcConvert is about 15 Megabyte. How can i change my 964MB into 15MB? 😊

[2020-12-03 15:38] aothms commented on #1143
set the BUILD_CFG=Release environment variable for that. Debugging symbols would be stripped then.

[2020-12-03 15:43] solar-core commented on #1143
Thank you, will try this now.

[2020-12-03 15:45] aothms commented on #1143
PS if you find incompatibilities with py3 and feel comfortable fixing them, feel free to send a PR.

[2020-12-03 15:53] solar-core commented on #1143
Ok, thanks, will try to contribute and fix this issue in my free time.

[2020-12-03 16:08] aothms commented on #1139
The question remains then how strtod_l() behaves on MINGW when the *end user* [so not the user that is compiling], behaves when he's on a locale that has different numeric behaviour. The issue this is trying to fix is that e.g. a German user can parse  `1.23` where it's native locale would write `1,23`. I.e locales that use a comma as decimal point. I mean it could well be that MINGW always uses t

[2020-12-03 17:15] #1143 closed

[2020-12-03 22:29] spl1inter commented on #1139
Well that changes things. We need to chuck the shims and stubs and find a real function. You're right - MINGW documentation is slim to none about these locale portability issues - so I stopped making this a MINGW problem and started making it an MSDN problem. Here's what I came up with (tested working but I lack the Euro system to check it):

[code]

And L#400 or so:
[code]

Functionily should be

[2020-12-03 23:39] spl1inter opened #1145 "'IfcElementQuantity' has no attribute 'HasProperties'"
When running the viewer script for 'print properties of current selection' I get:

[code]

What does it mean? The other miniscript seems to work fine.
Still 0.5rc1 MinGW64 python2.7 ..

[2020-12-03 23:43] Moult commented on #1145
This looks like an error in the script. Can you post the script?

The `IfcElementQuantity` class indeed has no attribute `HasProperties`. Instead, it should check the `Quantities` attribute.

[2020-12-03 23:52] spl1inter commented on #1145
Sure, but its unchanged from source..

[code]

Not sure if it's related to the same sort of coding, I also notice that if I click on anything in the Types tree panel of the viewer, the app crashes without an error trail (hovering works OK).

[2020-12-04 00:02] Moult commented on #1145
@spl1inter hope that helps fix the script issue. By the way, there is a util module which makes extracting data much easier. Like `ifcopenshell.util.element.get_psets(element)` - in one line you get a nested dictionary of properties.

Not sure how much I can help with the crash, I'm not too familiar with the geom viewer. Might be one for @aothms

[2020-12-04 00:27] Moult commented on #1121
Bump :)

[2020-12-04 00:52] #1071 closed

[2020-12-04 00:53] Moult commented on #1052
Closing, as the foundations to fix most future errors are now there. In the future with specific bug reports this can be polished over time.

[2020-12-04 00:53] #1052 closed

[2020-12-04 03:20] spl1inter commented on #1145
Merging your change to 0.5rc0 fixes that error but a similar one arose when checking around AC-11-Smiley-West-04-07-2007.ifc:

[code]
Also, if you are keeping portability to Python2 app.py#L18 needs to be
[code]

[2020-12-04 03:58] Moult commented on #1145
@spl1inter what code are you running that triggers that error? These two lines in that commit should've avoided that error: https://github.com/IfcOpenShell/IfcOpenShell/commit/06685f9768da6a4bb5c8ddbc6d3e4ea2e6703b7b#diff-946c14ab819a0a3704657df261bed20b235d92fd7994a919a1084fc380483ea4R161-R162

[2020-12-04 05:52] spl1inter commented on #1145
Just the latest 0.5 release: 0.5rc0

[2020-12-04 06:02] Moult commented on #1145
@spl1inter i mean what is the Python code that you are running that triggers that error?

[2020-12-04 07:39] spl1inter commented on #1145
Sorry I thought it was clear, really nothing complicated at all - I was re-testing your updated 'print properties of current selection' while selecting windows on the pythoncc demo model AC-11-Smiley-West-04-07-2007.ifc just checking your script update.

[2020-12-04 08:01] Moult commented on #1145
Can you double check the code is what I've committed? Paste it here for a double confirmation?

[2020-12-04 08:48] spl1inter commented on #1145
Sure. When pasting it into 0.5rc0 I looked like this:
[code]

[2020-12-04 08:56] aothms commented on #1145
Have a look at the 0.6 version of the app. It appears to be much more complete wrt IFC schema https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/geom/app.py#L385

[2020-12-04 09:06] aothms commented on #1121
ah crap, reboot tonight

[2020-12-04 13:57] spl1inter commented on #1145
Do we really want to go down this road? I don't have time to update my dependencies and the lion's share of my work is still in python2.7. I had the impression that older dependency support was the reason for ongoing development of the older branches since 0.5 was much easier for me to compile. Wouldn't it be better for you to simply patch 0.5 to final release state and move on? I'm just wanting t

[2020-12-04 16:13] JanFilipec commented on #1142
Btw. Archicad imports it's own 2D elements correctly (the dimension gets exploded into lines and text on export)

![Ifc 2d import](https://user-images.githubusercontent.com/67052298/101186867-ec534e00-3653-11eb-8c38-20c690d611a4.JPG)

[2020-12-05 10:54] aothms commented on #1145
This is the core reason why the 0.6 branch exists. In 0.5 the schema can only be specified at compile time (which was fine maybe 5 years ago when industry was 99% IFC2X3). Since industry transitioning to IFC4 was so slow, we had to simultaneously begin effort on runtime schema support in the 0.6 branch.  And that is where we are, given that most of our users are on 0.6, that is where the energy go

[2020-12-05 10:59] aothms commented on #1139
Looks ok to me :) Can you send in a Pull Request?

Re:

[code]

Maybe we should just do a

`#define strtod_l _strtod_l` in case of `_MSC_VER` so that we can skip the later `#if`?

Thanks for you continued effort on this :)

[2020-12-06 00:31] Moult commented on #862
In Blender, there is no such thing as a face with a void, and it supports ngons. Is it possible to also have an optimisation that would allow importing this data to be really fast? Basically, just read the data and ignore the create shape for any triangulated faceset as well as polygonal faceset and faceted brep?

[2020-12-06 00:51] theoryshaw commented on #1142
Ha. I came to the issue tracker independently to post an issue on improved dimensioning, and low and behold, @JanFilipec did as well. Something's in the air.

@Moult we had chatted about this before, but would be nice to get BlenderBIM dimensions to associate themselves with the object. That is, if you modify the object, the dimensions would move with it.

Is there anything in the IFC schema curre

[2020-12-06 01:06] Moult commented on #1142
@JanFilipec The short answer is that IfcAnnotation support is not complete (specifically for your issue, text literals are exported, but not imported - hence the roundtrip was not complete). Complete support for it required an overhaul of the context roundtripping support, which has only recently been completed. It's good to have this issue so we can keep track of the progress. Now that the native

[2020-12-06 10:24] aothms commented on #862
Yes, I've been thinking for a long time btw to have more kind of element serializations: we now have mesh and full blown brep, but some kind of polyhedra with different constrains (with or without inner bounds) would be nice to have. Either derived from brep or inferred from mesh. And later maybe more directly tied to IFC output.

The CGAL branch of IfcOpenShell is getting quite good https://githu

[2020-12-06 12:15] pachi commented on #1082
Take into consideration that, for GNU licenses, the preferred file name for licenses is COPYING or COPYING:LESSER, by https://www.gnu.org/licenses/gpl-howto.html and a reference to this files may appear in the license content or existing headers.
This makes some sense, as copyleft licenses are designed around copy rights and not use rights (in the same way as many commercial licenses do).

[2020-12-06 15:22] theoryshaw commented on #1142
Instead of waiting, could we not propose an approach to BuildingSmart?  As @jmirtsch did with his parametric example.

Would think if we could hash out an approach that actually works and is used between Freecad and Blender users, the more validity it would have.

[2020-12-06 15:31] theoryshaw commented on #1142
We could also make a case to BuildingSmart to undeprecate [these](https://github.com/BuildingSMART/IFC4-CV/issues/9) annotation classes and start from there.

At the end of the day, if they are used by both BlenderBIM and FreeCAD, are they really deprecated? ;)

We could use the OSarch wiki to keep track of this bastard child schema. :)

[2020-12-06 16:09] aothms commented on #1142
More recently perhaps (also from @jmirtsch) the IfcMetric example be used as a generic mechanism to link data https://github.com/GeometryGym/GeometryGymIFCExamples/blob/master/ConsoleParametricFooting/ParametricFooting.ifc#L49 I haven't looked into it, but can remember a couple of issues with it from the past.

[2020-12-06 16:56] theoryshaw commented on #1142
Hierarchy for study.
[code]

[2020-12-06 17:02] theoryshaw commented on #1142
Further hierarchies for study...

[code]

[2020-12-06 18:18] theoryshaw opened #1147 "BlenderBIM: Locating the drawing within the IfcProject when created"
When 'Add Drawing', is it possible to locate it within the project?

Going from...
![image](https://user-images.githubusercontent.com/507113/101288540-cdbc9680-37bc-11eb-8326-7c1d04e38fd8.png)

... to something like this perhaps?....
![image](https://user-images.githubusercontent.com/507113/101288543-d01ef080-37bc-11eb-93b8-a70de5348160.png)

[2020-12-06 18:53] theoryshaw opened #1148 "BlenderBIM: Crashing when printing a drawing"
When printing a drawing with [this](https://www.dropbox.com/s/74d061mz78t7evq/20201206%20-%20Dimension_with_Walls.zip?dl=0) file, I get [this](https://www.dropbox.com/s/2w3jjbq71lb99rk/20201206%20-%20Dimension_with_Walls.mp4?dl=0) behavior

Blender: 2.91
BlenderBIM: 0.0.201115

[2020-12-07 00:59] hawkaa opened #1149 "error: 'Init' is not a member of 'IfcParse::IfcFile' when compiling with USE_MMAP"
Hi there,

I am trying to compile the current head of the v0.6.0 branch in a Dockerfile, but I can't seem to get the `USE_MMAP` to work. I get the following error:

[code]

Dockerfile:
[code]

[2020-12-07 04:42] Moult commented on #1147
The short answer is no. These groups are not part of the spatial tree, so right now they kinda just exist in the IFC dataset, but not connected in any meaningful way.

The longer answer is that there may be a convention that may be established to connect it to the spatial tree. I have yet to investigate what this would be.

Currently a low priority, unfortunately.

[2020-12-07 04:45] Moult commented on #1148
Cannot reproduce in latest master. There will be a release today, so hopefully you can retry it?

[2020-12-07 07:59] aothms commented on #1121
She's getting weird errors on windows. Maybe some file handle leaking. I
disabled a bunch of python versions and tried again.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op vr 4 dec. 2020 01:27 schreef Dion Moult <notifications@github.com>:

[2020-12-07 10:16] Moult opened #1150 "Draw dimension markers (arrows) and dimension text on dimension objects"
When a new dimension object is created, there should be a mode which displays these decorations in bgl.

The text should just use bgl text, no need for fancy fonts / etc.

The drawing mode should be toggle-able on/off.

![2020-12-07-211448_1920x1080_scrot](https://user-images.githubusercontent.com/88302/101338560-401e9b00-38d1-11eb-8a15-bbd32b30c236.png)

[2020-12-07 19:51] qwiglydee commented on #1150
There is no bgl text in Blender. There is built-in font-renderer [blf](https://docs.blender.org/api/current/blf.html) with some direct rendering to viewport.
I assume you mean this lib to use for the text.

[2020-12-07 21:36] Moult commented on #1150
@qwiglydee you are correct :) Sorry!

[2020-12-08 05:11] theoryshaw commented on #1148
It works on 2.83 and 2.90, but not on 2.91 or 2.92.

[2020-12-08 05:25] theoryshaw commented on #1147
cool. good to know. thx.

[2020-12-08 05:25] #1147 closed

[2020-12-08 08:52] DeGutsch opened #1151 "Missing materials when importing IFC files generated in Archicad 21"
Hallo,

As prevoisly discussed in the Blender Artists forum, there is a problem when importing IFC files created in archicad 21. When importing the result is inconsistent, because while all objects show a correct IFC Material in the object properties tab, some are missing the corresponding material in the object material tab.

Archicad, IFC and Blender files:

[Test BlenderBIM.zip](https://github.

[2020-12-08 08:55] Moult commented on #1151
@DeGutsch thank you! However, you are missing the IFC file in your zip. Can you please upload it?

By the way, what you've described _may_ be actually correct behaviour and _not_ a bug. The Object properties shows the IFC material data, whereas the Blender material tab actually shows the IFC "style" data. In IFC, the material and the style are two different things.

[2020-12-08 09:14] DeGutsch commented on #1151
Zip file updated, thanks.

I can imagine that it can be _correct_, but seems to me like not so logical because some objects are so and some others not. Should this information not be consistent across objects?

[2020-12-08 09:20] Moult commented on #1151
@DeGutsch Cheers. I just checked, and indeed it is not a bug. For some objects, ArchiCAD has assigned a material, but no style. There's nothing technically wrong with this - this is allowed behaviour. It doesn't have to be consistent, it's up to the BIM modeler / author. Maybe there is a setting in ArchiCAD which affects this.

[2020-12-08 09:20] #1151 closed

[2020-12-08 09:23] DeGutsch commented on #1151
I see, that's a bummer, cause I tested all archicad IFC exporters and coud not find a way to correct this.

Thanks for your help. that was fast!

[2020-12-08 15:41] theoryshaw opened #1152 "BlenderBIM: roundtrip wall and retain its 'screw' and 'solidify' modifiers."
Have a wall roundtrip and retain its 'screw' and 'solidify' modifiers.

I know this is in the roadmap, just posting here for tracking.

[2020-12-08 21:31] Moult commented on #1152
Note to self that the best way to implement this is to first implement automatic Axis representation generation.

[2020-12-08 23:40] Moult commented on #1148
Confirmed that this is a Windows-specific issue caused by upstream changes. Relevant links:

 - https://developer.blender.org/T57657
 - https://developer.blender.org/D7815
 - https://developer.blender.org/rB04c5471ceefb41c9e49bf7c86f07e9e7b8426bb3
 - https://blender.stackexchange.com/questions/8530/how-to-get-python-multiprocessing-module-working-on-windows/32779#32779

I have a few routes to proc

[2020-12-09 03:51] Moult opened #1153 "Make construction drawing generation like, really, really awesome"
**Update: A new initiative has started to raise funds to solving this issue. Help [donate to the fund here](https://www.bountysource.com/issues/95048565-make-construction-drawing-generation-like-really-really-awesome)!**

Right now generating drawings from Blender + IFC kinda works but it's painful and really needs a huge amount of work done to it. The end goal is for any authoring app to be able

[2020-12-09 15:42] bimworld commented on #1126
Thank you for looking into this. The shapes I want to serialize are processed by API functions of OCCT, like unifysamedomain, so I can't do anything to change the used geom classes, unfortunately.

Using your commit, I get now two different results:
1) advanced option is false

The function
[code]
is not called. The if statement of the function below, returns 0 and the Face is failing. Polygonal i

[2020-12-09 15:59] theoryshaw commented on #1153
Thank you @Moult for posting.
I created a bounty, for this much needed project, if anyone wants to add to the funding of this issue!
https://www.bountysource.com/issues/95048565-make-construction-drawing-generation-like-really-really-awesome

[2020-12-10 02:04] whwlei commented on #1097
I have modified this question, how to submit the merge code

[2020-12-10 05:53] whwlei opened #1154 "IFC to xml - IFCGROUP in IFC cannot be found in xml"
When I convert IFC to xml, the IFCGROUP in IFC cannot be found in xml

[2020-12-10 09:10] aothms commented on #1153
Great write up @Moult.

I have been thinking about this. Maybe we should really dust of HDF5 (now that ODA is also implementing it) and embed the cached BReps and triangulations in it.

I also have a plan now to uplift the hidden line rendering output (only edges) from OCCT, back to cells using CGAL 2D Arrangements https://doc.cgal.org/latest/Arrangement_on_surface_2/index.html, and then by ray ca

[2020-12-10 09:16] aothms commented on #1154
The XML is not intended to be a 1-to-1 equivalent of all data in IFC. It's not a bad idea to add groups though. Is this something you want to build? It's basically following the IfcRelAssignsToGroup relationship here https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/serializers/schema_dependent/XmlSerializer.cpp#L300 and then writing a group here https://github.com/IfcOpenShell/IfcOpenS

[2020-12-10 09:17] aothms commented on #1097
Please submit a pull request https://github.com/IfcOpenShell/IfcOpenShell/pulls

https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-12-10 09:42] aothms commented on #1148
I think that's a great idea.  Sure :) I'd say set up an dev environment, find a place to implement this, tinker a bit and then have a call.

There's probably a risk in implementing this in C++ in that on that side there is a risk that underlying shape data is reused between elements and mutating them concurrently might blow up. But that can be fixed later.

[2020-12-10 09:52] aothms commented on #1126
Good point, see 14193fb to check trimmed curve and also first degree nurbs curves.

Probably not. Also RepresentationType on the IfcShapeRepresentation should be 'AdvancedBrep' and not 'Brep' in that case. Maybe these are cases you can help with?

Let's evaluate when we have the other fixes in. Could also be related to tolerances for example or other factors.

[2020-12-10 09:56] aothms commented on #1149
Indeed. `IfcFile::Init` should be renamed `initialize_` as it is 4 lines down. https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcParse.cpp#L1307 Care to test and send in a Pull Request?

Mmapping sounds nice in theory, but keep in mind in this case it will only mmap the actual file contents, not the parse tree or any geometry constructs derived from it. Depending on your use

[2020-12-10 09:58] aothms commented on #1121
Still no luck

![afbeelding](https://user-images.githubusercontent.com/1096535/101756652-84c75380-3ad6-11eb-8d74-75c802dd41b3.png)

The incompetence is staggering. I'll check again tonight.

[2020-12-10 10:28] whwlei commented on #1154
Is what we are doing, We want to manage components through groups。I will study their relationship. I hope to get your help if there is any problem, thank you。

[2020-12-10 10:38] hawkaa commented on #1149
Okay, I guess I can try. I'm actually not in C and C++ space, and not too familiar with the compiler toolchains, makefiles and CMake,  I just happen to know how to compile binaries for my docker images. But I will try when I have time.

We're running IfcConvert in AWS lambda. If the lambda times out while IfcConvert runs,  we have no way to clean up. Which technically  shouldn't be a problem in la

[2020-12-10 11:43] Moult commented on #1153
For discussion, I've made a little flow chart of what's _currently_ implemented in pure Python that evolved from the hacky script. This'll help re-architect it to something "like, really, really awesome". @aothms would you have time for a voice call to go over this process and see what could go where? (e.g. C++ vs Python, existing SVG serialiser code vs new code, etc)

![cut_ifc](https://user-imag

[2020-12-10 14:58] theoryshaw commented on #1153
As part of the awesomeness, would like to add a request that objects beyond the cut plane are vector based as well, not rasterized, as is current.

For logging, here's some conversations around this topic: https://community.osarch.org/discussion/comment/2664/#Comment_2664

[2020-12-11 00:14] Moult commented on #1150
@qwiglydee AWESOME WORK! You rock! I made a minor tweak to support multiple dimension objects and other curve types, which there could be.

[2020-12-11 00:14] #1150 closed

[2020-12-11 00:16] Moult opened #1157 "Make dimension decorator arrows larger in perspective view"
Ping @qwiglydee In ortho the size is good, but in perspective mode, the arrows are a bit too small. Can this be increased? (it's OK for it to be hard-coded - it is merely a representation guide)

![2020-12-11-111527_377x365_scrot](https://user-images.githubusercontent.com/88302/101845223-472ffc80-3ba2-11eb-9f21-d4464c3e8726.png)
![2020-12-11-111522_431x403_scrot](https://user-images.githubusercont

[2020-12-11 00:23] Moult opened #1158 "Create decorator for equal dimensions"
Ping @qwiglydee based on the work you did for the dimension arrows, it would be awesome to create an extension to support "equal dimensions". Basically the only difference between an equal dimension and a regular dimension is the object name, and instead of displaying a length, it always displays the string "EQ", regardless of the actual dimension length.

![image](https://user-images.githubuserco

[2020-12-11 00:33] Moult opened #1159 "Bug in decorator draw"
Ping @qwiglydee

I noticed this in the console. I haven't looked at the code to see what triggers it yet.

[code]

[2020-12-11 00:36] Moult opened #1160 "Can provide commit access to @qwiglydee ?"
Ping @aothms - @qwiglydee is helping code for the BlenderBIM Add-on :D Is it possible to give him commit access? It would be more convenient than him creating PRs and managing branches.

He will only touch stuff in `src/ifcblenderexport/` - nothing else should be touched. @qwiglydee how does this sound?

[2020-12-11 02:33] qwiglydee commented on #1157
oh. that happens exactly because they're hardcoded for ortho.

i'll look into it.

[2020-12-11 02:42] qwiglydee commented on #1159
That must be a result of putting strictly vertical dimensions along z. Or maybe actually zero segment because of snapping.
I didn't expect that to happen 🙂

[2020-12-11 03:14] qwiglydee commented on #1158
Ok.
Leaving a comment to hereby expressly consent to get assigned for abovementioned task.

[2020-12-11 08:51] DuncanLithgow commented on #950
Attached is an excel example from BIMcollab. Their PDF report is much better, but I don't have an anonymous example of that or from Solibri at the moment. We need to make/choose a test project.
[Issue coordination BIMcollab report.xlsx](https://github.com/IfcOpenShell/IfcOpenShell/files/5678090/Issue.coordination.BIMcollab.report.xlsx)

[2020-12-11 15:51] CyrilWaechter commented on #946
IfcClass is now kind of hidden and has not its own visible field which feels awkward. If the issue is a misclick maybe it is possible in Blender to lock field until you click on Reassign IFC Class ?

[2020-12-11 20:17] theoryshaw commented on #1153
*Go [here](https://www.bountysource.com/issues/95048565-make-construction-drawing-generation-like-really-really-awesome) to help fund this project.*

## A call for Funding

It appears the general sentiment in the AEC industry, brought to the fore most recently by the [open letter to Autodesk](https://www.archpaper.com/2020/08/open-letter-to-autodesk-swells-over-100-signatories-and-supporters/), is

[2020-12-12 10:38] aothms commented on #1160
![afbeelding](https://user-images.githubusercontent.com/1096535/101981617-92afdc80-3c6e-11eb-8e51-b8855206fede.png)

Invitation sent. Thanks for helping out @qwiglydee and welcome!

[2020-12-12 10:38] #1160 closed

[2020-12-12 10:48] aothms opened #1162 "IfcOpenBot"
Currently automated builds are being generated on a Mac Mini 2014 with 4gb RAM using VMs for Win and Linux builds. This is no longer a workable solution as the host and guests are fighting for the little amount of RAM and both are unresponsive. It has always been tight, but maybe it's a Win10 update that pushed it over the edge.

Options:
- Upgrade hardware and keep current approach
- Use CI/CD (s

[2020-12-12 10:48] aothms commented on #1162
cc @Moult you might want to switch to an older build for BlenderBIM given #1121

[2020-12-12 21:19] theoryshaw opened #1163 "BlenderBIM: entering in inches, and a combination of feet and inches"
being able to type in inch dimensions.
for example: ```6 3/16"```

Also the ability to type in a combine of feet and inches like...
```3' 5 7/32"```
The only current way, that i know of, is to type them as decimals.

[2020-12-12 21:25] theoryshaw opened #1164 "BlenderBIM: have dimension decorations show imperial units"
This might be planned already.

![image](https://user-images.githubusercontent.com/507113/101995162-b1719b80-3c8d-11eb-8d83-27d93534327c.png)

[2020-12-13 00:54] denim2x commented on #1153
I'm getting to work on this issue, starting with layout [refactoring](https://enaml.readthedocs.io/en/latest/get_started/syntax.html). I'll publish my results during the following week, in a project tracker.

[2020-12-13 01:16] Moult commented on #1153
@denim2x that sounds exciting! Can you please explain in a bit more detail what you are refactoring and planning to build? It may also be good to organise a meeting to discuss what has already been built. You can join the IRC channel by clicking the "live chat" link on the top of https://osarch.org/

[2020-12-13 01:25] #1163 closed

[2020-12-13 01:30] theoryshaw opened #1165 "BlenderBIM - conventional way to show imperial dimensions"
currently imperial is displayed
```3' 3-3/16"```
conventionally it's
```3' - 3 3/16"```

[2020-12-13 05:37] Moult commented on #1164
It is planned.

[2020-12-13 05:39] Moult commented on #1162
So since I have no expertise in knowing the right way forward, which do you think @aothms (and @tpaviot for the Azure solution)?

Please choose the best technical solution :) If funding is an obstacle I'm sure we can raise funds.

[2020-12-13 05:54] #1148 closed

[2020-12-13 05:55] Moult commented on #1148
I have implemented option 2 as a stopgap to close the bug, whilst option 3 is perused as a longer term solution, which will take time.

@aothms cheers, I'll draw up what I think needs to be built and where and continue the discussion on #1153.

[2020-12-13 06:49] tpaviot commented on #1162
Azure is a solution that perfectly suits my needs for CI/CD. You can have a look at the last ifopenshell build at https://dev.azure.com/tpaviot/ifcopenshell/_build/results?buildId=715&view=results
Windows build is still buggy but it's just at the end of the process, while trying to import the python module (library linking issue). Mac and Linux host agents take around 30mn to complete the build, w

[2020-12-13 06:53] Moult commented on #1162
@tpaviot the BlenderBIM Add-on package is a non-issue. It is pure Python and depends on the bot builds for the C++ stuff :)

[2020-12-13 07:02] tpaviot commented on #1162
@Moult I was talking about the way you deliver BlenderBim to the end user. On your website, I see a "Download" menu item and the a button that points to a .zip archive. After downloading I guess I have to extract the content to some specific location on my machine, right ?  These steps could be avoided and you could download/install the addon directly from Blender, by adding an "install BlenderBim

[2020-12-13 07:08] Moult commented on #1162
@tpaviot ah, actually that is how Blender works. In Blender there is an install button which you need to press and browse to the ZIP file. It's a little odd, but a ZIP file is the recommended way to distribute add-ons and this process is considered normal in Blender. The user doesn't extract anything - the in-Blender installer knows how to handle the ZIP file.

[2020-12-13 07:14] tpaviot commented on #1162
@Moult this looks pretty simple, I will try ;)

[2020-12-13 07:16] Moult commented on #1162
@tpaviot https://blenderbim.org/install-blenderbim.html

[2020-12-13 11:56] lgtrombetta opened #1167 "Building with Python 3.9"
I am trying to build from master with Python 3.9 and it fails. I am not sure, but it might be similar to #757.

I also checked
https://anaconda.org/conda-forge/ifcopenshell/files
but there is no build there for 3.9.

[2020-12-13 15:28] c4rlosdias opened #1168 "Selector not work good with boolean values"
select does not seem to get along very well with boolean values for false:
![Capturar](https://user-images.githubusercontent.com/57261862/102016224-99a62000-3d3e-11eb-99e1-249ac2c88603.PNG)

[2020-12-13 21:23] Moult commented on #1168
@c4rlosdias great catch! This is the code that does filtering: https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/util/selector.py#L196-L211

Would you like to have a shot at fixing it? This line looks suspicious to me, maybe it should be if element_value is None instead? https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifc

[2020-12-14 00:24] c4rlosdias commented on #1168
hello Dion,
that's exactly it: element_value
 I changed the line here to:
`if element_value is None:`
 and it worked perfectly! Thank you very much!

[2020-12-14 00:25] Moult commented on #1168
@c4rlosdias would you like to try submitting a PR? It's a good learning opportunity if you plan to contribute in the future!

[2020-12-14 00:29] c4rlosdias commented on #1168
sorry for the ignorance, but what is a PR?

[2020-12-14 00:31] Moult commented on #1168
@c4rlosdias PR = pull request. Basically, to contribute back, just "fork" the IfcOpenShell repository, make the change, and the Github website will guide you on creating a "Pull Request", which basically says "hey Dion, I made this change, can you review / approve the change" so that your code edits will be saved in the main repository.

[2020-12-14 00:44] c4rlosdias commented on #1168
Oh! Sorry for my bad english!
I think I managed to do that!

[2020-12-14 01:01] Moult commented on #1168
@c4rlosdias this page may help: https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-requests

When you've successfully created a PR, you should be able to see it here: https://github.com/IfcOpenShell/IfcOpenShell/pulls - then I can approve the change.

[2020-12-14 01:19] c4rlosdias commented on #1168
Thanks for your patience!

[2020-12-14 01:49] Moult commented on #1168
@c4rlosdias good progress so far! I see you've created PR: https://github.com/IfcOpenShell/IfcOpenShell/pull/1169 but you've reverted your change. Therefore, under the "files changed" tab of that site, there are no changes to be made. You have a few options:

 1. Make your change again - just reapply your changes and commit :)
 2. Start from scratch - it might be cleaner - delete the fork, then 1)

[2020-12-14 01:57] c4rlosdias commented on #1168
Ok, I think I got it

[2020-12-14 01:59] Moult commented on #1168
@c4rlosdias awesome! I've merged your PR! Thank you so much!

[2020-12-14 01:59] #1168 closed

[2020-12-14 04:59] Moult commented on #1129
Bumping issue for the public record that it was confirmed that upstream fcl doesn't support scale in the transformation matrix. Hence as a solution we apply the matrix transform to the coordinates.

To close this bug, ping @fbpyr it would be good so that it could export the results to JSON as well as selecting the clashed objects, so that it can be used by users who don't know how to read console