[2019-11-05 14:49] aothms commented on #586
The outer face is missing because OCCT fails to triangulate it. The meshing is one of the last bits of OCCT that are like black magic to me...

![afbeelding](https://user-images.githubusercontent.com/1096535/68218054-00a5c100-ffe4-11e9-9b0a-7f52cdf835f5.png)

[2019-11-05 18:10] aothms commented on #699
Added some code for this. Are you familiar with compiling yourself to test?

[2019-11-05 18:10] hlg commented on #586
That same start and end vertex caught my attention as well. Indeed the standard explicitly mentions that "The same vertex can be used for both `EdgeStart` and `EdgeEnd`". Seems It becomes much clearer now.

Apparently with the first interpretation you barked up the wrong tree. The standard says the `ClosedCurve` attribute is informational only. Thus it should not impact interpretation and then the

[2019-11-05 18:17] aothms commented on #586
It does, I'll report to OCCT I guess. It's still likely something I'm doing wrong though.

Open CASCADE actually needs the face to be bounded both in the U and the V direction, even for periodic surfaces. So it should be actually better this way.

Seam curves and Surface/P-curves are added in Add2 and I think all of the examples are from before.

Thanks for having a look, really appreciated!

[2019-11-06 04:31] Moult commented on #664
Closing issue as fixed.

[2019-11-06 04:31] #664 closed

[2019-11-06 14:33] jappoz opened #715 "AttributeError: type object 'object' has no attribute '__getattr__' when using geom.settings()"
Hi,
I am using IfcOpenShell with python.
I do not know why I am getting this error
[code]
every time I try to set the settings.

The code that generates that error is very simple:
[code]

Is anyone else getting this error? I tried to recompile IfcOpenshell but nothing changed...

[2019-11-06 14:37] aothms commented on #715
It's not as obvious as it should be, but this happens when you do not have pythonOCC installed. So `import OCC` will also fail.

[2019-11-06 14:41] jappoz commented on #715
Thank you for your quick answer.
Anyway I am actually able to import OCC (import OCC does not give me any error) and I have instead installed it after compiling it from scratch. When I build IfcOpenshell I see as well cmake finding the correct paths...

[2019-11-06 14:53] aothms commented on #715
Ok, this is actually dependent on `OCC.BRepTools`. Does that import also succeed?

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/geom/main.py#L32

Otherwise, what version of IfcOpenShell are you using?

[2019-11-06 15:00] jappoz commented on #715
I see.
That import gives me this error:
`ImportError: libTKBRep.so.11: cannot open shared object file: No such file or directory`

I cloned the master branch from this repo, not sure which version actually is.

It looks like I am missing that libTKBRep library

[2019-11-06 15:13] aothms commented on #715
Right, pythonOCC depends on Open CASCADE Community Edition and it can't find those libraries at runtime. They are probably there because you compiled successfully. Not sure how you set this all up, but it's not an IfcOpenShell issue at least.

[2019-11-06 15:18] jappoz commented on #715
Yes!
In fact is an issue related to OCE.
For those who might concern, I post the link of the

[2019-11-06 15:18] #715 closed

[2019-11-07 10:25] berndhahnebach commented on #586
Which ifcos do I need to take to test again 0.6 or 0.7?

bernd

[2019-11-07 11:19] aothms commented on #586
This is committed to the v0.6.0 branch, not available yet as a precompiled build

[2019-11-07 13:08] aothms commented on #586
Turns out to be something that more elaborate occt shape fix can't fix. Ideally I'd like to understand a bit better what the issue was, but I'll leave it up to occt then :)

c89d2689869cedd4e5d21f27e718c59c3eaf065d

[2019-11-07 15:45] Tmagga commented on #699
I'm afraid i'm not familiar with compiling, no.

[2019-11-07 17:36] berndhahnebach commented on #586
nevermind. For myself I use linux and can compile myself. The precompiled we only use for packaging FreeCAD for download.

[2019-11-07 17:41] berndhahnebach commented on #583
haha business as usual ...

thanks for the informations. On FreeCAD dev packages we jumped to 0.6 because it is pretty stable already and saves us a lot off headache because people try to import both IFC2x3 and IFC4 files into FreeCAD anyway.

cheers bernd

[2019-11-07 18:05] berndhahnebach commented on #586
Here a few exports from Allplan some work some not.

`

... from ifcopenshell import geom

...     try:
...         cr = ifcopenshell.geom.create_shape(settings, p)
...         print(' GOOD shape from IFCOS for {}'.format(p.id()))
...     except:
...         print(' NO shape from IFCOS for {}'.format(p.id()))
...
 GOOD shape from IFCOS for 490
 GOOD shape from IFCOS for 3662
 GOOD shape from IFCOS

[2019-11-08 11:03] liuyehua opened #716 "The blender2.8x can not use importer...."

[2019-11-08 11:34] Moult commented on #716
Hi @liuyehua ! Have you tried the latest plugin available at https://blenderbim.org/ ?

[2019-11-08 15:21] rubendel opened #717 "Missing geometry in Ifc2x3tc1 file with IfcClosedShell"
There is an issue on the BIMserver issue tracker [1]. Some geometry is missing for the Ifc2x3 file [2].

No errors are reported, surprising fact is that the IFC4 file actually works correctly (but it uses a different geometry type).

Tested in v0.6.0 b4ce5be with layerset slicing and quantity calculation enabled.

[1] https://github.com/opensourceBIM/BIMserver/issues/1022
[2] [Balken_FGG.ifc.txt](

[2019-11-10 02:31] Moult commented on #717
Tested the file in BlenderBIM and it works correctly?

![2019-11-10-133028_676x270_scrot](https://user-images.githubusercontent.com/88302/68537809-5c929000-03be-11ea-86ad-306f3ecd5180.png)

[2019-11-11 09:21] rubendel commented on #717
Thanks, which version is that?

[2019-11-11 22:41] zhupan007 commented on #585
I also met this problems: ContextType 'Annotation' not allowed.

Log:
[Error] ContextType 'Annotation' not allowed:
#91=IfcGeometricRepresentationContext($,'Annotation',3,0.01,#80,#81)

When I convert ifc2obj, how can i solve this problems

[2019-11-13 10:24] aothms commented on #717
I can also not find an immediate issue with this file. There is a script to run the IfcGeomServer here https://raw.githubusercontent.com/IfcOpenShell/IfcOpenShell/v0.7.0/src/ifcopenshell-python/ifcopenshell/geom/client.py

and it outputs:

[code]

[2019-11-14 10:12] hlg opened #718 "Access attribute types of an entity type with Python"
With the Python wrapper, when creating an IFC entity instance, there is apparently no type checking for specific entity data types of its attributes, such that it is very easy to create invalid IFC and go unnoticed. There is only checking for simple data types. I wonder whether I missed some function that helps in creating valid IFC or it would be easy to add it.

I am not very familiar with C++,

[2019-11-14 15:21] aothms commented on #718
In the v0.6.0 branch it's possible to validate an entire file post-hoc https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcopenshell-python/ifcopenshell/validate.py

I guess similar function can be combined to type check at instantiation in Python. Or it can also be implemented in C++ of course, using basically the same data model.

For select valued attributes a little bit more work i

[2019-11-14 15:25] aothms commented on #585
We don't speak Chinese.

Warnings related to `ContextType` can often be ignored.

[2019-11-14 16:48] hlg commented on #718
Great, that's even better! And, yes, indeed, schema validation would not be possible anyway just based on simple equality checks.

[2019-11-14 16:48] #718 closed

[2019-11-17 09:38] Moult opened #724 "IfcOpenShell viewer (geom iterator) creates the same geometry for a flipped shape representation"
The attached file should look like this:

![2019-11-17-203712_420x279_scrot](https://user-images.githubusercontent.com/88302/69005707-1323e100-097a-11ea-9565-c094d0bc4c8d.png)

I have confirmed that this result is achieved with other IFC viewers like XBim.

But I think the geometry iterator only creates one representation. As a result, I only see one pyramid as shown here:

![2019-11-17-203913_294

[2019-11-17 12:57] aothms commented on #724
You're using your representation in a product def and in a representation map. This is not allowed.

[code]

https://standards.buildingsmart.org/IFC/RELEASE/IFC2x3/TC1/HTML/ifcrepresentationresource/lexical/ifcshapemodel.htm

Admittedly though we should emit a warning for this.

[2019-11-17 20:15] Moult commented on #724
Aha, so if I read that correctly, a shape representation cannot be used in multiple ifc product defs? Is there a warning for that one too?

[2019-11-18 12:00] aothms commented on #724
I guess so, although that would not affect IfcOpenShell's functioning (I think). Added more warnings.

[2019-11-18 19:11] johanrd commented on #674
Nice, thanks! I can verify that this no longer segfaults after 159ce93

[2019-11-18 19:12] johanrd commented on #709
Closing, as this no longer segfaults after 159ce93:tada:

[2019-11-18 19:33] johanrd opened #726 "Regression: Segfault on reinforcingBars (example file)"
1. Convert [726--reinforcingBar--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/726--reinforcingBar--segfault.ifc) with 159ce93 (OCCT 7.3.0) and experience segfault:
```FATAL: An error occurred, status code 139.```
2. Expected geometry from Solibri:
<img width="350" alt="Screenshot 2019-11-18 at 20 58 47" src="https://user-images.githubusercontent.com/4601554/69085423-492e9700-0a4

[2019-11-18 19:55] johanrd commented on #726
closing. false alarm. fixed by 159ce93 after all.

[2019-11-19 07:43] Moult commented on #724
I see. I seem to have broken this rule in BlenderBIM :) I will add it to the list of things to fix! Thanks!

[2019-11-19 07:43] #724 closed

[2019-11-19 09:00] johanrd commented on #726
Added another file with the same behavior here: [726--reinforcingBar--segfault--2.ifc](https://github.com/IfcOpenShell/files/blob/master/726--reinforcingBar--segfault--2.ifc)

[2019-11-20 03:19] FreakTheMighty commented on #691
Aah, I see now that `build-all.py` also installs the required dependencies. I think that's a great way of managing things. I've just embarked on this many hour build.

One thing that occurs to me is that it would be helpful to have a `install-deps` distinct from `build-all.py`. This would allow us to cache the results. As it is now, the docker image will need to rebuild all the dependencies even i

[2019-11-21 16:08] johanrd opened #728 "Regression: Missing geometry on reinforcingBar"
1. Convert [728--reinforcingBar--missing-geometry.ifc](https://github.com/IfcOpenShell/files/blob/master/728--reinforcingBar--missing-geometry.ifc) with 159ce931b4dc9cc8a4841f142baed759bc41462d
2. Experinence that the reinforgingBar is discontonous:
<img width="502" alt="Screenshot 2019-11-21 at 17 03 10" src="https://user-images.githubusercontent.com/4601554/69354897-2936e780-0c81-11ea-881f-140fa

[2019-11-21 20:11] Moult opened #729 "Precompiled distribution of PythonOCC"
It is very convenient to be able to just put the distributed ifcopenshell in python's site packages directory and then immediately be able to `import ifcopenshell`. This is a bit off-topic, but is it possible to do the same for PythonOCC so that we can do `import OCC.foo`?

That would help bundle python utilities that use both IfcOpenShell and PythonOCC easily, since installing PythonOCC is quite

[2019-11-21 20:26] johanrd opened #730 "Discontionous reinforcingBar (example file)"
1. Convert [730--reinforcingBar--wrong-geometry.ifc](https://github.com/IfcOpenShell/files/blob/master/730--reinforcingBar--wrong-geometry.ifc) with 159ce931b4dc9cc8a4841f142baed759bc41462d
2. Experinence that the reinforcing bar is discontonous and somewhat warped:
![Nov-21-2019 21-20-20](https://user-images.githubusercontent.com/4601554/69373821-f7d01300-0ca4-11ea-84af-75c85eac6caa.gif)

3. Expe

[2019-11-21 22:18] johanrd commented on #726
Added another set of files that segfault here:

[726--reinforcingBar--segfault--3.ifc](https://github.com/IfcOpenShell/files/blob/master/726--reinforcingBar--segfault--3.ifc)
[726--reinforcingBar--segfault--4.ifc](https://github.com/IfcOpenShell/files/blob/master/726--reinforcingBar--segfault--4.ifc)
[726--reinforcingBar--segfault--5.ifc](https://github.com/IfcOpenShell/files/blob/master/726--rein

[2019-11-26 11:56] aothms commented on #729
PythonOCC has some other dependencies such as GUI frameworks which makes bundling inherently more difficult.

They opted for conda, but unfortunately builds are not published for the recent python versions.

It seems @tpaviot and @jf--- are a bit on a break in terms of PythonOCC. One way to solve this is to put PythonOCC on conda-forge (like IfcOpenShell is due to a great contribution #582, also o

[2019-11-26 12:24] rainman110 commented on #729
@aothms In fact we are working on a pythonocc 7.4.0 release, that targets OCCT 7.4.0.

This release currently targets python 3.6, 3.7 and 3.8.

We could easily make pyqt optional in the conda packages. Would that help?

[2019-11-26 12:32] tpaviot commented on #729
@aothms no break at all :smiley:

[2019-11-26 16:14] johanrd opened #732 "Regression: Segfault on slab (example file)"
1. Convert [732--slab--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/732--slab--segfault.ifc) with e643966191227e1149ef58e78e0db50a19cb016e (OCCT 7.3.0) and experience segfault:
```FATAL: An error occurred, status code 139.```
2. Convert the same file with 42e0058 and experience that the file does not segfault and that the geometry looks as expected. There is, however, an error a

[2019-11-26 16:35] FreakTheMighty commented on #671
I see the same memory leak without PythonOCC installed. As I call `create_shape` the memory slowly creeps up and is never freed.

[2019-11-26 22:21] Moult commented on #729
@rainman110  Making PyQt optional would _definitely_ be a huge help! Qt is a big beast! I'd be more than happy to test it for you :)

So as of today, what's the current "easiest" method to get PythonOCC installed on Windows?

[2019-11-26 22:21] Moult commented on #729
@rainman110  Making PyQt optional would _definitely_ be a huge help! Qt is a big beast! I'd be more than happy to test it for you :)

So as of today, what's the current "easiest" method to get PythonOCC installed on Windows?

[2019-11-27 04:26] tpaviot commented on #729
@Moult  try ```conda install -c dlr-sc/label/dev pythonocc-core``` This is really easy, without using any double quote, dont' you think ?

[2019-12-01 01:03] Moult opened #733 "How to parse geometry with DISABLE_TRIANGULATION?"
As Blender supports ngons and quad meshes quite happily, I thought it would be nice to export an IFC from Blender and re-import it with the quads retained.

Currently, geometry can be extracted like so:

[code]

However, if I set:

[code]

Then `shape.geometry.faces` no longer exists. I get `shape.geometry.brep_data`, which contains a plaintext serialisation which I assume I can parse (is there do

[2019-12-01 09:05] aothms commented on #733
The brep data is Open CASCADE's internal format. It's not incomprehensible, but it's indeed not documented for external use.

Also note that Blender would not be able to use it if the surfaces are not planar or the edges are not linear.

Ideally there would be an output option in between Triangle mesh and Full BRep. But it's not completely trivial to define. For example Blender supports NGons, but

[2019-12-01 09:28] Moult commented on #733
I see. I didn't realise that the OpenCascade internal format contained things like internal boundaries which Blender wouldn't support.

Currently I am using Blender's merge vertices (basically weld verts), tris to quads, and limited dissolve, which generally gets a very clean mesh out of a triangulate import. I hoped that DISABLE TRIANGULATION would be close enough to what Blender supported to be

[2019-12-01 09:28] #733 closed

[2019-12-04 16:36] thorade commented on #582
Is conda-forge now recommended over the ifcopenshell channel?
https://anaconda.org/conda-forge/ifcopenshell
https://anaconda.org/ifcopenshell/ifcopenshell

[2019-12-04 17:36] aothms commented on #582
Yes probably good question. There are still some differences, e.g. ifcopenshell channel is statically linked. But unless there are massive protests I will likely delete the channel at some point.

[2019-12-04 18:00] AdriScho opened #734 "No XML serializer registered for IFC4X1"
Hi !

I'm getting an error when I'm trying to convert a file with IFC4X1 schema.
This is the error message : "No XML serializer registered for IFC4X1".

It refers to :
https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/serializers/XmlSerializer.cpp line 21.

Did I miss something here or is there an issue with IFC4X1 file schema ?

Environment :
- CAD software : Civil3D 2019
- IfcConvert-

[2019-12-05 10:27] thorade opened #735 "conda version conflict"
Is it documented anywhere which versions of ifcopenshell work well with which versions of pythonocc-core and oce?
If I want to/need to use pythonocc-core 0.18.1, what version of ifcopenshell should I use?

https://anaconda.org/search?q=pythonocc-core
https://anaconda.org/search?q=ifcopenshell

And, do I still need OCE?

[2019-12-06 14:05] derbosper opened #736 "Conflict with OCE 7.4.0 in geom module"
There is a function `has_occ()` in geom/main.py that checks if OCC is installed in the environment, which tries to `import OCC.BRepTools` and returns `False` when `ModuleNotFoundError` occurs. Now it failed even if I had the OCC installed. It seems like the old import structure is deprecated and now it supports only `import OCC.Core.BRepTools`.  I've updated all the necessary imports by adding the

[2019-12-06 15:46] aothms commented on #736
Great thanks for reporting. Do you think this is something that can made compatible? We'll probably need to use `import * from OCC.Core.gp` kind of imports for both with and without `Core` with `try catch`. What do you think? Pull requests welcome but don't feel obliged.

[2019-12-06 15:56] aothms commented on #735
I think OCE is always a dependency of pythonocc-core, but I'm not sure. In general there is no hard dependency on the IfcOpenShell-Python module and PytonOCC. They only interface by means of string serialization so there is no binary dependency. If you get dependency conflicts in conda you can always install outside of conda a statically linked IfcOpenShell binary from IfcOpenBot. https://github.c

[2019-12-06 16:20] mieszk commented on #736
Yes, if we want to support the old version, they both can be wrapped (with double `try-catch` for sure, maybe there is another possibility). Also, I can submit a PR.

[2019-12-07 10:01] aothms commented on #734
That's a valid issue. For some reason in the file you referenced only two of the four schemas are initialized. This might be the case in other parts of the code base as well. I'll fix this soon, unless you are somebody else beats we to it. It's basically just copying `init_XmlSerializerIfc2x3` to `init_XmlSerializerIfc4x1` and `-4x2` and so on.

[2019-12-07 10:07] aothms commented on #736
try-catch is probably the 'pythonic' way to do this. Personally I would probably have a preference for something `importlib.import_module()` to have import based on dynamic strings, i.e. with and without `.Core.`.

[2019-12-09 02:23] Moult commented on #729
@tpaviot  thanks! I got OCC working, but I am curious why the namespace is different? If I install using your method, I need to do `import OCC.Core.gp`, instead of simply `import OCC.gp` which the IfcOpenShell codebase uses. Which is more up-to-date? Why is there a version mismatch?

[2019-12-09 07:31] aothms commented on #729
@Moult see #737

[2019-12-09 07:40] Moult commented on #729
Awesome @aothms ! When it gets merged, I will migrate my code to use OCC 7.4.0 too! I assume there have been quite a few improvements since.

Will close this issue :) thank you everyone

[2019-12-09 23:06] Moult opened #738 "Have a complete opensource and OpenBIM workflow in a production pipeline"
So many things to do, I thought I might use this bug as a TODO list, instead of many smaller bugs. This is also good for community transparency instead of just a list in my head :)

Here's the list so far in absolutely no particular order at all.

 1. ~~Add support to generate a section / plan / RCP cut for construction documentation, with annotation~~
 2. ~~Package the IFC diff utility as a stand

[2019-12-10 13:53] tpaviot opened #739 "ifcopenshell python wrapper does not support SWIG 4"
In the latest SWIG 4 release, the ````__swig_getmethods__```` dictionary no longer exists. See for instance https://github.com/swig/swig/commit/866429d0f7df5068f78951e3280fddbfaa7f462a

This dictionary is used here https://github.com/IfcOpenShell/IfcOpenShell/blob/master/src/ifcwrap/IfcParseWrapper.i

Since it is enclosed between ```%pythoncode %{}```brackets, compilation works fine but import fai

[2019-12-10 16:06] EAzari commented on #738
1. Project setup, [IfcXtreme](https://github.com/IfcXtreme/IfcXtreme)
2. BCF 2.1
3. New design system, needs Everything Nodes
4. [MaterialPass](https://github.com/IfcXtreme/MaterialPass)
5. glTF, WebGL, and WebGPU
6. [ProductPass](https://github.com/IfcXtreme/ProductPass)
7. [FacilityPass](https://github.com/IfcXtreme/FacilityPass)

[2019-12-11 09:18] tornado96 opened #740 "how to build a executable file for arm ?"
hi,every one, how to build a executable file of ifcgeom server for arm?

[2019-12-11 10:38] aothms commented on #740
In the end this is only a matter for the compiler. Depending on whether you build on the ARM machine or on another one, you will need to do 'cross-compiling'. I personally have no experience with this.

[2019-12-11 10:43] aothms commented on #738
If I'm not mistaken, Xeokit uses IfcConvert so checking the DAE output would be a reasonable starting point for that.

This is definitely an interesting use case. What's your plan for this?

[2019-12-11 23:34] Moult commented on #738
It seems Xeokit is not completely open-source, as commercial uses require a commercial license, so I might look at other web IFC viewers instead of Xeokit (or use their underlying MIT-based engine with a different viewer).

The usecase is that we often get IFCs which have incorrect data where the authoring tool is incapable of exporting it correctly. Such as when objects are modeled using the curt

[2019-12-12 02:50] tornado96 commented on #740
ok ，thanks very much！

[2019-12-12 02:50] #740 closed

[2019-12-12 03:31] EAzari commented on #738
I think we need a workflow through JSON and IFC to glTF JSON-based and also Binary-based (which Thomas has developed before its Binary-based pipeline before)

Also, there are a lot of invaluable efforts on glTF/WebGL from giant companies like Mozilla, Facebook, Google, etc.

I clearly know Thomas' view and like many "properly" suggests OWL/RDF/Triple, which is good but just is for Linked-Data side

[2019-12-12 09:10] Moult opened #741 "geom.iterator with num_threads >= 2 seems to not process some shapes"
I notice that I can pickle the results of create_shape, but I can't pickle an IfcOpenShell file.by_id('foo'). This makes multiprocessing quite tricky in Python (which could make imports, exports, cutting sections, etc much faster)

Is it possible to call something to IfcOpenShell that will do multiprocessor processing, or things which can be done to improve pickling?

[2019-12-12 15:11] AdriScho commented on #734
Ok !
I'll try to submit a PR about it this week-end.

[2019-12-13 10:33] aothms commented on #741
Three remarks:

* Pickling would be complicated (what parts of the graph to add...? Most of the IfcOpenShell functionality would require the complete underlying file.). But if you want to multiprocessing on non-mutated IFC files. The filename and the instance id can uniquely identify the instance.
* In the recent version of the v0.6.0 branch. `iterator()` has a num_threads argument.
* You can use

[2019-12-13 10:47] aothms commented on #738
I agree with your concerns on big data in RDF and its inability to represent ordered data (tabular, lists) efficiently / effectively. But I think, but not sure, that @Moult is referring to HDF5, which has support for more complex types, such as a aggregates.

In terms of viewer. I have some plans to maintain the BIMSurfer v2 version. https://github.com/AECgeeks/bimsurfer2 previously https://github

[2019-12-13 15:30] DanielTrosten opened #742 "create_shape in ifcopenshell python crashes on wall containing IFCBOOLEANRESULT"
When trying to create a shape from a wall containing IFCBOOLEANRESULT, the program crashes without any output.

- OS: Windows 10

- Example code:
[code]

- Conda environment:
[code]
- IFC file: [wall.ifc.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/3961445/wall.ifc.txt)

[2019-12-16 05:09] Moult commented on #729
Reopening, since I've been trying to package this with Blender so that it works out-of-the-box, with a few struggles. Note, that I am currently attempting to package pythonocc-core 0.17.3 with oce 0.17.2.

Here are the versions I'm currently grabbing for each dependency on each OS:

# IfcOpenShell
https://github.com/IfcOpenBot/IfcOpenShell/commit/9bcd932bed48486bf5b5f48d24b49329c280462f
https://s3

[2019-12-17 07:56] berndhahnebach commented on #564
thomas this is just awesome ...

I had to use

[2019-12-17 08:13] berndhahnebach commented on #564
I have one with

`Warning: triangulateLoops, face_loops.size() == 0, IFC entity: #1941=IfcExtrudedAreaSolid
`

Which makes ifcopenshell crash with segmentation fault.

[2019-12-17 08:15] berndhahnebach commented on #564
https://forum.freecadweb.org/viewtopic.php?f=39&t=41600&p=354486#p354483

[2019-12-17 08:53] aothms commented on #564
@berndhahnebach preferred place is here https://github.com/IfcOpenShell/Files/

[2019-12-17 09:16] aothms commented on #729
@Moult I'm not sure what additional magic is contained in the conda build process. It actually does some stuff with the library prefixes that might be biting you now. Perhaps it's safer to just do the build yourself?

I thought the linker env vars are not really necessary normally for python .so libs as I think Python just searches `sys.path` itself? Did you try adding prepending to `sys.path`?

[2019-12-17 10:52] berndhahnebach opened #744 "seg fault on ifcopenshell.geom.create_shape(settings, product)"
I got hands on a huge ifcfile (ca 100 MB) exported from Cadmatic. I have never had files from them before. A lot of products make ifcopenshell ends up in a segmentation fault on  ifcopenshell.geom.create_shape(settings, product)

As a resulte of https://github.com/IfcOpenShell/IfcOpenShell/issues/564 I was able to extract just one of the results in a separate IFC file. I will go for a PR on files

[2019-12-17 10:53] berndhahnebach commented on #564
https://github.com/IfcOpenShell/IfcOpenShell/issues/744

[2019-12-17 10:53] #564 closed

[2019-12-17 12:02] Moult commented on #729
I tried appending to `sys.path` without success. I think on Windows it treats the lib path and the module path as the same and it's happy to load DLLs from there. On Linux (and Mac), they seem to be separate. Not sure if it is due to Conda magic or due to simply how the systems work ... but `ifcopenshell` doesn't seem to have this problem.

I'd like to get it working with the Conda builds simply b

[2019-12-17 12:49] berndhahnebach commented on #744
more information:
if
`#1942=IFCSHAPEREPRESENTATION(#11,'Body','SolidModel',(#488,#936,#1400,#1848,#1855,#1941));`
is exchanged with
#1942=IFCSHAPEREPRESENTATION(#11,'Body','SolidModel',(#488,#936,#1400,#1848,#1855));
ifcopenshell and FreeCAD do import the geometry.

Thus the problem seams to be on the IFCEXTRUDEDAREASOLID #1941, the one ifc++ claimed about to have a zero face_loops.size()

@aothms

[2019-12-17 18:16] tpaviot commented on #729
@Moult FYI, there's a docker image running at https://mybinder.org/v2/gh/tpaviot/pythonocc-binderhub/master including latest pythonocc (7.4.0beta2), gmsh4.4.1 and latest ifcopenshell-v0.6.0

[2019-12-17 21:14] Moult commented on #738
Yes, I think I was referring to HDF5 - @aothms mentioned it verbally to me previously but I forgot it :) I'll take a closer look at it to see how easy it is to dump IFC data into it, and write queries. If you have an IFC specific how-to lying around, @aothms I'd love to read it :) otherwise I'll just tinker :)

Last I tried bimsurfer, it had to load a model from a bimserver. Is it possible to make

[2019-12-18 08:53] aothms commented on #738
I think currently there is only this. A version of IfcConvert never merged into master: https://github.com/ISBE-TUe/IfcOpenShell-HDF5/releases

There is a comprehensive set of files floating around here in case you want to have a look just at reading using h5py https://zenodo.org/record/1172520

BIMSurfer v2 can read from glTF but it's not agnostic in the way you propose because the geometry proce

[2019-12-18 08:58] aothms commented on #729
Yeah OSX is really a hindrance for open source platforms due to their license terms forbidding virtualized use on non-mac hardware. But I also wouldn't spend too much time on packaging issues, at least not at the expense of actual development that's fun and rewarding. At some point somebody will stand up in the community to do all platform builds or somebody with more conda / runtime linker knowle

[2019-12-18 09:17] rainman110 commented on #729
@aothms Packing on OSX on VMs is actually possible. You can use either Travis or Azure. Both are using macOS VMs.

You can have a look to our conda recipe repository, that builds conda packages for all platforms (win, linux, mac):
https://github.com/DLR-SC/tigl-conda

[2019-12-19 06:07] Moult commented on #729
I've managed to fix this :) To fix it, I checked with with `chrpath -l _gp.so` to see where its `rpath` was, and the Conda builds for both Mac and Linux have it set to `$ORIGIN/../../..`, where `$ORIGIN`, from what I read online, is the cwd of `_gp.so`. So ensuring that the libs were in `scripts/addons/modules/OCC/../../../` fixes it - and can be verified with `ldd _gp.so`! An alternative fix woul

[2019-12-19 06:07] #729 closed

[2019-12-19 11:13] #110 closed

[2019-12-22 11:07] aothms commented on #729
@Moult sorry, I finally realized you weren't talking about the wrapper libraries generated by SWIG (.pyd on Windows), but the dependencies of those wrapper libs. Then indeed it's simply the OS runtime linker at play and indeed if you want to reuse the conda builds with hardcoded rpaths I think the options you describe are about as good as it gets.

@rainman110 Thanks, your conda scripts have been

[2019-12-30 20:26] Moult opened #745 "Can iterator.initialize() specify why a file is invalid?"
For this snippet of code:

[code]

Instead of just a true/false result, can it log why it might think a file is invalid?

[2019-12-30 20:32] Moult commented on #738
Thanks @aothms  - I'll investigate them.

I hope I don't misunderstand - are you saying that BIMSurfer v2 can use IfcConvert as a backend without BIMServer? How does this work? I don't see IfcConvert able to convert to glTF as a format [here](http://www.ifcopenshell.org/ifcconvert)? Perhaps another format?

[2019-12-31 06:20] Moult opened #746 "Unable to open these IFC files in ifcopenshell viewer"
https://forums.buildingsmart.org/t/presenting-blender-as-a-new-ifc-authoring-tool/1791/69

The IFC files that Herb provides all result in errors when I try to view them. I suspect related to multiprocessing.

[code]

His files also seem to be a little bit invalid (e.g. global ID is not an encoded guid), but I don't know how to easily make a list of invalid IFC behaviours with ifcopenshell, so I'm

[2019-12-31 11:41] EAzari commented on #738
@Moult - As long as I know IfcConvert can convert Ifc (geometry) to OBJ and then through another solution can convert OBJ to glTF. (Also, semantics to XML)

Also, it seems that @aothms mainly was focused on COLLADA, but COLLADA wasn't successful internationally and glTF nominated

Thomas clearly knows the process to convert Ifc to glTF (JSON) plus semantics (JSON)

However, we need to think about

[2019-12-31 20:40] theoryshaw commented on #668
+1
Think this would be an exciting feature.

[2020-01-01 02:16] Moult commented on #741
I tried using the iterator with the `num_threads`, but I noticed some odd behaviour with a file (I'll send the file to you via email, as it is not meant to be public, please do not reshare).

In short, when I use `num_threads`, some of the elements are not processed - during an import in Blender, this means that a bunch of objects are missing in the import.

Here's a minimal test case which demons

[2020-01-01 10:30] Moult commented on #682
One of the benefits of create_shape is that I can first check the element before passing it to create_shape. This allows me to do something like this:

[code]

... or any other filters, like doing `elements = file.by_type('IfcWall')` to only import walls. Doing filters this way is very efficient if we are only interested in certain things, such as IfcSpace for building energy analysis, or IfcFurni

[2020-01-01 13:53] aothms commented on #746
True, in this case in particular it seems the following line is causing issues:

`#128= IFCREPRESENTATIONMAP($,#127);`

where no optional attributes are in fact present.

[code]

Apparently this is handled differently in the single threaded code path where in the multi threaded code path the exception is not caught. Let's keep the issue open as a reminder to address that.

[2020-01-01 20:36] Moult commented on #746
Great! How did you manage to determine that line from the error message? I didn't quite understand it.

[2020-01-01 21:36] Moult commented on #682
Just to add, in my little snippet for how to filter the geom iterator, it doesn't seem possible to check the first object. Perhaps I missed something?

[2020-01-03 05:53] Moult opened #747 "How do I set lists in ifcopenshell.file.wrapped_data.header?"
Potentially a bug? Potentially I have no idea how to do this properly in Python?

[code]

[2020-01-03 10:09] aothms commented on #682
Also note that this *does* evaluate the full geometry for skipped elements. Something related to the early design decision that we did not want the iterator to return errors.

I prefer not to drastically mess with this iterator class anymore in the 0.6.0 branch. Would it be an option to pass a list of products to be skipped at construction of the iterator?

[2020-01-03 10:10] aothms commented on #746
4529 is the byte offset of the token in the file.

[2020-01-03 10:28] Moult commented on #682
Oh, I thought it evaluated geometry when `get()` is called, that's why in my snippet it checks upon the result of `next()`.

Passing a list of products to be skipped or included at construction is definitely an option, but what would it look like? At the moment there are two usecases I have: 1) filter by is_a() ifc type, and 2) filter by guid from a list. The filters can either be a blacklist or a

[2020-01-04 10:14] Moult opened #748 "Potential development of I FC selectors / shorthand IFC query or filtering notation"
This bug is to track to potential usefulness in developing an IFC shorthand notation. I'll copy the original thread below first.

[2020-01-04 10:15] Moult commented on #748
Good morning Thomas!

For the paper, as well to allow people to easily write unit tests, I have come
up with the concept of an IFC selector. Here's a first draft of it - it would be
great to know your thoughts.

This should be able to allow people to ask complex natural statements like:

 - Ensure that all load bearing walls on the first floor have a fire rating of
   2HR or 3HR.

# An IFC selecto

[2020-01-04 10:16] Moult commented on #748
Reply from @aothms below:
-----

I in fact tried to do something similar several years ago, but also enable to select non-building element nodes. So you could start from a rooted entity instance and then use / to follow down the path of attributes. I think this is something to consider: do you want to make statements always in the context of one or more building elements or do you want to make sta

[2020-01-04 10:17] Moult commented on #748
Reply from @Moult below:
-----

Great feedback!

On Sat, Jan 04, 2020 at 10:50:51AM +0100, Thomas Krijnen wrote:

The GlobalId selector (starting with #) covers all rooted elements. The class
selector (currently starting with .), can select any entity, not just building
elements. Combined I think these cover the entire spec, as well as attribute
traversal? In your xpath example, the first token re

[2020-01-04 20:01] dronov-dmitry opened #749 "How can i add my own Attribute?"
I can add only 6 attributes
![изображение](https://user-images.githubusercontent.com/9892891/71771034-9ce53900-2f3d-11ea-8792-a6f1ed0e81d6.png)
how can i add my own attributes
for example the Mass

[2020-01-04 20:45] Moult commented on #749
I just deleted the Moult/blender-bim-ifc repo, as BlenderBIM is now hosted with IfcOpenShell. This is the correct place to report issues.

Attributes are a fixed set of values that can be set based on the IFC specification to an element. You are not allowed to add custom ones.

If you would like to add your own properties / metadata to an object, this requires setting a new custom property set (or

[2020-01-04 20:52] dronov-dmitry commented on #749
Ok
I see that page not found https://github.com/Moult/blender-bim-ifc

[2020-01-04 21:00] Moult commented on #749
Correct, I just deleted that repo.

BlenderBIM installs into Blender's add-on directory - see [here](https://blender.stackexchange.com/a/35600) for where to find the add-on folder depending on your OS.

Inside the blenderbim folder there is a `data` folder, which allows you to create data presets related to your project. Property sets are in CSV format, because spreadsheets are a much better inter

[2020-01-04 21:01] dronov-dmitry commented on #749
1) Ok. I see that blenderbim is error 404 now https://github.com/Moult/blender-bim-ifc
In what folder of ifcOpenShell it is now located?
2) I found pset folder but how it can be added to blender? I can't see the dropdown list like in attributes...
![изображение](https://user-images.githubusercontent.com/9892891/71771578-11bc7100-2f46-11ea-9eb2-e634d35bf7d9.png)

[2020-01-04 21:05] dronov-dmitry commented on #749
1) Ok. Understand. Now i just need to download blender from official site and blenderbim addon is implement inside package. Ok. Thanks

[2020-01-04 21:10] Moult commented on #749
Yep install from the official website. Uninstall anything you currently have first.

In the scene properties, not the object properties, there is a "assign pset" button somewhere. You will notice the values correspond to the CSV files in your `data/pset` folder. You can create your own psets in CSV format :)

[2020-01-04 21:33] dronov-dmitry commented on #749
Ok it work
![изображение](https://user-images.githubusercontent.com/9892891/71771868-43cfd200-2f4a-11ea-9527-2839eaa6cc7d.png)
and how can i hide the name of pset-folder inside attribute name?
it is not very big problem but it will be more clearly..

[2020-01-04 21:40] dronov-dmitry commented on #749
and where i can find blenderbim on github to look how it leaving and growing?

[2020-01-04 21:42] Moult commented on #749
Github link: https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src

Also blenderbim.org shows the latest updates on the homepage and on IRC the ##architect channel shows it too https://blenderbim.org/community.html

I sometimes post updates on various forums.

[2020-01-04 21:44] Moult commented on #749
If that's how revit imports it, there's not much I can do, that's a limitation of revit. The data, however, should be correctly assigned in IFC.

By the way, there are restrictions on what psets apply to what objects. For example, a furniture pset can't be assigned to a roof object. However, at the moment BlenderBIM doesn't guide you on this. This needs to be improved and will be in the future :)

[2020-01-04 22:35] Moult commented on #749
Can this bug be closed as you have figured out how to add properties to an object?

[2020-01-05 17:03] dronov-dmitry commented on #749
yes. Thx

[2020-01-05 18:59] #749 closed

[2020-01-05 22:25] Moult commented on #716
Ping @liuyehua  ?

[2020-01-06 00:25] Moult commented on #748
For those interested, you can see a suite of unit tests created for TfNSW here: https://thinkmoult.com/tmp/tfnsw-bimtester.zip - it doesn't use any IFC selectors, but it demonstrates the ease of writing these unit tests in plain English (or other languages, if implemented).

[2020-01-06 01:35] ecke101 opened #750 "BlenderBIM: IFC objects placed outside of the IFC project tree"
Some IFC objects are placed outside of the IFC project tree.

[2020-01-06 01:38] ecke101 opened #751 "BlenderBIM: Allowing Qto values to be set"
It would be nice if Qto values could be set manually and also be read/write accessible from python.

[2020-01-06 15:50] berndhahnebach commented on #748
very much interested here, but I do not really understand how the tools work you posted a link too. What is bimtester.exe? Never heard of this software?

bernd

[2020-01-06 19:50] Moult commented on #748
@berndhahnebach IFC BimTester is from the code [here](https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src/ifcbimtester). It is a very thin wrapper around a unit test runner library called Behave. Under the hood, it is simply a unit tests which uses the IfcOpenShell library.

You might be familiar with unit tests written with things like JUnit, PyUnit, PHPUnit, and so on. Those tests are w

[2020-01-06 22:38] Moult commented on #738
@aothms can you elaborate on the process to get a gltf file for bimsurfer? It seems like it might need a specific structure, and perhaps be paired up with an XML created by IfcConvert from a first glance.

Is there any benefit to using bimsurfer, based on xeogl as opposed to the other engines like three.js, babylonjs, cesium, a-frame, etc directly, or just even use xeogl directly? I assume bimsurf

[2020-01-06 23:51] Moult opened #753 "BlenderBIM: add clash testing within 1 file"
Make it possible to clash detect within a single IFC file on different objects. @hanslammerts01

[2020-01-07 02:05] EAzari commented on #738
MVD/IFC --> glTF/WebGL (JSON) + 3D Tiles (has [limitation](https://github.com/AnalyticalGraphicsInc/3d-tiles/issues/385)) + Semantics (JSON) --> An interactive viewer (we should choose the viewer carefully)

It's hard to understand what's "quickly generate and manage unit tests"

I mean when we import an .ifc file, it tests the whole file and if it has issues opens a new window and lists all issue

[2020-01-07 04:42] Moult commented on #682
Just checked, you are right, my snippet which attempts to skip elements in the iterator does not work :(

For now, perhaps just being able to do `iterator(settings, ifc_file, whitelist=foo)` or `iterator(settings, ifc_file, blacklist=bar)` would be good solutions, where `foo` and `bar` are a list of IFC GlobalId strings. No need to do by type, as everything can be reduced to IDs :) This would allo

[2020-01-07 06:06] Moult commented on #15
Not sure if this is possibly related, but on Windows:

[code]

[2020-01-07 08:55] aothms commented on #738
I still need to commit this, but one advantage is exactly the ability to choose a rendering back-end and have a uniform API. For now what's implemented is ThreeJS, xeogl and SVG and have selection synced across these backends. I'll see if I can finally get around to committing this this week.

Other advantages is indeed the pairing with IfcConvert's XML to have semantics (tree and metadata).

But

[2020-01-07 10:18] keleisi2001 opened #754 "I cannot import ifcopenshell"
I used  Anaconda to install ifcopenshell, input conda install -c conda-forge -c oce -c dlr-sc -c ifcopenshell ifcopenshell, and it showed "All requested packages already installed."

But I opened the IDLE and VSCODE, they showed " No module named 'ifcopenshell'"

I don't know if I really installed it successfully. How to solve it?

If someone needs screenshot, I can send an email to him！Thank you！

[2020-01-07 13:21] aothms commented on #741
This is was a silly typo, but with profound effects, thanks for reporting.

[2020-01-07 19:39] Moult commented on #741
Fantastic! Thank you! It would be great to get an IfcOpenBot build of this, since the benefits of multicore import is huge!

[2020-01-07 19:39] #741 closed

[2020-01-07 19:45] Moult commented on #754
I'd assume that your IDLE program and VSCODE are not using the Anaconda Python and instead using a different python. Can you check that they are the same Python version, and that the values of `sys.path` are both the same? In your `sys.path` you should be able to find the ifcopenshell folder.

[2020-01-08 00:05] Moult opened #755 "Create documentation for IfcOpenShell, BlenderBIM, et all"
I have just started a Sphinx docs for BlenderBIM: https://github.com/IfcOpenShell/IfcOpenShell/commit/e927ac49ac4afaed6a58c4fbad4a27d025f7e045

I will need to write docs for BlenderBIM's various features. However, I will also need to write documentation on how to use utilities like IfcClash, IfcDiff, IfcCOBie, BIMTester... so I figured maybe it is worthwhile proposing that instead of me just creat

[2020-01-08 04:27] Moult commented on #750
Fixed and closed.

[2020-01-08 04:27] #750 closed

[2020-01-08 07:36] Moult opened #756 "Proof of concept of structural analysis integration with code_aster"
Develop a way to convert IFC data into a structural analysis model which can be analysed with code_aster. @Jesusbill

Step 1. ~~Create an example file of a single cantilevering beam which code aster can read.~~
Step 2. ~~Analyze how this data can be extracted from an IFC file~~
Step 3. ~~Ensure BlenderBIM can author / create this IFC file.~~
Step 4. ~~Write an IFC to Code_Aster converter~~
Step 5.

[2020-01-08 08:33] Kickdak opened #757 "Can someone help me with getting this module to work on Python 3.8.1) :)"

[2020-01-08 09:37] J-YingHuang opened #758 "ifcopenshell.geom.settings() object has no attribute 'USE_PYTHON_OPENCASCADE'"
Hi, I tried to use ifcopenshell to write the IFC simple viewer.
But I got some error....

Error Message:
Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "C:\Program Files\JetBrains\PyCharm Community Edition 2019.3.1\plugins\python-ce\helpers\pydev\_pydev_bundle\pydev_umd.py", line 197, in runfile
    pydev_imports.execfile(filename, global_vars, local_vars)  # execu

[2020-01-08 09:59] aothms commented on #757
I hope to be able to add it to the build matrix for the next set of builds.

[2020-01-08 10:00] aothms commented on #758
You need to have PythonOCC installed. What does `import OCC.BRep` say?

[2020-01-08 10:06] aothms commented on #755
Sphinx is only Python (am I correct?) but obviously a great starting point. Or are you suggesting to use https://breathe.readthedocs.io/en/latest/ ?

I will.

[2020-01-08 10:17] Moult commented on #755
I guess there's two aspects - there's code documentation and user documentation. For user documentation, Sphinx just parses `.rst` files which you write yourself. There is a ton to write about from a user perspective for BlenderBIM and its utilities. This is what I had started to write.

For code documentation, Sphinx I believe out of the box parses docstrings which is Python only, but yes the Bre

[2020-01-08 11:02] Jesusbill commented on #756
Attaching a `json` file with the information needed for this example and a `markdown` document with some explanations

[inputDataCA.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4034917/inputDataCA.zip)

[2020-01-08 11:29] moonlikestone commented on #758
Hi, before I wrote those code, I has installed PythonOCC and ifcopenshell in the same time.
But the problem still occurred...

This is the list of packages in my environment:
1. boost-cpp                 1.70.0
2. certifi                   2019.11.28
3. fontconfig                2.13.1
4. freeimageplus             3.18.0
5. freetype                  2.10.0
6. icu                       64.2
7. ifco

[2020-01-08 12:39] khyatiip commented on #758
I have the same issue.

I'm using Ananconda 3 (Spyder) to run my code and to install pythonocc and ifcopenshell and it gives me the same error.

settings = ifcopenshell.geom.settings()
When i print(dir(settings) USE_PYTHON_OPENCASCADE is not in the list.

I have attached the screenshot of the code and the packages installed using conda installer.

<img width="960" alt="Screenshot 2020-01-08 03 18

[2020-01-09 03:19] Moult commented on #755
Docs hosted now on https://blenderbim.org/docs/ (still work-in-progress)

If you think it makes sense to combine the docs into a single master doc, I can restructure the pages and it makes more sense to host it on the ifcopenshell website, not the blenderbim website.

[2020-01-09 03:36] htlcnn commented on #755
Excuse me, I don't know where to ask for BlenderBIM. I installed both IfcBlender and BlenderBIM. Now I have 2 **File -> Import -> Industry Foundation Classes (.ifc)** menu entries. Which should I choose? Thanks.

[2020-01-09 03:38] Moult commented on #755
@htlcnn sorry for the confusion - the IfcBlender plugin on the ifcopenshell.org website is an older version and has been superseded with a new plugin which has both import and export. My advice is to uninstall both to be sure, and you can go to https://blenderbim.org/ to download the latest (a new version was released just a few minutes ago!) You can catch me on IRC for help too https://blenderbim

[2020-01-09 03:52] htlcnn commented on #741
Could we please have a progress bar to see how much of ifc are imported or how many percent of geometries are created, instead of a timing/rolling mouse cursor?

[2020-01-09 03:54] Moult commented on #741
A progress bar used to exist, but was removed for various temporary reasons, but it will come back :) Can you please create a new bug for this?

[2020-01-09 03:57] htlcnn opened #759 "Add progress bar for BlenderBIM"
@Moult
Please add a progress bar to see how much of ifc are imported (and exported) or how many percent of geometries are created, instead of a timing/rolling mouse cursor.
Thanks!

[2020-01-09 09:39] keleisi2001 commented on #754
OK. I tried again but the questions could not resolve.

Now I only use python 3.7, and Anaconda is also python 3.7 version.

Using Anaconda to install Ifcopenshell, it is OK.

But the python 3.7 IDLE and PyCharm still show "No module named ifcopenshell"

I don't know where is wrong...

[2020-01-09 09:46] aothms commented on #755
Great, I thinks it's best to combine things. I think many users have a
choice, write bespoke code, use ifcconvert output or script things in
blender bim. If we have uniform documentation it can guide them best.

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op wo 8 jan. 2020 11:17 schreef Dion Moult <notifications@github.com>:

[2020-01-09 09:47] keleisi2001 commented on #754
You can see my screenshot from this link:
https://sourceforge.net/p/ifcopenshell/discussion/1782717/thread/ff35f3cc4d/?limit=25

[2020-01-10 05:34] Moult opened #760 "Storing point clouds in IFC"
Since Blender supports point clouds, I plan to write a feature where a point cloud can be read/written in an IFC file. From a theoretical point of view, this seems straightforward, as IFC as a point cloud representation which is a bunch of cartesian points. Two questions:

1. Where would RGB or other scalar data be stored?
2. What are the currently known strategies around efficient storage (clearl

[2020-01-10 09:02] aothms commented on #760
https://www.sciencedirect.com/science/article/abs/pii/S1474034617301313

Without paywall:

https://research.tue.nl/files/60197483/krijnen_beetz_ifc_pointclouds.pdf

In short, yes, HDF5, attributes like normal colour and intensity, quantisation and other compression, partial retrieval.

But for us academics most interesting perhaps the association of point cloud segments to building elements and th

[2020-01-10 09:14] keleisi2001 commented on #757
you know 3.7.6 is not very ok，so I argue that it will be developed for several months

[2020-01-10 09:37] aothms commented on #758
@moonlikestone

Was not supported yet at the time of the latest builds. You can apply https://github.com/IfcOpenShell/IfcOpenShell/pull/737 this to your IfcOpenShell module folder locally or use an older version of pythonocc

[2020-01-10 11:15] khyatiip commented on #758
@moonlikestone

I did not use this but i got it working. In ifcopenshell/geom/main.py and ifcopenshell/geom/occ_utlis.py wherever `OCC.something` is being used, change it to `OCC.Core.something`.

This may not be the correct/ideal solution but it is working for me as of now.

[2020-01-10 16:12] chri7928 commented on #760
In addition to HDF5, you might look at LEPCC which is open and freely usable as well, plus it's used in the OGC I3S Point Cloud Scene Layer format which _might_ make it then easier to use I3S with what you're considering in IFC.

https://github.com/Esri/lepcc

[2020-01-10 16:30] berndhahnebach commented on #756
wow ...

Would you like to make solid, shell or beam analysis?

[2020-01-11 12:24] #754 closed

[2020-01-11 14:11] Jesusbill commented on #756
Beam elements for Beams/Columns and shell elements for Walls/Slabs

[2020-01-11 17:21] johanrd commented on #730
Closing, as this seems to be fixed by 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:21] #730 closed

[2020-01-11 17:22] johanrd commented on #732
Closing, as this seems to be fixed when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:22] #732 closed

[2020-01-11 17:22] johanrd commented on #728
Closing, as this seems to be fixed by 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:22] #728 closed

[2020-01-11 17:22] johanrd commented on #726
Closing, as this seems to be fixed by 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:22] #726 closed

[2020-01-11 17:22] johanrd commented on #708
Closing, as this seems to be fixed when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:22] #708 closed

[2020-01-11 17:24] johanrd commented on #709
Reopening, as there is no geometry output when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:

[code]

[2020-01-11 17:25] johanrd commented on #678
Closing, as this no longer seems to segfault when converting from 614348d3a24c9a44d5a6c3a4b6999bfa2c4232ab:tada:

[2020-01-11 17:25] #678 closed

[2020-01-11 17:26] johanrd commented on #676
Closing, as this no longer segfaults when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:tada:

[2020-01-11 17:26] #676 closed

[2020-01-11 17:33] johanrd commented on #674
Reopening, as the twist seems to be back when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79:

![Jan-11-2020 18-33-08](https://user-images.githubusercontent.com/4601554/72208238-e1725680-34a0-11ea-9707-be098d9ef638.gif)

[2020-01-11 17:37] johanrd commented on #468
Reopening, as there is a lot of weird twisting going on when converting from 4320888d9dd82eb6c9b2de7cae4b9eae530e2f79 (OCCT 7.4.0p4). Possibly related to #674:
<img width="428" alt="Screenshot 2020-01-11 at 18 35 55" src="https://user-images.githubusercontent.com/4601554/72208300-59408100-34a1-11ea-842f-44bdc5d0aec9.png">

[2020-01-12 08:44] Moult commented on #756
Some of the basics are now in place (axis of beam geometry, material metadata) - next step is to write a whole bunch of code related to the IFC structural analysis view ...

This is not something which has been widely implemented so it will be a little foray into new territory for me - stay tuned for the commits :)

[2020-01-12 12:15] maxenceryan opened #761 "blenderBIM: Applying IfcSensorType on IfcDistributionControlElement"
Hey guys,

First off, thank you for all the great work you are doing! I recently came across blenderBIM and was playing around with it. I set a regular box to be an IfcDistributionControlElement. Now I want to assign it an IfcSensorType but it is not listed under the PredefinedType where I was expecting. I also tried this with IfcDoor, which does have the PredefinedType but how would add an IfcDoo

[2020-01-12 19:44] Moult commented on #761
An IfcDistributionControlElement does not have any predefined type fields according to the IFC standard. Perhaps you want to assign it to be an IfcSensor instead?

The IfcDoorStyle element has been deprecated by buildingSMART and is not allowed to be exported any more. The `OperationType` is now a regular object attribute, which you can set in the object properties tab in Blender when selecting an

[2020-01-13 03:16] Moult commented on #681
Closing as issue only affects myself and has disappeared :)

[2020-01-13 03:16] #681 closed

[2020-01-13 19:07] johanrd commented on #709
Closing, as the output is as expected when converting from 8ae8042d6511b437411d25444c03062889beae99:tada:

[2020-01-13 19:07] #709 closed

[2020-01-14 05:07] Moult commented on #738
@aothms sorry if I missed something obvious, but is there a specific procedure required to create the glTF file for bimsurfer v2? Is there a special converter? I assume the XML is just created with IfcConvert out of the box with no special settings.

Also, is there a precompiled version of the IfcConvert fork which has the HDF5 patches? Are there plans to merge these patches into the main repo?

[2020-01-14 06:50] Moult commented on #756
Commit 71f836d now allows the cross sectional profile to be stored. I still have to build support for restraints in IFC, and ensure that units are stored correctly, but almost there!

A few questions:

 1. I could not find where IFC stores `"materialType": "isotropic"`. This is a material property, so can you please check [this page](https://standards.buildingsmart.org/IFC/DEV/IFC4_2/FINAL/HTML/li

[2020-01-14 08:27] johanrd opened #762 "Regression: Segfault on beam (example file)"
1. Convert [762--beam--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/762--beam--segfault.ifc) with 8ae8042d6511b437411d25444c03062889beae99 (OCCT 7.3.0p4) and experience segfault:
```FATAL: An error occurred, status code 139.```
2. Convert the same file with 69a6f5ee36a0d5066d56ae897d43718934697d2e (OCCT 7.3.0p3) and experience no segfault.
3. Expected geometry from Solibri:
<img

[2020-01-14 08:55] johanrd opened #763 "Regression: Segfault on reinforcingBar (example file)"
1. Convert [763--reinforcingBar--segfault--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/763--reinforcingBar--segfault--augmented.ifc) with 8ae8042d6511b437411d25444c03062889beae99 (OCCT 7.3.0p4) and experience segfault:
```FATAL: An error occurred, status code 139.```
2. Convert the same file with 42e00581cd187309ebea1aba585fae06dd7dd13f (OCCT 7.3.0) and experience no segfault,

[2020-01-14 09:48] Moult commented on #760
Just to keep this issue updated, commit a200310 implements the ability for Blender to export a point cloud into IFC. Only the XYZ is exported. RGB and other scalar data cannot currently be stored in the IFC4 spec and so the data is lost.

Thanks for the paper @aothms ! I am slowly reading it.

[2020-01-14 12:10] johanrd opened #764 "No materials or surface styles found for IfcColumn (example file)"
1. Convert [764--column--no-materials-or-surface-styles-found.ifc](https://github.com/IfcOpenShell/files/blob/master/764--column--no-materials-or-surface-styles-found.ifc) with 71f836d013b0daa7f8094337db0f124ff75402bc (OCCT 7.3.0p4).
2. Experience that no materials or surface styles are found, and that the output object is fallback grey:
[code]
<img width="355" alt="Screenshot 2020-01-14 at 12 46

[2020-01-14 13:54] johanrd commented on #675
Closing, as this converts successfully when converting from 71f836d013b0daa7f8094337db0f124ff75402bc:tada:

[2020-01-14 13:54] #675 closed

[2020-01-14 13:54] johanrd commented on #674
Closing, as this converts successfully when converting from 71f836d🎉

[2020-01-14 13:54] #674 closed

[2020-01-14 13:57] johanrd commented on #596
Closing, as this converts successfully from 07756ab:tada:

[2020-01-14 13:57] #596 closed

[2020-01-14 14:42] Jesusbill commented on #756
Looks great @Moult! I am following your commits and started looking into the code in general.
Regarding the questions:
1. Yes you are correct; the general/default type of materials is `isotropic` associated with the `MaterialMechanical` Pset. In theory, one needs to specify `YoundModulus` and `PoissonRatio`, the `ShearModulus` being directly derived as G=E/(2(1+v)). For `orthotropic` materials lik

[2020-01-14 14:56] rurubino1 commented on #758
Hi,
I tried this but I have a new error, apparently in Filter01.py:
[error2.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4059731/error2.txt)

Any suggestion?
PS: see my environment setup also attached (it looks the same setup as @khyatiip to me).
[bim2bem_env.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4059762/bim2bem_env.txt)

[2020-01-14 16:46] mieszk commented on #758
@rurubino1
According to the error message:
[code]
It looks like there is a line in the `main.py` code that tries to reach non-existent variable `iterator_single_precision`. Which is kind of weird, because I looked at the code under `v0.6.0b0` release and there is no sign of the `iterator_single_precision`, only the double-precision one. It was removed in `v0.6.0a1` already.

Try to update package

[2020-01-15 06:48] Moult commented on #756
A brief note about (2.) - the `IfcAnalysisTheoryTypeEnum` is indeed applied to the entire "analysis group" and not per element. The way it seems to work is that you input in an `IfcStructuralAnalysisModel`, and then you do your analysis using however you like, and then you can record the results in an `IfcStructuralResultGroup` - and that is where you record the `IfcAnalysisTheoryTypeEnum` ... it

[2020-01-15 08:13] berndhahnebach commented on #756
How do you guys view StructuralAnalysisView? Ifc++, BIMCollabZoom and FreeCAD are capable of viewing some but none of them does view all the data of StructuralAnalysisView.

How about connections? In an structural analysis it is very important that member axis meets at the joints. In most cases this is not given in architectural modells. That is the main problem people like me facing for years in

[2020-01-15 09:35] Moult commented on #756
At the moment I don't know what's the best way to view it. Hopefully in the future blenderbim will become a very good viewer for all IFC data :)

At the moment point connections are their own object, as are structural curve members. They are completely independent from regular architectural elements like IFC beam. In IFC, you dont actually need elements like IFC beam for a structural model. Becaus

[2020-01-15 10:15] aothms commented on #762
Thanks for reporting. This was actually a proper bug in IfcOpenShell. I think we have to look quite far back to see this file properly converted.

f58d9243fa63542f3dc3250183114998982e1f91

[2020-01-15 10:41] aothms commented on #763
This seems to be working as expected now on v0.6.0 HEAD. At least on Windows. Is this still an issue?

[2020-01-15 10:50] aothms commented on #764
We do pick up the style associated to the first operand of the boolean op. But somehow this was only done for `IfcBooleanClippingResult` and not the more general `IfcBooleanResult`. Thanks for reporting.

[2020-01-15 11:29] berndhahnebach commented on #756
In FreeCAD we have Structural nodes inside the Architectural objects. The user can move them if the Architectural axes do not fit the structural analysis axis. Means the structural model is saved inside the architectural objects. The idea is to convert them into a real analysis model or in a structural ifc. But the coding for this has never happened. At the moment I go the same way as you guys do.

[2020-01-15 11:33] lcpt commented on #756
Hi.
I'm very interested in this development. I'll take a look to the documents above. Thanks for the notice @berndhahnebach!

[2020-01-15 13:26] johanrd commented on #763
With the latest commit on 0.6.0 (d9805185eeba151b256df54c3dcc3f71fd3416f2) this file does indeed seem to segfault on OCCT 7.3.0p4:
[code]

On OCCT 7.3.0p3 there is no segfault, however there is missing geometry:
[code]
<img width="240" alt="Screenshot 2020-01-15 at 14 13 28" src="https://user-images.githubusercontent.com/4601554/72436781-98244e80-37a1-11ea-8fa9-01cf32c19a7b.png">

[2020-01-15 13:26] johanrd commented on #762
Thanks! I can verify that f58d924 fixes this:tada:

[2020-01-15 13:26] #762 closed

[2020-01-15 13:26] johanrd commented on #764
Thanks! I can verify that d9805185eeba151b256df54c3dcc3f71fd3416f2 fixes this:tada: Closing.

[2020-01-15 13:26] #764 closed

[2020-01-15 13:35] johanrd opened #765 "Timeout on beam (example file)"
1.  Convert [765--beam--timeout.ifc](https://github.com/IfcOpenShell/files/blob/master/765--beam--timeout.ifc) with d9805185eeba151b256df54c3dcc3f71fd3416f2 (OCCT 7.3.0p4) and experience that the conversion timeouts (or at least uses a lot of time for such a small file).
2. Expected geometry from SimpleBIM:
<img width="300" alt="Screenshot 2020-01-15 at 13 46 26" src="https://user-images.githubuse

[2020-01-15 14:08] michalkubis opened #766 "Number of vertices for columns / circles / curves"
_Apology, this isn't exactly an issue, it's a question with suggestion._

Is there a way to change the number of generated vertices for columns / circles / curves please?

![image](https://user-images.githubusercontent.com/47777142/72439929-2b608280-37a8-11ea-8cfc-d0008deb3fcf.png)

If yes, could this be part of the command line arguments?

[2020-01-15 16:46] aothms commented on #766
Yes, this is the `--deflection-tolerance` of IfcConvert, the max linear distance. So a higher value will result in fewer segments. Unfortunately there is also an angular value, but that one is currently hard coded. So at very high deflection the angular will be dominant.

[2020-01-15 17:00] aothms commented on #763
There are quite a few significant changes in p4. Not sure if I would recommend it in production if it doesn't solve specific issues on our list. https://git.dev.opencascade.org/gitweb/?p=occt.git;a=log;h=1630119c3a5ec5a3268ddf8775a7085b5f6b06de

[2020-01-15 17:24] aothms commented on #738
The current version of bimsurfer v2 only takes a gltf v1. I'll push a version later that can take the binary glb v2 from IfcConvert directly.

Windows only apparently.

https://github.com/ISBE-TUe/IfcOpenShell-HDF5/releases

But there is an old nix build script here

https://github.com/aothms/hdf5_bim_sparql_query/blob/master/run.sh#L80

Tbh I don't have direct plans for it. It's not overly hard o

[2020-01-15 17:54] michalkubis commented on #766
That's great! Thank you. I was actually playing with this param already, but ended up with value 1.0 thinking it does not work. I can see now that higher values work, but columns have still too many polygons. It would be amazing, if we could set also that hard coded angular value from command line. It could save lot of polygons for huge MEP models.

Here's a screen from BIM Vision and I was lookin

[2020-01-15 20:36] johanrd commented on #763
Ok, interesting. Our experience until now is that 7.3.0p4 is more stable than 7.3.0p3.

This file here is the only known regression from 7.3.0p3 to 7.3.0p4, whereas #423, #457 and #678 all segfault when processed with 7.3.0p3, but not on 7.3.0p4.

[2020-01-15 20:37] Moult commented on #766
In addition, can this be controlled from the geom iterator?

[2020-01-15 22:38] Moult commented on #756
Agree that it is cumbersome to model separately - there needs to be easy ways to convert from one to another and link the two together.

Do you mean like a solid model for FEA? I haven't looked into this - if it doesn't support it, that's not good at all. Perhaps FreeCAD and BlenderBIM can agree on an unofficial standard to support this.

I haven't seen an IFC4 MVD for this yet, but the entities a

[2020-01-16 01:14] Jesusbill commented on #756
Hi all,
I am really enjoying the conversation and the great work done by @Moult!

- Agreed, `IfcAnalysisTheoryTypeEnum` can be used potentially in Code_Aster for the type of geometric nonlinearity.
- Does this mean we will have to author the IFC file (in BlenderBIM?) after the analysis with CA?

It would be great to link this data in architectural models once they have been defined by the structur

[2020-01-16 09:17] rurubino1 commented on #758
@mieszk
Thanks for your suggestion.
Your comment on main.py seems strange: in https://github.com/mieszk/IfcOpenShell/commit/81f76eddf952e476360e0dcbd55e34b1d1135ad2#diff-1d9714892cfa45e4254c64b33c701958 I still see the that loop referring to `iterator_single_precision`
I tried to update the package, but it also updated pythonocc-core to 0.18.2 so I tried to revert but I guess something went wrong

[2020-01-16 15:34] Jesusbill commented on #756
I have finished a first quick and dirty implementation of the Code_Aster pipeline for this example.
Everything is in this repository: https://github.com/Jesusbill/ifc2ca

@Moult: I have added `name` attributes to the elements and the restraints that I need as labels to define the entities in the mesh. You can see the new version of the data file [here](https://github.com/Jesusbill/ifc2ca/blob/mast

[2020-01-16 16:02] berndhahnebach commented on #756
How about writing a converter for structural ifc (FreeCAD supports its geometry import allready) to FreeCAD FEM objects and add code aster to the FreeCAD FEM solver (ATM CalculiX, Elmer, Z88 and OOFEM are supported.) I am aware this is one more step, but with this we could use a wide range of solver. I would for sure help with this.

I started to use solid FEM in steel constructions. It is much si

[2020-01-16 20:09] berndhahnebach commented on #756
the same data which is saved for the analysis ATM for beam and shell analysis but for solid meshes and geometry. It means the geometry, the mesh, the loads, the constraints etc.

If structural analysis would support solid analysis it would be even possible to mix a architectural view and analysis view.

bernd

[2020-01-16 23:55] mieszk commented on #758
@rurubino1

That's right, but that was on master, you should check out the tag matching your `ifcopenshell` version on `conda` (or just branch 0.6.0) and use the code from there.

[2020-01-17 13:29] khyatiip opened #767 "All 4 vertices of an element"
Hello,

I'm trying to find all 4 vertices of an element in the global coordinate system.
[code]

This only gives me one coordinate. How do I get all the vertices/coordinates? Can someone help me here with an example?

[2020-01-18 01:45] Moult commented on #767
Converting back to the global coordinate system is quite tricky as IFC can have a long hierarchy of relative transformations. Hopefully this helps:

https://github.com/IfcOpenShell/IfcOpenShell/issues/688

[2020-01-18 03:39] EAzari commented on #760
Please check these three too, maybe helps:
- [FlatBuffers](https://en.wikipedia.org/wiki/FlatBuffers) from Google
- [blazingSQL](https://blazingsql.com)
- [SQLite](https://en.wikipedia.org/wiki/SQLite)
- so on (maybe you found something more better. Personally I see HDF5 has some significant cons)

[2020-01-19 20:42] twut commented on #767
You will only get one coordinate of a vertex of IfcWindow[0] in your code.

Try the following code. It will give you the coordinates of all the vertices of IfcWindow[0]

`exp = OCC.Core.TopExp.TopExp_Explorer(shapes.geometry, OCC.Core.TopAbs.TopAbs_VERTEX)
while exp.More():
    vertex = OCC.Core.TopoDS.topods_Vertex(exp.Current())
    pnt = OCC.Core.BRep.BRep_Tool_Pnt(vertex)
    print(pnt.X(), pn

[2020-01-19 21:04] Jesusbill commented on #756
I think that the important part of this proof of concept lies in the IFC exploration to accommodate the structural engineering domain information and to understand at which level this integration can be established. I believe also FreeCAD can benefit from it.

For monolithic components solid FEM can be a good choice, but for practical building applications it is not sustainable and in many cases e

[2020-01-20 04:13] Moult commented on #716
Closing due to inactivity.

[2020-01-20 04:13] #716 closed

[2020-01-20 05:54] tpaviot opened #768 "IfcGeom::Kernel::wire_intersections fails for occt 7.4.0"
latest ifcopenshell python from v0.6.0 branch fails at loading/displaying any ifc file. No debug information, only a segfault.

After an investigation using valgrind on Unbuntu 18.04, the method
[code]

seems to be the cause. valgrind reports the failure at the line

[code]
I modified this function to return ```false``` in any case, and could load any 3d representation as it used to work with prev

[2020-01-20 09:25] Moult commented on #756
@Jesusbill I think the implementation is basically done except for declaring units - but for now we can just hardcode the unit assumption.

Please check this sample IFC file, as well as the Blender file used to generate it. Everything begins from a structural analysis model (step definition `#104`), which has some group members (`#152`), which are a single structural curve member `#133` which repr

[2020-01-20 12:24] khyatiip commented on #767
I tried this but for some reason it gives me rotated geometry and the walls have gaps in between them (10mm-30mm)

[2020-01-20 16:52] Jesusbill commented on #756
Great! I can work on the IFC file; essentially I will need to populate the json file.
I have limited experience in ifcOpenShell but I will try to do it.
Do you have in mind any useful snippets or part of existing code for the parser?

[2020-01-20 18:42] michalkubis commented on #766
Would it be too complicated to add that hard coded value into command line params? Is it just single value? Could you please provide more details?

[2020-01-20 18:54] michalkubis opened #769 "IfcConvert --threads crashing"
When I'm using IfcConvert with --threads it does not seem to be stable. It fails quite randomly. No problem when I omit this param. I tried multiple times, multiple computers, same results.

[2020-01-20 20:04] Moult commented on #769
Potentially related to these two other bugs to do with multicore processing: #741 and #746 ?

Can you supply a test file?

[2020-01-20 22:58] Moult commented on #756
@Jesusbill I have written a little script which generates the JSON (see commit above). Can you please try it out and see if it works? If it does, it would be awesome to see a screenshot of it in action with Code_Aster :) Also I hope the script makes sense to you - if it does, perhaps you can help maintain it and improve it over time. I'd be happy to walk through the code via online call if you'd l

[2020-01-21 02:04] Moult commented on #738
That's great @aothms ! I'd love to test the version that takes a glb from IfcConvert when it's ready, as I'm really on the lookout for a good open-source web IFC viewer.

I tested out the HDF5 conversion and though it worked on a small file, it crashed on Windows on a larger file. Not entirely sure why and I don't have any debug information. I managed to poke through the HDF5 files with h5py but f

[2020-01-21 03:57] Moult commented on #759
Fixed.

[2020-01-21 03:57] #759 closed

[2020-01-21 06:57] Moult commented on #755
I've just merged the documentation structure for all IfcOpenShell docs. When you're ready @aothms feel free to move the files from `src/ifcblenderexport/docs/` to, uh, I guess just `docs/` and set up something on the IfcOpenShell.org website so that it can be accessed and built on a commit hook (I assume?)

Feel free to close the issue when docs are deployed :) Also when the BlenderBIM link on the

[2020-01-21 09:03] aothms commented on #755
Great starting point thanks! I'll work on those things, not sure yet if I'm going to setup travis to deploy the docs to S3 or run something on my webserver.

Pardon my ignorance, but how does this work together with source code comments?

[2020-01-21 09:11] aothms commented on #738
IIRC it might be a 32bit executable making it run out of memory rather soon. The current procedure is not very memory friendly.

On the population group there is an attribute to resolve this. https://github.com/ISBE-TUe/IfcOpenShell-HDF5/blob/hdf5/src/ifcparse/IfcHdf5File.cpp#L1856 h5 attribute values are mapped to numpy arrays so you can slice and index them as you wish.

They are. Let's await th

[2020-01-21 10:39] Moult commented on #755
I just added "autodoc" for the pages for IfcOpenShell-python - assuming ifcopenshell is in the Python path (therefore, if Travis or your webserver generates it, it needs to have IfcOpenShell in the path with the latest docs) so that Sphinx's conf.py can load it, it will load ifcopenshell, and detect the docstrings, and document them [here](https://github.com/IfcOpenShell/IfcOpenShell/commit/f80e70

[2020-01-22 07:13] Jesusbill commented on #756
Fantastic work man! The script you wrote certainly did the job but it has been also useful for me to write a simple parser as it helped to get more acquainted with ifc and ifcOpenShell.
It is definitely a script that I can help maintain and improve over time.
I will run code_aster and provide some screenshots within the day.

Thanks for the availability, I am gathering some questions and studying

[2020-01-22 08:09] dophineliu commented on #486
I met the same issue. I used ifcopenshell 0.6.0 version. I converted a stl file to shape, then want to use tesselate to convert to ifc. Code as below:

shape = read_stl_file(stl_filename)
placement = create_ifclocalplacement(ifcfile,relative_to=storey_placement)
product =ifcfile.createIfcBuildingElementProxy(create_guid(),owner_history,"",None,Name,placement)
product.Representation =ifcopenshell.g

[2020-01-22 08:53] aothms commented on #486
The following should probably work. But indeed this has to be fixed.

[code]

[2020-01-22 16:44] jrojoCI3 opened #770 "IfcConvert 0.6.0: "No geometry iterator registered for IFC4X2""
Hello, I'm trying to convert a Ifc file in 4x2 specification (bridge) into an obj, and IfcConvert throws this error:

[code]
Why could this be happening? I'm using an Ubuntu 18.04 distribution. Unfortunately I cannot share the model. It's probably a very simple thing that I'm not seeing right now, but it's been three days trying to (unsuccessfully) solve this issue, so any help will be welcomed.

[2020-01-22 19:47] Moult commented on #770
Try opening the IFC file in a text editor and check what the header schema value is. If it says IFC4X2  rename it to just IFC4 and try again.

[2020-01-22 20:31] Moult commented on #756
Great! Looking forward to seeing screenshots! Do you mind if I use your screenshots in an upcoming release notes for the next release? You will of course be credited.

[2020-01-22 21:23] Moult opened #771 "Can geom iterator or create_shape understand representation context?"
Is it possible to have the geom iterator or a create shape return only the shape from a representation that is part of a specific context/subcontext/target view, say Model/Body/MODEL_VIEW, or Model/Clearance/MODEL_VIEW, etc? Or perhaps when it processes the shapes, I can tell which is which?

With this ability, I can make the import script distinguish between contexts and build features to let use

[2020-01-22 21:39] Jesusbill commented on #756
Here they are... :) Yes you can use them no problem.

---
Running `scriptSalome.py` in _salome_meca_. View of Geometry and Mesh

![CA_1](https://user-images.githubusercontent.com/6861582/72933912-fe414080-3d62-11ea-9062-f935963b1a4f.png)

---
Importing the command file in _asterStudy_, the module with the UI to configure and run analyses with Code_Aster

![CA_2](https://user-images.githubuserconte

[2020-01-22 22:14] Moult commented on #756
Woohoo! Thanks! Shall we try with a slightly more complex example? Perhaps:

1. Again, single cantilevering beam, but now with a loading?
2. Or perhaps two columns and a beam spanning between the columns?

[2020-01-23 07:00] dophineliu commented on #486
Thanks Thomas. It works now.

[2020-01-23 09:32] jrojoCI3 commented on #770
First of all, thank you for the quick answer. I've just tried that. Although there seems to be a geometry iterator this time, there are missing elements in the geometry from the 4X2 schema. This is the error thrown:

[code]
I've checked it up and it looks like those Instances not found (30, 37,4275,...) correspond to IFCBRIDGE, IFCBRIDGEPART,  etc.

[2020-01-23 09:51] Moult commented on #770
I suspect IfcOpenShell that's because IfcOpenShell supports IFC4 Add2 TC1 (see readme file) where those entities don't exist yet.

Perhaps @aothms can suggest how to support these newer schemas. I cannot help here, sorry :(

As a temporary workaround I wonder if you could just change them into IfcBuilding.

[2020-01-24 07:04] ddjokic commented on #756
It is nice to have that functionality but be aware that salome_meca is not "fully free" for commercial projects. Check from s-m license (I am not a lawyer and it is not legal advice, just call for caution)
![b19a69b23d3b86c8](https://user-images.githubusercontent.com/3152062/73050367-c6a5d600-3ed3-11ea-8004-e21da02af1a1.png)

[2020-01-24 19:32] michalkubis commented on #769
Sorry for the delay. I can't provide original files, but now I tested with random IFC and it seems to fail too. See attached zip. There's a bat file which calls IfcConvert every 5 seconds. It fails quite often on my side.

[Test.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4110262/Test.zip)

![sample](https://user-images.githubusercontent.com/47777142/73097272-0b873800-3ee7-11ea-9496-e7

[2020-01-25 22:14] Moult opened #772 "Branding and use of the name "BlenderBIM""
It is uncertain whether use of the word "Blender" is acceptable by the Blender Foundation, as it is their trademark.

The following email was sent to the Blender Foundation. This issue has been created for public transparency.

[code]

[2020-01-26 20:37] adurukan opened #773 "IfcOpenshell - Compiling on *nix"
Hello,
I feel like I am missing out sth extremely simple but here goes nothing:
I have created a conda environment and were doing all the builds with this environment activated. My systems is Ubuntu 16.04. I have completed steps 1, 2b, 3, and 4 under compiling on nix. In step 5, it says to go to the ifcopenshell folder. I simply download IfcOpenShell-python for python 3.7 64bit Linux which is 0.6.

[2020-01-27 01:01] Moult commented on #772
Reponse from Ton:

[code]

[2020-01-27 01:03] Moult commented on #772
Reply by me:

[code]

[2020-01-27 10:04] jrojoCI3 commented on #773
Hi @adurukan,
It's just a fast try, but I would say there's nothing wrong with your lines and what seems to fail is the actual direction of cmake. You should be executing the command when inside the build folder, somewhere like `/home/alpay/Documents/hiwi2/IfcOpenshell/build/` (you will likely have to create it), so when you call `cmake ../cmake/` it refers to `/home/alpay/Documents/hiwi2/IfcOpens

[2020-01-27 14:18] #773 closed

[2020-01-27 14:18] adurukan commented on #773
I was simply in the wrong path.

[2020-01-27 20:06] Moult commented on #772
Response from Ton. Issue will now be closed.

[code]

[2020-01-28 19:08] lgtrombetta commented on #757
Hi there. Any news on this?

[2020-01-28 23:02] Moult opened #774 "Proof of concept of energy analysis integration with EnergyPlus"
Develop a way to write IFC data that can be read and analysed with EnergyPlus.

Step 1. Create an example input of a single room as input for EnergyPlus.
Step 2. Analyse this input to ensure that all of the input can be mapped to data stored in an IFC file
Step 3. Build the features necessary in BlenderBIM to author this IFC file
Step 4. Write/Reuse an IFC to EnergyPlus reader (or convert if neces

[2020-01-29 12:07] ayblaq opened #775 "No path created when converting to SVG"
Hi,
I tried to convert ifc to svg using IfcOpenshell, however no paths are generated. The Ifc file consist of ifccontrollers and ifcterminals I can send the IFC file confidentially if need be.

[2020-01-30 20:41] Stinkfist0 commented on #775
Hi. The FAQ section probably answers your question: https://github.com/IfcOpenShell/IfcOpenShell/wiki

[2020-01-31 05:24] Moult opened #776 "Geometry has wrong units from IfcPolygonalFaceSet"
Attached is a series of small minimal test cases. When I use the geom iterator to get a shape, I get the results in meters, which is what I expect - except for a particular IfcPolygonalFaceSet - where the results are in millimeters (all other objects still return meters).

[testcases.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4137705/testcases.zip)

Attached image shows what the corre

[2020-01-31 09:55] moonlikestone opened #777 "IfcConvert unable to parse .ifc file to .dae"
Hi, I tried to use IfcConvert to parse .ifc file to .dae, but I got the following error message:

Log:
[Error] Unable to parse .ifc file or no geometrical entities found.

The .ifc file is exported by Revit 2018...

[2020-01-31 10:30] Moult commented on #777
Would it be possible to share your IFC file?

[2020-02-01 13:08] maxenceryan commented on #761
Hey, sorry it took me so long to write back. Thank you for the response and clarification, I am working with IFC2x3 mainly so I am not familiar with all the changes to IFC4.  Enum support would be a good idea :) I will go ahead and close this.

[2020-02-01 13:08] #761 closed

[2020-02-03 01:59] moonlikestone commented on #777
@Moult  Yes, but how to share you? Can you provide your email?

[2020-02-03 08:49] aothms commented on #777
you can:
* send it to models@ifcopenshell.org
* if it's small, attach it here (rename to .txt)
* fork the repository and upload here https://github.com/IfcOpenShell/files

[2020-02-03 10:13] moonlikestone commented on #777
I've sent the email, please check the mail box. Thank you!

[2020-02-03 13:01] aothms commented on #776
Absolutely correct, thanks for reporting.

[2020-02-03 13:01] #776 closed

[2020-02-03 14:22] sanderboer commented on #768
I think I fixed it by changing the class instantiation to:

`
static Handle(Geom_Curve) c0 = BRep_Tool::Curve(wd->Edge(i + 1), u11, u12);
static Handle(Geom_Curve) c1 = BRep_Tool::Curve(wd->Edge(j + 1), u21, u22);
GeomAPI_ExtremaCurveCurve ecc(c0, c1);
`

I had this issue crash blender and freecad when importing a door I made in freecad.

[segfault_door.zip](https://github.com/IfcOpenShell/IfcOpen

[2020-02-03 14:30] Jesusbill commented on #756
Hi @Moult, here is the updated json file as agreed.
[inputDataCA2.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4148360/inputDataCA2.zip)
Cheers

[2020-02-03 14:31] aothms commented on #768
Interesting. I haven't had a chance yet to look into 7.4.

According to the Docs:

The copy in case of location could be a clue, but since the Handle should behave like a smart pointer it shouldn't make a difference.

@sanderboer does the `static` make a difference or is a normal local variable sufficient?

@tpaviot would be great if you can verify the fix from @sanderboer on your files

[2020-02-03 15:04] sanderboer commented on #768
occt refs:

`GeomAPI_ExtremaCurveCurve (const Handle< Geom_Curve > &C1, const Handle< Geom_Curve > &C2)
`

`static Handle< Geom_Curve > Curve (const TopoDS_Edge &E, Standard_Real &First, Standard_Real &Last)
`

I tried omitting the 'static' storage class specifiers alltogether, segfault, replaced it with 'const', segfault. Only the 'thread_local' and 'static' specifiers don't segfault.

I am incli

[2020-02-03 15:12] sanderboer commented on #768
Freecad:
![2020-02-03-1580742695_1920x1059_scrot](https://user-images.githubusercontent.com/628480/73664552-e4c3c100-469f-11ea-8af4-fd182346017f.png)

The exported ifc used to crash blender when importing into blender:
![2020-02-03-1580742675_1920x1059_scrot](https://user-images.githubusercontent.com/628480/73664598-f86f2780-469f-11ea-8503-9dc46e2a3ca0.png)
 no more !
=)

[2020-02-03 15:14] aothms commented on #738
@Moult I just committed a ThreeJS version that can take a glb https://github.com/AECgeeks/BIMsurfer2/ let me know if you have questions. It's a bit early stil. You can add `engine: 'threejs'` to the BIMSurfer constructor.

[2020-02-03 16:08] tpaviot commented on #768
@aothms yep @sanderboer's fix works perfectly (tested on Ubuntu 18.04)

[2020-02-03 17:16] EAzari commented on #738
@aothms Have you seen this? https://terria.io
Thoughts?

[2020-02-03 18:08] JanoSlivka opened #780 "Why roofs have different colors when the same color is used in ifc file?"
Hello,

I have question about load color of element from ifc file. Both ifc files have defined same color for element.

This ifc file load color from file.
[roof_color.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4149350/roof_color.zip)
![roof_color](https://user-images.githubusercontent.com/44858488/73678346-80f9c200-46b8-11ea-9d69-385759a4f861.png)

This ifc file use default color.
[r

[2020-02-04 10:36] sanderboer opened #781 "Request for conversation: separating the project into system libraries, python bindings and binaries."
Hi,
I packaged ifcopenshell for Void Linux and their package protocol is more strict than most distros.
Void Linux prefers a separation between system libraries, python bindings and binaries. For IfcOpenShell this would mean a separation into several packages and maybe even into several projects:

- libifcopenshell / libifcopenshell-devel : the shared libraries and includes
- python3-ifcopenshell

[2020-02-04 12:36] sanderboer commented on #768
FYI, I did some digging and I was told "const does not bind to rvalues".

[see here for the answer to my stackexchange question](https://stackoverflow.com/questions/60056428/c11-i-patched-a-segfault-but-i-dont-exactly-know-what-fixed-it?noredirect=1#comment106214583_60056428)

[2020-02-04 18:23] sanderboer opened #782 "v0.6.0 branch: python wrapper fails to compile"
Hi,

My build of ifcopenshell of today's v0.6.0 fails branch when it comes compiling the pythonwrapper.
I suspect it is due to changes in the interface in IfcGeom::Iterator ?

[code]

[ifcopenshellerror.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4155162/ifcopenshellerror.txt)

[2020-02-05 07:49] sanderboer commented on #782
Closing this issue, it must be on my side as it compiles with no problems on my desktop. This error occurs on my laptop, I probably mixed up swig libs.
My apologies for the noise.

[2020-02-05 07:49] #782 closed

[2020-02-05 08:44] aothms commented on #781
Hey thanks for getting this discussion started.

Several projects would not be my preference, might be harder to keep things in sync.

But other than that I don't see drastic changes over the current libraries. Am I very wrong?

* libifcopenshell / libifcopenshell-devel : ifcparse / ifcgeom / serializers
* python3-ifcopenshell : ifcopenshell_wrapper
* ifcopenshell: IfcConvert, IfcGeomServer et al

[2020-02-05 11:09] Moult commented on #756
Closing issue, as the initial objective was a proof of concept which has now been achieved.

@Jesusbill - can you please start up a new thread on https://community.osarch.org/ about the integration of BlenderBIM, IFC, and Code_Aster? A few other developers of other free software related to the AEC industry had a little group email being passed around about how it would be a good idea to start a so

[2020-02-05 11:09] #756 closed

[2020-02-05 12:34] sanderboer commented on #781
I am not entirely sure what you are thinking of. I agree that a separation into different projects should be considered with apprehension and that the pure python work would be first on the list to be separated. There are pros- and cons to both ideas and I think most of the entanglements stem from supporting multiple platforms.

Thinking about these platform issues, maybe the first step could be t

[2020-02-05 14:41] sanderboer commented on #744
I found that the issue is in IfcGeomFaces.cpp around line 475, OpenCascade segfaults when trying to add a hole of very small size.

I created a stopgap in that function that checks for the length of that wire and ignores it if it is smaller than 0.0001.
Think this check is better suited in convert_wire ?

[code]

[2020-02-05 15:43] sanderboer commented on #744
I see that convert_wire is not a straightforward function, any idea where a length check for curves and wires would be more suitable ?

[2020-02-06 16:22] sanderboer commented on #782
After closing this issue I continued to experience erratic errors with the python wrapper when compiling the v0.6.0 branch after the v0.6.0b0 release.
Turns out, the wrapper prefers the installed headers over the source headers. A quick check of the ifcwrap include statements show all header to be relative, maybe swig is the culprit ?

[2020-02-06 18:04] sanderboer commented on #739
As far as I can tell the __swig_getmethods__ and __swig_setmethods__ lines can be removed as-is. It is very hard to find comprehensive documentation about these dictionaries, but from I can glean, these dictionaries are superfluous. I have branched v0.6.0-swig4 with __swig_etc removed and as far as I can tell no functionality has been impacted.

[2020-02-07 05:17] tpaviot commented on #739
I confirm this can be safely removed.

[2020-02-07 11:49] sanderboer commented on #739
@tpaviot As an aside, what is your view of swig vs pybind11 vs Boost::python ?

As I see it Swig it looks like it has the longest running history, pybind11 is header only and Boost::python is Boost, a primary citizen of this project and highly regarded in c++ land.
Personally I am not too stoked on the documentation of swig, but other than that and a preference for header only libs I don't have a

[2020-02-07 19:07] FreakTheMighty commented on #634
@atibaut I'm using branch `v0.6.0` and trying to build with python `3.6.9`. I'm hitting a similar error, any thoughts?

[code]

[2020-02-07 21:58] FreakTheMighty commented on #671
Any thoughts on why I don't see this while using the iterator?

Also, I would use the iterator, but I would like to be able to skip elements. Is there anyway to provide more control over what is being iterated. Or, alternatively, perhaps there is a way of deferring mesh generation so that iteration itself is quick.

[2020-02-09 10:47] aothms commented on #671
Thanks that's exactly a useful hint.

The iterator will after every call to `next()` automatically free the previously returned shape memory.

Perhaps we need to double check how `create_shape()` tells SWIG that it's in charge of freeing the returned object. See for example `open()` being annotated with `%newobject` [0]  so that SWIG calls the C++ destructor when the Python reference is garbage co

[2020-02-10 10:58] aothms commented on #744
You're a wizard @sanderboer I actually don't have much objections to this. We can relate it to `getValue(GV_PRECISION)` instead of the arbitrary value though.

Seems they are circles with radius 11 so it's not that tiny though https://github.com/IfcOpenShell/files/pull/2/files#diff-870e641303fb53605c46253c1e3ddfd8R1941 Perhaps also double check the inner wires aren't intersecting as there are a bu

[2020-02-10 11:04] aothms commented on #781
Doesn't that defeat the purpose of CMake? I thought it was suppose to handle cross-platform configuration? I do think the CMakeLists went completely out of control. It shouldn't have to take over 600 lines for fairly conventional C++ work I had hoped. Perhaps we just need to modularize it and also help C++ projects that depend on IfcOpenShell to find it, so a find_ifcopenshell package perhaps.

[2020-02-10 11:08] aothms commented on #738
@EAzari haven't kept up with any of them. Good that effort seems to consolidate around Blender and glTF but otherwise no thoughts.

[2020-02-10 11:11] aothms commented on #777
Using the latest version does not seem to result in any issues? https://github.com/IfcOpenBot/IfcOpenShell/commit/9bcd932bed48486bf5b5f48d24b49329c280462f#comments

[2020-02-10 11:28] sanderboer commented on #781
Ow burp, brainfart. I meant to say to separate them per major functionality.
A cmake to make the libraries, another to make the binaries, and yet another one to make the blender ones:
step 1: compile and install libraries.
step 2: compile the other things at your leisure.

fyi, I found that on LInux at least when compiling pythonwrapper, the linker prefers installed libs, not the libs that just go

[2020-02-10 11:54] sanderboer commented on #744
I did not look at the IFC source, but while debugging it segfaults on mf.add, I printed out wirelengths and the failing item had a length of 0.000001.

The segfault in question is :
`+1: [1]    28587 segmentation fault  ./IfcConvert ../testfiles/743--segfault-on-geometry.ifc`

I seem to remember 28587 is a byte-offset, but I think I don't have emacs set up right, b/c char# 28587 is:
#792=IFCFACE((

[2020-02-10 12:33] sanderboer commented on #744
Debugging again and IfcConvert segfault on the very first  hole that is being cut. So in this particular case overlapping holes are not the issue, although it is a concern in general.

The code that segfaults is in the method:
`bool IfcGeom::Kernel::convert(const IfcSchema::IfcArbitraryProfileDefWithVoids* l, TopoDS_Shape& face) {`
Which tracks with #1938.

We know the first hole fails, which I as

[2020-02-10 12:44] sanderboer commented on #744
The doc for Linearproperties reads like it should measure all edges, but it is not explicit about it. In the OCCT forum GCPnts_AbscissaPoint::Length is explicit about measuring curve length. And since BRepAdaptor_CompCurve is inherited by Adaptor3d_curve, I consider it explicit about measuring the length of a wire.

But occt often has more ways that lead to rome, I think this is one of them and I

[2020-02-10 14:07] aothms commented on #744
Yes and it could be that they are implemented the same or one delegates to the other. It's just that in the community a lot of knowledge is embedded about what works well in which cases so I thought I'd ask.

`std::cout << l->data().toString() << std::endl`

It's also worth noting that this is 0 - 2pi, the full circle. So the trim is not really doing anything, but that should be detected here http

[2020-02-10 14:19] aothms commented on #781
I haven't came across that in other projects. The fact that the file has to be named CMakeLists.txt makes that difficult also. We can replicate the same behaviour already with `-DWITH_CONVERT` and friends.

Perhaps we can ask @kkremitzki and @CyrilWaechter for comments as they also did some of the packaging work for other distros.

Odd.

https://cmake.org/cmake/help/v3.0/command/target_link_librar

[2020-02-10 15:47] sanderboer commented on #744
I printed out the offending elements and #1865 is what segfaults.
It could be that in occ the trim flips , maybe the end trim of 2pi is not exactly 2pi but slightly off by a rounding error, yielding an infinitessimal curve instead of a full circle.
I'll look into it a bit further.

[2020-02-10 16:01] sanderboer commented on #744
btw I changed
`#1938=IFCARBITRARYPROFILEDEFWITHVOIDS(.AREA.,'SweepProfile',#1860,(#1865,#1871,#1877,#1883,#1889,#1895,#1901,#1907,#1913,#1919,#1925,#1931,#1937));`

to:

`#1938=IFCARBITRARYPROFILEDEFWITHVOIDS(.AREA.,'SweepProfile',#1860,(#1862,#1871,#1877,#1883,#1889,#1895,#1901,#1907,#1913,#1919,#1925,#1931,#1937));`

#1862 is the 'pure' circle def, no superfluous trimming.
This works, ifc++ comp

[2020-02-10 16:33] FreakTheMighty commented on #671
@aothms sounds like you have some promising leads. Thank you for looking into it!

[2020-02-10 19:15] FreakTheMighty opened #785 "Refactor and cleanup nix/build-all.py"
This may be something I can tackle, but wanted to capture the issue here to start the conversation.

I'd like to clean up and refactor the nix build script.

* [ ] Use python argparser to allow setting of module constants from the command line while preserving sensible defaults
* [ ] Remove global variables and replace with sensible functions
* [ ] Put all function definitions in one place so that

[2020-02-11 02:26] moonlikestone commented on #777
Because the path of my file has Traditional Chinese, the IfcConvert will show the error.
After I renamed the path, this tool can execute...

[2020-02-11 07:33] johanrd opened #786 "Regression: Segfault on reinforcingBar (example file)"
1. Convert [786--reinforcingBar--segfault--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/786--reinforcingBar--segfault--augmented.ifc) with 3b0585ae4bc0751ec99a30b2b4159c9ff7e5a925 (OCCT 7.3.0p4 or 7.3.0) and experience segfault:
```FATAL: An error occurred, status code 139```

2. Convert the same file with 33cbcc25104b1084b6d184feab181b91a764eefa (OCCT 7.3.0) and experience tha

[2020-02-11 09:59] keleisi2001 opened #787 "One question comes from IfcOpenShell-Python beginners."
I have already studied the cases described in Mr. Dion's blog.  I don’t have any more study materials at the moment.

Has anyone other articles about IfcOpenShell-Python? I would like to learn more cases and operations.

[2020-02-12 07:53] CyrilWaechter commented on #781
My packaging experience is very limited. I barely maintain some package I use which have lost their maintainer. For IfcOpenShell I gave up and use IfcOpenBot builds to get an almost last commit version.
Maybe better chance with kkremitzki which has real packaging experience as he is part of Debian science team and package many software/libraries. See detail on his [blog](https://kkremitzki.github.

[2020-02-12 09:32] aothms commented on #777
Can you copy paste the local file name here? IfcConvert should support unicode file names. Would be good to have a look.

[2020-02-12 12:32] MassMachinery opened #789 "Colors of some elements are not displayed correctly after conversion"
Hello,

I am experiencing problems with retaining the colors of the original .ifc after conversion to .dae.
As depicted in the images some of the colors are still correct, however some are lost and displayed as black.
For us this is important because our customers sometimes need the correct colors because they might indicate the diameter of bars or other relevant information.
Is this a bug or are

[2020-02-12 13:04] tpaviot commented on #768
@sanderboer could you create a PR including this fix for merge into v0.6.0 branch ?

[2020-02-12 20:17] AdriScho commented on #770
Hi @jrojoCI3

I had the same issue (#734) and I submitted a fix back in december : https://github.com/IfcOpenShell/IfcOpenShell/pull/743.

In 0.6.0 branch, IfcOpenShell does support multiple schemas at runtime. So, if you overwrite FILE_SCHEMA from IFC4X2 to IFC4, then it will get the IFC4 schema, so that's normal if you get missing elements.

Which version of IfcOpenShell are you using ?

[2020-02-13 08:02] Dogrtt commented on #777
@aothms Hi, thanks for your work.
Maybe you can help me to figure out, what's going wrong with `IfcConvert`?
I builded it up from `0.6.0` branch with boost `1.72.0` and `OCCT 7.4.0` on `Windows 10` for `MSVS2019`, then I tried to use `IfcGeom.exe` with my `*.ifc` files, and when I convert simple file with not complicated geometry, everything is ok, but if I tried to convert file with complex geome

[2020-02-13 09:18] sanderboer commented on #768
I did so a couple of days ago, please review Thomas' concerns.

https://github.com/IfcOpenShell/IfcOpenShell/pull/784

[2020-02-13 09:49] #734 closed

[2020-02-13 10:20] jrojoCI3 commented on #770
Hello @AdriScho
I've tried with master, v0.6.0 and v0.7.0 but this was the furthest I could get. Which one should be the one working? (I mean I saw the commits ahead of master of these two and it looked like 0.6.0 was more active and its commits were more recent).

That's what I thought, but as lost as I was/am with this, I couldn't just not try :). Also, thank you for all your help. I really appr

[2020-02-13 13:40] AdriScho commented on #770
You can find more details about branch strategy and IfcOpenShell development activity [here](http://blog.ifcopenshell.org/2019/12/v060.html).

Normally, if you compile from the latest commit of 0.6.0 branch, it should be working. The merge happened [back in december](https://github.com/IfcOpenShell/IfcOpenShell/commit/05a5c3c)

Let me know if you're still having issues.

[2020-02-13 21:49] EAzari commented on #770
Hi @jrojoCI3 and @AdriScho I know that some of you want work and test IFC4.2, but it seems that IfcOpenShell doesn't support it, and I think it's obvious because IFC4.2 still is a proposal and not a release
However, if @aothms and IfcOpenShell team want can work on it

I don't know about the bridge and other specs, but in the building schema IFC4.2 has 7 Enumeration Types, 15 Entities, and 2 Prope

[2020-02-14 07:46] jrojoCI3 commented on #770
I see. Thank you @AdriScho  again for all this! I will try with the 0.6.0 branch this morning with all the new commits and give you feedback. Also, thank you for sharing the link to the [development activity](http://blog.ifcopenshell.org/2019/12/v060.html). It's interesting and clarifying.

[2020-02-14 10:36] jrojoCI3 commented on #770
Ok. So I tried and the same message appeared:

Scanning file...
Done scanning file
Parsing input file took 1 seconds
terminate called after throwing an instance of 'IfcParse::IfcException'
  what():  No geometry iterator registered for IFC4X2

:(

[2020-02-16 04:36] kkremitzki commented on #781
It's been a while since I looked at the IfcOpenShell packaging (though I should have a chance to finally get it into Debian soon-ish!) and this should pretty much already be possible with the current CMake configuration. In the Debian packaging the ifcopenshell source package is split up into several binary packages, ifcopenshell0, libifcopenshell0, libifcopenshell-dev, and python3-ifcopenshell. T

[2020-02-16 10:41] freeinform opened #790 "The --use-element-hierarchy parameter for conversion .ifc in .glb"
Whether it will be possible to use the --use-element-hierarchy parameter for conversion .ifc in .glb?
Now it is only applicable for .dae. For GLTF, it would also be very useful.
Since we need to keep the hierarchy in GLTF, we currently have to convert according to the scheme: .ifc -> .dae using --use-element-hierarchy, and then .dae -> .glb using COLLADA2GLTF.

And it would be very elegant if it w

[2020-02-17 07:50] jrojoCI3 commented on #770
I understand that IFC4x2 is still a proposal and not a standard release. However, I will leave the  issue open as it hasn't been solved. Is this ok?

[2020-02-17 07:55] moonlikestone commented on #777
@aothms
Hi, my local file name is : E:\Test\測試檔.ifc
If the folder path or file name has any Traditional Chinese characters, IfcConvert will show the same error.

[2020-02-17 12:04] Dogrtt opened #791 "Revits Structural Column can't be converted to .obj by IfcConvert"
As I figure out for this moment, that problem comes from calling `context_iterator.next()` in condition of while loop inside `main()`.
I exported several simple examples (wall, wall with window, structural column etc.) from `Revit` to `IFC4 Reference view`. And when the `IfcGeom::Iterator` comes to the `IfcColumn`, converter just stops and fall back to the `CMD` without any information about issue

[2020-02-18 04:09] yafeearun opened #792 "No schema named IFC20_LONGFORM"
Hi

I tried to convert a ifc file,but it returns

Log:
[Error] No schema named IFC20_LONGFORM
[Error] No support for file schema encountered (IFC20_LONGFORM)
[Error] Unable to parse input file 'building.ifc'

kindly help me to short out this

and i'm using
IfcOpenShell IfcConvert 0.6.0b0 (OCC 7.3.0)

[2020-02-18 05:16] Dogrtt commented on #791
#768

[2020-02-18 05:16] #791 closed

[2020-02-18 08:13] AdriScho commented on #770
Hi ! I've just checked, and [my fix is incomplete](https://github.com/IfcOpenShell/IfcOpenShell/commit/05a5c3c3f9a82ff2a2d74d0b0704b10478bdd3eb). I didn't make changes on ifcgeom_schema_agnostic... The error you are seeing is "normal".
Ok, I will work on it this week. @aothms FYI

IFC4x2 is a [Candidate Standard release] at the moment (https://technical.buildingsmart.org/standards/ifc/ifc-schema-s

[2020-02-18 09:26] aothms commented on #770
Thanks for picking this up @AdriScho !

@jrojoCI3 when the geometry handling is registered, success still depends on whether the file uses geometry specific to the bridge/alignment schemas, since no support for those entities is currently implemented. If the file on uses the bridge product labels and uses conventional ifc4 geometry your file will convert fine. From the entity errors it seems that

[2020-02-18 09:33] aothms commented on #792
Supported schemas in IfcOpenShell are IFC2X3 and IFC4. With parsing only for 4X1 and 4X2. Your `IFC20_LONGFORM` is a schema from 1999 and not supported. Likely not in any of the software currently around. You can try to rename the schema definition in the file to IFC2X3 and see if part of the file converts successfully.

[2020-02-18 09:44] aothms commented on #790
I agree, would be useful, but not sure if I can find the time for this.

What I usually recommend is to use the converted XML (also from IfcConvert) alongside the generated DAE/glTF/OBJ. Adding all the parameters will blow up the size of the file significantly. The identifiers in the glTF are currently an encoding (hex rfc 4122) of the IFC GlobalId already so you can cross reference the files. You

[2020-02-18 17:45] yafeearun commented on #792
hi @aothms

may i know the supported schema types?

[2020-02-20 05:39] Moult commented on #746
Bump :)

[2020-02-21 12:43] johanrd opened #793 "Regression: Segfault on wall (example file)"
1. Convert [793--wall--segfault.ifc](https://github.com/IfcOpenShell/files/blob/master/793--wall--segfault.ifc) with d9805185eeba151b256df54c3dcc3f71fd3416f2 (OCCT 7.3.0p4) and experience segfault:

[code]
2. Convert the same file with 42e00581cd187309ebea1aba585fae06dd7dd13f (Feb. 2019), and experience that although the file does not segfault, the opening subtractions fail:

[code]
<img width="45

[2020-02-23 09:07] yafeearun opened #794 "ifcconvert not working"
./IfcConvert: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by ./IfcConvert) ./IfcConvert: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by ./IfcConvert)

getting this while run ifcconvert

how to fix this

[2020-02-23 09:15] Moult commented on #794
Perhaps you have an old version of GCC on your distro (RHEL, perhaps? They are usually quite old)

If you compile a newer version, you can then update your `LD_LIBRARY_PATH` value and then try run IfcConvert again.

On Gentoo, this is where I can find my `libstdc++.so.6`, and verify that it supports the 1.3.8 ABI:

[code]

I hope it helps - I'm not an expert in this.

[2020-02-23 11:15] yafeearun opened #795 "how to use ifcconvert in server"
i tried to run IfcConvert in server but getting
/home/XXXXX/public_html/uploads/models/2/46bb1a56188cfcc943358010e3c82782.ifc: line 1: ISO-10303-21: command not found /home/XXXX/public_html/uploads/models/2/46bb1a56188cfcc943358010e3c82782.ifc: line 2: HEADER: command not found /home/XXXXX/public_html/uploads/models/2/46bb1a56188cfcc943358010e3c82782.ifc: line 3: /0: Permission denied /home/XXXX/p

[2020-02-23 20:15] Moult commented on #795
How are you running IfcConvert? At a glance it looks as though you are trying to execute the IFC file itself. Instead, the IFC file should be given as a parameter to IfcConvert, like so:

`IfcConvert /home/XXXXX/public_html/uploads/models/2/46bb1a56188cfcc943358010e3c82782.ifc`

Ensure that the IFC file is not executable, i.e.:

`chmod -x /home/XXXXX/public_html/uploads/models/2/46bb1a56188cfcc943

[2020-02-24 08:00] jrojoCI3 commented on #770
I see. Thank you very much, @aothms :). With your consent I will close the issue with this final clarification. I understand that that support will come with the final standard release. So good luck and congratulations for such an amazing tool!

[2020-02-24 16:36] johanrd commented on #649
Hi. We have a fix ready for this, where we argue it is not necessary with a `--layerset-first` option. Picking the first material (when running without `--enable-layerset-slicing`) should be the default behavior, as the 'first' material in the IfcMaterialLayerSet is in most cases a better fallback color than outputting the fallback of "no known material". This is also how Solibri behaves:

1. Conv

[2020-02-24 16:50] johanrd opened #796 "Regression: No geometry output from wall (example file)"
1. Convert [796--wall--no-geometry.ifc](https://github.com/IfcOpenShell/files/blob/master/796--wall--no-geometry.ifc) with baf5f1891f47eed61c66a43400580b0a9e29db6b and experience that no geometry is output:

[code]

2. Convert the same file with 42e00581cd187309ebea1aba585fae06dd7dd13f (Feb 2019) and experience that geometry is output without any logged errors, although there is some borked geomet

[2020-02-25 16:49] BalintBende opened #797 "Encoding issues in file name"
Hello,

We are trying to use IfcConvert and invoke it from command line. In case of special character in names for example Chinese or Cyril characters occurs a `COLLADASW::StreamWriterException`.

Could you recommend a solution for this? Or should we avoid these kinds of characters?

`IfcConvert -v -y --use-element-guids "$IFCPATH" "$OUTPUT_FOLDER/$FILENAME.dae"`

Thanks in advance,
Cheers, Balint

[2020-02-26 03:07] keleisi2001 commented on #787
Two weeks have passed. Does anyone want to give me some advice?

[2020-02-26 06:33] Moult commented on #787
If you had a specific question, perhaps we could try to answer it here, or on the IfcOpenShell forums? Other potentially related places to ask a specific question might be the https://community.osarch.org/ or the buildingSMART forums?

[2020-02-26 08:39] amirianfar-k opened #798 "components subcategory for doors and windows"
Subcategory geometries on some cases shouldnt merge. Like window sash.
It is very important for iBIM  (interactive BIM) on facility management.

[2020-02-26 08:47] AlaaB2020 commented on #649
PR #799 is created for this issue

[2020-02-27 08:11] #770 closed

[2020-02-27 11:06] CyrilWaechter commented on #757
Hi,
It would be great if you could add python 3.8 to IfcOpenBot.

[2020-02-27 11:10] aothms commented on #757
For the time being you can also try to get ifcopenshell builds from conda-forge. They're bz2 archives that should work in regular python distributions as well.

https://anaconda.org/conda-forge/ifcopenshell/files

[2020-02-27 11:22] lgtrombetta opened #800 "Latest build of BlenderBIM Add-on"
Hi there,

First, let me thank you for the great work on this add-on. It's looking good!

Which is the preferred way for getting the latest build? In https://blenderbim.org/builds/ I see the latest available one is from over a month ago (Jan 23 2020), but a lot of commits happened since then which I would like to test.

Cheers.

[2020-02-27 13:18] CyrilWaechter commented on #757
Yes. This is what I did until now. Using conda forge build perfectly work but v0.6.0b0 it is a bit old now and some known bugs have been fixed.

[2020-02-27 14:58] MassMachinery commented on #789
Has there been any progress on this issue?

[2020-02-28 00:37] Moult commented on #800
Just released a new build today :)

When #755 is solved the documentation will explain how to patch your install if you want to try the bleeding edge stuff. It's all just Python so you can simply replace the files from the master branch.

[2020-02-28 00:37] #800 closed

[2020-02-28 01:04] keleisi2001 commented on #787
OK I try to ask in OSARCH. Thx

[2020-03-01 09:12] sanderboer commented on #744
I think I found the fix in IfcGeomWires. There is a check in convert(IfcGeomTrimmedCurve) that checks if a circle is being trimmed to be full circle (i.e. trim1 = 0 and trim2 = 2*pi ), but the precision is 1e-09, I changed it to be GV_PRECISION

In ifc++ the filw is rendered as:
![2020-03-01-1583053325_1366x768_scrot](https://user-images.githubusercontent.com/628480/75622756-27e05980-5ba4-11ea-8a6

[2020-03-01 11:55] lgtrombetta commented on #800
Great, thanks!

[2020-03-02 06:49] veyvin opened #802 "convert to xml <IfcElementQuantity> have two same attribute"
[CBM.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4273810/CBM.zip)

![image](https://user-images.githubusercontent.com/6776758/75651973-e4b1e380-5c94-11ea-8f14-380c1076d2ff.png)

<IfcElementQuantity> have two same attribute

[2020-03-03 12:05] yafeearun commented on #795
thanks @Moult . it's works

[2020-03-03 12:05] #795 closed

[2020-03-03 12:12] yafeearun commented on #794
@Moult thanks for your support, fixed by updating g++ version

[2020-03-03 12:12] #794 closed

[2020-03-03 13:23] johanrd opened #803 "Missing subtraction on wall (example file)"
1. Convert [803--wall--missing-subtractions.ifc](https://github.com/IfcOpenShell/files/blob/master/803--wall--missing-subtractions.ifc) with baf5f1891f47eed61c66a43400580b0a9e29db6b (OCCT v7.3.0p4) and experience that one of the opening subtractions fail:
<img width="500" alt="Screenshot 2020-03-03 at 14 21 26" src="https://user-images.githubusercontent.com/4601554/75779657-4ab46e80-5d5a-11ea-9ff2

[2020-03-05 16:06] StefanSkrobanski opened #804 "build-deps.cmd not working when ran from parent dir"
Hi,

I'm attempting to build IfcOpenShell on Windows 10, using the vs2017-x64 toolset.

As per the ReadMe and following suggestions from this forum I'm running the x64 Native Tools Command Prompt for VS 2017, and running `build-deps.cmd`. However it does not seem to be installing OpenCascade, and therefore 'run-cmake.bat' does not seem to work.

Am I doing something wrong?

[2020-03-06 11:53] StefanSkrobanski commented on #804
It seems the problem was in the build-deps.cmd script, "cecho.cmd" and "7za.exe" were being being called in numerous places without the correct relative path e.g "%~dp0\utils\cecho.cmd"

[2020-03-06 11:57] StefanSkrobanski opened #805 "Exception thrown when running the IfcOpenHouse example"
Hi,

I'm not having any luck running the IfcOpenHouse example. An exception is thrown in  `IfcFile::addEntity(IfcUtil::IfcBaseClass* entity)` which states that the entity schema is IFC2x3 but the file schema is IFC4.

Am I doing something wrong?

Thanks

[2020-03-06 15:56] DavidBerger98 opened #806 "IfcConvert: Normals are falsly inverted when applying MappedRepresentation"
I tested the latest IfcConvert (0.6.0b) on the Arboleda Open-BIM project and noticed that some meshes looked odd. Seems to me that their normals are inverted. The IFC contains for instance two kinds of toilets. One kind is the mirrored version of the other (so that the trigger-thing is once on the left, once on the right.) Anyway, the IFC has an IfcShapeRepresentation of type "SurfaceModel" for th

[2020-03-07 03:21] mahaidong opened #807 "a bug about to import ifc geometry to opencascade"
I develop a very lightweight  ifc viewer by opencascade and  glfw.

I find out not every ifc2X3 file can be read properly.
This is my project : https://github.com/caadxyz/ifcOcctViewer

In the main.cpp , I try two different approach to importing ifc file. Both fail in some ifc files, some work will.
like the example file IfcOpenHouse.ifc.

the code below show where maybe the bug is:

I guess  the

[2020-03-07 17:02] DaJansenGit opened #808 "normal vector detection"
First of all, thanks for the great work you are doing with this project!
I'm trying to get the rotational orientation `alpha_1` of the normal vector `n_1` (facing outside of the building) of wall elements in a project. (see image below)
![image](https://user-images.githubusercontent.com/27726960/76147498-1c59ca80-609d-11ea-9e1c-216b559a8695.png)

- I get the rotational angle between true north and

[2020-03-08 00:33] Moult commented on #808
By the way, for geolocated projects, I would not use `project.RepresentationContexts.TrueNorth`, as it has been deprecated. It should be stored in the `IfcMapConversion` entity as `XAxisAbscissa` and `XAxisOrdinate`. In IFC2X3, there is an `EPset_MapConversion`.

Also, note that in addition to the rotations you have already gotten, you will need to go jump through the spatial tree to the world coo

[2020-03-11 14:11] lawsonAGMT opened #809 "When will a new version be pushed to Conda?"
The most recent version of ifcopenshell in conda-forge (v0.6.0b0, py38h67e710d_5, MacOS) is not able to mesh a simple ifc file. However, the release on the website [IfcOpenShell-python for python 3.7 64bit OSX](https://s3.amazonaws.com/ifcopenshell-builds/ifcopenshell-python-37-v0.6.0-e44221c-macos64.zip) works great.

[2020-03-11 14:19] aothms commented on #809
@looooo is the maintainer there, see https://github.com/IfcOpenShell/IfcOpenShell/issues/582 I'm fine with tagging the current v0.6.0 head if that helps.

[2020-03-11 14:24] lawsonAGMT commented on #809
Thanks for the quick response! That would be helpful.

@looooo is there anything else that needs to be done?

[2020-03-11 14:51] aothms commented on #808
You could use IfcOpenShell to evaluate the full BRep of the geometry and look (for example) at the normal direction of the largest face surface. Also regardless of the Body representation (CSG/BRep/Extrusion) there should/could be an additional Axis representation that more or less gives this direction (often a polyline or trimmed curve)

[2020-03-11 15:08] aothms commented on #806
Sorry for the late reply.

Yes, I think that's how the world works. Reflection implies a inversion of the normals. I think most tools will detect the reflection in the transformation matrix (determinant < 0 I guess) and reverse the normals in that case and I guess IfcOpenShell should do the same. I'll look into it thanks.

It seems OCCT already detects the negative determinant but I'm not sure if

[2020-03-11 15:19] aothms commented on #805
Sorry for the late reply. You're fully correct, not sure how long that must have been broken. Fixed in https://github.com/IfcOpenShell/IfcOpenShell/commit/3e55297eb0e79f48f1589e3a31212154e73a3522

[2020-03-11 15:24] aothms commented on #804
Yes, I recall there have been strange issues before with complaints about the script not being able to call cecho or 7za.

It should be the case that the PATH is augmented with the utils path here https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/win/vs-cfg.cmd#L152 as `%~dp0utils;%PATH%`

I don;t know why that would be failing. Maybe because there is no slash (`%~dp0\utils;%PATH%`?) are yo

[2020-03-12 14:28] htlcnn commented on #738
https://github.com/Gaia3D/mago3d
I have just stumbled upon this project. It seems to serve some steps of the workflow.

[2020-03-13 09:51] StefanSkrobanski commented on #805
Thank you!

[2020-03-13 09:51] #805 closed

[2020-03-13 09:55] StefanSkrobanski commented on #804
Thankyou for your response.

I was running build-deps.cmd from its parent directory, with no spaces in the path.

[2020-03-14 11:43] shutterfreak commented on #747
I think the method to set `FileName::author` is not exposed in Python (nor are any other methods for setting any other IFC header attributes).

You can check this by using Python with the command-line. The Python interpreter supports tab completion. You can also use `dir()` to list all attributes in a Python object.

[2020-03-16 11:44] CarpgianeDS opened #810 "Error on Import"
Have created exported IFC in Revit and Imported it into Blender

Get errors on import and building is partially imported.

I'm added the error log from Blender.

I'm on Blender 2.82

[Import Error.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4337962/Import.Error.txt)

[2020-03-16 12:03] aothms commented on #810
Thanks for reporting. My guess is this is fixed by @Moult in https://github.com/IfcOpenShell/IfcOpenShell/commit/8008ad16b1acf6a5699bfb9d4e2aaeee1d6e1a92 It's just a matter of providing new builds or you can update your code locally yourself according to the changes in that commit.

[2020-03-17 09:26] Moult commented on #810
Yes, sorry for the build with the bug :) I'll release a new version soon!

[2020-03-17 09:26] #810 closed

[2020-03-17 11:39] Moult commented on #738
Thanks @htlcnn ! I had seen it before but forgot about it! I've added it to the list here: https://wiki.osarch.org/index.php?title=AEC_Free_Software_directory#GIS

[2020-03-17 14:47] aothms commented on #757
The master build just came in https://github.com/IfcOpenBot/IfcOpenShell/commit/3c355b4848e939fdb3da7872a1bcbb60d76ef11b#commitcomment-37874088

Hopefully same for v0.6.0 in a couple hours

Conda forge update is also in the making https://github.com/conda-forge/ifcopenshell-feedstock/pull/7

[2020-03-17 14:47] #757 closed

[2020-03-17 14:55] aothms commented on #804
Ok, **parent directory**, that explains it then perhaps. Let's relabel the issue and keep it open. If you have a working solution (fully qualifying all util paths) it would also be great if you can turn that into a Pull Request.

[2020-03-17 20:17] #809 closed

[2020-03-18 16:19] lawsonAGMT opened #811 "Python meshing difference with 0.6.0 latest and version on website"
Hey, it's me again.

I thought I had narrowed down the problem to a difference between 0.6.0 on the [website](http://ifcopenshell.org/python) and 0.6.0b0 in conda-forge. However, now that 0.6.0 is in conda, I'm still running into the same problem (described below).

Given [this](https://github.com/IfcOpenShell/IfcOpenShell/files/4350033/complex_geom.ifc.zip) ifc file, I attempt to convert it to a

[2020-03-18 22:57] Moult opened #812 "Geom occ_utils imports V3d, AIS, Graphic3d, which are missing DLLs in Conda OCE"
The latest IfcOpenBot build `e44221c` has a little thing that breaks the BlenderBIM Add-on out of the box. This is the [relevant history #736 ](https://github.com/IfcOpenShell/IfcOpenShell/issues/736) and the [PR that caused breakage](https://github.com/IfcOpenShell/IfcOpenShell/pull/737) This is the error:

[code]

This is caused by `geom/occ_utils.py` L30:

[code]

For some reason, the OCE build

[2020-03-18 23:15] Moult commented on #811
If it helps at all, the master branch of the Blender add-on works as expected. (by the way, the Blender importer on the website, is very outdated, the newest version is https://blenderbim.org/ - and I will release a new build today)

The BlenderBIM Add-on uses the latest build from the IfcOpenBot/IfcOpenShell repo: https://github.com/IfcOpenBot/IfcOpenShell/commit/e44221c9c2f65f062e3f9aa7af28c22cc

[2020-03-18 23:37] lawsonAGMT commented on #811
That looks like an interesting tool, thanks for pointing it out.

Just to clarify though, I'm not writing a Blender importer, I'm trying to integrate mesh conversion in a standalone python application being used for other purposes. I need more control than the ifcconvert app provides out of the box.

[2020-03-19 00:13] Moult commented on #811
That sounds cool :) Feel free to steal some code [here](https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcblenderexport/blenderbim/import_ifc.py) :)

To package the BlenderBIM Add-on, I use the IfcOpenBot builds (not Conda) for IfcOpenShell, and then I use Conda builds for other deps like Python-OCC, and OCE. [This Makefile](https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/sr

[2020-03-19 06:06] Moult commented on #747
@shutterfreak I think you are correct, that there is no way to do it in Python - that's why I opened this bug :)

[2020-03-19 14:52] lawsonAGMT commented on #811
Hmm I tried modifying my script slightly to do it more like yours to no avail.

There must be something different in the build between the conda version and IfcOpenBot builds.

[2020-03-20 09:12] aothms commented on #811
The IfcOpenBot builds have a static version of occt (7.3.0p3) compiled into it. The conda builds rely on external dynamic libraries. First thing to check would be what occt version you are using and if up/downgrading helps. Second, for debugging, it'd be good to know if when using the PythonOCC viewer you get similar results as when using the meshes.

[2020-03-20 09:21] aothms commented on #812
Hm, so it's not about the `.Core.` part, it's just about making the modules now import at the beginning and somehow when you have downloaded the modules manually the runtime linker cannot find them?

I think it'd be good if you can check if you can reproduce this behaviour in a miniconda environment with dependencies properly installed through conda to see if it's related to the manual download or

[2020-03-20 10:04] ninichki opened #813 "OCC 7.4 Windows"
Is it possible to use OCC 7.4 in vs2017-x64?
If I check out 7.4 Version it gives me a linkere error. OCC is compiled with MD Option and IfcOpenshell with MT.

[2020-03-23 13:01] DavidBerger98 commented on #806
Thank you for your response and sorry as well for my late reply.

I can imagine you are pre-occupied with other things at the moment, but since I have little to no expertise in this area, would you know anyway how long it would take you to implement this?

Thank you in advance.

[2020-03-23 20:58] lawsonAGMT commented on #811
Thanks I will look into those suggestions and let you know

[2020-03-24 20:54] Stinkfist0 commented on #804
Ah yes, I'm pretty sure this was a known limitation of the script from the get-go. I think I documented it (at least implicitly in the instructions), but if not, it would be nice to be mentioned.

[2020-03-24 22:28] Moult opened #814 "Segmentation fault on loading tessellation geometry"
Tested using latest IfcOpenBot build.

[MaintenanceZoneIFC4_ver2.ifc.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4377928/MaintenanceZoneIFC4_ver2.ifc.txt)

Steps to reproduce:

[code]

I tried using gdb but it seems the IfcOpenBot builds don't have debugging symbols.

[2020-03-25 13:21] aothms commented on #804
Thanks for confirming @Stinkfist0 I added a check in builds-deps to see if `%~dp0` matches `%CD%`. I think that should do the trick.

[2020-03-25 13:21] #804 closed

[2020-03-26 04:28] Moult commented on #814
Cheers :) Does the commit fix it?

[2020-03-26 07:37] aothms commented on #814
Hope so ;) new IfcOpenBot builds underway

[2020-03-26 15:15] xeolabs opened #815 "Can I get a usage example of IfcConvert --model-offset ?"
Hi, can I get an example of how to use ````IfcConvert```` option ````--model-offset````?

This gives "input file not specified", which makes sense:

````./IfcConvert -v -y  --model-offset=-10000.0;100.0;100.0 input.ifc output.dae````

This gives "Invalid use of --model-offset":

````./IfcConvert -v -y  input.ifc output.dae --model-offset=-10000.0;100.0;100.0````

I'm not sure what's invalid there.

[2020-03-26 16:52] Stinkfist0 commented on #815
I don't have IfcConvert available right now but I think you must use `IfcConvert input.ifc output.dae --argument1 --argument2...`

[2020-03-26 17:45] aothms commented on #813
This is not related to the OCCT version. IfcOpenShell is compiled with MT (mostly for historical reasons, since the precompiled ICU we used on Windows was compiled with MT). If you use the build script and change the OCCT_VERSION there you can use 7.4.0 https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/win/build-deps.cmd#L230

[2020-03-26 17:54] aothms commented on #802
You're right for some reason the code for that was duplicated. Thanks for reporting.

[2020-03-26 17:54] #802 closed

[2020-03-27 09:25] Moult commented on #814
https://github.com/IfcOpenBot/IfcOpenShell/commit/ed989836872b137044d62e7674eb00b74fcee26d - the IfcOpenBot build seems to be missing Blender Python 3.7 for Windows? What happened? I didn't realise Blender had moved to Python 3.8?

[2020-03-27 10:16] aothms commented on #814
Not sure what happened there :( I'll look into it.

Op vr 27 mrt. 2020 om 10:26 schreef Dion Moult <notifications@github.com>:

[2020-03-27 12:32] aothms commented on #768
@sanderboer @tpaviot  I stepped through the entire occt algorithm and I think I found the culprit. In case of parallel edges the ExtCC class no longer stores the points (and therefore parameters). It only stores the squared distance (`mySqDist`, which in a way makes sense). NbSolutions is based on the size of `mySqDist` but since the Points and Parameters are not stored, the subsequent call to `Pa

[2020-03-27 13:43] sanderboer commented on #768
Surely a hero's journey. It is said that many who step into the occt code are never heard from again...

[2020-03-27 15:41] FreakTheMighty opened #816 "SweptSolid missing faces"
Apologies for [double posting](https://sourceforge.net/p/ifcopenshell/discussion/1782717/thread/7a7839a1ba) from the forum, but I think it makes more sense to track this as an issue as I've found some existing tickets that seem related.

---

## Overview
I'm finding that an IfcBeam is missing faces. It should be a U shape, but `create_shape` is generating an L instead. I've tested with `IfcConvert

[2020-03-27 15:55] sanderboer commented on #768
The testfile convert completes succesfully.

[2020-03-27 21:07] FreakTheMighty commented on #816
I'm not sure if these are related, but there seems to have been recent issues related to `wire_intersections`. In this issue, nothing crashes, but it does seem like intersection detection may not be handling things in an ideal way.

Two things come to mind.

1. When it detects an intersection, it grabs the "largest" section. Is there a way it could process both section?
1. Is it possible that thes

[2020-03-29 06:21] Moult commented on #814
By the way, the latest build also is missing Blender Python 3.7 for Windows: https://github.com/IfcOpenBot/IfcOpenShell/commit/c99bf6e63a30e2883f93b41df9198574e17df6fc

[2020-03-30 00:43] Moult commented on #748
A CSS style selector has now been implemented in IFCCSV. Marking as closed. I plan to also implement an XPath style selector, then over time see which one is better in which scenarios :)

[2020-03-30 00:43] #748 closed

[2020-03-30 00:44] Moult commented on #746
Bump :)

[2020-03-30 08:53] aothms commented on #746
Sorry for the delay. Have a look if ^ fixes your problems.

[2020-03-30 08:57] aothms commented on #814
Fixed, new builds underway for 0.6 as well

https://github.com/IfcOpenBot/IfcOpenShell/commit/8625aab5f0c2c4752eb10ad20daee744547b377e#commitcomment-38127532

[2020-03-30 09:23] aothms commented on #815
My guess is that this is a locale issue. `--model-offset=-10000.0;100.0;100.0` looks correct to me. Are you on a German speaking laptop @xeolabs? Can you try with commas instead so `--model-offset=-10000,0;100,0;100,0`. If this is indeed the issue we should either document users to use their current locale or make the code locale independent.

[2020-03-30 09:32] Moult commented on #746
Thanks :) I really appreciate it! Will wait for the new IfcOpenBot build to test!

[2020-03-30 09:55] xeolabs commented on #815
Yeah I'm on a German locale, at least this is what ubuntu locale command tells me:
[code]
However
[code]
Still gives me
[code]

Actually BTW what I'm likely to use instead is either the ````--site-local-placement```` or ````--building-local-placement````, which are working nicely, or maybe ````ifcPatch```` if ````IfcConvert```` struggles with big models (so this is not a pressing issue for me BTW)

[2020-03-30 09:56] xeolabs commented on #815
(Accidentally close this issue)

[2020-03-30 14:07] FreakTheMighty commented on #816
Commenting out the `wire_intersection` fixes the bottom tracks in the sample file above ☝️ . I don't see any side effects, but obviously it serves some purpose.

https://github.com/IfcOpenShell/IfcOpenShell/blob/d9805185eeba151b256df54c3dcc3f71fd3416f2/src/ifcgeom/IfcGeomFunctions.cpp#L1081-L1084

Do you have a repo of sample files to test against? I imagine that there's a lot of whack-a-mole when

[2020-03-31 07:11] Moult commented on #771
To clarify on this issue, I note that it is possible to do create_shape on a particular item in a representation, this allows me to achieve this.

Similar to this issue, is it possible to use the geom iterator to pull out individual representation items? For example, if item 1 has style A, and item 2 has style B, then when I iterate, I want to be able to distinguish which item has which style. I u

[2020-03-31 10:00] johanrd opened #818 "Regression: Segfault on beam (example file)"
1. Convert [818--beam--segfault--augmented.ifc](https://github.com/IfcOpenShell/files/blob/master/818--beam--segfault--augmented.ifc) with a5fd66706a5f3b4fca8c969570708c292ca8b1d6 (OCCT 7.3.0p4), and experience segfault:

[code]
2. Convert the same file with 42e0058 (Feb. 2019), and experience that the file converts successfully:
<img width="400" alt="Screenshot 2020-03-31 at 11 58 58" src="https:

[2020-03-31 10:05] Moult commented on #818
Out of curiosity, @johanrd  - are you running these in an automated test case fashion? If so, where can I find the test suite?

[2020-03-31 11:16] johanrd commented on #818
@Moult We have no atomated test setup yet, unfortunately.

When encountering issues on the currently most stable setup (latest v0.6.0 as of now paired with OCCT 7.3.0p4), I run a manual test on some previous builds just to check for regressions.

I know that @aothms has used some automated testing scripts before, see e.g. [this comment](https://github.com/IfcOpenShell/IfcOpenShell/issues/595#issue

[2020-03-31 13:12] aothms commented on #771
You can use create_shape on an individual representation item. But indeed within the returned mesh, the provenance to individual items is not retrievable. We could add another array for that similar to the material_ids. What do you propose?

The context name is appended to the mesh id. Often as e.g. `-body`. And indeed as you say you can call create_shape() with the representation and track their

[2020-03-31 21:42] Moult commented on #771
If another two properties were added, e.g. `shape.geometry.representations` (which would hold things like `Model/Body/MODEL_VIEW` (note that Body alone is not enough, since all three are required for the user to apply filtering in the viewer), and then `shape.geometry.representation_ids` that would resolve the issue.

I don't mind not using iterator, but the three showstoppers for create shape cur

[2020-04-01 23:18] Moult opened #820 "Develop IFC2CA as part of IfcOpenShell?"
@aothms  - a while ago, @Jesusbill and I started work on a IFC<-->Code_Aster (structural simulation software) script. There are are two parts to this: the first part extracts IFC into a JSON data file, and then the second part which parses the JSON into various input files for the structural simulation.

Currently the first part lives in both this repo as well as his own repo, and the second lives

[2020-04-02 01:49] Moult opened #821 "Potential non-fatal geometry processing issues"
There are a series of non-fatal, but very strange geometry output when this particular file is processed by IfcOpenShell.

File is here: https://drive.google.com/file/d/1BNykQB4wYe8jc3dTrzqP2SFzsxMTagcQ/view

(sorry, it is 150mb, no smaller version)

See the output in Blender (some failed booleans, some very strange circles appearing in all sorts of places)

![image](https://user-images.githubuser

[2020-04-02 22:51] Moult opened #823 "Missing geometry on import"
Sample file: https://forum.freecadweb.org/download/file.php?id=25870

Credits to @berndhahnebach for discovering this one.

Blender on the left shows a few missing rebar pieces. IfcQuery on the right shows it correctly.

![image](https://user-images.githubusercontent.com/88302/78306800-fb976e80-758f-11ea-96b4-1be40e3acfff.png)

Worthwhile noting that XBim does a worse job of showing geometry in th

[2020-04-03 08:47] aothms commented on #820
@Moult @Jesusbill thanks for your efforts on this. I think this is ground breaking work and I think people are following this closely.

I've added @Jesusbill as a developer with write access. You're more than welcome to continue in this repo. If you prefer something separate that's also fine.

What are the current remaining open challenges? Is there something I can help with? I'm not a structural

[2020-04-03 15:03] y5wang opened #824 "Problem open sample IFC file with python"
I cannot even open the sample IFC file with `ifcopenshell.open()` with Python. My environment is:

- Windows 10 Pro 64bit
- Anaconda3
- Using Anaconda Python 3.7

To reproduce:
[code]
Here is the output when trying to open the IFC file in Python:
[code]

Any help is appreciated.

[2020-04-03 15:08] Jesusbill commented on #820
Wow thanks a lot @aothms for this possibility and thank you @Moult for starting this collaboration in the first place.

There are many challenges ahead. Currently we are exploring the structural-analysis-domain classes in the IFC schema and the first goal in my view would be to complete this part in terms of geometry and properties representation, connectivity, loads etc. and the correct implement

[2020-04-03 16:09] lcpt commented on #820
I have some experience with C++, I can help if needed.

[2020-04-03 22:55] Moult commented on #824
The code looks valid to me. Is another program locking the IFC file somehow, or not having permissions to access it? What is the file encoding?

[2020-04-03 22:59] Moult commented on #820
@Jesusbill I think it would be great for you to do work in `src/ifc2ca/*` for all the code :)

I also think that there should be another repo created to hold test / demo IFC files, like IfcOpenShell/test-cases. This can store all of the regression files that @johanrd  is using, as well as test IFC files that the BlenderBIM Add-on and FreeCAD community use to check regressions... and it can store s

[2020-04-04 00:11] Jesusbill commented on #820
Ok @Moult I like your proposal, it would indeed make sense to have the test-cases in a separate repo.

[2020-04-04 07:05] aothms commented on #820
Yes, the large majority of functionality from Open Cascade is available through pythonOCC, which I think is bundled by @Moult in BlenderBIM.

@lcpt perhaps most related this, is see if we can make the ifcopenshell.geom.iterator (a wrapper around a C++ class) more interactive. @Moult has some ideas, below are some of mine.

* request both pythonOCC shapes as well as Blender meshes (now there is one

[2020-04-04 14:28] y5wang commented on #824
@Moult Thanks for the reply.

No, there is no other program locking the IFC file which was just downloaded using the link provided in the README (BTW, the link http://projects.buildingsmartalliance.org/files/?artifact_id=4278 is not working). The same symptom happens on Ubuntu 18.04 as well as macOS Catalina:

[code]

[2020-04-04 14:49] lcpt commented on #820
@aothms Are you talking about the iterator implemented [here](https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcGeomIteratorImplementation.h)?

[2020-04-04 14:52] Jesusbill commented on #824
Hi, it could be the file, try with this [IfcOpenHouse.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4431725/IfcOpenHouse.zip)
I reproduced your steps exactly in my Windows machine. I could not download the `Munkerud_hus6_BE` file but I tried with this old file and it does open it

[code]

[2020-04-04 15:47] y5wang commented on #824
Thanks @Jesusbill. Looks like it is the file. Now I can at least open it without the error. Here is the output from macOS:
[code]

Thanks again. The link to download `Munkerud_hus6_BE.ifc` is in the main README:
[code]

[2020-04-04 18:33] Jesusbill commented on #824
Sounds good, glad to hear it

Yes, for some reason I cannot succeed downloading it. I get this message

[code]

[2020-04-05 15:07] aothms commented on #820
@lcpt yes that's the one. Unfortunately it's one of the messiest files in the repository. A cleaner entrty point is perhaps the `BRepElement` class https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcgeom/IfcGeomElement.h#L176 which is what the iterator constructs based on the processed representations. Triangle meshes (`TriangulationElement`) get derived from that. You have access to

[2020-04-05 16:04] y5wang commented on #824
@Jesusbill Thanks for the reply. The download seems OK for me on PowerShell 6.2.2:
[code]
It looks like this file is of 2X2_FINAL instead of 2X3.

[2020-04-05 18:24] Jesusbill commented on #820
Based on what has been discussed  we can proceed with:
- a dedicated folder in `src/ifc2ca/*` for all development files
- a dedicated repository in `IfcOpenShell` for `ifc2ca` examples/test-cases organized as folders.
- a possible inclusion of the structural `ifc` example/test-case files in the repo used for regression testing (?)

I will be proceeding shortly with the first step.

Just keep in mi

[2020-04-05 22:32] Moult commented on #824
If you change it to read "2X3" instead of "2X2_FINAL", then IfcOpenShell will attempt to read it :)

[2020-04-05 22:38] Moult commented on #682
Would it be possible to do `iterator(settings, ifc_file, filter_callback)`, where `filter_callback` is a python function which gets passed the IFC element, which can then decide whether or not to process it?

This issue cropped up again recently on import of rebar files. Rebar (which is thousands of IfcSweptDiskSolid) is more efficiently parsed by just parsing the profile curve and not converting

[2020-04-05 22:39] Moult commented on #792
@yafeearun  did this answer it?

[2020-04-06 12:51] thibauthelman opened #825 "Crash python console with msys2 compiled IfcOpenshell"
Hello everyone,

I have compiled IfcOpenshell branch 0.7.0 on windows 10 using msys2. The intent is to use the python wrapper. Unfortunately, when trying to use it it crashes my python console.
Here are the steps I took:
1. Get the build tools mingw-w64-x86_64-toolchain mingw-w64-x86_64-boost make swig
2. Build Opencascade as static libraries
3. Build IfcOpenshell with the cmake options in the png

[2020-04-06 13:14] y5wang commented on #824
@Moult Perfect. It works after I change it to "2X3". Thanks.

The error message can be a bit more informative. :)

Cheers.

[2020-04-06 13:14] #824 closed

[2020-04-07 09:11] lcpt commented on #820
Ok, I'll take a look and try to understand how it works.

[2020-04-07 14:20] Jesusbill commented on #820
@aothms I am trying to push the first commit directly to the v0.6.0 branch but I get a permission denied error
[code]
I used SSH to clone the repo since it is more convenient and secure but maybe this has something to do with it?

[2020-04-07 14:27] Jesusbill commented on #820
Same error also with HTTPS
[code]

[2020-04-07 14:43] aothms commented on #820
@Jesusbill it seems you haven't accepted the invitation yet to the Developers team. In github you need to click the accept button. Some other platforms process the invitation immediately.

[2020-04-07 14:56] Jesusbill commented on #820
Ooops ... you were right, thanks and sorry for bothering for no reason.

[2020-04-07 15:07] Jesusbill commented on #820
Do you see this separate repo within the IfcOpenShell organization? Can I create one called something like `ifc2ca-test-cases`?

[2020-04-07 23:26] Moult commented on #814
Confirming fixed!

[2020-04-07 23:26] #814 closed

[2020-04-08 01:55] Moult commented on #85
Sorry to resurrect this bug, but I just tried to import data which had a bounding box representation and found that IfcOpenShell wouldn't create it.

I also tried tricks like changing the shape representation identifier to "Body" to trick IfcOpenShell into parsing the IfcBoundingBox, to no success.

[2020-04-08 01:59] Moult commented on #823
Note that now in the BlenderBIM add-on i actually treat rebar as a special case and ask IfcOpenShell to only create shape for the directrix, not the entire ifcsweptdisksolid, because Blender can natively handle swept disks. With this approach, I am able to import the entire model successfully (and faster too, since creating breps for rebar is a very slow process).

FreeCAD also takes this approach

[2020-04-08 04:56] Moult commented on #668
By the way, in the latest buildingSMART meeting in Vilnius, it was agreed to move to the latest version of STEP, which would support referencing and anchors. Whoo!

https://github.com/buildingSMART/NextGen-IFC/issues/38
https://github.com/buildingSMART/NextGen-IFC/issues/9

[2020-04-09 00:19] Moult opened #829 "Proposal to create a new IfcOpenShell-python util module"
Ping @berndhahnebach and @yorikvanhavre and @aothms

IfcOpenShell is used in a lot of utilities, which can lead to duplicate code if the same things are implemented again and again.

I propose to create a new `util` module, which can be imported as `import ifcopenshell.util`. It will contain methods that can be reused across the many implementations.

Here are four functions I propose to add first

[2020-04-09 06:46] Moult opened #831 "IfcSectionedSpine geometry support"
Related to: https://forums.buildingsmart.org/t/display-problem-with-sectioned-spines/2580

I tried to create a test case with their code snippet. I could not view it with IfcOpenShell.

Not sure if the file is valid at all, but I thought I'd post it here in any case :)

[test.ifc.txt](https://github.com/IfcOpenShell/IfcOpenShell/files/4454461/test.ifc.txt)

XBim can parse it:

![image](https://use

[2020-04-09 08:14] aothms commented on #829
Thanks for this initiative. Great idea.

Regarding properties and quantities: how about just enumerating all properties and quantities into a `defaultdict(dict)`. So that users do something like

`util.get_all_properties(elem)["PSet_WallCommon"].get("IsExternal")`.

Advantages:

* Users can store the entire dict: more efficient when multiple props are required (in the other case one can short circ

[2020-04-09 09:21] johannesmichael opened #832 "Failed to create shape with geom.create_shape()"
I am processing an ifc file with geom.create_shape(), and some entities are failing.
[code]

Error:
[code]
Investigating on the failed entities, I found, that these are all MappedRepresentations.
[code]

Could this be the problem? How to deal with that?

IFC2x3 TC1
ifcopenshell              v0.6.0           py38h8cc3cf7_0    conda-forge
pythonocc-core            7.4.0            py38ha02cdc8_0

[2020-04-09 09:32] Moult commented on #829
Sounds great to me! I'm more than happy to make a start on the module if @yorikvanhavre and @berndhahnebach are also keen, and then we can collectively tweak it. I like your suggestion about a default dict!

Unit is tricky - we need some util functions for unit conversions. I've got some code already related to that... but we need to agree on the function signature.

Should I do this in a PR, or?

[2020-04-09 12:29] Alex-VH opened #833 "Exclude entities problem js"
### Overview
Hello, I am having a trouble using **IfcConvert 0.6** on my Ubuntu machine.
I am developing a web app with nodejs(12.16.1) and don't manage to use the following option :
`--exclude=entities IfcOpeningElement`
The command works in a shell but not  when i call it in my script.

### Log
[code]

### Example used:

[Test-Maison.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/445606

[2020-04-09 15:31] yafeearun commented on #792
@Moult the mentioned schemes are works but  not IFC20_LONGFORM schema, may i know list of supported schemas, it'll useful for me and i can convey it to my team.

[2020-04-09 16:23] Jesusbill commented on #792
@yafeearun the answer to your question has been given already twice.

You asked for the supported schemas. The supported schemas are: IFC2X3 and IFC4

 IFC20_LONGFORM  is not a supported schema so it will not work

[2020-04-09 18:25] yorikvanhavre commented on #829
Like the idea! I'd definitely try to use that in FreeCAD ;) and i like using a dict or defaultdict as well.. it's easy later on to add more specific stuff..

[2020-04-09 23:02] Moult commented on #833
Try `--exclude entities IfcOpeningElement` ?

[2020-04-10 07:25] Alex-VH commented on #833
When I try `--exclude entities IfcOpeningElement` I got this message:
[code]

[2020-04-10 07:45] Alex-VH commented on #833
I find the problem.
As I am using this fonction `execFile(ifcConvertPath, args)` which takes the path to the IfcConvert binary and the arguments of the function in an Array of strings.
The string `'--exclude=entities IfcOpeningElement'` must be divided into two strings as it is two arguments like that : ` '--exclude=entities'` and `'IfcOpeningElement'`.
So the Array looks like : `['pre-arg1','pre-

[2020-04-10 07:45] #833 closed

[2020-04-10 09:58] aothms commented on #829
For me a PR is not necessary.

Re unit functionality, there was somebody on the forums willing to contribute something https://sourceforge.net/p/ifcopenshell/discussion/1782717/thread/1a1c98e843/#c68f

@yorikvanhavre I will also invite you as a developer so that if you have additions to the util module or elsewhere you don't need depend on us.

[2020-04-10 11:22] yorikvanhavre commented on #829
Humbled by your trust @aothms . Thanks!!

[2020-04-11 01:21] Moult opened #834 "Support for read and write .ifczip"
It would be good to start adding different file handler supports for IFC formats - a nice easy one to start with is IFCZIP - it would be great to do `ifcopenshell.open('foo.ifczip')` and `foo.write('bar.ifczip')` and have it all Just Work (TM) :)

... and in the future, ifc{xml,json,sqlite,hdf...} :)

Stephen Leger has some sample code for a quickie implementation on the Python side.

[2020-04-11 01:24] s-leger commented on #834
[code]

[2020-04-11 08:41] aothms commented on #834
Note that ifcxml is supported for reading https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcparse/IfcFile.h#L221 but it's not well tested (is it exposed in Python?). IfcXML is different for ifc2x3 and ifc4 and not really standardized, I think it's mostly hypothetical and not really used in software. But if any of you want to experiment with it, it'd be great.

I think IfcZIP support

[2020-04-11 10:19] Moult commented on #834
Oooh, I'd love to test out IFCXML. I'm not sure if it's exposed in Python.

How easy is it to implement IFCZIP in C++? If you think it might take a while, I'll do the Python workaround for now.

[2020-04-11 12:16] aothms commented on #834
Quickly added something, only to `ifcopenshell_wrapper` feel free to connect it to `ifcopenshell.open()` based on extension or in some other form.

https://github.com/IfcOpenShell/IfcOpenShell/commit/42fedf81c4e49f1cb4f3934a0ed9dd2049fad84b

Not hard. But don't count on me doing this anytime soon as we have pretty good work arounds. IfcConvert users can just use `unzip` etc.

[2020-04-11 22:41] CyrilWaechter commented on #632
Good news. Both v0.6.0b0 and git version master and v0.6.0 can be on Archlinux thanks to the original packager mickele and another Arch user skrat.
In case you are interested. It was mainly a SWIG version issue. SWIG3 works, SWIG4 doesn't.
* [Patch applied for v0.6.0b0](https://aur.archlinux.org/cgit/aur.git/commit/?h=ifcopenshell&id=f1c02b7e7a7f94a9477d41713c4a22f13e5edd2d)
* [Patch applied for g

[2020-04-12 00:19] Moult commented on #834
Cheers :) I've put in the workarounds, we can perhaps keep this bug open as a reminder to implement.

I'll wait for the bot build to test IFCXML :)

[2020-04-12 03:01] Moult opened #835 "Segfault when iterating geometry through GUINNESS.ifc"
Not entirely sure how to debug this one, as I can't seem to figure out which element is causing it to segfault. I've emailed the file to @aothms as it isn't to be shared publicly.

Edit: there is a known issue about lacking a IfcSurfaceStyleShading Transparency attribute, but I don't think that it causing the segfault.

[2020-04-12 08:31] adnanmakda opened #836 "ifcwall class - error"
I tried assigning IFCwall class to an object and then exported it as IFC file. But when I tried opening it in Xbim as well as Revit, it shows an empty file. Most of the other classes are working well.
Thank you.

[2020-04-12 08:34] Moult commented on #836
You might need to describe a little bit more :) Are you using code to export an IFC file? Are you using the BlenderBIM Add-on? Do you have a test file?

[2020-04-12 09:08] adnanmakda commented on #836
I am using BlenderBim addon. So what I did was I used BlenderBim addon, did a quick setup and assigned Ifc class to the default cube. In the outliner, it showed that the change was made, after which I exported it. But when I opened the exported file in xbim, nothing showed up. So then I tried the same thing with pile class and that worked. I have attached the files below.
[test_1.zip](https://gith

[2020-04-12 09:21] Moult commented on #836
@adnanmakda did you make sure that the object is selected when you hit export? Only selected objects are exported.

[2020-04-12 23:26] Moult commented on #760
Closing this issue as the IFC entities related to point clouds are not yet in the official spec, so this is a non-issue.

[2020-04-12 23:26] #760 closed

[2020-04-12 23:28] Moult commented on #751
This has been implemented a month ago: https://github.com/IfcOpenShell/IfcOpenShell/commit/5454c5b1e7fdc17db91942485b7d89a4bfd7c56d

Closing issue.

[2020-04-12 23:28] #751 closed

[2020-04-12 23:35] Moult commented on #746
I've just tested this, and indeed there is no more segfault (woohoo!), but there is a problem for `tower - 50 storeys.ifc` for both multiprocessing and no multiprocessing. At the bottom of the tower, some panels are missing, and only the spandrel of the panel is shown, whereas the glazing portion of the facade seems to be missing. See picture:

![2020-04-13-093331_777x602_scrot](https://user-image

[2020-04-13 08:34] aothms commented on #746
I'd say our priority should be something like: (a) fix segfaults (b) fix bugs on valid input (c) graceful handling of invalid input. From that point of view I'd rather prioritize some of the other issues over further improvements on this issue.

I can also imagine that based on ifcopenshell.validate and IfcPatch we can think about applying fixes to IFC files prior to feeding them to the geometry h

[2020-04-13 08:45] Moult opened #837 "Proposal to create IFC test case build server"
I am envisioning a workflow where:

 1. A server has a repository of many IFC test files
 2. The server has the latest IfcOpenBot build of IfcOpenShell
 3. The server automatically headlessly opens up each IFC test file in turn with Blender, and takes a render snapshot from a particular angle
 4. Results are published online for us to review. If it segfaults, it reports that it failed.

This will

[2020-04-13 09:36] Moult commented on #746
Absolutely :) feel free to prioritise other issues - the order of priority makes sense. I will close this issue, as the file seems to contain many validation errors, so is probably not digging too deeply into it.

[2020-04-13 09:36] #746 closed

[2020-04-13 16:16] yafeearun commented on #792
@Jesusbill thanks

[2020-04-13 16:16] #792 closed

[2020-04-14 02:45] FreakTheMighty commented on #816
@aothms I bumped into your [commit](https://github.com/IfcOpenShell/IfcOpenShell/commit/df81490f86798153f253d55cfec9231cf5a5fabe) that seems to begin to address the bug in this issue. Giving it a test, it didn't quite fix the problem in my sample. I've stripped the sample down to just a single offending track. [single-bottom-track.zip](https://github.com/IfcOpenShell/IfcOpenShell/files/4472816/sin

[2020-04-14 09:12] lcpt commented on #837
Some years ago I've used [CImg](https://cimg.eu/) to compute the difference between two images to return a measure of how different they are. Maybe this can be useful to automate the tests.

[2020-04-14 09:12] aothms commented on #816
Yes that's very true. Sorry for the delay in replying. Thanks for the detailed investigations.

The issue that triggered this whole wire_intersection thing is https://github.com/IfcOpenShell/IfcOpenShell/issues/297 and was later made more aggressive (in the sense that a rather large tolerance value is used to flag almost-intersections as intersections) in https://github.com/IfcOpenShell/IfcOpenShe

[2020-04-14 09:20] aothms commented on #837
We're quite far with this to only test segfault and return status on all files using IfcConvert.

I like the idea of image comparison as well and probably blender background mode (`blender -b -P script.py`) is the a good way to get an image from an IFC file. OpenGL to file is a pain, you need mesa offscreen and such and you can't assume it works on a VM due to the OpenGL versions and such. These d

[2020-04-14 09:35] Moult commented on #837
Very cool :) I will find some time and cook something up. I agree that image comparison is cool too! I'll keep you all posted.

[2020-04-14 16:01] FreakTheMighty commented on #816
@aothms no worries on the delay. As always, thanks for taking the time and building this sweet tool!

Thank you for linking those other issues in. It does seem like your change improved things for many of the bottom tracks in the file.

If you had to guess, which way would you take this? Would you remove the `wire_intersection` check with the hope that OCCT has improved, continue to make the `wire

[2020-04-16 06:57] berndhahnebach commented on #829
We had a short disscussion about this on FreeCAD forum some days ago. Great to see this realised that fast. It would be excellent if we could move these methods mentioned by moult into ifcopenshell. All programms which use ifcopenshell would treat ifc files the same way than.
It would make things even much simpler in FreeCAD.

cheers bernd

[2020-04-18 10:00] CyrilWaechter commented on #635
Hi,

I followed your advice. It works great when model is exported in meters :
![2020-04-18_11-25](https://user-images.githubusercontent.com/9622862/79634282-d4cd6080-8169-11ea-8a53-43a64aa74df3.png)
What I don't understand is that when I export the model in centimeters (from Revit) I get widely scattered placements :
![2020-04-18_11-23](https://user-images.githubusercontent.com/9622862/79634341-2

[2020-04-20 10:36] aothms commented on #635
My guesses are:
* You implemented support for handling the placements in Python (great, perhaps consider contributing, see #829)
* You didn't take into account the project units there
* You used the default settings in create_shape() which converts everything silently to meters.

So either use `settings.set(settings.CONVERT_BACK_UNITS, True)` to have the geometries correspond to the placement matr

[2020-04-20 23:42] Jesusbill commented on #820
@Moult @aothms guys I am getting a bit desperate with the `ifc2ca` work. I have had major difficulties to continue developing the project; basically after 2-3 weeks of attempts I am still at the same point ...

The main difficulty is the lack of ifc files with structural analysis models. I found a couple of them that either were not complete or with the IFC3 schema and I ended up writing a bunch o

[2020-04-21 22:42] Moult commented on #820
@Jesusbill The only thing I can help with is to develop more structural support into the BlenderBIM Add-on so that Blender can author structural models. Unfortunately, I'm a bit tied up with a few others things on the to-do list, but once I return to it, hopefully I can help that way.

[2020-04-21 23:49] Jesusbill commented on #820
I appreciate your support Dion, it will be great to have BlenderBIM for structural models!

I think I also have to change strategy and try to author structural ifc files with ifcopenshell ... and ideally create a `ca2ifc` converter of the json model; not sure how difficult it can be though

[2020-04-22 08:09] aothms commented on #820
Yes this is tough. For anything besides the typical coordination workflows that work well now in IFC, you're always running into chicken and egg kind of problems.

I indeed see two options for this:

* Dry to derive the information from the typical architecural/structural exchanges with geometric reverse engineering. Not being a structural engineer I can't judge how feasible this is. But it doesn'

[2020-04-22 09:42] lcpt commented on #820
Hi.

I'm a bit overwhelmed now, too many things to solve at work, but I'll be more than happy to help in a near future.

[2020-04-22 18:38] EAzari opened #838 "[Wishlist] 3D Associative Text"
Hi Dion @Moult and Thomas @aothms, I shared this before but it's better I write it here as wishlist

Reference from STEP AP242, which hope Thomas' experience in [STEPcode](https://github.com/stepcode) helps to develop it in IFC too

https://www.cax-if.org/documents/3D-assoc_textRPGv4_a4.pdf

Cheers,
Ehsan

[2020-04-22 18:47] EAzari commented on #738
Hi, hope this two help with:

1. Finally, bSI has focused on JSON: https://github.com/IFCJSON-Team
2. IFC2B3DM which still has some obstacles, it converts geometric models to OBJ and then B3DM, hope someday someone works on current approach IfcOpenShell follows: https://github.com/Erfan-Shooraj/ifc2b3dm

[2020-04-22 21:21] EAzari commented on #837
@Moult Dion, there's a long time I want to say "you're in a wrong path" in IfcDiff but I didn't

Just compression is not a good way, you need **"matching technique"** too :)

Then the tool will give you: Modified, Deleted, and Unchanged parts

[2020-04-22 22:33] Jesusbill commented on #820
Thanks for the insights Thomas, I will work to get more acquainted with authoring scripts and I will keep looking for other models for reverse engineering.

[2020-04-23 00:20] Moult opened #839 "Support for IFCJSON"
Still highly experimental, but now that something has been released, it would be a good idea to keep a close eye on it: https://github.com/IFCJSON-Team/IFC.JSON-4

[2020-04-23 10:20] Moult commented on #834
@aothms  just tested out ifcxml - I couldn't get it to work. Am I doing something wrong?

    Traceback (most recent call last):
      File "<blender_console>", line 1, in <module>
      File "/home/dion/.config/blender/2.82/scripts/addons/blenderbim/libs/site/packages/ifcopenshell/ifcopenshell_wrapper.py", line 2398, in parse_ifcxml
        return _ifcopenshell_wrapper.parse_ifcxml(fn)
    Runtim

[2020-04-28 17:59] frosty1492 opened #840 "Install Fails with needed dependencies"
I am using Peppermint OS a Linux Debian/Ubuntu/Lubuntu derivative. I have the latest stable Blender set up and runs as expected. I decided to give this a try to see if or how it would work. Nada! I did manage to get several of the dependencies figured out but it is like a row of dominoes, just keeps failing when I try to add it to Blender. If you have a list of required or relative dependencies th

[2020-04-28 23:31] Moult commented on #840
@frosty1492 Are you trying to install the Blender IFC importer? If so, try https://blenderbim.org/ - the "IfcBlender" one on ifcopenshell.org is heavily outdated.

[2020-04-29 18:10] frosty1492 commented on #840
I will look at the site you indicated. I am trying to install BlenderBIM
addon. Not sure what the IFC importer is. I'll look. Thanks!

On Tue, Apr 28, 2020 at 6:31 PM Dion Moult <notifications@github.com> wrote:

--
John Foster

[2020-04-29 18:36] frosty1492 commented on #840
OK, the site you recommended has a newer version which I tried to install.
It did not work, but thanks for the info. I'm attaching a screenshot of the
error message that my system displays when I try to activate the addon.
Thanks!

On Wed, Apr 29, 2020 at 1:09 PM John Foster <jfoster81747@gmail.com> wrote:

--
John Foster

[2020-04-29 21:45] Moult commented on #840
@frosty1492 hey there! I didn't see a screenshot attached, perhaps try replying on the Github website and attaching it there? Maybe attachments don't come through if you reply by email.

[2020-04-29 23:43] FreakTheMighty opened #841 "[Question] Why is geometry creation brep beam slower?"
This may be obvious, but I was a little surprised by how much slower geometry creation is on large IFC than on small IFC. I expected that the total conversion time would be greater, but I'm finding that each individual object task many times longer to convert.

* On an IFC that is tens of MB, creating an IFC beam take thousands of a second to create.
* On an IFC that is 360MB, each beam takes abou

[2020-04-29 23:54] Moult commented on #841
@FreakTheMighty just a check - is the beam identical in the small file vs the large file?

[2020-04-30 01:07] FreakTheMighty commented on #841
@Moult I'm pretty sure there are many duplicate beams, but can you suggest a way to confirm this? That is, they look the same, but I suppose there's a chance they are somehow slightly different.

With that said, if I take only the first iteration and compare it to the `create_shape`, the difference is pretty small within each model. That is, even when were comparing un-cached geometry to un-cached

[2020-04-30 16:39] FreakTheMighty commented on #841
I've reproduced the performance issue with a very simple scene. . . My assumption that the performance was related to file size was wrong. Instead it appears to be related to the `IfcBeam` representation being a `Curve2D` in one, and a `BRep` in the other. I've attached sample files. The zip contains a "fast" and "slow" IFC.

The slow IFC takes 2 seconds to convert a single beam, the fast IFC take

[2020-04-30 20:24] Jesusbill commented on #820
Hi all, it looks like everything has been going better with respect to last week. I experimented on authoring and I think I can handle it so as to create some test files, but most importantly I started understanding much better the schema, the associations, the resources on the website, etc. It is kind of strange, as if all this struggle in the past weeks was doing me "good", like I was learning i

[2020-05-03 13:59] aothms commented on #820
@Jesusbill great to hear. I have created https://github.com/IfcOpenShell/analysis-models and you're an admin. Have a look at Large File Storage https://git-lfs.github.com/ if you intend to store larger (like, several MBs and up) models. LFS is not perfect, I think there is some lockin.

When there are some example models, I'll see how they perform in the basic ifcopenshell.geom.app. Looking forwar

[2020-05-03 14:05] aothms commented on #841
Ah good call. Just `Curve2D` would not be processed by default. Default output only includes surface or solid. Is that what explains the difference? Or is there output visible?

Generally Extrusion is much faster to process than BRep. This is a bit counter intuitive, but BRep in IFC is very inefficient, so much more data to process. And the extrusion operation is much simpler than all the plane fi

[2020-05-03 15:26] frosty1492 commented on #840
[image: Screenshot_2020-05-03_09:37:40.png]

On Wed, Apr 29, 2020 at 4:45 PM Dion Moult <notifications@github.com> wrote:

--
John Foster

[2020-05-03 16:29] aothms commented on #840
@frosty1492

I think @Moult is correct, we're not receiving your image. Can you please come to the web interface to upload it there. Simple drag and drop into the text box here @ https://github.com/IfcOpenShell/IfcOpenShell/issues/840 is sufficient.

[2020-05-03 16:32] aothms commented on #838
Interesting, but what's your rationale for this to prefer this over BCF? As I think community sees IFC mostly as (let's say) physical model and BCF for annotations.

[2020-05-03 16:37] FreakTheMighty commented on #841
@aothms I’ve done more digging and have found that each beam is an IfcFacetedBrep. I think that these representations should receive special handling. Rather than being treated as a general brep, the shape can be created by tessellating each face related to the IfcFacretedBrep. In python I can construct a mesh from the brep faces in hundreds of a second. I’m sure these would be even fast in C++.

[2020-05-03 17:19] aothms commented on #841
The reason we haven't advanced yet on this front is we need (a) support for triangulating faces (with holes) (b) these breps may take part in Boolean operations because of the bottom up processing ifcopenshell we don't really detect that at the point of shape construction (c) the 0.7.0 branch has an alternative implementation in CGAL https://github.com/aothms/IfcOpenShell/tree/v0.7.0-rewrite it's

[2020-05-03 21:56] Moult commented on #841
@aothms a thought - Blender handles meshes well. If we can detect that a shape does not have any booleans, is it therefore possible to just read the IfcFacetedBrep directly without any OpenCascade / IfcOpenShell parsing? This would be a lot faster, and Blender loves meshes.

[2020-05-03 21:59] Moult commented on #838
I think this is for construction documentation annotation - not BCF which is more issue management I believe. I think associative text can be implemented with https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC1/HTML/schema/ifcpresentationdefinitionresource/lexical/ifctextliteralwithextent.htm - and then associated with any object.

I plan to implement storing documentation annotation in IFC, an

[2020-05-03 22:01] Moult commented on #820
Btw I found that it is possible to migrate Git LFS from one host to another to prevent lock-in - but it has to be done client side (e.g. not like vanilla Git where you can copy over the bare repo server to server - in contrast, you need to clone all, then push to a new LFS host)

[2020-05-04 00:09] Jesusbill commented on #820
Great @aothms! Off to work!

[2020-05-04 00:14] EAzari commented on #838
@Moult You're totally right, and it seems that even in STEP AP242 there's `TextLiteralWithExtent` plus some other entities that may be IFC4 has (I'm not sure, so needs investigation)

[2020-05-04 08:45] aothms commented on #841
@Moult I think so. Assuming we can use something like `tesselate_polygon()` in case there are holes https://docs.blender.org/api/current/mathutils.geometry.html#mathutils.geometry.tessellate_polygon. Would be good though if we have something for

as @FreakTheMighty mentioned. Although the latter is virtually impossible in case of styles assigned to the faces or shells. Perhaps introduce a setting

[2020-05-04 14:01] FreakTheMighty commented on #841
@Moult @aothms this sounds promising! I'm using `trimesh` + `shapely` and have some success handling `IfcFaceOuterBounds`. I even think  there's a chance I could even handle `IfcFaceBounds` as shapely provides some boolean operations.  So, while I look forward to finding a native solution in 0.7.0, I think it makes sense to see if there are ways to make the current API more flexible for these sort

[2020-05-04 20:13] frosty1492 commented on #840
![Screenshot_2020-05-03_09:37:40](https://user-images.githubusercontent.com/6797560/81009124-aa41ff80-8e19-11ea-8969-4dac91acea30.png)
Thanks for your persistence.

[2020-05-04 21:44] Moult commented on #840
@frosty1492 it looks like you are running Blender 2.79! The BlenderBIM Add-on is designed for Blender 2.8* and above. I recommend the latest which is now Blender 2.82. Can you please try updating your Blender installation?

[2020-05-04 22:09] Moult opened #842 "IFC4x3 support?"
Just curious what the process is to start supporting the IFC4x3 entities? There's a lot of good infrastructure additions.

[2020-05-04 23:33] frosty1492 commented on #840
Ok, I thought I had the latest stable. I'll do as you suggest. I need this
in a production setting for designing structures such as housing,
outbuildings as well as mechanical designs.
Thanks!

On Mon, May 4, 2020 at 4:44 PM Dion Moult <notifications@github.com> wrote:

--
John Foster

[2020-05-05 06:36] aothms commented on #842
Is there a public version? I have some, but not sure if I can publish them.
Only downside is that compilation time is more or less linear with amount
of schemas. 0.7.0 addresses that. And alignment geometry from 4x1 is not
even implemented yet :(

Sent from a mobile device. Excuse my brevity. Kind regards, Thomas

Op di 5 mei 2020 00:09 schreef Dion Moult <notifications@github.com>:

[2020-05-05 06:44] Moult commented on #842
It was released a week or so ago :)

https://standards.buildingsmart.org//IFC/DEV/IFC4_3/RC1/HTML

Alignment geometry is one of the fun ones :) When you say alignment geometry isn't implemented, do you mean it isn't parsed to be faceted? If so, that's OK - because they are highly parametric, and should actually not be converted into a faceted curve if possible.

[2020-05-05 11:10] aothms commented on #834
In `wall-with-opening-and-window.ifcxml` there is a:

[code]

So it seems the wrong decimal separator is used there.

Then further down in the file. I'm under the impression that when you include a inverse attribute you cannot omit the type name of the entity pointed to. So in IfcOpSh this will work:

[code]

But later we encounter:

[code]

So the relationship node (`IfcRelVoidsElement` in this c

[2020-05-05 11:44] aothms commented on #842
Can you elaborate on that? Ideally we'd convert them into some sort of OCCT BRep / Wire / Curve / Adaptor. Some of the components are not implemented though such as clothoid and the other transitioning curves. What other approaches exist besides faceting? I looked around and couldn't find a quick and easy conversion from clothoid to nurbs for example. If you know someone who would like to take a s

[2020-05-05 16:54] frosty1492 commented on #840
OK so I removed the Blender package I had installed from Peppermint OS. I
decided to try the snap install for Blender 2.82a. All went well and
Blender is set up. I then activated every add on that came with the snap
setup. all worked. I then tried to install BlenderBIM. This resulted in an
error saying there is no module by that name. Now, this error message is
being generated by and from the snap

[2020-05-05 21:46] Moult commented on #840
@frosty1492 I'm not entirely sure what magic snap uses to package dependencies and Blender, but I find it surprising that it creates issues with installing Blender Add-ons.

Did you follow these instructions to install the add-on? Note that you should not extract the zip file. https://blenderbim.org/install-blenderbim.html

The error message saying "there is no module by that name" sounds very odd

[2020-05-05 21:49] Moult commented on #842
@aothms oh sorry, I didn't phrase that quite right - I meant that even if IfcOpenShell could facet it - as I am building the BlenderBIM Add-on to be an authoring package too, I will likely have to parse each alignment segment separately, so that I can re-export it out of Blender with specific parameters changed and retain its full description. The faceted curve is good for visualisation, but not s

[2020-05-05 21:50] y5wang opened #843 "'V3d_Viewer' object has no attribute 'GetObject'"
Trying to get `ifcopenshell` and `pythonocc` to work together, got as far as this error occurs when calling `occ_display = ifcopenshell.geom.utils.initialize_display()`:
[code]
Environment:
- Ubuntu 18.04 (same error on Windows 10)
- Python 3.7.7
       - `conda create -n occ python=3.7` and then
       - `conda activate occ`
- wxPython 4.0.4 (`conda install wxpython`)
- ifcopenshell v0.6.0 (`cond

[2020-05-05 22:08] Moult commented on #834
Thanks @aothms ! I will mark this thread as solved (and look forward to retesting once the build bot gets up to it :) ) I'm also following up on the forums for more modern ifcxml examples - I think @jmirtsch wrote an IFC XML exporter, but I could be wrong.

[2020-05-05 22:08] #834 closed

[2020-05-06 00:47] frosty1492 commented on #840
Ok So I think I was rushing the install. No flipping arrow or hourglass. I
tried reinstalling it from a different directory than downloads, one where
I had the root permissions, and that seemed to work. at least Blender says
it is installed. Thanks for all your help and patience. Now I need to learn
this exciting new interface for 2.82a. It seems very different than my old
one.

On Tue, May 5, 202

[2020-05-06 00:53] Moult commented on #840
Glad to hear it's resolved!

[2020-05-06 00:53] #840 closed

[2020-05-06 03:21] Moult commented on #837
@aothms et all: we now have a thing! https://ci.blenderbim.org/

It is very basic, and I'm feeding it three files at the moment. As you can see, with INCLUDE_CURVES enabled, ifcopenhouse walls go missing :) I can disable INCLUDE_CURVES, but ultimately I think we do need much more control over how different representation contexts are imported.

Also, the third one of the bcf-ifc-pile demonstrates

[2020-05-06 04:36] glshayaz opened #844 "Importing ifcopenshell"
The link http://ifcopenshell.org/python.html is not found to import ifcopenshell now, is there another way to import it?

[2020-05-06 05:22] Moult commented on #844
http://ifcopenshell.org/python ?

I don't quite understand the question? Btw, IfcOpenBot also has routine builds of IfcOpenShell python, and the BlenderBIM Add-on also ships with IfcOpenShell python.

[2020-05-06 07:33] didi-ux commented on #843
I had the same error. Maybe try removing all the 'GetHandle' and 'GetObject' calls.
For my case the following changes worked:
https://github.com/IfcOpenBot/IfcOpenShell/pull/2/commits/507914a4c11e1710a94c8d8e1a41461b9068bb26

[2020-05-06 20:25] y5wang commented on #843
Thanks @didi-ux. I applied the patch and it seems working now for display initialization. Appreciated.

On another note, maybe a different problem, when I tried the following code snippet

[code]

I got a TypeError as this:
[code]

Maybe I should open another ticket / issue.

[2020-05-07 05:14] Moult commented on #831
I think I can open their latest file, so unless there are further developments, I assume the problem is on their end and this can be closed. Will wait a while though.

[2020-05-08 12:14] e3dEF opened #845 "IfcDiff - DeepDiff"
Hi,
in the IfcDiff.py the try-statement in the diff_element_geometry function always fails, because DeepDiff does not accept the arguments terminate_on_first and skip_after_n. I use the current DeepDiff 4.3.2.

[2020-05-08 14:29] e3dEF commented on #845
Nevermind, I just saw that this will added as Enhancement.

[2020-05-08 14:29] #845 closed

[2020-05-08 14:34] baswein opened #846 "Section Doesn't Cut Certain Features"

[2020-05-08 14:45] baswein commented on #846
Sorry I think this was the wrong site to post this.

[2020-05-08 14:45] #846 closed

[2020-05-08 16:09] GuillaumeQr opened #847 "Module OCC.AIS not found in app.py"
Hello there

I am trying to display some IFC files with IfcOpenShell but I'm facing some troubles. When I try to run the file app.py I have the error:
[code]
I'm working on Python 3.7.7 64 bit. I successfully installed PythonOCC package (pythonocc-core=7.4.0beta2). But when I check the site-package repository of my python environment, I can't find any AIS folder.
How couldI fix this error? Is ther

[2020-05-08 21:47] Moult commented on #845
@e3dEF It uses Moult-flavoured deepdiff: https://github.com/Moult/deepdiff

[2020-05-08 21:49] Moult commented on #846
@baswein this was reported and fixed :) https://community.osarch.org/discussion/55/section-cut-not-cutting-certain-objects#latest

[2020-05-09 09:15] didi-ux commented on #847
Try checking the subfolder 'Core' within 'OCC'. The AIS module should be in there.
OCC.Core.AIS

[2020-05-09 21:19] baswein commented on #846
Thanks. Sorry for the confusion. So I should post issues about BlenderBIM here?

[2020-05-10 00:21] Moult commented on #846
Whichever you prefer :)

[2020-05-11 09:51] GuillaumeQr commented on #847
Thank you for your answer. But when I change OCC.AIS to OCC.Core.AIS I get other errors.

`Traceback (most recent call last):
  File "C:\Users\33674\Anaconda3\envs\newenv\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\33674\Anaconda3\envs\newenv\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "c:\Users\33674\.vscode\extensions\ms-

[2020-05-11 10:13] GuillaumeQr commented on #847
And I have also some troubles wth geom. When I try to use geom space, the space is not found even if I can see it with my auto complete tool
`>>> import ifcopenshell

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'ifcopenshell' has no attribute 'geom'`

[2020-05-11 14:22] GuillaumeQr commented on #847
This is solved with: import ifcopenshell.geom

It seems that the version of IfcOpenShell is not compatible with this version of PythonOCC. I have errors at every import of PythonOCC. For the modules in OCC.Core it can be solved in replacing `import OCC.module` by `import OCC.Core`
But for other I just can't figure out how to solve this error. For instance I can't access the module SimpleGui: OCC.D

[2020-05-12 02:38] Moult commented on #738
Closing the bug, as this is superseded by the wiki roadmap entry: https://wiki.osarch.org/index.php?title=BlenderBIM_Add-on_Roadmap

[2020-05-12 02:38] #738 closed

[2020-05-13 00:34] Moult commented on #839
IFCJSON support can be done right now by using a converter - not the most efficient, but it gets data out :)

https://github.com/IFCJSON-Team/IFC2JSON_python

Relevant Github issue about integration: https://github.com/BIM-Tools/IFC2JSON_python/issues/1

[2020-05-13 09:21] RazYo opened #849 "Segfault of create_shape processing some elements"
In the attached file there are multiple elements that causes segmentation fault, toilets, furniture and more.

their GUIDs:
2bU46R5RT198CoJdWSDvb8
2bU46R5RT198CoJdWSDbTl
2HAjWfo2LCqRaBxs1JcayX
2HAjWfo2LCqRaBxs1JcaXB
2HAjWfo2LCqRaBxs1Jcls6
3ItQQVTGHB$hTW_$8jFHsv
3ItQQVTGHB$hTW_$8jFIKj
3ItQQVTGHB$hTW_$8jEhHz

We are using ifcopenshell for python, version 0.6.0a0.

For our purposes, all we want is no

[2020-05-13 19:42] chloesun opened #850 "IfcConvert installation bug"
Hello Dev team, I downloaded the IfcConvert for windows (0.6.0 IfcConvert 64bit Windows)  from http://ifcopenshell.org/ifcconvert, and error happened during installation
![bugg](https://user-images.githubusercontent.com/13730281/81857319-19150c00-9530-11ea-9ca1-2297e12a5a71.PNG)

I also downloaded the 0.5.0 version, and same thing happened.

Has this happened to other users before? I'd be grateful

[2020-05-14 10:31] GOBA-esp opened #851 "BlenderBIM. Bug exporting IFC"
Hi, I have imported an IFC, I have modified a column (location Z), I have tried to export the new IFC, but this error has been generated:

Traceback (most recent call last):
  File "C:\Users\xx\AppData\Roaming\Blender Foundation\Blender\2.82\scripts\addons\blenderbim\bim\operator.py", line 67, in execute
    ifc_exporter.export(context.selected_objects)
  File "C:\Users\xx\AppData\Roaming\Blender

[2020-05-14 11:18] Moult commented on #851
Thanks for reporting - just a heads up that the importer and exporter were built at different times, originally by different people, with different priorities, and at different speeds, and therefore the BlenderBIM Add-on does not currently support round-tripping an IFC with itself. It was also not a high priority, since people either used Blender to import, or to export, but not really to round-tr

[2020-05-14 11:38] Moult commented on #851
All fixed :) Please replace your `import_ifc.py` with this: https://raw.githubusercontent.com/IfcOpenShell/IfcOpenShell/v0.6.0/src/ifcblenderexport/blenderbim/bim/import_ifc.py

and also replace your `export_ifc.py` with this https://raw.githubusercontent.com/IfcOpenShell/IfcOpenShell/v0.6.0/src/ifcblenderexport/blenderbim/bim/export_ifc.py

Hope it helps!

[2020-05-14 13:12] GOBA-esp commented on #851
It works, thanks a lot! You're so fast :)

[2020-05-14 13:34] GOBA-esp opened #852 "BlenderBIM. Import more than one IFC"
I am not sure if it’s prepared to import more than one IFC, but, it seems to me that something's happening when the second IFC its imported.

I try to explain myself. This is an IFC, imported into Blender:

![Blender1](https://user-images.githubusercontent.com/65341572/81940491-ee8e8600-95f7-11ea-84ed-ab3d0d310c67.PNG)

And this is the same IFC imported after another one (not visible in the image)

[2020-05-14 21:48] #851 closed

[2020-05-14 21:52] Moult commented on #852
That is interesting ... I generally keep separate IFCs into separate Blender files, but when I have had the need to import two IFCs into one Blender file I have not seen issues and there is in theory no problem with doing so.

There are known issues with importing the _same_ IFC twice into the same Blender file, which I have on my to-do list, but I didn't expect it to cause elements to move elsewh

[2020-05-15 06:12] GOBA-esp commented on #852
I've sent you an email. Thanks!

[2020-05-15 06:40] Moult commented on #852
Thanks for your email! I see the bug now. It is related to the new feature introduced [last week](https://github.com/IfcOpenShell/IfcOpenShell/commit/b857d9a37b98ffd1c1cfb9611de7d8beee200ed3).

This is now fixed: https://github.com/IfcOpenShell/IfcOpenShell/commit/e3c36a28f26cef3d7432f0dd6ed1b92038d01d49

Replace your `import_ifc.py` with https://raw.githubusercontent.com/IfcOpenShell/IfcOpenShell

[2020-05-15 08:36] hu-stefan opened #853 "Code generation procedure of Ifc4x3"
i´m faceing a problem regarding the generation of cpp data with the .exp data.
i execute following command on the command line:
python bootstrap.py express.bnf > express_parser.py && python express_parser.py IFC4x3.exp
with out an error message, but the only data i obtain is "IFC4x3.exp.cache.dat" and no .cpp nor .h data.
I´m using the python version 3.4.3.
[ContentCach.txt](https://github.com/Ifc

[2020-05-15 09:42] aothms commented on #853
In the v0.6.0 branch you need to specify the code generation outputs now. So typically you need to add `header implementation schema_class definitions`

https://github.com/IfcOpenShell/IfcOpenShell/blob/v0.6.0/src/ifcexpressparser/README.txt

[2020-05-15 11:18] GOBA-esp commented on #852
It works! Thank you very much!

I just have tried to export it (the IFC combined), and I have now this error:

Traceback (most recent call last):
  File "C:\Users\helen\AppData\Roaming\Blender Foundation\Blender\2.82\scripts\addons\blenderbim\bim\operator.py", line 67, in execute
    ifc_exporter.export(context.selected_objects)
  File "C:\Users\helen\AppData\Roaming\Blender Foundation\Blender\2.8

[2020-05-15 12:03] Moult commented on #852
@GOBA-esp when you import two IFCs into one file, it creates two IfcProjects. During export-time, if you select both projects, it will get confused because IFC only allows a single IFC project per file. That is why it fails.

The only correct way to export two IFC models is to combine them into a single project before exporting. However, I understand why you expect it to work, and how it is unintu

[2020-05-15 12:03] hu-stefan commented on #853
Thank you!
It works fine for the header an the implementation but i guess not for the schema and definitions. There is non such data in the folder.
i get this Error:
Traceback (most recent call last):
  File "express_parser.py", line 481, in <module>
    mdl.Generator(mapping).emit()
AttributeError: 'module' object has no attribute 'Generator'

[2020-05-15 12:19] GOBA-esp commented on #852
Ok, thank you. I know this can seem strange :)

It's incredible what you hav accomplished. Nice weekend!

[2020-05-15 12:30] aothms commented on #853
You're right, committed just now 64c0679a7ebf23ffaec1fcb3595b47f3889f80a1

Apparently you're the first to run code gen since these changes were made 2 months ago 481c6165caf81d65773d4ea989c19c7e07e2c5d3

[2020-05-15 12:39] hu-stefan commented on #853
Thank you for your help!

[2020-05-15 12:39] #853 closed

[2020-05-16 05:14] Moult commented on #852
@GOBA-esp this is now fixed (https://github.com/IfcOpenShell/IfcOpenShell/commit/588549ca91f2decd19d236807da91884c0237d2f). By default, now, if you select elements from two IfcProjects, they will get merged into a single IfcProject on export (buildingSMART only allows one IfcProject per file).

To apply the fix, please replace `export_ifc.py` with the latest: https://raw.githubusercontent.com/IfcO

[2020-05-16 06:05] Moult opened #854 "Standardise interface for all IFC formats (IFCXML + IFC-SPF at the moment)"
I've tested out the experimental IFC XML support and I found that the interface for accessing IFC data differs significantly from a regular IFC SPF file.

For instance after I `foo = ifcopenshell.ifcopenshell_wrapper.parse_ifcxml('/home/dion/brep-model.ifcxml')` (by the way, why is it under `ifcopenshell_wrapper` and not just in `ifcopenshell` out of curiosity?), then I see `foo.header`, whereas i

[2020-05-16 09:07] GOBA-esp commented on #852
Hi, I understand what you explain, thank you.

I just want to say one thing I’ve seen, when I import 1 IFC into Blender, and then I export it into IFC.

This is the original IFC (image from BIMCollab):

![Blender_Exportar 1](https://user-images.githubusercontent.com/65341572/82115712-d7b97200-9764-11ea-828b-d69e53ed6d0c.PNG)

This is the IFC generated from Blender:

![Blender_Exportar 2](https://u

[2020-05-16 09:48] GOBA-esp commented on #852
Maybe I should have created another issue, sorry.

[2020-05-16 09:52] Moult commented on #852
The BlenderBIM Add-on does not currently import IfcBuildingStorey locations. This is, well, wrong behaviour and need to be fixed. Therefore, when exporting, the relative location of the building storey is lost, and it is measured from the origin. I can fix this and it _should_ be fixed but previously was not a high priority, and will let you know when I have done so.

The "Top elevation", "Bottom

[2020-05-16 10:05] Moult commented on #852
The incorrect IfcSite categorisation has been fixed: https://github.com/IfcOpenShell/IfcOpenShell/commit/3235d2495ae285de069bba117b50d65f643c9553

Replace `export_ifc.py` with https://raw.githubusercontent.com/IfcOpenShell/IfcOpenShell/v0.6.0/src/ifcblenderexport/blenderbim/bim/export_ifc.py

The lack of importing `IfcBuildingStorey` locations is still pending.

[2020-05-16 11:37] Moult commented on #852
Fixed: https://github.com/IfcOpenShell/IfcOpenShell/commit/e44eaf0ccd5082a98778d7759abedccd9093b4ed

Now, the BlenderBIM Add-on will import the placements of IfcBuildingStorey and any spatial element, and during export, it will export positions relative to their spatial container (instead of absolute placements, like currently).

Replace `import_ifc.py` with https://raw.githubusercontent.com/IfcOp

[2020-05-16 16:04] GOBA-esp commented on #852
Hi, it seems it works:

![Blender3](https://user-images.githubusercontent.com/65341572/82124446-634ff480-979f-11ea-9e15-1d62ef423c68.PNG)

Only for one element it seems strange:

![Blender4](https://user-images.githubusercontent.com/65341572/82124449-677c1200-979f-11ea-852a-e67e2af75dfd.PNG)

But maybe this is what you are explaining about complexity. It works fine for me, I just tell you because

[2020-05-16 22:31] Moult commented on #852
Interesting ... on my screen, I do not see that one element. This one _could_ be a bug with BIMCollab instead.

Keep an eye out and let me know if any other quirks show up.

![image](https://user-images.githubusercontent.com/88302/82131435-794dcb80-9818-11ea-989a-99297d3f8c3a.png)

[2020-05-16 22:31] #852 closed

[2020-05-16 23:52] haraldg opened #855 "please support swig4.0"
Hi,

after compiling recent git master with swig4.0 I get the following error:
[code]

After a web search it seems the recommended workaround is to build against swig3.0 instead. However, by now swig3.0 has been removed from many popular distributions like debian testing. So this workaround is not viable any longer.

[2020-05-17 08:40] Moult commented on #829
I've made a start. The perfect is the enemy of the good, so here's what I've done ;)

 - dd2dms and dms2dd, pretty straightforward I think. they live in `ifcopenshell.util.geolocation`
 - added xyz2enh to convert local to global coordinates given the properties of an ifc map conversion
 - in `ifcopenshell.util.element` there is `get_psets(element)` which takes any element and will grab its psets a

[2020-05-17 08:47] carlopav commented on #829
Hello, I do not understand much of what's going on here, sorry, but as i'm becoming a real FreeCAD addict, i'm really motivated to help in this field :)

[2020-05-17 08:50] aothms commented on #829
@Moult Fantastic. Maybe create a couple of issues where others (incl. me) can help. We have `good first issue` and `help wanted` labels.

[2020-05-17 08:54] aothms commented on #855
There is this: https://github.com/IfcOpenShell/IfcOpenShell/commit/861dab0d9e516f0936e5d8e74a901c77434dc871#diff-64d910603262e9f0a9f6c26e328c4db7

You're probably on master. Have a look at the v0.6.0 that's were most of the development effort has gone towards in the last two years.

[2020-05-17 09:08] Moult commented on #829
@aothms cheers and you are absolutely right about the bug in `dms2dd()`! @carlopav what do you reckon, is this something you'd like to fix? You can then also swap out the FreeCAD dms2dd and dd2dms code with this module?

[2020-05-17 09:18] aothms commented on #854
That's simply because we only added it to the wrapper code and not the handwritten python module https://github.com/IfcOpenShell/IfcOpenShell/commit/42fedf81c4e49f1cb4f3934a0ed9dd2049fad84b#diff-64d910603262e9f0a9f6c26e328c4db7

See for example `from_string()` that wraps the SWIG-generated wrapper (`ifcopenshell.ifcopenshell_wrapper.file`) call by a the handwritten  `ifcopenshell.file` class. So w

[2020-05-17 09:30] carlopav commented on #829
@moult sure I can try.

[2020-05-17 09:41] Moult commented on #854
Sorry, yes, you're absolutely right! Thanks very much! Consider this solved.

[2020-05-17 09:41] #854 closed

[2020-05-17 11:11] haraldg commented on #855
Yes, indeed. Thanks for the pointer.

If v0.6.0 is what is actually used, maybe you should set it as default branch on github ...

[2020-05-17 11:11] #855 closed

[2020-05-17 11:26] aothms commented on #855
That's a good suggestion. Done.

[2020-05-17 13:12] Jesusbill commented on #839
@Moult Given the positive response from @janbrouwer I will give it a try over the next few days as you suggested [here](https://community.osarch.org/discussion/32/which-app-or-software-can-revert-ifc-to-json#latest)

[2020-05-17 13:58] EsbenZeuthen opened #859 "BlenderBim: Error when importing IFC exported from Renga Architecture"
When I try to import a n .ifc file exported from Renga Architecture,  the import ends prematurely, and I get the following error message:
![image](https://user-images.githubusercontent.com/65496316/82148534-eb440600-9854-11ea-8654-7195b3a927bb.png)

I tracked the issue in line 641 of import_ifc.py. It seems that the script assumes that the element is a IfcGeometricRepresentationSubContext, when it

[2020-05-17 20:08] DuncanLithgow opened #860 "blenderbim 0.0.200511 assumes presence of numpy"
blenderbim install assumes presence of numpy python module which apparently isn't a blender dependency.

ModuleNotFoundError: No module named 'numpy'

[2020-05-17 21:17] Moult commented on #859
The fix is almost valid ;) Thanks for the report! This was actually fixed 4 days ago: https://github.com/IfcOpenShell/IfcOpenShell/commit/dd525d8a30beed88ec018e05c6e7475ab64ca25c - by the way, if you hit other import or export issues skim through the recent commits as a series of bugs were already discovered and fixed - it may save you doing hacks ;)

... I guess this is what happens when I don't

[2020-05-17 21:17] #859 closed

[2020-05-17 21:40] Moult commented on #860
I just checked in the latest install of Blender and found `blender-2.82a-linux64/2.82/python/lib/python3.7/site-packages/numpy` - so it looks like it does exist? What triggers this error and makes you think this is an issue?